XSD_Schs/V5.25.0/AddUtiltityPaymentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:aupreq="urn:customs.ru:Information:SQDocuments:AddUtiltityPaymentRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:AddUtiltityPaymentRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на внесение сведений об утилизационном сборе</xs:documentation>
  </xs:annotation>
  <xs:element name="AddUtiltityPaymentRequest" type="aupreq:AddUtiltityPaymentRequestType">
    <xs:annotation>
      <xs:documentation>Запрос на внесение сведений об утилизационном сборе</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AddUtiltityPaymentRequestType">
    <xs:annotation>
      <xs:documentation>Запрос на внесение сведений об утилизационном сборе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="UtilityPaymentInfoByItem" type="aupreq:UtilityPaymentInfoByItemType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об уплате утилизационного сбора по одному ТС (шасси)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009261E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="UtilityPaymentInfoByItemType">
    <xs:annotation>
      <xs:documentation>Сведения об уплате утилизационного сбора по одному ТС (шасси)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VehicleEPassportKindCode" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный номер, присваиваемый электронному паспорту транспортного средства (шасси транспортного средства, самоходной
                        машины и других видов техники) в системах электронных паспортов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleEPassportId" type="aupreq:VehicleEPassportIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Строка символов, идентифицирующая электронный паспорт транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleIdInfoDetails" type="aupreq:VehicleIdInfoDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационных номерах транспортного средства (шасси транспортного средства, самоходной машины
                        и других видов техники) или его компонента, присвоенных организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecyclingDutyPaidDetails" type="aupreq:RecyclingDutyPaidDetailsType">
        <xs:annotation>
          <xs:documentation>Информация об уплате утилизационного сбора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleIdInfoDetailsType">
    <xs:annotation>
      <xs:documentation>Информация об идентификационных номерах транспортного средства (шасси транспортного средства, самоходной машины
                и других видов техники) или его компонента, присвоенных организацией-изготовителем</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VehicleIdDetails" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере транспортного средства (шасси транспортного средства, самоходной машины и других
                        видов техники), присвоенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleEngineIdDetails" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о номере двигателя, присвоенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleFrameIdDetails" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о номере шасси (рамы) транспортного средства, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleBodyIdDetails" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о номере кузова (кабины, прицепа), присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MachineBodyIdDetails" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о номере кузова (кабины, в том числе кабины оператора, прицепа, рамы) самоходной машины и других видов
                        техники, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GearboxIdDetails" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере коробки передач самоходной машины и других видов техники, присвоенном и
                        нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MainPoweredAxleIdDetails" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере основного ведущего моста, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecyclingDutyPaidDetailsType">
    <xs:annotation>
      <xs:documentation>Информация об уплате утилизационного сбора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnifiedCountryCode" type="aupreq:UnifiedCountryCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение государства – члена Евразийского экономического союза (далее
                        соответственно – государство-член, Союз), на территории которого осуществлена уплата утилизационного или иного аналогичного
                        сбора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecyclingDutyFlag" type="aupreq:RecyclingDutyFlagType">
        <xs:annotation>
          <xs:documentation>Признак уплаты утилизационного сбора (1 - Уплачен; 2 - Не уплачен; 3 - Не уплачивается.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecyclingDutyNotPaidReason" type="aupreq:RecyclingDutyNotPaidReasonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание уплаты утилизационного сбора (1 - абзац 2 пункта 6 статьи 24.1. Федерального закона от 24.06.1998 № 89-ФЗ; 2 - абзац 3 пункта 6 статьи 24.1. Федерального закона от 24.06.1998 № 89-ФЗ; 3 - абзац 4 пункта 6 статьи 24.1. Федерального закона от 24.06.1998 № 89-ФЗ.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TPONumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер таможенного приходного ордера, по которому была осуществлена уплата утилизационного сбора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnifiedCountryCodeType">
    <xs:annotation>
      <xs:documentation>Кодовое обозначение государства – члена Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnifiedCountryCode" type="clt_ru:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение государства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeListId" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Обозначение справочника (классификатора), в соответствии с которым указан код</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VehicleEPassportIdType">
    <xs:annotation>
      <xs:documentation>Строка символов, идентифицирующая электронный паспорт транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Code15Type">
      <xs:pattern value="[0-9]{15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RecyclingDutyFlagType">
    <xs:annotation>
      <xs:documentation>Признак уплаты утилизационного сбора</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Уплачен</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Не уплачен</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Не уплачивается</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RecyclingDutyNotPaidReasonType">
    <xs:annotation>
      <xs:documentation>Основание уплаты утилизационного сбора</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>абзац 2 пункта 6 статьи 24.1. Федерального закона от 24.06.1998 № 89-ФЗ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>абзац 3 пункта 6 статьи 24.1. Федерального закона от 24.06.1998 № 89-ФЗ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>абзац 4 пункта 6 статьи 24.1. Федерального закона от 24.06.1998 № 89-ФЗ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>