XSD_Schs/V5.25.0/ApplicationKBKCorrection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:acc="urn:customs.ru:Information:ELSDocuments:ApplicationKBKCorrection:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ELSDocuments:ApplicationKBKCorrection:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Обращение при уточнении КБК</xs:documentation>
  </xs:annotation>
  <xs:element name="ApplicationKBKCorrection" type="acc:ApplicationKBKCorrectionType">
    <xs:annotation>
      <xs:documentation>Обращение при уточнении КБК</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ApplicationKBKCorrectionType">
    <xs:annotation>
      <xs:documentation>Обращение при уточнении КБК</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegistrationReq" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер и дата обращения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный органа, в который подаётся обращение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="acc:ApplicantType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountCash" type="acc:AmountCashType">
            <xs:annotation>
              <xs:documentation>Сумма денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="acc:AttachedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicantSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись заявителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" fixed="1040056E" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUOrganizationBaseType">
        <xs:sequence>
          <xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код ОКАТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контактная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKSM" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Classification" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Классификация лицевого счета: "0" - "юридическое лицо"; "1" - "физическое лицо"; "2" - "ИП". </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKTMO" type="clt_ru:OKATOCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код ОКТМО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Birthdate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SNILS" type="clt_ru:Text40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер СНИЛС</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmountCashType">
    <xs:annotation>
      <xs:documentation>Информация о сумме по виду платежа и КБК</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BCCTo" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации (КБК), на который необходимо произвести уточнение денежных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BCCFrom" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации (КБК), с которого необходимо произвести уточнение денежных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Currency" type="clt_ru:CurrencyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachedDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор архива</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Архивный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocStatus" type="clt_ru:ArchStatusCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус документа в архиве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentCode" type="clt_ru:DocumentModeIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор вида документа по альбому форматов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveBodyID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор исполнительного органа, выдавшего разрешительный документ (для РФ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocBeginDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocEndDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата/время помещения документа в архив (последнего изменения документа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentIndicator" type="clt_ru:DigitalIndicatorType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Признак предоставления документа (0 - новый документ, 1 - документ предоставлялся ранее)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>