XSD_Schs/V5.25.0/AutoRequestFito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:arf="urn:customs.ru:Information:SQDocuments:AutoRequestFito:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:AutoRequestFito:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос подтверждения Россельхознадзором принятых ФТС России решений или принятие Россельхознадзором нового решения при перемещении товаров автомобильным или железнодорожным транспортом</xs:documentation>
  </xs:annotation>
  <xs:element name="AutoRequestFito" type="arf:AutoRequestFitoType" />
  <xs:complexType name="AutoRequestFitoType">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения Россельхознадзором принятых ФТС России решений или принятие Россельхознадзором нового решения при перемещении товаров автомобильным или железнодорожным транспортом</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GUID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор цепочки сообщений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Decision" type="arf:DecisionType">
            <xs:annotation>
              <xs:documentation>Принятое решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Certificate" type="arf:CertificateType">
            <xs:annotation>
              <xs:documentation>Фитосанитарный сертификат страны-экспортера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Importer" type="arf:OrganizationType">
            <xs:annotation>
              <xs:documentation>Импортер (получатель)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exporter" type="arf:OrganizationType">
            <xs:annotation>
              <xs:documentation>Экспортер (отправитель)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="arf:GoodsDescriptionType">
            <xs:annotation>
              <xs:documentation>Сведения о подкарантинной продукции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderPointCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
              <xs:documentation>Код пограничного пункта пропуска места ввоза товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderPointName" type="clt_ru:CustomsOfficeNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование пункта пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDispatchCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDestinationCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportInfo" type="arf:TransportInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Waybill" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Товарно-транспортная накладная (ТТН)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DisinfectionInfo" type="arf:DisinfectionInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация об обеззараживании </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Act" type="arf:ActType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Выданный акт</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009300E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DisinfectionInfoType">
    <xs:annotation>
      <xs:documentation>Информация об обеззараживании </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateDisinfection" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата обеззараживания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Method" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Метод</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Chemical" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Химикат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TemperatureTimes" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Температура и время</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Concentration" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Концентрация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Additionalinfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateType">
    <xs:annotation>
      <xs:documentation>Сведения о фитосанитарном сертификате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FitoCountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Буквенный код страны, выдавшей сертификат</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Реквизиты организации. Базовый класс</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUSclt_ru:AddressTextType">
        <xs:annotation>
          <xs:documentation>Адрес организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор. Номер транспортного средства, наименование судна, номер авиарейса, номер поезда, номер железнодорожного вагона (платформ, цистерн и т.п.)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>Сведения о подкарантинной продукции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductName" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Наименование подкарантинной продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVED" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Volume" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем товара в м3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Labeling" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Маркировка товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionType">
    <xs:annotation>
      <xs:documentation>Принятое решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Тип решения: 1- Владивосток - "ввоз разрешен"(низкий риск),"ввоз разрешен.подлежит досмотру в спец.оборудованных и оснащенных местах"(низкий/высокий риск); "ввоз запрещен"(низкий/высокий риск) (+акт АГФК); 2 - Эксперимент - "ввоз разрешен" (низкий риск); "ввоз разрешен, подлежит карантинному фитосанитарному контролю (надзору) по месту доставки" (низкий/высокий риск) (+акт АГФК); "ввоз запрещен" (низкий/высокий риск) (+акт АГФК); 3 - Страна - "ввоз разрешен" (низкий риск); "ввоз разрешен. Подлежит досмотру.КФК" (низкий /высокий риск); "ввоз запрещен"(низкий/высокий риск)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActType">
    <xs:annotation>
      <xs:documentation>Данные об акте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер выданного акта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionResultReport" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание причины решения «ввоз запрещен»</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>