XSD_Schs/V5.25.0/AZ_SertifST1Form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sst="urn:customs.ru:Information:SertifDocuments:AZ_SertifST1Form:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" targetNamespace="urn:customs.ru:Information:SertifDocuments:AZ_SertifST1Form:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сертификат о происхождении товаров формы СТ-1 из Азербайджанской республики</xs:documentation>
	</xs:annotation>
	<xs:element name="AZ_SertifST1Form" type="sst:AZ_SertifST1FormType">
		<xs:annotation>
			<xs:documentation>Сертификат о происхождении товаров формы СТ-1 из Азербайджанской республики</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AZ_SertifST1FormType">
		<xs:annotation>
			<xs:documentation>Сертификат о происхождении товаров формы СТ-1 из Азербайджанской республики</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="SertifCode" type="clt_ru:Code4Type">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение формы сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifType" type="clt_ru:CodeVariable20Type">
						<xs:annotation>
							<xs:documentation>Дополнительное кодовое обозначение сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifNumberInfo" type="sst:SertifNumberInfType">
						<xs:annotation>
							<xs:documentation>Сведения о сертификате</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssueCountryCode" type="clt_ru:CountryA2CodeType">
						<xs:annotation>
							<xs:documentation>Код страны, в которой выдан сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssueCountryName" type="clt_ru:CountryNameType">
						<xs:annotation>
							<xs:documentation>Наименование страны в которой выдан сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssueOrganizationName" type="clt_ru:NameType">
						<xs:annotation>
							<xs:documentation>Наименование арганизации выдавшей сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinCountryCode" type="clt_ru:CountryA2CodeType">
						<xs:annotation>
							<xs:documentation>Код страны, куда предоставляется сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinCountryName" type="clt_ru:CountryNameType">
						<xs:annotation>
							<xs:documentation>Наименование страны для которой выдан сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CancelDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата аннулирования сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UpdateDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата внесение изменений в сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialComments" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение категории (Служебные отметки)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PreviousSertifInfo" type="sst:SertifNumberInfType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о ранее выданном сертификате</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifInf" type="sst:SertifInfType">
						<xs:annotation>
							<xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsShipment" type="sst:GoodsShipmentType">
						<xs:annotation>
							<xs:documentation>Сведения о товарной партии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppDeclaration" type="sst:AppDeclarationType">
						<xs:annotation>
							<xs:documentation>Сведения о заявителе/Декларация заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DBRegDate" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата  и время учета сведений сертификата в базе данных </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009399E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppDeclarationType">
		<xs:annotation>
			<xs:documentation>Декларация заявителя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DateInf" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата удостоверения документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppCountry" type="clt_ru:CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны в декларации заявителя сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIO" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО заявителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsPackageInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об упаковке товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PackQuantity" type="clt_ru:PakageNumberType">
				<xs:annotation>
					<xs:documentation>Количество упаковок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackCode" type="clt_ru:PackageCodeType">
				<xs:annotation>
					<xs:documentation>Код вида упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsShipmentType">
		<xs:annotation>
			<xs:documentation>Сведения о сертификате</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exporter" type="sst:OrganizationBaseType">
				<xs:annotation>
					<xs:documentation>Информация о лице, которое является экспортером. Заполняется если экспортер и отправитель являются разными юридическими лицами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importer" type="sst:OrganizationBaseType">
				<xs:annotation>
					<xs:documentation>Наименование и адрес импортера. Заполняется если получатель и импортер - разные юридические лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansRoute" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Средство транспорта и сведения о маршруте транспортировки товаров и транспортных средствах (насколько это известно)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Goods" type="sst:GoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Описание товара текстовое (коммерческое наименование товара, его модель, марка, модификация, артикул, другие данные, позволяющие провести однозначную идентификацию товара с заявленным для целей таможенного оформления)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код страны страны происхождения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryName" type="clt_ru:CountryNameType">
				<xs:annotation>
					<xs:documentation>Наименование страны страны происхождения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCriterionCode" type="clt_ru:Text5Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Критерий происхождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsPackageInfo" type="sst:GoodsPackageInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об упаковке товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsInvoice" type="sst:InvoiceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Счет-фактура или другой документ, отражающий финансово-количественные параметры товара  (с привязкой к товару)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportDocument" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товаросопроводительный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceType">
		<xs:annotation>
			<xs:documentation>Сведения о счете-фактуре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvoiceNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalData" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationBaseType">
		<xs:annotation>
			<xs:documentation>Реквизиты организации. Базовый класс.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="clt_ru:Text150Type">
				<xs:annotation>
					<xs:documentation>Адрес организации / физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SertifInfType">
		<xs:annotation>
			<xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateInf" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата удостоверения документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIO" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО лица удостоверившего сертификат</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Place" type="clt_ru:Text150Type">
				<xs:annotation>
					<xs:documentation>Адрес органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SertifNumberInfType">
		<xs:annotation>
			<xs:documentation>Сведения о сертификате</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SertifNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SertifDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
