XSD_Schs/V5.25.0/CollateralStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:asgcat_ru="urn:customs.ru:ASG_CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clltrl_stat="urn:customs.ru:CollateralStatus:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:CollateralStatus:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:ASG_CommonAggregateTypes:5.24.0" schemaLocation="ASG_CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление об изменении сведений в использованном обеспечении</xs:documentation>
  </xs:annotation>
  <xs:element name="CollateralStatus" type="clltrl_stat:CollateralStatusType">
    <xs:annotation>
      <xs:documentation>Уведомление об изменении сведений в использованном обеспечении</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CollateralStatusType">
    <xs:annotation>
      <xs:documentation>Уведомление об изменении сведений в использованном обеспечении</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время создания/изменения электронного документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CollateralInfo" type="asgcat_ru:CollateralType">
            <xs:annotation>
              <xs:documentation>Информация об обеспечении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="asgcat_ru:StatusType">
            <xs:annotation>
              <xs:documentation>Статусное состояние обеспечения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeInfo" type="asgcat_ru:ChangeInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация об изменениях в обеспечении</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050026E">
          <xs:annotation>
            <xs:documentation>Служебный идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>