XSD_Schs/V5.25.0/CountryOriginReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Данные о результатах контроля происхождения товаров формы № 77-СПТ (Приложение к Приказу ФТС от 10.07.2021 № 623)   -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cor="urn:customs.ru:Information:CountryOriginReport:5.24.0" targetNamespace="urn:customs.ru:Information:CountryOriginReport:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Данные о результатах контроля происхождения товаров формы № 77-СПТ</xs:documentation>
  </xs:annotation>
  <xs:element name="CountryOriginReport" type="cor:CountryOriginReportType">
    <xs:annotation>
      <xs:documentation>Данные о результатах контроля происхождения товаров формы № 77-СПТ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CountryOriginReportType">
    <xs:annotation>
      <xs:documentation>Данные о результатах контроля происхождения товаров формы № 77-СПТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportSection" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Раздел отчета: 1- Сведения о внесении изменений (дополнений) в ДТ о происхождении товаров и/или применении антидемпинговых пошлин; 2 - Сведения о внесении изменений (дополнений) в ДТ о непредоставлении тарифных преференций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование декларанта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant_INN" type="clt_ru:INNIDType">
            <xs:annotation>
              <xs:documentation>ИНН декларанта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionStage" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Этап принятия решения: 1 - до выпуска товаров, 2 - после выпуска товаров, 3 - после выпуска товаров  по результатам дополнительной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="cor:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangesFoundation" type="cor:ChangesFoundationType">
            <xs:annotation>
              <xs:documentation>Обоснование внесения изменений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Coordination" type="cor:CoordinationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Согласование</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006365E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ChangeOriginCountryCircType">
    <xs:annotation>
      <xs:documentation>Принятия решения о изменении сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Таможенный орган: 1 - ФТС России; 2 - региональное таможенное управление; 3 - таможня; 4 - таможенный пост</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Circumstances" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Обстоятельства: 1 - результаты проверки документов и сведений; 2 - результаты таможенного досмотра или осмотра; 3 - результаты камеральной таможенной проверки; 4 - результаты выездной таможенной проверки; 5 - результаты последующей проверки сертификатов о происхождении товаров, осуществленной вышестоящим таможенным органом; 6 - иные обстоятельства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangesFoundationType">
    <xs:annotation>
      <xs:documentation>Обоснование внесения изменений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VerificationActivities" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Проведение проверочных мероприятий в отношении товара: 1 - при декларировании товаров; 2 - в соответствии с мерами по минимизации рисков; 3 - по результатам аналитической работы; 4 - по поручению вышестоящего таможенного органа; 5 - иные случаи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeOriginCountry" type="cor:ChangeOriginCountryCircType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Принятия решения о изменении сведений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JustificationChangesDoc" type="cor:JustificationChangesDocType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ - обоснование внесения изменений (дополнений)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactualJustChangingInformation" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фактическое обоснование изменения сведений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentifiedViolations" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Выявленные нарушения: 11 - правила прямой поставки; 12 - правила непосредственной закупки; 13 - выполнение критериев достаточной переработки; 21 - требования заполнения сертификата о происхождении товара; 31 - отсутствие ответа от уполномоченных (компетентных) органов страны экспорта на запрос ФТС России; 32 - отсутствие образцов оттисков печатей; 41 - сертификат о происхождении товара заверен оттиском печати, который не соответствует образцам оттисков печатей, имеющимся в распоряжении таможенного органа; 42 - наличие подчисток и/или помарок; 51 - невозможность идентификации товара, указанного в сертификате о происхождении товара, с товаром, заявленным при таможенном декларировании; 52 - расхождение фактического веса товара с весом, указанным в сертификате о происхождении товара; 61 - иные случаи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CoordinationType">
    <xs:annotation>
      <xs:documentation>Согласование</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Executor" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО ответственного исполнителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficer" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО лица, ответственное за предоставление информации (уполномоченное д/л таможенного поста)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CoordinationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата подписания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ (графа 32 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара по ДТ (графа 31 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС (графа 33 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangedGoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара после РКТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны происхождения, заявленный в ДТ (графа 34а ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangedOriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Измененный код страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryDoc" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий страну происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара (графа 38 ДТ)  (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsValue" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара (гр.45 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма доначисленных таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CollectedAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма довзысканных таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnedAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма возвращенных таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfile" type="cor:RiskProfileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JustificationChangesDocType">
    <xs:annotation>
      <xs:documentation>Документ - обоснование внесения изменений (дополнений)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид документа: 0 - документ отсутствует; 1 - сертификат о происхождении товара; 2 - декларация о происхождении товара; 3 - акт таможенного досмотра; 4 - заключение специалиста Центрального экспертно
криминалистического таможенного управления; 5 - письмо ФТС России по результатам последующей проверки сертификатов о происхождении товаров; 6 - иной документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RiskProfileType">
    <xs:annotation>
      <xs:documentation>Номер профиля риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProfileKind" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска в соответствии с Классификатором видов профилей рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, должностное лицо которого утвердило профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SequenceNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MinimizeMeasureCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код меры по минимизации рисков </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>