XSD_Schs/V5.25.0/DirectoryUBPAttach.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:dua="urn:customs.ru:Information:SQDocuments:DirectoryUBPAttach:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" targetNamespace="urn:customs.ru:Information:SQDocuments:DirectoryUBPAttach:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Справочник Участников бюджетного процесса (УБП)</xs:documentation>
  </xs:annotation>
  <xs:element name="DirectoryUBPAttach" type="dua:DirectoryUBPAttachType">
    <xs:annotation>
      <xs:documentation>Справочник Участников бюджетного процесса (УБП)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DirectoryUBPAttachType">
    <xs:annotation>
      <xs:documentation>Справочник Участников бюджетного процесса (УБП)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PayeeNSIInfo" type="dua:PayeeNSIInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Нормативно-справочная информация об участнике-получателе средств</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009330E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PayeeNSIInfoType">
    <xs:annotation>
      <xs:documentation>Справочник Участников бюджетного процесса (УБП)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="dua:FreeText2000Type">
        <xs:annotation>
          <xs:documentation>Наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="dua:KPPType">
        <xs:annotation>
          <xs:documentation>КПП организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBKGlavaCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код Главы по бюджетной классификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgStatus" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Код статуса организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UpdateDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время обновления справочника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBKlist" type="dua:KBKlistType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgAccountlist" type="dua:OrgAccountlistType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень реквизитов счетов организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KBKlistType">
    <xs:annotation>
      <xs:documentation>Перечень КБК</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KBK" type="dua:Digits20" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgAccountlistType">
    <xs:annotation>
      <xs:documentation>Перечень реквизитов счетов организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrgAccount" type="dua:OrgAccountType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Реквизиты счета организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgAccountType">
    <xs:annotation>
      <xs:documentation>Реквизиты счета организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccountNumber" type="dua:Digits20">
        <xs:annotation>
          <xs:documentation>Номер казначейского счета или номер счета получателя средств в банке получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIK" type="clt_ru:BICIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>БИК ТОФК, структурного подразделения кредитной организации или подразделения Банка России, в котором открыт счет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrespondentBankAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер единого казначейского счета или номер корреспондентского счета кредитной организации, открытый в подразделении Банка России</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Статус казначейского счета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateIn" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата вступления изменений в силу</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Digits20">
    <xs:annotation>
      <xs:documentation>КБК</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:pattern value="[0-9a-zA-Zа-яА-Я]{20}" />
      <xs:pattern value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText2000Type">
    <xs:annotation>
      <xs:documentation>Текстовая строка. До 2000 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KPPType">
    <xs:annotation>
      <xs:documentation>КПП юр. лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="([^0^\D]\d|\d[^0^\D])\d{2}[A-Z0-9]{2}\d{3}">
        <xs:annotation>
          <xs:documentation>9 символов, пятый и шестой из которых могут быть прописными
						(заглавными) латинскими буквами или цифрами, а все остальные только цифрами,
						и при этом первый и второй знаки (цифры) не могут одновременно принимать
						значение ноль ("0").</xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>