XSD_Schs/V5.25.0/ExciseProcessingResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Спецификация обмена АИС "Ордер" и КПС "Марка-Т" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:epres="urn:customs.ru:Information:SQDocuments:ExciseProcessingResult:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ExciseProcessingResult:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Результат обработки сообщения / выполнения операции</xs:documentation>
  </xs:annotation>
  <xs:element name="ExciseProcessingResult" type="epres:ExciseProcessingResultType">
    <xs:annotation>
      <xs:documentation>Результат обработки сообщения / выполнения операции</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExciseProcessingResultType">
    <xs:annotation>
      <xs:documentation>Результат обработки сообщения / выполнения операции</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ProcessingResult" type="epres:ProcessingResultType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Результат обработки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040031E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ProcessingResultType">
    <xs:annotation>
      <xs:documentation>Результат обработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код результата обработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание результата обработки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>