XSD_Schs/V5.25.0/ExiceTaxesInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:eti_res="urn:customs.ru:Information:SQDocuments:ExiceTaxesInfoResponse:5.25.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ExiceTaxesInfoResponse:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Запрос сведений о свидетельствах по акцизам(ответ)</xs:documentation>
	</xs:annotation>
	<xs:element name="ExiceTaxesInfoResponse" type="eti_res:ExiceTaxesInfoResponseType">
		<xs:annotation>
			<xs:documentation>Запрос сведений о свидетельствах по акцизам(ответ)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ExiceTaxesInfoResponseType">
		<xs:annotation>
			<xs:documentation>Запрос сведений о свидетельствах по акцизам(ответ)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="GUID" type="clt_ru:DocumentIDType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Идентификатор сведений, сформированный поставщиком</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatementDateTime" type="clt_ru:DateTimeCustType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Дата и время формирования ответа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProcResultCode" type="eti_res:Text1TypeEnumeration" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Код результата обработки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009414E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="Text1TypeEnumeration">
		<xs:annotation>
			<xs:documentation>Формат кода результата обработки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:length value="1"/>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>файл не принят</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>файл принят</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
