XSD_Schs/V5.25.0/ExpertisePreRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:epr="urn:customs.ru:Information:CustomsDocuments:ExpertisePreRequest:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ExpertisePreRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительный запрос возможности проведения ЭИР</xs:documentation>
  </xs:annotation>
  <xs:element name="ExpertisePreRequest" type="epr:ExpertisePreRequestType">
    <xs:annotation>
      <xs:documentation>Предварительный запрос возможности проведения ЭИР</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExpertisePreRequestType">
    <xs:annotation>
      <xs:documentation>Предварительный запрос возможности проведения ЭИР</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ExpertisePreRequestDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата формирования предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CEKTUDivision" type="epr:CEKTUDivisionInformationType">
            <xs:annotation>
              <xs:documentation>Подразделение ЦЭКТУ, где планируется проведение ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Initiator" type="epr:InitiatorType">
            <xs:annotation>
              <xs:documentation>Инициатор предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorInfo" type="epr:PersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, сформировавшее Предварительный запрос</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeProcess" type="epr:TypeProcessType">
            <xs:annotation>
              <xs:documentation>Тип процесса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomExpertiseKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид таможенной экспертизы: 1 - Первичная экспертиза, 2 - Дополнительная экспертиза, 3 - Повторная экспертиза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertSummaryInfoType" type="epr:ExpertSummaryInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты заключения Эксперта по экспертизе, ранее проведенной в ЦЭКТУ в отношении данных объектов ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeCustomExpertise" type="epr:TypeCustomExpertiseType">
            <xs:annotation>
              <xs:documentation>Тип ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Предполагаемая дата начала ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Предполагаемая дата окончания ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudyObjectsDescriptions" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание объектов экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Question" type="epr:QuestionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsPossybleExpertiseOnlyPhoto" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Есть вопрос о возможности проведения ЭИР на основании копий документов, электронных документов или фотоматериалов без представления объектов исследования. Если значение "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsPossibleGiveStudyObjects" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Есть необходимость выезда Эксперта для осмотра объектов ЭИР по месту их хранения.  Если значение "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddressStorageStudyObjects" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес места хранения объектов ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1051007E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CEKTUDivisionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о подразделении ЦЭКТУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpertSummaryInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты заключения Эксперта по экспертизе, ранее проведенной в ЦЭКТУ в отношении данных объектов ЭИР</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CEKTUDivision" type="epr:CEKTUDivisionInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о подразделении ЦЭКТУ, проводившем экспертизу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="cat_ru:PersonBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Должностное лицо, проводившее экспертизу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertSummaryNumber" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Номер заключения эксперта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertSummaryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата заключения эксперта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertSummaryCity" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Город составления заключения эксперта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InitiatorType">
    <xs:annotation>
      <xs:documentation>Сведения об инициаторе предварительного запроса</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа инициатора предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Информация одолжностном лице, сформировавшем запрос</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
              <xs:documentation>Номер служебного телефона</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QuestionType">
    <xs:annotation>
      <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuestionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionText" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Текст вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypeCustomExpertiseType">
    <xs:annotation>
      <xs:documentation>Тип ЭИР</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypeCustomExpertiseCode" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Код типа ЭИР: 1 - товароведческая, 2 - материаловедческая, 3 - технологическая, 4 - криминалистическая, 5 - химическая, 6 - комплексная, 7 - подчерковедческая, 9 - иные виды экспертиз.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeCustomExpertiseText" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иной тип экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypeProcessType">
    <xs:annotation>
      <xs:documentation>Тип процесса</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypeProcessCode" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Код типа процесса: 1 - Дело об АП, 2 - Сообщение о преступлении, 3 - Уголовное дело, 9 - Иное.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeProcessText" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иной тип процесса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>