XSD_Schs/V5.25.0/ExpressCargoRegisterInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ecri="urn:customs.ru:Information:SQDocuments:ExpressCargoRegisterInfo:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ExpressCargoRegisterInfo:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
  </xs:annotation>
  <xs:element name="ExpressCargoRegisterInfo" type="ecri:ExpressCargoRegisterInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExpressCargoRegisterInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра экспресс-грузов </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ExpressCargoRegisterData" type="ecri:ExpressCargoRegisterDataType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009297E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CurrencyValueType">
    <xs:annotation>
      <xs:documentation>Сведения о стоимости</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrencyQuantity" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма в валюте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код валюты </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpressCargoRegisterDataType">
    <xs:annotation>
      <xs:documentation>Данные из реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNum" type="RUScat_ru:DocNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер реестра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarationKindCode" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа таможенной декларации (ИМ/ЭК) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида заявляемой таможенной процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseShipment" type="ecri:HouseShipmentDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарной партии по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPerson" type="ecri:SignatoryPersonType">
        <xs:annotation>
          <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре по индивидуальной накладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара, включая коммерческое, фирменное или иное традиционное наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара с указанием дополнительной единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CAValueAmount" type="ecri:CurrencyValueType">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="ecri:CurrencyValueType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая таможенная стоимость товаров по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocDetails" type="ecri:PresentedDocDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о дополнительном документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPaymentDetails" type="RUDECLcat:CalculationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об исчислении таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseShipmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии по индивидуальной накладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportDocumentDetails" type="ecri:WaybillDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об общей накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор партии товаров в текущем реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseWaybillDetails" type="ecri:WaybillDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о получателе  по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе  по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsItemDetails" type="ecri:GoodsItemDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о дополнительном документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:DocBaseV4Type">
        <xs:sequence>
          <xs:element name="DocPresentKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак представления документа при подаче таможенной декларации (заявления)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SignatoryPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="SigningDate" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WaybillDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>