XSD_Schs/V5.25.0/FNSEGRIPResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:feip_req="urn:customs.ru:Information:SQDocuments:FNSEGRIPResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FNSEGRIPResponse:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос cведений из Единого государственного реестра индивидуальных предпринимателей</xs:documentation>
  </xs:annotation>
  <xs:element name="FNSEGRIPResponse" type="feip_req:FNSEGRIPResponseType" />
  <xs:complexType name="FNSEGRIPResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос cведений из Единого государственного реестра индивидуальных предпринимателей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IdDok" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KodObr" type="clt_ru:Quantity2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Типовой элемент string-2 Принимает значение: 01|  53 01 – запрашиваемые сведения не найдены</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_DataVyp" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата формирования сведений из ЕГРИП в отношении индивидуального предпринимателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_OGRNIP" type="clt_ru:OGRNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРНИП - Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_INNFL" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_KodVidIP" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида предпринимательства: индивидуальный предприниматель/глава крестьянского (фермерского) хозяйства, где: 1 – индивидуальный предприниматель; 2 – глава крестьянского фермерского хозяйства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_DataOGRNIP" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_NaimVidIP" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование вида предпринимательской деятельности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvFL_Pol" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Пол, где: 1 - мужской; 2 - женский</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvFL_FIORus" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО физического лица на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvFL_FIOLat" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО физического лица с использованием букв латинского алфавита </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvFL_GrnipData" type="feip_req:GrnipType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvFL_GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRozhd" type="feip_req:SvIP_SvRozhdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о рождении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvGrazhd" type="feip_req:SvIP_SvGrazhdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о гражданстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvUdLichnFL" type="feip_req:SvIP_SvUdLichnFLType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvPravZhitRF" type="feip_req:SvIP_SvPravZhitRFType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о документе, подтверждающем право иностранного гражданина или лица без гражданства временно или постоянно проживать на территории Российской Федерации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvAdrMZh_AdresRF" type="feip_req:SvIP_SvAdrMZh_AdresRFType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об адресе (месте жительства) индивидуального предпринимателя или главы КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvAdrElPochta" type="feip_req:SvIP_SvAdrElPochtaType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об адресе электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegIP" type="feip_req:SvIP_SvRegIPType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegOrg" type="feip_req:SvIP_SvRegOrgType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрирующем органе по месту жительства ИП или главы КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvStatus" type="feip_req:SvIP_SvStatusType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о состоянии (статусе) ИП или КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvPrekrasch" type="feip_req:SvIP_SvPrekraschType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о прекращении деятельности в качестве ИП или о прекращении КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvUchetNO" type="feip_req:SvIP_SvUchetNOType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegPF" type="feip_req:SvIP_SvRegPFType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер в территориальном органе Пенсионного фонда Российской Федерации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegFSS" type="feip_req:SvIP_SvRegFSSType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации в качестве страхователя в исполнительном органе Фонда социального страхования Российской Федерации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvOKVED" type="feip_req:SSvIP_SvOKVEDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о видах экономической деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvLicenzija" type="feip_req:SvIP_SvLicenzijaType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о лицензиях, выданных индивидуальному предпринимателю</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvZapEGRIP" type="feip_req:SvIP_SvZapEGRIPType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о записях, внесенных в ЕГРИП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009107E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GrnipType">
    <xs:annotation>
      <xs:documentation>ГРН и дата внесения в ЕГРИП записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Grnip" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipRecordDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRozhdType">
    <xs:annotation>
      <xs:documentation>Сведения о рождении</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DataRozhd" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MestoRozhd" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDataRozhd" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак полноты представляемой даты рождения физического лица, где: 1 – только год (сведения о месяце и дне в указанном месяце отсутствуют); 2 – только месяц и код (сведения о дне в указанном месяце отсутствуют); 3 – полная дата. Отсутствие указанного реквизита означает полную дату рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvGrazhdType">
    <xs:annotation>
      <xs:documentation>Сведения о гражданстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VidGrazhd" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид гражданства, где: 1 -  гражданин Российской Федерации; 2 - иностранный гражданин; 3 - лицо без гражданства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKSM" type="clt_ru:CountryN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны, гражданином которой является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStran" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны по справочнику ОКСМ, гражданином которой является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvUdLichnFLType">
    <xs:annotation>
      <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentityCardCode" type="feip_req:RUIdentityCardCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа, удостоверяющего личность, в соответствии с классификатором видов документов, удостоверяющих личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardName" type="clt_ru:Text40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullIdentityCardName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerNomDok" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер и серия документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocValidityDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания срока, в течение которого документ имеет силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование организации, выдавшей документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuerCode" type="clt_ru:CodeVariable7Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Строка, идентифицирующая орган государственной власти государства-члена либо уполномоченную им организацию, выдавшую документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvPravZhitRFType">
    <xs:annotation>
      <xs:documentation>Сведения о документе, подтверждающем право иностранного гражданина или лица без гражданства временно или постоянно проживать на территории Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="feip_req:SvIP_SvUdLichnFLType">
        <xs:sequence>
          <xs:element name="SrokDejjstvDok" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SvIP_SvAdrMZh_AdresRFType">
    <xs:annotation>
      <xs:documentation>Сведения об адресе (месте жительства) индивидуального предпринимателя или главы КФХ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUAddressType">
        <xs:sequence>
          <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SvIP_SvAdrElPochtaType">
    <xs:annotation>
      <xs:documentation>Сведения об адресе электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Email" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegIPType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OGRNIP" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>Основной государственный регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataOGRNIP" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegNom" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер, присвоенный до 1 января 2004 года</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataReg" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации до 1 января 2004 года</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimRO" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, зарегистрировавшего ИП или КФХ до 1 января 2004 года</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvKFKh" type="feip_req:SvKFKhType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о крестьянском (фермерском) хозяйстве, созданном до 1 января 1995 года, содержащиеся в ЕГРЮЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvKFKhType">
    <xs:annotation>
      <xs:documentation>Сведения о крестьянском (фермерском) хозяйстве, созданном до 1 января 1995 года, содержащиеся в ЕГРЮЛ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimJuLPoln" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полное наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegOrgType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрирующем органе по месту жительства ИП или главы КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodNO" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код органа по справочнику СОНО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimNO" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdrRO" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес регистрирующего органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvStatusType">
    <xs:annotation>
      <xs:documentation>Сведения о состоянии (статусе) ИП или КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodStatus" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код статуса по справочнику СИПСТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStatus" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование статуса по справочнику СИПСТ (состояние)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvPrekraschType">
    <xs:annotation>
      <xs:documentation>Сведения о прекращении деятельности в качестве ИП или о прекращении КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodStatus" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код способа прекращения по справочнику СИПСТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStatus" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование способа прекращения по справочнику СИПСТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPrekrasch" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата прекращения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvNovJuL" type="feip_req:SvNovJuLType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о юридическом лице, созданном на базе крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvNovJuLType">
    <xs:annotation>
      <xs:documentation>Сведения о юридическом лице, созданном на базе крестьянского (фермерского) хозяйства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>Основной государственный регистрационный номер юридического лица, созданного на базе имущества крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimJuLPoln" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полное наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvUchetNOType">
    <xs:annotation>
      <xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPostUch" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата постановки на учет в налоговом органе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataSnyatUch" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата снятия с учета в налоговом органе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodNO" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код органа по справочнику СОНО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimNO" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegPFType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер в территориальном органе Пенсионного фонда Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNomPF" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер в территориальном органе Пенсионного фонда Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodPF" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Код по справочнику СТОПФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimPF" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование территориального органа Пенсионного фонда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegFSSType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации в качестве страхователя в исполнительном органе Фонда социального страхования Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNomFSS" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер в исполнительном органе Фонда социального страхования Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodFSS" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код по справочнику СТОФСС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimFSS" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование исполнительного органа Фонда социального страхования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SSvIP_SvOKVEDType">
    <xs:annotation>
      <xs:documentation>Сведения о видах экономической деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvOKVEDOsn" type="feip_req:SvOKVEDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об основном виде деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvOKVEDDop" type="feip_req:SvOKVEDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о дополнительном виде деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvOKVEDType">
    <xs:annotation>
      <xs:documentation>Сведения об виде деятельности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodOKVED" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrVersOKVED" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак версии Общероссийского классификатора видов экономической деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimOKVED" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvLicenzijaType">
    <xs:annotation>
      <xs:documentation>Сведения о лицензиях, выданных индивидуальному предпринимателю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SerNomLic" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия и номер лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VidLic" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataLic" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataNachLic" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата начала действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataOkonchLic" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimLicVidDejat" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование лицензируемого вида деятельности, на который выдана лицензия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MestoDejjstLic" type="cat_ru:AddressType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об адресе места осуществления лицензируемого вида деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicOrgVydLic" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование лицензирующего органа, выдавшего или переоформившего лицензию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvPriostLic_DataPriostLic" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата приостановления действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvPriostLic_LicOrgPriostLic" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование лицензирующего органа, приостановившего действие лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvPriostLic_GrnipData" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи  о приостановлении действия лицензии </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvPriostLic_GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в  сведениях  о приостановлении действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feip_req:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи о выдаче лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в сведениях о выдаче лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvZapEGRIPType">
    <xs:annotation>
      <xs:documentation>Сведения о записях, внесенных в ЕГРИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdZap" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Системный идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GRNIP" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государственный регистрационный номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataZap" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VidZap_KodSPVZ" type="clt_ru:CodeVariable5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида записи (причины внесения записи в ЕГРЮЛ) по справочнику СПВЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VidZap_NaimVidZap" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование вида записи (причины внесения записи в ЕГРЮЛ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvRegOrg_KodNO" type="clt_ru:Code4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код органа по справочнику СОНО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvRegOrg_NaimNO" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvedPredDocs" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах, представленных при внесении записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvSvids" type="feip_req:SvidType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о свидетельстве, подтверждающем факт внесения записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIsprPred" type="feip_req:GrnipDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата записи, в которую внесены исправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataNedPred" type="feip_req:GrnipDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата записи, которая признана недействительной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataNed" type="feip_req:GrnipDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения записи, которой данная запись признана недействительной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feip_req:GrnipDataType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ГРН и дата записи, которой внесены исправления в данную запись в связи с технической ошибкой</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvidType">
    <xs:annotation>
      <xs:documentation>Сведения о свидетельстве, подтверждающем факт внесения записи в ЕГРИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Seria" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Серия бланка свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nomer" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Номер бланка свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataVid" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataSvidNed" type="feip_req:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей сведения о признании свидетельства недействительным по решению суда</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrnipDataType">
    <xs:annotation>
      <xs:documentation>ГРН и дата записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdZap" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Системный идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GRNIP" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государственный регистрационный номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataZap" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RUIdentityCardCodeType">
    <xs:annotation>
      <xs:documentation>Код вида документа, удостоверяющего личность. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{2})|([A-Z]{2}\d{5})" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>