XSD_Schs/V5.25.0/FNSEGRIPOpenInfResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:feipoi_res="urn:customs.ru:Information:SQDocuments:FNSEGRIPOpenInfResponse:5.24.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FNSEGRIPOpenInfResponse:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Открытые сведения ФНС из ЕГРИП по запросам органов государственной власти и организаций, зарегистрированных в СМЭВ</xs:documentation>
  </xs:annotation>
  <xs:element name="FNSEGRIPOpenInfResponse" type="feipoi_res:FNSEGRIPOpenInfResponseType">
    <xs:annotation>
      <xs:documentation>Открытые сведения ФНС из ЕГРИП по запросам органов государственной власти и организаций, зарегистрированных в СМЭВ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FNSEGRIPOpenInfResponseType">
    <xs:annotation>
      <xs:documentation>Открытые сведения ФНС из ЕГРИП по запросам органов государственной власти и организаций, зарегистрированных в СМЭВ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IDDok" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDFile" type="feipoi_res:Text255Type">
            <xs:annotation>
              <xs:documentation>Идентификатор файла</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VersForm" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
              <xs:documentation>Версия формата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TipInf" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Тип информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VersProg" type="clt_ru:Text40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Версия передающей программы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_DataVyp" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата формирования сведений из ЕГРИП в отношении индивидуального предпринимателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_OGRNIP" type="clt_ru:OGRNIDType">
            <xs:annotation>
              <xs:documentation>ОГРНИП - Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_DataOGRNIP" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_INNFL" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_KodVidIP" type="clt_ru:Numeric1Type" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Код вида предпринимательства: индивидуальный предприниматель / глава крестьянского (фермерского) хозяйства, где: 1 – индивидуальный предприниматель; 2 – глава крестьянского фермерского хозяйства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_NaimVidIP" type="clt_ru:Text50Type" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Наименование вида предпринимательства: индивидуальный предприниматель / крестьянское (фермерское) хозяйство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sv_IP" type="feipoi_res:Sv_IPType">
            <xs:annotation>
              <xs:documentation>Фамилия, имя, отчество и пол индивидуального предпринимателя или главы КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_FIOZAGS" type="feipoi_res:SvIP_FIOZAGSType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о фамилии, имени, отчестве индивидуального предпринимателя или главы КФХ по данным ЗАГС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvGrazhd" type="feipoi_res:SvIP_SvGrazhdType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Сведения о гражданстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvAdrElPochta" type="feipoi_res:SvIP_SvAdrElPochtaType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об адресе электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegIP" type="feipoi_res:SvIP_SvRegIPType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvGlKFH" type="feipoi_res:SvIP_SvGlKFKhType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о том, что в ЕГРИП внесены данные о том, что индивидуальный предприниматель является главой КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegOrg" type="feipoi_res:SvIP_SvRegOrgType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Сведения о регистрирующем органе по месту жительства ИП или главы КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvStatus" type="feipoi_res:SvIP_SvStatusType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о состоянии (статусе) ИП или КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvPrekrasch" type="feipoi_res:SvIP_SvPrekraschType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о прекращении деятельности в качестве ИП или о прекращении КФХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvUchetNO" type="feipoi_res:SvIP_SvUchetNOType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegPF" type="feipoi_res:SvIP_SvRegPFType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации в качестве страхователя по обязательному пенсионному страхованию (ОПС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvRegFSS" type="feipoi_res:SvIP_SvRegFSSType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации в качестве страхователя по обязательному социальному страхованию (ОСС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvOKVED" type="feipoi_res:SSvIP_SvOKVEDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о видах экономической деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvLicenzija" type="feipoi_res:SvIP_SvLicenzijaType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о лицензиях, выданных индивидуальному предпринимателю</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvIP_SvZapEGRIP" type="feipoi_res:SvZapEGRIPType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о записях, внесенных в ЕГРИП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009328E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="Sv_IPType">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество и пол индивидуального предпринимателя или главы КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvIP_SvFL_Pol" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Пол, где: 1 - мужской; 2 - женский</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIO_Rus" type="feipoi_res:SvFIOType">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество физического лица на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIO_Lat" type="feipoi_res:SvFIOType">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество физического лица с использованием букв латинского алфавита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных свесведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrnipType">
    <xs:annotation>
      <xs:documentation>ГРН и дата внесения в ЕГРИП записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Grnip" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipRecordDate" type="clt_ru:DateCustType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvGrazhdType">
    <xs:annotation>
      <xs:documentation>Сведения о гражданстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VidGrazhd" type="clt_ru:Numeric1Type" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Вид гражданства, где: 1 -  гражданин Российской Федерации; 2 - иностранный гражданин; 3 - лицо без гражданства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKSM" type="clt_ru:CountryN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны, гражданином которой является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStran" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны по справочнику ОКСМ, гражданином которой является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvAdrElPochtaType">
    <xs:annotation>
      <xs:documentation>Сведения об адресе электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Email" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvGlKFKhType">
    <xs:annotation>
      <xs:documentation>Сведения о том, что в ЕГРИП внесены данные о том, что индивидуальный предприниматель является главой КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TekstGlKFKh" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Текст о том, что индивидуальный предприниматель является главой крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegIPType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OGRNIP" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>Основной государственный регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataOGRNIP" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegNom" type="feipoi_res:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер, присвоенный до 1 января 2004 года</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataReg" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации до 1 января 2004 года</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimRO" type="feipoi_res:Text3_255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, зарегистрировавшего ИП или КФХ до 1 января 2004 года</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvKFKh" type="feipoi_res:SvKFKhType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о крестьянском (фермерском) хозяйстве, созданном до 1 января 1995 года, содержащиеся в ЕГРЮЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvKFKhType">
    <xs:annotation>
      <xs:documentation>Сведения о крестьянском (фермерском) хозяйстве, созданном до 1 января 1995 года, содержащиеся в ЕГРЮЛ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimJuLPoln" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полное наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_FIOZAGSType">
    <xs:annotation>
      <xs:documentation>Сведения о фамилии, имени, отчестве индивидуального предпринимателя или главы КФХ по данным ЗАГС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="feipoi_res:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="feipoi_res:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MiddleName" type="feipoi_res:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных свесведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegOrgType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрирующем органе по месту жительства ИП или главы КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodNO" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код органа по справочнику СОНО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimNO" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdrRO" type="feipoi_res:Text10_255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес регистрирующего органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvStatusType">
    <xs:annotation>
      <xs:documentation>Сведения о состоянии (статусе) ИП или КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodStatus" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код статуса по справочнику СИПСТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStatus" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование статуса по справочнику СИПСТ (состояние)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvIsklIP" type="feipoi_res:SvIsklUL" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о решении о предстоящем исключении индивидуального предпринимателя из ЕГРИП и его публикации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvPrekraschType">
    <xs:annotation>
      <xs:documentation>Сведения о прекращении деятельности в качестве ИП или о прекращении КФХ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodStatus" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код способа прекращения по справочнику СИППД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStatus" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование способа прекращения по справочнику СИППД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPrekrasch" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата прекращения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvNovJuL" type="feipoi_res:SvNovJuLType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о юридическом лице, созданном на базе крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvNovJuLType">
    <xs:annotation>
      <xs:documentation>Сведения о юридическом лице, созданном на базе крестьянского (фермерского) хозяйства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>Основной государственный регистрационный номер юридического лица, созданного на базе имущества крестьянского (фермерского) хозяйства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimJuLPoln" type="clt_ru:FreeText500Type" minOccurs="1" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полное наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIsklUL">
    <xs:annotation>
      <xs:documentation>Сведения о решении о предстоящем исключении недействующего индивидуального предпринимателя из ЕГРИП и его публикации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DataResh" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата решения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomerResh" type="feipoi_res:Text255Type">
        <xs:annotation>
          <xs:documentation>Номер решения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPublic" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата публикации решения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JornalNomer" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер журнала, в котором опубликовано решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvUchetNOType">
    <xs:annotation>
      <xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ИНН физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPostUch" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата постановки на учет в налоговом органе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodNO" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код органа по справочнику СОУН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimNO" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegPFType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер в территориальном органе Пенсионного фонда Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNomPF" type="feipoi_res:Text15Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер в территориальном органе Пенсионного фонда Российской Федерации / Единый регистрационный номер страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPrisvNom" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата присвоения единого регистрационного номера страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации / постановки на учет индивидуального предпринимателя (главы КФХ) в качестве страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodPF" type="feipoi_res:PfCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimPF" type="feipoi_res:Text10_255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvRegFSSType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации в качестве страхователя в исполнительном органе Фонда социального страхования Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNomFSS" type="feipoi_res:Text15Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер в исполнительном органе Фонда социального страхования Российской Федерации / Единый регистрационный номер страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPrisvNom" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата присвоения единого регистрационного номера страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации / постановки на учет индивидуального предпринимателя (главы КФХ) в качестве страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataSnReg" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата снятия индивидуального предпринимателя (главы КФХ) в качестве страхователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodFSS" type="feipoi_res:PfCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimFSS" type="feipoi_res:Text10_255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SSvIP_SvOKVEDType">
    <xs:annotation>
      <xs:documentation>Сведения о видах экономической деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvOKVEDOsn" type="feipoi_res:SvOKVEDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об основном виде деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvOKVEDDop" type="feipoi_res:SvOKVEDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о дополнительном виде деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvSvidType">
    <xs:annotation>
      <xs:documentation>Сведения о свидетельстве, подтверждающем факт внесения записи в ЕГРИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Seria" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Серия бланка свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="feipoi_res:BlankCodeType">
        <xs:annotation>
          <xs:documentation>Номер бланка свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataVidSvid" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataSvidNed" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей сведения о признании свидетельства недействительным по решению суда </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvOKVEDType">
    <xs:annotation>
      <xs:documentation>Сведения об виде деятельности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodOKVED" type="feipoi_res:OKVEDCodeType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimOKVED" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrVersOKVED" type="clt_ru:Code4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак версии Общероссийского классификатора видов экономической деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvDoljaOKVED" type="feipoi_res:SvDoljaOKVEDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о доле данного вида деятельности в деятельности индивидуального предпринимателя и/или о дополнительных сведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvDoljaOKVEDType">
    <xs:annotation>
      <xs:documentation>Сведения о доле данного вида деятельности в деятельности индивидуального предпринимателя и/или о дополнительных сведениях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DopSvedOKVED" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения о виде деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prosent" type="feipoi_res:ProsentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер доли кода ОКВЭД в деятельности ИП в процентах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных свесведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvIP_SvLicenzijaType">
    <xs:annotation>
      <xs:documentation>Сведения о лицензиях, выданных индивидуальному предпринимателю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NomerERUL" type="feipoi_res:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер лицензии, присвоенный в Едином реестре учета лицензий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerNomLic" type="feipoi_res:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия и номер лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataLic" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataNachLic" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataOkonchLic" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimLicVidDejat" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование лицензируемого вида деятельности, на который выдана лицензия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicOrgVydLic" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование лицензирующего органа, выдавшего или переоформившего лицензию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи об исправлении технической ошибки в сведениях о выдаче лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН внесения в ЕГРИП записи о выдаче лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvPriostLic" type="feipoi_res:SvPriostLicType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о приостановлении действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrnipDataType">
    <xs:annotation>
      <xs:documentation>ГРН и дата записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdZap" type="clt_ru:CodeVariable20Type" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Системный идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grnip" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государственный регистрационный номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataZap" type="clt_ru:DateCustType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvPriostLicType">
    <xs:annotation>
      <xs:documentation>Сведения о приостановлении действия лицензии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DataPriostLic" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата приостановления действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicOrgPriostLic" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование лицензирующего органа, приостановившего действие лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipData" type="feipoi_res:GrnipType">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных свесведениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvFIOType">
    <xs:annotation>
      <xs:documentation>Сведения о фамилии, имени, отчестве физического лица </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="feipoi_res:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="feipoi_res:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MiddleName" type="feipoi_res:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvZapEGRIPType">
    <xs:annotation>
      <xs:documentation>Сведения о записях, внесенных в ЕГРИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdZap" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Системный идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grnip" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государственный регистрационный номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataZap" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodSPVZ" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код вида записи (причины внесения записи в ЕГРИП) по справочнику СПВЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimVidZap" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование вида записи (причины внесения записи в ЕГРИП) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodNO" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код регистрирующего органа по справочнику СОУН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimNO" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvedPredDoc" type="feipoi_res:SvedPredDocType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах, представленных при внесении записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvSvid" type="feipoi_res:SvSvidType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о свидетельстве, подтверждающем факт внесения записи в ЕГРИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIsprPred" type="feipoi_res:GrnipDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата записи, в которую внесены исправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataNedPred" type="feipoi_res:GrnipDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата записи, которая признана недействительной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvStatusZap" type="feipoi_res:SvStatusZapType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о статусе записи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvStatusZapType">
    <xs:annotation>
      <xs:documentation>Сведения о статусе записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrnipDataNed" type="feipoi_res:GrnipDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ГРН и дата внесения записи, которой запись признана недействительной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrnipDataIspr" type="feipoi_res:GrnipDataType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ГРН и дата записи, которой внесены исправления в связи с технической ошибкой</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvedPredDocType">
    <xs:annotation>
      <xs:documentation>Сведения о документах, представленных при внесении записи в ЕГРИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NaimDoc" type="feipoi_res:Text255Type">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomDoc" type="feipoi_res:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateDoc" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="BlankCodeType">
    <xs:annotation>
      <xs:documentation>Номер бланка свидетельства. От 7 до 9 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:minLength value="7" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OKVEDCodeType">
    <xs:annotation>
      <xs:documentation>Код ОКВЭД. От 2 до 8 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:minLength value="2" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Code19Type">
    <xs:annotation>
      <xs:documentation>Код. 19 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:length value="19" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text15Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. До 15 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text100Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. До 100 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Code7Type">
    <xs:annotation>
      <xs:documentation>Код. 7 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:length value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text30Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. До 30 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text60Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. До 60 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text255Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. До 255 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text3_255Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. От 3 до 255 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="feipoi_res:Text255Type">
      <xs:minLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text10_255Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. От 10 до 255 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="feipoi_res:Text255Type">
      <xs:minLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PfCodeType">
    <xs:annotation>
      <xs:documentation>Код органа. От 2 до 10 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:minLength value="2" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KLADRType">
    <xs:annotation>
      <xs:documentation>Код адреса КЛАДР. От 11 до 23 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:minLength value="11" />
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProsentType">
    <xs:annotation>
      <xs:documentation>Размер доли кода ОКВЭД в деятельности ИП в процентах</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100" />
      <xs:totalDigits value="5" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>