XSD_Schs/V5.25.0/FnsPaymentDebtsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:fpd_req="urn:customs.ru:Information:SQDocuments:FnsPaymentDebtsRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FnsPaymentDebtsRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление сведений о наличии (отсутствии) задолженности по уплате налогов, сборов, пеней, штрафов, процентов (Запрос)</xs:documentation>
  </xs:annotation>
  <xs:element name="FnsPaymentDebtsRequest" type="fpd_req:FnsPaymentDebtsRequestType" />
  <xs:complexType name="FnsPaymentDebtsRequestType">
    <xs:annotation>
      <xs:documentation>Предоставление сведений о наличии (отсутствии) задолженности по уплате налогов, сборов, пеней, штрафов, процентов (Запрос)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Requester" type="fpd_req:RequesterType">
            <xs:annotation>
              <xs:documentation>Сведения о юридическом лице (органе государственной власти, ином государственном органе, суде, органе государственных внебюджетных фондов, органе местного самоуправления), осуществляющем запрос</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата, на которую запрашиваются сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" type="clt_ru:INNIDType">
            <xs:annotation>
              <xs:documentation>ИНН организации/физического лица в отношении которых заправшиваются сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009183E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RequesterType">
    <xs:annotation>
      <xs:documentation>Сведения о юридическом лице (органе государственной власти, ином государственном органе, суде,
                органе государственных внебюджетных фондов, органе местного самоуправления), осуществляющем запрос</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>