XSD_Schs/V5.25.0/FsspCustomsPaymentsJudgementsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:fssp_cpj_req="urn:customs.ru:Information:SQDocuments:FsspCustomsPaymentsJudgementsRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspCustomsPaymentsJudgementsRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из системы (ЕАИС таможенных органов), необходимые для возбуждения исполнительного производства и исполнения судебных актов  по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов о взыскании неуплаченых таможенных платежей, процентов и пеней, в том числе за счет товаров, в отношении которых таможенные пошлины, налоги не уплачены</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspCustomsPaymentsJudgementsRequest" type="fssp_cpj_req:FsspCustomsPaymentsJudgementsRequestType" />
  <xs:complexType name="FsspCustomsPaymentsJudgementsRequestType">
    <xs:annotation>
      <xs:documentation>Сведения из системы (ЕАИС таможенных органов), необходимые для возбуждения исполнительного производства и исполнения судебных актов  по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов о взыскании неуплаченых таможенных платежей, процентов и пеней, в том числе за счет товаров, в отношении которых таможенные пошлины, налоги не уплачены</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата отправки документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Barcode" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Штрих-код</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер исполнительного документа - решения суда</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата исполнительного документа - решения суда</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CourtDecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата вступления решения суда в законную силу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveListNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер исполнительного листа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveListDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи исполнительного листа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveListPresentingDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок предъявления исполнительного листа к исполнению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentCopy" type="clt_ru:FreeText250Type" maxOccurs="16">
            <xs:annotation>
              <xs:documentation>Экземпляр ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentIssuerName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование органа, выдавшего ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentIssuerAddress" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Адрес органа, выдавшего ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО и должность подписавшего лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrivatePerson" type="fssp_cpj_req:PrivatePersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalEntity" type="fssp_cpj_req:LegalEntityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Юридическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Creditor" type="fssp_cpj_req:CreditorType">
            <xs:annotation>
              <xs:documentation>Взыскатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltyObject" type="fssp_cpj_req:PenaltyObjectType">
            <xs:annotation>
              <xs:documentation>Предмет взыскания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtInfo" type="fssp_cpj_req:DebtInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о задолженности</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009093E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PrivatePersonType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtorName" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес должника (по месту регистрации/пребывания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TruthBirthDate" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Точность даты рождения: 0 - полная точность; 1 - с точностью до месяца (число недостоверно); 2 - с точностью до года (число и месяц недостоверны)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Passport" type="RUScat_ru:RUIdentityCardType">
        <xs:annotation>
          <xs:documentation>Паспортные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:annotation>
      <xs:documentation>Юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalAddress" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Юридический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorType">
    <xs:annotation>
      <xs:documentation>Взыскатель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип взыскателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Взыскатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес взыскателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PenaltyObjectType">
    <xs:annotation>
      <xs:documentation>Предмет взыскания</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип предмета взыскания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование предмета взыскания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>Информация о задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование вида платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsDublicate" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак дубликата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>