XSD_Schs/V5.25.0/FsspExecutoryProcessResultsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:fssp_epr_req="urn:customs.ru:Information:SQDocuments:FsspExecutoryProcessResultsRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspExecutoryProcessResultsRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений из системы (ФССП) о результатах проведения исполнительного производства</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspExecutoryProcessResultsRequest" type="fssp_epr_req:FsspExecutoryProcessResultsRequestType" />
  <xs:complexType name="FsspExecutoryProcessResultsRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений из системы (ФССП) о результатах проведения исполнительного производства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentCode" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Код документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата отправки документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер исполнительного документа (ИД) ФТС России</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата исполнительного документа (ИД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPICode" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Код СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPIPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveListNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер исполнительного листа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecreeNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Электронный номер постановления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentIssuerName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование органа, выдавшего ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentIssuerAddress" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Адрес органа, выдавшего ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrivatePerson" type="fssp_epr_req:RUPersonBaseType">
            <xs:annotation>
              <xs:documentation>Физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalEntity" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Юридическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Creditor" type="fssp_epr_req:CreditorType">
            <xs:annotation>
              <xs:documentation>Взыскатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltyObject" type="fssp_epr_req:PenaltyObjectType">
            <xs:annotation>
              <xs:documentation>Предмет взыскания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009095E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CreditorType">
    <xs:annotation>
      <xs:documentation>Взыскатель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес взыскателя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PenaltyObjectType">
    <xs:annotation>
      <xs:documentation>Предмет взыскания</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип предмета взыскания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование предмета взыскания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RUPersonBaseType">
    <xs:annotation>
      <xs:documentation>Данные физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonFIO" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RUIdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InsuranceNumber" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страховой номер индивидуального лицевого счёта (СНИЛС)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>