XSD_Schs/V5.25.0/FsspCustomsPaymentsJudgementsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:fssp_cpj_res="urn:customs.ru:Information:SQDocuments:FsspCustomsPaymentsJudgementsResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspCustomsPaymentsJudgementsResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на передачу сведений из системы (ЕАИС таможенных органов), необходимых для возбуждения исполнительного производства и исполнения судебных актов  по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов о взыскании неуплаченых таможенных платежей, процентов и пеней, в том числе за счет товаров, в отношении которых таможенные пошлины, налоги не уплачены</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspCustomsPaymentsJudgementsResponse" type="fssp_cpj_res:FsspCustomsPaymentsJudgementsResponseType" />
  <xs:complexType name="FsspCustomsPaymentsJudgementsResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на передачу сведений из системы (ЕАИС таможенных органов), необходимых для возбуждения исполнительного производства и исполнения судебных актов  по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов о взыскании неуплаченых таможенных платежей, процентов и пеней, в том числе за счет товаров, в отношении которых таможенные пошлины, налоги не уплачены</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CourtDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата получения судебного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutoryProcessDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата возбуждения исполнительного производства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер исполнительного документа судебного пристава-исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата исполнительного документа судебного пристава-исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveListPayment" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Сведения о взыскании задолженности по исполнительному листу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер платежного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата платежного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009094E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>