XSD_Schs/V5.25.0/InfFromElectronicPassportInFullRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--SQ.01620-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:ifepifreq="urn:customs.ru:Information:SQDocuments:InfFromElectronicPassportInFullRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:InfFromElectronicPassportInFullRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений из электронного паспорта транспортного средства (шасси транспортного средства) и электронного паспорта самоходной машины в полном составе сведений, утвержденных Решением Коллегии Евразийской экономической комиссии от 22.09.2015 №122</xs:documentation>
  </xs:annotation>
  <xs:element name="InfFromElectronicPassportInFullRequest" type="ifepifreq:InfFromElectronicPassportInFullRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений из электронного паспорта транспортного средства (шасси транспортного средства) и электронного паспорта самоходной машины в полном составе сведений, утвержденных Решением Коллегии Евразийской экономической комиссии от 22.09.2015 №122</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InfFromElectronicPassportInFullRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений из электронного паспорта транспортного средства (шасси транспортного средства) и электронного паспорта самоходной машины в полном составе сведений, утвержденных Решением Коллегии Евразийской экономической комиссии от 22.09.2015 №122</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="VehicleEPassportKindCode" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида электронного паспорта транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VehicleEPassportId" type="ifepifreq:VehicleEPassportIdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер электронного паспорта транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VehicleIdInfoDetails" type="ifepifreq:VehicleIdInfoDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об идентификационных номерах</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009254E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="VehicleIdentityNumberDetailsType">
    <xs:annotation>
      <xs:documentation>Информация об идентификационном номере</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VehicleIdentityNumberId" type="ifepifreq:Id50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotVehicleIdentityNumberIndicator" type="clt_ru:DigitalIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак, определяющий отсутствие идентификационного номера:  0 – номер присутствует; 1 – номер отсутствует; 2 - информация отсутствует</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleIdInfoDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об идентификационных номерах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VehicleIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере транспортного средства (шасси транспортного средства, самоходной машины и других видов техники), присвоенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleEngineIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о номере двигателя, присвоенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleFrameIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о номере шасси (рамы) транспортного средства, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleBodyIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о номере кузова (кабины, прицепа), присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MachineBodyIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о номере кузова (кабины, в том числе кабины оператора, прицепа, рамы) самоходной машины и других видов техники, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GearboxIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере коробки передач самоходной машины и других видов техники, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MainPoweredAxleIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере основного ведущего моста, присвоенном и нанесенном организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleEmergencyCallDeviceIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере устройства вызова экстренных оперативных служб</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleSatelliteNavigationIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере аппаратуры спутниковой навигации ГЛОНАСС или ГЛОНАСС совместно с иными глобальными навигационными спутниковыми системами</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleTachographIdDetails" type="ifepifreq:VehicleIdentityNumberDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация об идентификационном номере технического средства контроля за соблюдением водителем транспортного средства режимов движения, труда и отдыха</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Id50Type">
    <xs:annotation>
      <xs:documentation>Строка символов, идентифицирующая объект, содержащая не более 50 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VehicleEPassportIdType">
    <xs:annotation>
      <xs:documentation>Строка символов, идентифицирующая электронный паспорт транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:pattern value="[0-9]{15}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>