XSD_Schs/V5.25.0/InventoryIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:ivtin="urn:customs.ru:Information:CustomsDocuments:InventoryIn:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:InventoryIn:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Перечень документов, использованных при там.декларировании / Копия решения о проведении доп.проверки ( Внутренний формат )</xs:documentation>
  </xs:annotation>
  <xs:element name="InventoryIn" type="ivtin:InventoryInType" />
  <xs:complexType name="InventoryInType">
    <xs:annotation>
      <xs:documentation>Перечень документов, использованных при там.декларировании / Копия решения о проведении доп.проверки ( Внутренний формат )</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GTDPerson" type="ivtin:GTDPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, подающем ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InventoryInstance" type="ivtin:InventoryInstanceType">
            <xs:annotation>
              <xs:documentation>Экземпляр описи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="ivtin:DocNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006084E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AddControlDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание решения о проведении дополнительной проверки, по которому предоставляется документ.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddControlNumber" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер решения о проведении дополнительной проверки </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddControlDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата решения о проведении дополнительной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, подающем ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="BranchOrganizationName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование обособленного подразделения.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InventDocumentType">
    <xs:annotation>
      <xs:documentation>Документ из описи.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocId" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvDocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида представляемого документа. Заполняется согласно Классификатору видов документов, используемых при заявлении сведений в графе 44 ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvDocName" type="clt_ru:DocumentNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvDocNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvDocDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentFormSign" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак формы представления документа. 0 - в электронной форме, 1 - в виде бумажного документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentDocumentType" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак представления документа в формализованном виде: "0" - в произвольном виде; "1" - в формализованном виде.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndicatorPresent" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак результата запроса документа: 0 – запрос отправлен, ответ не получен, 1 – запрошенный документ получен, 2 – запрошенный документ не получен (для ФОИВ), 3 – получено сообщение об ошибке (для ФОИВ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndicatorDecl" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак результата запроса документа у декларанта (ЭАДД):
0 – запрос отправлен, ответ не получен, 1 – запрошенный документ получен из ЭАДД, 3 – получено сообщение об ошибке, 4 – запрошенный документ получен от декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Глобальный уникальный идентификатор документа по БД РД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestPositionID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор позиции в исходном запросе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefDocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор вида представленного документа в альбоме форматов (DocumentModeID)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор архива декларанта </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор документа в архиве </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время запроса документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceiveTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время получения документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddControlDescription" type="ivtin:AddControlDescriptionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание решения о проведении дополнительной проверки, по которому предоставляется документ.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InventoryInstanceType">
    <xs:annotation>
      <xs:documentation>Экземпляр описи.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InventDocument" type="ivtin:InventDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ из описи.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенного документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>