XSD_Schs/V5.25.0/MinFinMetalStoneInOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:metstn="urn:customs.ru:Information:SQDocuments:MinFinMetalStoneInOut:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MinFinMetalStoneInOut:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос сведений о документах государственного контроля, оформляемого при ввозе и вывозе драгоценных камней, и оценки стоимости товаров, содержащих драгоценные металлы и драгоценные камни, ввозимых(вывозимых) на(с) территорию(ии) государства - члена Евразийского экономического союза</xs:documentation>
  </xs:annotation>
  <xs:element name="MinFinMetalStoneInOut" type="metstn:MinFinMetalStoneInOutType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений о документах государственного контроля, оформляемого при ввозе и вывозе драгоценных камней, и оценки стоимости товаров, содержащих драгоценные металлы и драгоценные камни, ввозимых(вывозимых) на(с) территорию(ии) государства - члена Евразийского экономического союза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MinFinMetalStoneInOutType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений о документах государственного контроля, оформляемого при ввозе и вывозе драгоценных камней, и оценки стоимости товаров, содержащих драгоценные металлы и драгоценные камни, ввозимых(вывозимых) на(с) территорию(ии) государства - члена Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прекращения действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признак документа: 1 - госконтроль и оценка стоимости драгоценных металлов, экспортируемых из Евразийского экономического союза; 2 - госконтроль, оформляемый при ввозе и вывозе драгоценных камней; 3 - госконтроль и оценка стоимости товаров, содержащих драгоценные металлы и драгоценные камни, вывозимых с территории государства - члена Евразийского экономического союза ; 4 - госконтроль товаров, содержащих драгоценные металлы и драгоценные камни, ввозимых на территорию государства - члена Евразийского экономического союза; 5 - государственный контроль, оформляемый при ввозе и вывозе ДМ и сырьевых товаров, содержащих ДМ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlResult" type="sq_clt:FreeText4000Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Результаты государственного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата проведения госконтроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPrice" type="RUSclt_ru:Amount20point4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Стоимость партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая масса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalWeightInteger" type="metstn:Quantity24Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая масса партии. Значение в единицах, равных 0,00001г (10 в степени -5 грамма). Целое число больше 0</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightText" type="sq_clt:FreeText4000Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Масса товара (нетто) в соответствии с контрактом и сопроводительными документами. Текстовое описание в соответствии с документами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountText" type="sq_clt:FreeText4000Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в соответствиующих единицах. Текстовое описание в соответствии с документами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitQualifier" type="clt_ru:Code13Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Единицы измерения массы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceCount" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество мест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceCountAfterControl" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество мест, в которые упакован груз по окончании государственного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlPlace" type="metstn:FreeText255Type">
            <xs:annotation>
              <xs:documentation>Место проведения госконтроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны, в которой проведен госконтроль</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatesOfImportExport" type="clt_ru:CountryNameType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Государства ввоза/вывоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Act" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Акт государственного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActCorrection" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Корректировка акта государственного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermitNumber" type="clt_ru:DocumentNumberType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер разрешения на переработку вне таможенной территории</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DiamondExportSertificate" type="metstn:SertificateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сертификат вывоза природных алмазов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddDocument" type="metstn:DocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о документах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProductDescription" type="metstn:ProductDescriptionType">
            <xs:annotation>
              <xs:documentation>Описание товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OwnerOrg" type="RUScat_ru:SubjectDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Собственник</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AgentConfirmedControl" type="metstn:AgentConfirmedControlType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>ФИО и должность представителя организации-экспортера (импортера), подтвердившего осуществление контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exporter" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Организация-экспортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Importer" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Организация-импортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CargoHandler" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Грузополучатель (грузоотправитель)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlOrganization" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование организации госконтроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlPerson" type="cat_ru:PersonBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о госконтролере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreciousMetal" type="metstn:PreciousInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о драгоценных металлах в чистоте, грамм</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Nugget" type="metstn:PreciousInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о самородках драгоценных металлов в граммах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Gems" type="metstn:PreciousInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о драгоценных камнях, карат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Onlooker" type="metstn:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о присутствующем лице</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="metstn:CustomsPersonType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о присутствующем представителе таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Stamp" type="metstn:StampType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Печать</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsNumber" type="metstn:GoodsNumberType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера партий товара, связанного с актом госконтроля</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009021E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование организации, выдавшей документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KindDocument" type="metstn:FreeText255Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип документа по справочнику "Тип документа"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о доверенности</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PreciousInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о драгоценных металлах/камнях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="sq_clt:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Масса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalWeightInteger" type="metstn:Quantity24Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса. Значение в единицах, равных 0,00001г (10 в степени -5 грамма). Целое число больше 0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Product" type="sq_clt:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Товар</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса товара/ Масса товара (нетто) в соответствии с контрактом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccompDocWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса товара (нетто) в соответствии с сопроводительными документами</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ETNVEDCode" type="metstn:FreeText255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Price" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контрактная стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Currency" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Count" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Lefttover" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Остаток по квоте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SertificateType">
    <xs:annotation>
      <xs:documentation>Сведения о сертификате вывоза природных алмазов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonName" type="metstn:FreeText255Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО представителя уполномоченного органа (организации) оформившего сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompetentAuthority" type="metstn:FreeText255Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченный орган, оформивший сертификат вывоза природных алмазов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StampType">
    <xs:annotation>
      <xs:documentation>Сведения о печати</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StampFlag" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Владелец печати. 1- госконтролера, 2-заявителя, 3-организации-экспортера (импотера), 4-представителя таможенного органа, 5-уполномоченной организации/его представитель.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="sq_clt:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ф.И.О</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsNumberType">
    <xs:annotation>
      <xs:documentation>Номера партий товара, связанного с актом госконтроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LotNumber" type="metstn:LotNumberType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер партии товара, связанного с актом госконтроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LotNumberType">
    <xs:annotation>
      <xs:documentation>Номер партии товара, связанного с актом госконтроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INPGroupParty" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>ИНП групповой партии или индивидуальной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INPNestedParty" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Список УИН/ИНП партий, входящих в групповую партию</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Номер партии товара, связанного с актом госконтроля</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="CustomsPersonProxyNumber" type="metstn:FreeText255Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Государственный контроль осуществлен в присутствии представителя заявителя, номер доверенности</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AgentConfirmedControlType">
    <xs:annotation>
      <xs:documentation>ФИО и должность представителя организации-экспортера (импортера), подтвердившего осуществление контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FIO" type="metstn:FreeText255Type">
        <xs:annotation>
          <xs:documentation>ФИО представителя организации-экспортера (импортера), подтвердившего осуществление контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Post" type="metstn:FreeText255Type">
        <xs:annotation>
          <xs:documentation>Должность представителя организации-экспортера</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FreeText255Type">
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Quantity24Type">
    <xs:annotation>
      <xs:documentation>Количество. Целое число. 0 знаков после запятой. От 0. Всего до 24 цифр</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:totalDigits value="24" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>