XSD_Schs/V5.25.0/MZSRDrugSubstance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:mzsrds="urn:customs.ru:Information:SQDocuments:MZSRDrugSubstance:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SQDocuments:MZSRDrugSubstance:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос сведений о государственной регистрации лекарственных средств</xs:documentation>
  </xs:annotation>
  <xs:element name="MZSRDrugSubstance" type="mzsrds:MZSRDrugSubstanceType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений о государственной регистрации лекарственных средств</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MZSRDrugSubstanceType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений о государственной регистрации лекарственных средств</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Drugs" type="mzsrds:DrugsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о лекарственном препарате</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Substance" type="mzsrds:SubstanceType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о фармацевтической субстанции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009042E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DrugsType">
    <xs:annotation>
      <xs:documentation>В отношении лекарственных препаратов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Registration" type="mzsrds:RegistrationDrugsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрации лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryEnterDate" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения в государственный реестр лекарственных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Producer" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Производитель лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChemistryName" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Международное непатентованное или группировочное, или химическое наименование лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeName" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Торговое наименование </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Form" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Лекарственная форма с указанием дозировки лекарственного препарата и его количества в потребительской упаковке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryCertificateOwner" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Держатель или владелец регистрационного удостоверения лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActionSubstanceContent" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Качественный состав и количественный состав действующих веществ и качественный состав вспомогательных веществ лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Packing" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Информация обо всех разрешенных видах вторичной (потребительской) упаковки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DrugsPresence" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наличие в лекарственном препарате наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangesDeclaration" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Сведения о подаче заявления о внесении изменений в документы, содержащиеся в регистрационном досье на лекарственный препарат</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationDrugsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации лекарственного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegistryEnterDate" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения в государственный реестр лекарственных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateRegistryDate" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата государственной регистрации лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateRegistryNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateRegistryExclusionNumber" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата отмены государственной регистрации лекарственного препарата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegStatus" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус регистрационного удостоверения: 1 - Действующее, 2 - Приостановленное, 3 - Аннулированное</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationSubstanceType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации лекарственного средства (фармацевтической субстанции)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegistryNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер реестровой записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryExclusionDate" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата исключения  фармацевтической субстанции из государственного реестра лекарственных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDeclarationDate" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата внесения изменений в документы фармацевтической субстанции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegStatus" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус регистрационного удостоверения: 1 - Действующее, 2 - Приостановленное, 3 - Аннулированное</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubstanceType">
    <xs:annotation>
      <xs:documentation>В отношении фармацевтических субстанций</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Registration" type="mzsrds:RegistrationSubstanceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChemistryName" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование фармацевтической субстанции (международное непатентованное или группировочное или химическое и торговое наименования)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryEnterDate" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения в государственный реестр лекарственных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Producer" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Производитель фармацевтической субстанции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FS_ND" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер фармакопейной статьи или в случае ее отсутствия номер нормативной документации либо нормативного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DrugPresence" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие фармацевтической субстанции в перечне наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>