XSD_Schs/V5.25.0/PIint_TransitInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:pint="urn:customs.ru:Information:PriorInformation:PIint_TransitInformation:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:PriorInformation:PIint_TransitInformation:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.24.0" schemaLocation="PriorCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о подаче предварительных сведений. Внутренний формат</xs:documentation>
  </xs:annotation>
  <xs:element name="PIint_TransitInformation" type="pint:PIint_TransitInformationType" />
  <xs:complexType name="PIint_TransitInformationType">
    <xs:annotation>
      <xs:documentation>Уведомление о подаче предварительных сведений. Внутренний формат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PI_URN" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BrokerDocNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер документа в АС брокера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможни на границе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderCustomsName" type="clt_ru:CustomsOfficeNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование таможни на границе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpectArriveDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ожидаемая дата прибытия на пункт пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpectArriveTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ожидаемое время прибытия на пункт пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="pint:ConsigneeType">
            <xs:annotation>
              <xs:documentation>Грузополучатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="pint:CarrierType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInformation" type="pint:GoodsInformationType">
            <xs:annotation>
              <xs:documentation>Информация о перевозимых товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LicenceDocument" type="catpi_ru:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о документах обеспечения уплаты, лицензиях на перевозку товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Principal" type="pint:PrincipalType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Доверитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShippingInformation" type="pint:ShippingInformationType">
            <xs:annotation>
              <xs:documentation>Информация о перевозке груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="pint:ConsignorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Грузоотправитель</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006801E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>Перевозчик</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DriverInformation" type="catpi_ru:DriverInformationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о водителях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации / физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsigneeType">
    <xs:annotation>
      <xs:documentation>Грузополучатель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации / физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsignorType">
    <xs:annotation>
      <xs:documentation>Грузоотправитель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации / физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DestinationType">
    <xs:annotation>
      <xs:documentation>Место доставки товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationRWStationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ж/д станции назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationRWStationName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железнодорожной станции назанчения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinantionPlaceName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationWarehouse" type="catpi_ru:DestinationWarehouseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>СВХ места назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCustoms" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможня назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInformationType">
    <xs:annotation>
      <xs:documentation>Информация о перевозимых товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotalGoodsNameQuantity" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Всего наименований товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipSpecifQuantity" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество отгрузочных спецификаций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipSpecifGoodsQuantity" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров по отгрузочным спецификациям</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalInvoicedCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая фактурная стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="catpi_ru:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrincipalType">
    <xs:annotation>
      <xs:documentation>Доверитель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации / физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShippingInformationType">
    <xs:annotation>
      <xs:documentation>Информация о перевозке груза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак контейнерных перевозок: да/нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateLimit" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Планируемый срок перевозки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCustoms" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможня отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderTransport" type="catpi_ru:TransportMeansType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Транспортное средство на границе.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Guarantee" type="catpi_ru:GuaranteeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Гарантия, меры обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountry" type="catpi_ru:CountryInformationType">
        <xs:annotation>
          <xs:documentation>Страна назначения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReloadingInfo" type="catpi_ru:ReloadingInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о планируемых перегрузках товаров или других грузовых операциях в пути</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountry" type="catpi_ru:CountryInformationType">
        <xs:annotation>
          <xs:documentation>Страна отправления товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitRoute" type="catpi_ru:TransitRouteType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Маршрут транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Destination" type="pint:DestinationType">
        <xs:annotation>
          <xs:documentation>Пункт назначения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>