XSD_Schs/V5.25.0/RegistrationDossierResponseFull.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:rdrf="urn:customs.ru:Information:SQDocuments:RegistrationDossierResponseFull:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RegistrationDossierResponseFull:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление регистрационного досье о регистрации граждан РФ (полное)</xs:documentation>
  </xs:annotation>
  <xs:element name="RegistrationDossierResponseFull" type="rdrf:RegistrationDossierResponseFullType">
    <xs:annotation>
      <xs:documentation>Предоставление регистрационного досье о регистрации граждан РФ (полное)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RegistrationDossierResponseFullType">
    <xs:annotation>
      <xs:documentation>Предоставление регистрационного досье о регистрации граждан РФ (полное)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CitizenLastname" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Фамилия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CitizenFirstname" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Имя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CitizenGivenname" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отчество</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CitizenBirthday" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocType" type="rdrf:DocumentType">
            <xs:annotation>
              <xs:documentation>Тип документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocSeries" type="clt_ru:CodeVariable18Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Серия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocNumber" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
              <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocIssuedate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата выдачи документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegType" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DossierItem" type="rdrf:DossierItem" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Адрес регистрации ФЛ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Attachments" type="rdrf:AttachmentsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Приложение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009405E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachmentsType">
    <xs:annotation>
      <xs:documentation>Блок сведений о вложениях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Attachment" type="rdrf:AttachmentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание вложения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentType">
    <xs:annotation>
      <xs:documentation>Описание вложения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя (идентификатор) файла вложения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileType" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип (формат) файла вложения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsZipped" type="CategoryCust:IndicatorCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак, упакован ли файл в zip-архив</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileSchema" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя схемы, по которой сформирован файл вложения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileData" type="CategoryCust:BinaryDataCategoriesCust">
        <xs:annotation>
          <xs:documentation>Данные файла в кодировке BASE64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DossierItem">
    <xs:annotation>
      <xs:documentation>Адрес регистрации ФЛ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateFrom" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Начало регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTo" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Окончание регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddress" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полный адрес  регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Тип документа</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Code2Type">
      <xs:enumeration value="21">
        <xs:annotation>
          <xs:documentation>Паспорт гражданина РФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="22">
        <xs:annotation>
          <xs:documentation>Загранпаспорт гражданина РФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation>Свидетельство о рождении</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="23">
        <xs:annotation>
          <xs:documentation>Иностранное свидетельство о рождении</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>