XSD_Schs/V5.25.0/RegistrationTogetherDossierRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:rtd_req="urn:customs.ru:Information:SQDocuments:RegistrationTogetherDossierRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RegistrationTogetherDossierRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Запрос на предоставление сведений о лицах, проживающих совместно с заявителем</xs:documentation>
	</xs:annotation>
	<xs:element name="RegistrationTogetherDossierRequest" type="rtd_req:RegistrationTogetherDossierRequestType">
		<xs:annotation>
			<xs:documentation>Запрос на получение регистрационного досье (запрос)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegistrationTogetherDossierRequestType">
		<xs:annotation>
			<xs:documentation>Запрос на предоставление сведений о лицах, проживающих совместно с заявителем</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="AddressRF" type="clt_ru:FreeText500Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation>Неструктурированный адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FiasId" type="clt_ru:DocumentIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор адресного объекта ФИАС(GUID)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009410E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>