XSD_Schs/V5.25.0/ReqInfoTempImpExpVehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог R.CA.CP.03.001: EEC_R_CA_CP_03_TempImportQuery_v1.0.0.xsd Запрос сведений о временном ввозе (вывозе) транспортного средства (Запрос сведений о временном ввозе (вывозе) транспортного средства) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:req_tv="urn:customs.ru:Information:SQDocuments:ReqInfoTempImpExpVehicle:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ReqInfoTempImpExpVehicle:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений о временном ввозе (вывозе) транспортного средства</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqInfoTempImpExpVehicle" type="req_tv:ReqInfoTempImpExpVehicleType">
    <xs:annotation>
      <xs:documentation>Запрос сведений о временном ввозе (вывозе) транспортного средства</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReqInfoTempImpExpVehicleType">
    <xs:annotation>
      <xs:documentation>Запрос сведений о временном ввозе (вывозе) транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTMDocDetails" type="req_tv:DTMDocDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрационном номере таможенной декларации на транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PassengerDeclarationDetails" type="req_tv:PassengerDeclarationDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрационном номере пассажирской декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOperationDetails" type="req_tv:CustomsOperationDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрационном номере заявления о временном ввозе ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UnifiedCustomsOfficeDetails" type="RUScat_ru:EECCustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе регистрации (оформления) временного ввоза (вывоза) ТСЛП (ТСМП)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TITransportDetails" type="req_tv:TITransportDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о временно ввозимых (вывозимых) транспортных средствах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PeriodDetails" type="RUScat_ru:PeriodDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Период оформления временного ввоза (вывоза) транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009129E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsOperationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номер таможенной операции временного ввоза для Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="OperationCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение таможенной операции временного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTMDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере таможенной декларации на транспортное средство</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PassengerDeclarationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере пассажирской декларации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="CountryA2Code" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код государства-члена, зарегистрировавшего пассажирскую декларацию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RBSignCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак журнала регистрации для Республики Беларусь. Варианты кода: Ф, Д, 7</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TITransportDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о временно ввозимых (вывозимых) транспортных средствах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportMeansIdDetails" type="req_tv:TransportMeansIdDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об идентификационных номерах транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DependTransportMeansIdDetails" type="req_tv:TransportMeansIdDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об идентификационных и регистрационных номерах прицепного транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansIdDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об идентификационных номерах транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:TransportMeansBaseType">
        <xs:sequence>
          <xs:element name="ChassisID" type="clt_ru:VINIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер шасси (рамы) транспортного средства, присвоенный изготовителем</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BodyID" type="clt_ru:VINIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер кузова (кабины) транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>