XSD_Schs/V5.25.0/RlodInfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:rlod_req="urn:customs.ru:Information:SQDocuments:RlodInfoRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RlodInfoRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений о конкретной лицензии в виде выписки из реестра лицензий на осуществление образовательной деятельности (РЛОД)</xs:documentation>
  </xs:annotation>
  <xs:element name="RlodInfoRequest" type="rlod_req:RlodInfoRequestType" />
  <xs:complexType name="RlodInfoRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений о конкретной лицензии в виде выписки из реестра лицензий на осуществление образовательной деятельности (РЛОД)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="INN" type="clt_ru:INNIDType">
              <xs:annotation>
                <xs:documentation>ИНН юридического лица или индивидуального предпринимателя</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OGRN" type="clt_ru:OGRNIDType">
              <xs:annotation>
                <xs:documentation>ОГРН юридического лица или индивидуального предпринимателя</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="ULName" type="rlod_req:Text1000Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование юридического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009161E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Text1000Type">
    <xs:annotation>
      <xs:documentation>Текст от 1 до 1000 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>