XSD_Schs/V5.25.0/RosKomRadio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:rskrad="urn:customs.ru:Information:SQDocuments:RosKomRadio:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosKomRadio:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из заключения (разрешительного документа) на ввоз радиоэлектронных средств и высокочастотных устройств, в том числе встроенных либо входящих в состав других товаров / Сведения об объекте реестра радиоэлектронных средств и (или) высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, в единый реестр радиоэлектронных средств и высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, при ввозе которых на таможенную территорию Евразийского экономического союза не требуется представление лицензии или заключения (разрешительного документа)</xs:documentation>
  </xs:annotation>
  <xs:element name="RosKomRadio" type="rskrad:RosKomRadioType">
    <xs:annotation>
      <xs:documentation>Сведения из заключения (разрешительного документа) на ввоз радиоэлектронных средств и высокочастотных устройств, в том числе встроенных либо входящих в состав других товаров / Сведения об объекте реестра радиоэлектронных средств и (или) высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, в единый реестр радиоэлектронных средств и высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, при ввозе которых на таможенную территорию Евразийского экономического союза не требуется представление лицензии или заключения (разрешительного документа)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosKomRadioType">
    <xs:annotation>
      <xs:documentation>Сведения из заключения (разрешительного документа) на ввоз радиоэлектронных средств и высокочастотных устройств, в том числе встроенных либо входящих в состав других товаров / Сведения об объекте реестра радиоэлектронных средств и (или) высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, в единый реестр радиоэлектронных средств и высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, при ввозе которых на таможенную территорию Евразийского экономического союза не требуется представление лицензии или заключения (разрешительного документа)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Сведения из заключения (разрешительного документа) на ввоз радиоэлектронных средств и высокочастотных устройств, в том числе встроенных либо входящих в состав других товаров; 1 - Сведения об объекте реестра радиоэлектронных средств и (или) высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, в единый реестр радиоэлектронных средств и высокочастотных устройств гражданского назначения, в том числе встроенных либо входящих в состав других товаров, при ввозе которых на таможенную территорию Евразийского экономического союза не требуется представление лицензии или заключения (разрешительного документа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прекращения действия заключения (разрешительного документа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OutDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата вывоза оборудования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportObjective" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цель ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequesterName" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование органа военного управления или федерального органа исполнительной власти, обратившегося за получением разрешения на ввоз РЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermissionOrganName" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование органа военного управления или федерального органа исполнительной власти, которому разрешается ввоз РЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentInfo" type="rskrad:DocInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о заключении (разрешительном документе)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Owner" type="rskrad:OwnerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Параметры владельца</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResItem" type="rskrad:ResItemType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Оборудование (Тип РЭС, его комплектация) (включая сведения, если есть, о записи в Реестре РЭС и ВЧУ, при ввозе которых на таможенную территорию Евразийского экономического союза не требуется представление лицензии или заключения (разрешительного документа))</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractsNumber" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Номера договоров (контрактов) на поставку РЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationName" type="cat_ru:OrganizationBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование организации, поставляющей РЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostFio" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Должность лица, подписавшего разрешение, его инициалы и фамилия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009024E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о заключении (разрешительном документе)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код государства-члена Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны государства-члена Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConclusionNumber" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер разрешительного документа </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConclusionName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConclusionDate" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата разрешительного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTo" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок действия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocId" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocType" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип документа. 1 -  Временный ввоз РЭС; 2 - Ввоз РЭС для личного использования;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата последней модификации разрешения на ввоз</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус разрешения на ввоз</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReestrRecordInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о записи в реестре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RadioElectronicDeviceRecordId" type="clt_ru:CodeVariable14Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер записи в едином реестре радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения радиоэлектронного средства или высокочастотного устройства в единый реестр радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата исключения радиоэлектронного средства или высокочастотного устройства из единого реестра радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PropositionInclusionRadioElectronicDeviceId" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер предложения о включении сведений в единый реестр радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код государства-члена Евразийского экономического союза, предложившего включение сведений в единый реестр радиоэлектронных средств и высокочастотных устройств или исключение сведений из единого реестра радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны государства-члена Евразийского экономического союза, предложившего включение сведений в единый реестр радиоэлектронных средств и высокочастотных устройств или исключение сведений из единого реестра радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusCodeInReestr" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение статуса объекта в едином реестре радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportPossibilityBelarusIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак, определяющий возможность ввоза радиоэлектронного средства или высокочастотного устройства на территорию Республики Беларусь физическими лицами для личного пользования: 1 – ввоз возможен, 0 – ввоз невозможен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание причины исключения сведений из единого реестра радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResourceItemStatusDetails" type="RUScat_ru:ResourceItemStatusDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Совокупность технологических сведений о записи единого реестра радиоэлектронных средств и высокочастотных устройств</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerType">
    <xs:annotation>
      <xs:documentation>Параметры владельца</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="OwnerId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор владельца в ЕИС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OwnerVersionId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор версии владельца в ЕИС</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RadioBandInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о полосе радиочастот, радиочастотном канале или радиочастоте РЭС или ВЧУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RadioFrequencyChannelOrdinal" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер радиочастоты (полосы радиочастот, радиочастотного канала)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RadioFrequencyMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Значение радиочастоты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MinRadioFrequencyMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Минимальное значение полосы радиочастот (радиочастотного канала)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaxRadioFrequencyMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Максимальное значение полосы радиочастот (радиочастотного канала)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NominalRadioFrequencyMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номинальное значение радиочастоты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeviationRadioFrequencyMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Значение отклонения от номинального значения радиочастоты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RadioBandStr" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полоса радиочастот, радиочастотный канал или радиочастота РЭС или ВЧУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitNameRadioBand" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование единицы измерения частоты для Полосы радиочастот, радиочастотного канала или радиочастот РЭС или ВЧУ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResItemType">
    <xs:annotation>
      <xs:documentation>Оборудование (Тип РЭС, его комплектация)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReestrRecordInfo" type="rskrad:ReestrRecordInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о записи в реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResType" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="12">
        <xs:annotation>
          <xs:documentation>Наименование и тип РЭС или ВЧУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Numeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер позиции товара по приложению разрешительного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Модель, платформа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Manufacturer" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Производитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="clt_ru:CountryNameType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Страна - производитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RadioBandInfo" type="rskrad:RadioBandInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о полосе радиочастот, радиочастотном канале или радиочастоте РЭС или ВЧУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnginePowerMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Мощность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Иная техническая информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>