XSD_Schs/V5.25.0/RZNMedizd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:rzdmed="urn:customs.ru:Information:SQDocuments:RZNMedizd:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RZNMedizd:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Регистрационное удостоверение</xs:documentation>
  </xs:annotation>
  <xs:element name="RZNMedizd" type="rzdmed:RZNMedizdType" />
  <xs:complexType name="RZNMedizdType">
    <xs:annotation>
      <xs:documentation>Регистрационное удостоверение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Application" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="800">
            <xs:annotation>
              <xs:documentation>Приложение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Registration" type="rzdmed:RegistrationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicantOrg" type="rzdmed:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Организация-заявитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="rzdmed:GoodsDescriptionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание изделия медицинского назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009049E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание изделия медицинского назначения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="270">
        <xs:annotation>
          <xs:documentation>Наименование изделия медицинского назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Producer" type="rzdmed:OrganizationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Организация-изготовитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKP" type="rzdmed:ItemOKPType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ОКП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Category" type="rzdmed:ItemIMNType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория ИМН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Class" type="rzdmed:SecurityClassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Класс безопасности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOKPType">
    <xs:annotation>
      <xs:documentation>Код ОКП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="rzdmed:FreeText255" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расшифровка кода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemIMNType">
    <xs:annotation>
      <xs:documentation>Категория ИМН</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Расшифровка кода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationType">
    <xs:annotation>
      <xs:documentation>Регистрация</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия до</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecurityClassType">
    <xs:annotation>
      <xs:documentation>Класс безопасности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ClassId" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Внутренний идентификатор класса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Организация</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rzdmed:CUOrganizationType">
        <xs:sequence>
          <xs:element name="Id" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Внутренний идентификатор организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CUOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об организации </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rzdmed:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="rzdmed:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контактная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationBaseType">
    <xs:annotation>
      <xs:documentation>Реквизиты организации. Базовый класс</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код языка для заполнения наименования </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
          <xs:annotation>
            <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
          <xs:annotation>
            <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
          <xs:annotation>
            <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RAOrganizationFeatures" type="cat_ru:RAOrganizationFeaturesType">
          <xs:annotation>
            <xs:documentation>Сведения об организации. Особенности Республики Армения</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="KGOrganizationFeatures" type="cat_ru:KGOrganizationFeaturesType">
          <xs:annotation>
            <xs:documentation>Сведения об организации. Особенности Кыргызской Республики</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>Адрес организации / физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PostalCode" type="clt_ru:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Почтовый индекс</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CounryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Region" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Область (регион, штат, провинция и т.п.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Населенный пункт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetHouse" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Улица, номер дома, номер офиса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerritoryCode" type="clt_ru:TerritoryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы административно-территориального деления (для Кыргызской Республики)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="FreeText255">
    <xs:annotation>
      <xs:documentation>Текстовая строка. До 255 символов. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>