XSD_Schs/V5.25.0/VerificationOfRegistrationIGResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:vrigres="urn:customs.ru:Information:SQDocuments:VerificationOfRegistrationIGResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:VerificationOfRegistrationIGResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос на проверку регистрации ИГ по месту жительства / пребывания [I001 и I002]</xs:documentation>
  </xs:annotation>
  <xs:element name="VerificationOfRegistrationIGResponse" type="vrigres:VerificationOfRegistrationIGResponseType" />
  <xs:complexType name="VerificationOfRegistrationIGResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на проверку регистрации ИГ по месту жительства / пребывания [I001 и I002]</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestPerson" type="vrigres:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, запрашивающее сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForPerson" type="vrigres:ForPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные по проверяемому лицу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForDocument" type="vrigres:ForDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные по документу, удостоверяющему личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForPersonLatin" type="vrigres:ForPersonLatinType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные по проверяемому лицу в латинице</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionCode" type="clt_ru:OKATOCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регион запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Result" type="vrigres:ResultType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Результат проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009347E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ForPersonType">
    <xs:annotation>
      <xs:documentation>Данные по проверяемому лицу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForDocumentType">
    <xs:annotation>
      <xs:documentation>Данные по документу, удостоверяющему личность</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид документа ИГ. Принимает значения:
                        10- Иностранный паспорт;
                        11- Свидетельство о регистрации ходатайства о признании иммигранта беженцем;
                        12- Вид на жительство;
                        13- Удостоверение беженца в Российской Федерации;
                        19- Вид на жительство ИГ;
                        20- Вид на жительство ЛБГ;
                        61- Национальный заграничный паспорт;
                        62- Дипломатический паспорт;
                        63- Служебный паспорт;
                        73- Паспорт негражданина;
                        76- Удостоверение лица без гражданства.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentID" type="vrigres:Text25Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentIssuedate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentCountry" type="vrigres:DocumentCountryType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государство, выдавшее документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>Результат проверки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Registration" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие регистрации. Принимает значения:
                        0- Регистрация по месту жительства отсутствует;
                        1- Зарегистрирован по месту жительства.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарий</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForPersonLatinType">
    <xs:annotation>
      <xs:documentation>Данные по проверяемому лицу в латинице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurnameLatin" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonNameLatin" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleNameLatin" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Пользователь запрашивающей организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentCountryType">
    <xs:annotation>
      <xs:documentation>Страна, выдавшая документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="clt_ru:CountryA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Государство, выдавшее документ.
                        Использовать Общероссийский классификатор стран мира OK (MK (ИСО 3166) 004-97) 025—2001 (ОКСМ)
                        (принят и введен в действие постановлением Госстандарта РФ от 14 декабря 2001 г. N 529-ст)
                        (с изменениями № 1/2003, 2/2003, 3/2004, 4/2004, 5/2005, 6/2006, 7/2006, 8/2008, 9/2009).
                        Использовать, колонки «3-х буквенный КОД» (альфа 3).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shortName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государство, выдавшее документ.
                        Использовать Общероссийский классификатор стран мира OK (MK (ИСО 3166) 004-97) 025—2001 (ОКСМ)
                        (принят и введен в действие постановлением Госстандарта РФ от 14 декабря 2001 г. N 529-ст)
                        (с изменениями № 1/2003, 2/2003, 3/2004, 4/2004, 5/2005, 6/2006, 7/2006, 8/2008, 9/2009).
                        Использовать «Наименование краткое».</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Text25Type">
    <xs:annotation>
      <xs:documentation>До 25 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>