XSD_Schs/V5.21.0/AppReleaseGoodsBeforeDTIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_031_GoodsReleaseApplication_v1.0.1.xsd альбома ЕЭК (R.031: Заявление о выпуске товаров до подачи декларации на товары (Заявление о выпуске товаров до подачи декларации на товары. Детали))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" xmlns:argbi="urn:customs.ru:Information:CustomsDocuments:AppReleaseGoodsBeforeDTIn:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:AppReleaseGoodsBeforeDTIn:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.21.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление о выпуске товаров до подачи декларации на товары, внутренний формат</xs:documentation>
  </xs:annotation>
  <xs:element name="AppReleaseGoodsBeforeDTIn" type="argbi:AppReleaseGoodsBeforeDTInType">
    <xs:annotation>
      <xs:documentation>Заявление о выпуске товаров до подачи декларации на товары внутренний формат</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppReleaseGoodsBeforeDTInType">
    <xs:annotation>
      <xs:documentation>Заявление о выпуске товаров до подачи декларации на товары внутренний формат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EDocIndicatorCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа (возможные значения: ЭД, ОО)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="APPNumber" type="argbi:APPNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер заявления о выпуске товаров до подачи декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры в соответствии с классификатором видов таможенных процедур.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код предшествующей таможенной процедуры в соответствии с классификатором видов таможенных процедур.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PageQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество листов в документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="clt_ru:Quantity5Type">
            <xs:annotation>
              <xs:documentation>Общее число заявляемых товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategoryCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код категории заявляемых товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantDetails" type="RUDECLcat:DeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания срока подачи декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndComments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основания для изменения срока подачи ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsShipmentDetails" type="argbi:GoodsShipmentDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryRepresentativeDetails" type="RUDECLcat:SignatoryRepresentativeDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном представителе, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryPersonDetails" type="RUDECLcat:SignatoryPersonDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDOutResolution" type="argbi:GTDOutResolutionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Принятые решения по заявлению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDOutCommonMark" type="argbi:GTDOutCommonMarkType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки к заявлению </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddID" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ , поданной на Заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Системный идентификатор</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006269E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="APPNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления о выпуске товаров до подачи декларации на товары</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая 3ей части номера (ОБ/ЗВ)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:EECDTGoodsBaseDetailsType">
        <xs:sequence>
          <xs:element name="GoodsTraceabilityCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак товара, подлежащего прослеживаемости («П»).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsGroupDescription" type="catESAD_cu:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о группе товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IPObjectRegistryIdDetails" type="catESAD_cu:IPObjectRegistryNumType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Регистрационный номер объекта интеллектуальной собственности по реестру объектов интеллектуальной собственности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsTraceabilityMeasureDetails" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о количестве товара, подлежащего прослеживаемости</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryDetails" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о стране происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ValueAmount" type="RUScat_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Стоимость товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDocDetails" type="RUDECLcat:PrecedingDocDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о предшествующем документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocDetails" type="RUDECLcat:PresentedDocDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о представленном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsShipmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DepartureCountry" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountry" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeCountry" type="RUScat_ru:TradeCountryDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Торгующая страна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryTerms" type="cat_ru:DeliveryTermsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Условия поставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValueAmount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая стоимость товаров в валюте цены договора или в валюте платежа (оценки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAmount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая таможенная стоимость товара, перемещаемого через таможенную границу Евразийского экономического союза в несобранном или разобранном виде, в том числе некомплектном или незавершенном виде</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExchangeRate" type="RUScat_ru:ExchangeRateWithCurrencyA3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс валюты цены договора или валюты платежа (оценки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnifiedGrossMassMeasure" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общий вес брутто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignorDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsLocationDetails" type="RUDECLcat:GoodsLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месте нахождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsItemDetails" type="argbi:GoodsItemDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentGuaranteeDetails" type="RUDECLcat:PaymentGuaranteeDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о предоставленном обеспечении уплаты таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDOutCommonMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_ru:RUESADCommonOfficialMarkType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GTDOutResolutionType">
    <xs:annotation>
      <xs:documentation>Принятые решения </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_ru:RUESADDecisionType">
        <xs:sequence>
          <xs:element name="ResolutionDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание принятого решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>