XSD_Schs/V5.21.0/ATA_RevealedRisks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:arr="urn:customs.ru:Information:CustomsDocuments:ATA_RevealedRisks:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ATA_RevealedRisks:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Результат выявления рисков по карнету АТА</xs:documentation>
  </xs:annotation>
  <xs:element name="ATA_RevealedRisks" type="arr:ATA_RevealedRisksType">
    <xs:annotation>
      <xs:documentation>Результат выявления рисков по карнету АТА</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ATA_RevealedRisksType">
    <xs:annotation>
      <xs:documentation>Результат выявления рисков по карнету АТА</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="TransportID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор сообщения с информацией о товарах, перемещаемых с применением карнета АТА, по которым выявлялись риски</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Profiles" type="arr:ProfilesType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Выявленные профили рисков</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consigment" type="arr:ConsigmentType">
            <xs:annotation>
              <xs:documentation>Партия товаров, на которой сработал ПР</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006266E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsigmentType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий партию товаров, на которой выявлен риск</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProfileRef" type="arr:ProfileRefType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ссылки на ПР, которые сработали на документ в целом (т.е. на все товары, оформляемые по отрывному листу карнета АТА). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="arr:GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары, на которых выявлены риски</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfileRefType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий ссылку на выявленный ПР</xs:documentation>
    </xs:annotation>
    <xs:attribute name="URI" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>Указывается на #ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий товар, на котором выявлен риск</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumber" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в основном спике карнета АТА</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProfileRef" type="arr:ProfileRefType">
        <xs:annotation>
          <xs:documentation>Ссылка</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfilesType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий выявленный ПР</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentSignCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска. Возможные значения: 
11 – общероссийский профиль риска;
12 – региональный профиль риска;
13 – зональный профиль риска;
20 – целевой профиль риска;
21 – целевой правоохранительный профиль риска;
55 – профиль риска, обязательный к применению.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DivisionCode" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, разработавшего ПР/ЦПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации ПР/ЦПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SequenceNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер ПР/ЦПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VersionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии ПР/ЦПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CriterionCode" type="clt_ru:CodeVariable4Type">
        <xs:annotation>
          <xs:documentation>Код типового критерия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActivityCode" type="clt_ru:Code4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код направления деятельности подразделения, по направлению которого выявлен риск</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FormalizedType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак формализации. Допустимые значения (битовая маска): 0 - неформализован; 1 - формализован; 2 - формализован частично</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала действия версии ПР (Дата в формате YYYY-MM-DD. По стандарту  формат ISO 8601.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRNote" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание к области риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionMeasure" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание к мерам (произвольный текст)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MinimizeMeasuresInfo" type="arr:MinimizeMeasureInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Набор информации о каждой мере по минимизации рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="clt_ru:Count8Type">
      <xs:annotation>
        <xs:documentation>Уникальный идентификатор, который присваивается профилю риска в ПЗ "СВР ТР"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MinimizeMeasureInfoType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий меру по минимизации риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MinimizeMeasureCode" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код меры по минимизации рисков (значение указывается в соответствии с классификатором "Мер по минимизации рисков" rsk_mera.dbf)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MinimizeMeasureMainCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код главной меры по минимизации рисков (значение указывается в соответствии с классификатором "Мер по минимизации рисков" rsk_mera.dbf)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MinimizeMeasureNecessity" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак обязательности применения меры по минимизации риска. Возможные значения: 0 - применять меру не обязательно. 1 - мера должна быть применена обязательно.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MinimizeMeasureUse" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак применения мер по минимизации рисков (уровень системы):
« » - поле не заполняется;
«0» - мера не применяется согласно результатам случайной выборки;
«1» – мера должна быть применена согласно профилю риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureDescription" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание к мере по минимизации рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurePrescription" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Особенности применения меры по минимизации рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Вопросы, поставленные эксперту</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureAttribute" type="arr:MeasureAttributeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристики досмотра/осмотра</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasureAttributeType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий характеристики досмотра</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeasureAttributeCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код характеристики досмотра/осмотра. Для досмотра указывается в соответствии со значениями классификатора "Характеристик таможенного досмотра товаров" - rskxdosm.dbf.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureAttributeValue" type="clt_ru:CodeVariable6Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Значение характеристики досмотра/осмотра. Для досмотра указывается в соответствии со значениями классификатора "Допустимых значений характеристик таможенного досмотра товаров" - rskzdosm.dbf.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureAttributeNecessary" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Признак, определяющий возможность выбора значения характеристики таможенного досмотра. 0 - возможно выбирать значения характеристик таможенного досмотра, 1 - возможность выбора отсутствует (досмотр применяется в соответствии со значениями характеристик, установленных профилем риска)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>