XSD_Schs/V5.21.0/ChangeDeclNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:ChDecl="urn:customs.ru:SCVV:ChangeDeclNotif:5.21.0" targetNamespace="urn:customs.ru:SCVV:ChangeDeclNotif:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление об изменении ДТ</xs:documentation>
  </xs:annotation>
  <xs:element name="ChangeDeclNotif" type="ChDecl:ChangeDeclNotifType" />
  <xs:complexType name="ChangeDeclNotifType">
    <xs:annotation>
      <xs:documentation>Уведомление об изменении ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ChangeDeclType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Характер внесенных изменений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NewDTID" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исправленный регистрационный номер ДТ.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1020103E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>