XSD_Schs/V5.21.0/CommonRDNoTarif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Решение Коллегии Евразийской экономической комиссии от 16 мая 2012 г. №45  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:crdnt="urn:customs.ru:Information:SQDocuments:CommonRDNoTarif:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:CommonRDNoTarif:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Единая форма заключения (разрешительного документа) на ввоз, вывоз и транзит отдельных товаров, включенных в единый перечень товаров, к которым применяются меры нетарифного регулирования в торговле с третьими странами</xs:documentation>
	</xs:annotation>
	<xs:element name="CommonRDNoTarif" type="crdnt:CommonRDNoTarifType">
		<xs:annotation>
			<xs:documentation>Единая форма заключения (разрешительного документа) на ввоз, вывоз и транзит отдельных товаров, включенных в единый перечень товаров, к которым применяются меры нетарифного регулирования в торговле с третьими странами</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CommonRDNoTarifType">
		<xs:annotation>
			<xs:documentation>Единая форма заключения (разрешительного документа) на ввоз, вывоз и транзит отдельных товаров, включенных в единый перечень товаров, к которым применяются меры нетарифного регулирования в торговле с третьими странами</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Аннулированный документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор документа по БД РД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocType" type="clt_ru:CodeVariable2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид документа: 1 - Заключение (разрешительный документ), на основании которого осуществляется перемещение озоноразрушающих веществ и содержащей их продукции по таможенной территории Евразийского экономического союза; 2 - разрешительный документ, на основании которого осуществляется перемещение и внутренний транзит служебного и гражданского оружия по таможенной территории Евразийского экономического союза; 3 - Заключение (разрешительный документ) на вывоз минерального сырья; 4 - Заключение (разрешительный документ) на вывоз диких живых животных, отдельных дикорастущих растений и дикорастущего лекарственного сырья; 5 - Разрешение на вывоз за пределы территории Российской Федерации на территории государств - членов Евразийского Экономического союза отдельных видов
промышленной продукции по перечню согласно приложению № 4 к ПП РФ от 09.03.2022 г. № 312</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Permission" type="crdnt:PermissionType">
						<xs:annotation>
							<xs:documentation>Номер заключения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrderId" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrderDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата подачи заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermitOrganizationID" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код уполномоченного органа, предоставляющий услугу</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermitOrganizationName" type="clt_ru:FreeText500Type">
						<xs:annotation>
							<xs:documentation>Наименование органа государственной власти государства-члена ЕАЭС, выдавшего заключение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="RUScat_ru:SubjectDetailsType">
						<xs:annotation>
							<xs:documentation>Заявитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveDirection" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид перемещения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="crdnt:GoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Получатель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepartureCountry" type="RUScat_ru:CountryDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Cтрана отправления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationCountry" type="RUScat_ru:CountryDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна назначения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoalAction" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель ввоза (вывоза)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherGoalAction" type="RUSclt_ru:FreeText1000Type" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Иная цель вывоза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitialPeriod" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок временного ввоза (вывоза)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseDocument" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Основания</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Documents" type="RUSclt_ru:FreeText1000Type" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Наименование файлов вложения через запятую</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInfo" type="sq_clt:FreeText4000Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransitCountry" type="RUScat_ru:CountryDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна транзита</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExportDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата разрешения на вывоз продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermitDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата выдачи разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия заключения/ разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Signer" type="crdnt:SignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Должностное лицо, подписавшее документ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009210E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PermissionType">
		<xs:annotation>
			<xs:documentation>Номер заключения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateYear" type="clt_ru:DateYearCustType">
				<xs:annotation>
					<xs:documentation>Год выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable14Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Описание товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionList" type="clt_ru:CodeVariable10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Раздел Единого перечня товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureType">
		<xs:annotation>
			<xs:documentation>Подпись должностного лица</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonSignatureType">
				<xs:sequence>
					<xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
