XSD_Schs/V5.21.0/ContentOfReferenceData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_ReferenceDataDetails_v0.3.8.xsd альбома ЕЭК (R.003: Справочные данные (Справочные данные. Детали))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:cord="urn:customs.ru:Information:SQDocuments:ContentOfReferenceData:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ContentOfReferenceData:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Справочные данные</xs:documentation>
  </xs:annotation>
  <xs:element name="ContentOfReferenceData" type="cord:ContentOfReferenceDataType">
    <xs:annotation>
      <xs:documentation>Справочные данные</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ContentOfReferenceDataType">
    <xs:annotation>
      <xs:documentation>Справочные данные</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReferenceDataId" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
              <xs:documentation>Идентификатор из реестра нормативно-справочной информации Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UpdateDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время актуализации справочных данных</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReferenceDataSectionDetails" type="cord:ReferenceDataSectionDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Совокупность сведений о разделе справочника или классификатора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReferenceDataItemDetails" type="cord:ReferenceDataItemDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Совокупность сведений о записи справочных данных</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009130E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EAEUDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об акте органа Союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EAEUDocKindCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocId" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровое или буквенно-цифровое обозначение, присвоенное акту органа Союза при принятии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocCreationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата принятия акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocEffectiveDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вступления в силу акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocValidityDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата истечения срока действия акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocIssuerId" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор органа Союза, принявшего акт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocIssuerName" type="RUSclt_ru:Name300Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование органа Союза, принявшего акт</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAEUStatusDetailsType">
    <xs:annotation>
      <xs:documentation>Статус записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EventDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата установки статуса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение статуса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NoteText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание к статусу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocDetails" type="cord:EAEUDocDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об акте органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceDataItemDetailsType">
    <xs:annotation>
      <xs:documentation>Детализированная информация о записи справочника или классификатора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceDataKindCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодированное обозначение вида справочных данных</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceDataItemCode" type="clt_ru:Text50Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceDataItemName" type="RUSclt_ru:Name300Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование, содержащееся в записи справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceDataItemText" type="RUSclt_ru:FreeText4000Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Текстовое описание, содержащееся в записи справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParentReferenceDataItemCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение родительской записи в справочнике или классификаторе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParentReferenceDataSectionCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение родительского раздела справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUStatusDetails" type="cord:EAEUStatusDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Статус записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны, в которой используется запись справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceDataSectionDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность сведений о разделе справочника или классификатора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceDataSectionCode" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение раздела справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceDataSectionName" type="RUSclt_ru:Name300Type">
        <xs:annotation>
          <xs:documentation>Наименование раздела справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParentReferenceDataSectionCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение родительского раздела справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUStatusDetails" type="cord:EAEUStatusDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение родительского раздела справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны, в которой используется раздел справочника или классификатора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>