XSD_Schs/V5.21.0/ContentOfReferenceDataStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_ReferenceDataStatusDetails_v0.2.8.xsd альбома ЕЭК (R.008: Состояние актуализации справочных данных (Состояние актуализации справочных данных. Детали))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:cords="urn:customs.ru:Information:SQDocuments:ContentOfReferenceDataStatus:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ContentOfReferenceDataStatus:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Состояние актуализации справочных данных</xs:documentation>
  </xs:annotation>
  <xs:element name="ContentOfReferenceDataStatus" type="cords:ContentOfReferenceDataStatusType">
    <xs:annotation>
      <xs:documentation>Состояние актуализации справочных данных</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ContentOfReferenceDataStatusType">
    <xs:annotation>
      <xs:documentation>Состояние актуализации справочных данных</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReferenceDataId" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
              <xs:documentation>Идентификатор из реестра нормативно-справочной информации Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EAEUDocDetails" type="cords:EAEUDocDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об акте органа Союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UpdateDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время актуализации справочных данных</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009131E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EAEUDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об акте органа Союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EAEUDocKindCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocId" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровое или буквенно-цифровое обозначение, присвоенное акту органа Союза при принятии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocCreationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата принятия акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocEffectiveDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вступления в силу акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocValidityDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата истечения срока действия акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание акта органа Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocIssuerId" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор органа Союза, принявшего акт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EAEUDocIssuerName" type="RUSclt_ru:Name300Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование органа Союза, принявшего акт</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>