XSD_Schs/V5.21.0/CultConfirm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:cuco="urn:customs.ru:Information:SQDocuments:CultConfirm:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:CultConfirm:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Подтверждение об отнесении ввозимых и временно ввозимых в Российскую Федерацию товаров (предметов) к культурным ценностям</xs:documentation>
  </xs:annotation>
  <xs:element name="CultConfirm" type="cuco:CultConfirmType" />
  <xs:complexType name="CultConfirmType">
    <xs:annotation>
      <xs:documentation>Подтверждение об отнесении ввозимых и временно ввозимых в Российскую Федерацию товаров (предметов) к культурным ценностям.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RelocationSign" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип сведений; Значения: 0-при ввозе на территорию Российской Федерации не предусматривающий обратного вывоза, 1- при временном ввозе на территорию Российской Федерации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прекращения действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateIssued" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastUpdate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата последнего обновления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssuedByOrg" type="sq_clt:FreeText4000Type">
            <xs:annotation>
              <xs:documentation>Сведения об органе Минкультуры, выдавшего подтверждение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssuedByPerson" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченное должностное лицо, подписавшее заключение (ФИО, должность)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Country" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна вывоза товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Target" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цель ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocOwner" type="cuco:DocOwnerType">
            <xs:annotation>
              <xs:documentation>Сведения о держателе подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о грузополучателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контракт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Items" type="cuco:ArrayOfItemType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения по культурным ценностям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AgreementSection" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Пункт (подпункт) приложения к Соглашению и (или) Протоколу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HasImage" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наличие изображения культурных ценностей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgUnitCode" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Мнемоника отправителя запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Owner" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Владелец культурной ценности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOffice" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный пункт</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009076E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ArrayOfItemType">
    <xs:annotation>
      <xs:documentation>Список сведений по культурным ценностям</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Category" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Категория</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Lefttover" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Остаток по квоте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocOwnerType">
    <xs:annotation>
      <xs:documentation>Держатель подтверждения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocOwnerName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование/ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocOwnerAddress" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocOwnerAddressUI" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Юридический адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>