XSD_Schs/V5.21.0/CultTargetPurpose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:tns="urn:customs.ru:Information:SertifDocuments:CultTargetPurpose:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SertifDocuments:CultTargetPurpose:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Подтверждение Минкультуры РФ о целевом назначении ввозимых товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="CultTargetPurpose" type="tns:CultTargetPurposeType" />
  <xs:complexType name="CultTargetPurposeType">
    <xs:annotation>
      <xs:documentation>Подтверждение целевого назначения материалов, ввозимых в рамках Соглашения о ввозе материалов образовательного, научного и культурного характера от 22 ноября 1950 г.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RelocationSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип сведений; Значения: 0-ввоз, 1-вывоз</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Conclusion" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Заключение (разрешительный документ, письмо-подтверждение)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssuedByOrg" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование органа МК РФ, выдавшего разрешительный документ</xs:documentation>
            </xs:annotation>
            <!-- Не более 500 символов -->
          </xs:element>
          <xs:element name="IssuedByPerson" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченное должностное лицо, подписавшее заключение (ФИО, должность)</xs:documentation>
            </xs:annotation>
            <!-- Не более 500 символов -->
          </xs:element>
          <xs:element name="IsTemporary" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Режим ввоза/вывоза (true -временный, false-постоянный )</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="From" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время начала</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="To" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время окончания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Items" type="tns:ArrayOfItemType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения по культурным ценностям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExportDatas" type="tns:ExportDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения по вывозу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportDatas" type="tns:ImportDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения по ввозу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Country" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна</xs:documentation>
            </xs:annotation>
            <!-- Не более 500 символов -->
          </xs:element>
          <xs:element name="HasImage" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наличие изображения культурных ценностей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastUpdate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата последнего обновления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="orgUnitCode" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Мнемоника отправителя запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009073E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ArrayOfItemType">
    <xs:annotation>
      <xs:documentation>Список сведений по культурным ценностям</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item" type="tns:ItemType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Данные культурной ценности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation> Данные культурной ценности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Category" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Категория</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество товара в основной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Lefttover" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Остаток по квоте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportDataType">
    <xs:annotation>
      <xs:documentation>Сведения по ввозу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocOwnerName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Держатель подтверждения (наименование/ФИО)</xs:documentation>
        </xs:annotation>
        <!-- Не более 500 символов -->
      </xs:element>
      <xs:element name="DocOwnerAddress" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Юр.адрес держателя подтверждения </xs:documentation>
        </xs:annotation>
        <!-- Не более 500 символов -->
      </xs:element>
      <xs:element name="DocOwnerInn" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН держателя подтверждения </xs:documentation>
        </xs:annotation>
        <!-- 10 символов -->
      </xs:element>
      <xs:element name="ReceiverName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Получатель культурных ценностей (наименование/ФИО)</xs:documentation>
        </xs:annotation>
        <!-- Не более 500 символов -->
      </xs:element>
      <xs:element name="ReceiverAddress" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Юр.адрес получателя культурных ценностей </xs:documentation>
        </xs:annotation>
        <!-- Не более 500 символов -->
      </xs:element>
      <xs:element name="ReceiverInn" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН получателя культурных ценностей </xs:documentation>
        </xs:annotation>
        <!-- 10 символов -->
      </xs:element>
      <xs:element name="Contract" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Контракт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementSection" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пункт (подпункт) приложения к Соглашению и(или) Протоколу</xs:documentation>
        </xs:annotation>
        <!--  Не более 50 символов -->
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportDataType">
    <xs:annotation>
      <xs:documentation>Сведения по вывозу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocOwnerName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Получатель заключения (наименование/ФИО)</xs:documentation>
        </xs:annotation>
        <!-- Не более 500 символов -->
      </xs:element>
      <xs:element name="DocOwnerAddress" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Юридический адрес Получателя заключения </xs:documentation>
        </xs:annotation>
        <!-- Не более 500 символов -->
      </xs:element>
      <xs:element name="Purpose" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Цель вывоза</xs:documentation>
        </xs:annotation>
        <!-- Не более 100 символов -->
      </xs:element>
      <xs:element name="Reason" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Основание вывоза (номер и дата выдачи распоряжения)</xs:documentation>
        </xs:annotation>
        <!-- Не более 50 символов -->
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>