XSD_Schs/V5.21.0/CWQueryResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:catWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.21.0" xmlns:cwqres="urn:customs.ru:Information:WarehouseDocuments:CWQueryResult:5.21.0" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:CWQueryResult:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.21.0" schemaLocation="WarehouseCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Результат выполнения запроса</xs:documentation>
  </xs:annotation>
  <xs:element name="CWQueryResult" type="cwqres:CWQueryResultType" />
  <xs:complexType name="CWQueryResultType">
    <xs:annotation>
      <xs:documentation>Результат выполнения запроса</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catWH_ru:CWDocType">
        <xs:sequence>
          <xs:element name="ResultBody" type="cwqres:ResultBodyType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Результат</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1008005E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ResultBodyType">
    <xs:annotation>
      <xs:documentation>Информация о передаваемых документах одного типа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any processContents="skip">
        <xs:annotation>
          <xs:documentation>Прикладной документ</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>
</xs:schema>