XSD_Schs/V5.21.0/DecisionApproveExpertOrganization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 05.02.2021 № 100 «Об утверждении порядка назначения таможенной экспертизы в иную экспертную организацию (иному эксперту)» -->
<xs:schema xmlns:daeo="urn:customs.ru:Information:CustomsDocuments:DecisionApproveExpertOrganization:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionApproveExpertOrganization:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение о согласовании/об отказе в согласовании назначения таможенной экспертизы в экспертную организацию (эксперту)</xs:documentation>
	</xs:annotation>
	<xs:element name="DecisionApproveExpertOrganization" type="daeo:DecisionApproveExpertOrganizationType">
		<xs:annotation>
			<xs:documentation>Решение о согласовании/об отказе в согласовании назначения таможенной экспертизы в экспертную организацию (эксперту)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DecisionApproveExpertOrganizationType">
		<xs:annotation>
			<xs:documentation>Решение о согласовании/об отказе в согласовании назначения таможенной экспертизы в экспертную организацию (эксперту)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocNumber" type="cat_ru:GTDID6Type">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsDetails" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Наименование подразделения, сформировавшего документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApprovalSign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Решение о согласовании/об отказе в согласовании назначения таможенной экспертизы в экспертную организацию (эксперту): 0 - отказ в согласовании, 1 - согласовано</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotApprovalReason" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Причина отказа в согласовании назначения таможенной экспертизы в экспертную организацию (эксперту)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInformation" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonDetails" type="cat_ru:PersonBaseType">
						<xs:annotation>
							<xs:documentation>Сведения о должностном лице</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1051038E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
