XSD_Schs/V5.21.0/DetailQuotaDataRD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:dqdrd="urn:customs.ru:Information:CustomsDocuments:DetailQuotaDataRD:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DetailQuotaDataRD:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сведения по квотируемому документу</xs:documentation>
	</xs:annotation>
	<xs:element name="DetailQuotaDataRD" type="dqdrd:DetailQuotaDataRDType">
		<xs:annotation>
			<xs:documentation>Сведения по квотируемому документу</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DetailQuotaDataRDType">
		<xs:annotation>
			<xs:documentation>Сведения по квотируемому документу</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="BDRDID" type="clt_ru:DocumentIDType">
						<xs:annotation>
							<xs:documentation>Уникальный номер по БД РД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentNumber" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата выдачи документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConNumber" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер контракта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConDateSignature" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата подписания контракта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LicenseKind" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QuotaCategoryCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код категории квоты</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LicenseTerm" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Movement" type="clt_ru:Text10Type">
						<xs:annotation>
							<xs:documentation>Направление перемещения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LicenseStatus" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Статус лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LicenseStatusDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата установки статуса лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatePlacement" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата помещения в БД РД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LicenseStatusCode" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Код статус лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsOriginalLicense" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенного органа (оригинала лицензии)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsCopyLicense" type="cat_ru:CustomsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Таможенного органа (копии лицензии)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaperCarrier" type="dqdrd:PaperCarrierType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о бумажных носителях</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OwnersLicense" type="dqdrd:OwnersLicenseType">
						<xs:annotation>
							<xs:documentation>Сведения о владельце лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationInfo" type="dqdrd:OrganizationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения о продавце (покупателе)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="dqdrd:GoodsInfoType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товаре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AgencyIssuedDoc" type="cat_ru:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о ведомстве, выдавшем документ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006118E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsCategoryCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код категории товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVED" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание (наименование) товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommercialName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Торговое наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternationalName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Международное наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProducerName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование изготовителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны происхождения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantitativeCharact" type="dqdrd:QuantitativeCharactType">
				<xs:annotation>
					<xs:documentation>Количественные характеристики</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о продавце (покупателе)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnersLicenseType">
		<xs:annotation>
			<xs:documentation>Сведения о владельце лицензии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное официальное наименование </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный  номер.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП - Код причины постановки на учет.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код организации по ОКПО.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИТН </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalAddress" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Юридический адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaperCarrierType">
		<xs:annotation>
			<xs:documentation>Сведения о бумажных носителях</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FormNumber" type="clt_ru:Count8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер бланка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FormSeries" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия бланка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FormPrintDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата печати банка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuantitativeCharactType">
		<xs:annotation>
			<xs:documentation>Количественные характеристики</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:SupplementaryQuantityType">
				<xs:sequence>
					<xs:element name="RestQuota" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Остаток по квоте</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Packing" type="clt_ru:CodeVariable5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фасовка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QuantityPacking" type="clt_ru:Count10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество упаковок</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegForm" type="dqdrd:FreeText255" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Форма выпуска, дозировка лекарственных средств</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatisticalCost" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Статистическая стоимость </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Invoice" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фактурная стоимость</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код валюты </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные простые прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="FreeText255">
		<xs:annotation>
			<xs:documentation>Текстовая строка. До 255 символов. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
