XSD_Schs/V5.21.0/DocConformityAndRegAdrRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:dcarareq="urn:customs.ru:Information:SQDocuments:DocConformityAndRegAdrRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:DocConformityAndRegAdrRequest:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на  соответствие документа и адреса регистрации</xs:documentation>
  </xs:annotation>
  <xs:element name="DocConformityAndRegAdrRequest" type="dcarareq:DocConformityAndRegAdrRequestType">
    <xs:annotation>
      <xs:documentation>Запрос на  соответствие документа и адреса регистрации</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DocConformityAndRegAdrRequestType">
    <xs:annotation>
      <xs:documentation>Запрос на  соответствие документа и адреса регистрации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Conformity" type="dcarareq:ConformityType">
            <xs:annotation>
              <xs:documentation>Сведения для проведения процедуры соответствия документа и адреса регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestPerson" type="dcarareq:PersonType">
            <xs:annotation>
              <xs:documentation>Лицо, запрашивающее сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009338E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConformityType">
    <xs:annotation>
      <xs:documentation>Сведения для проведения процедуры соответствия документа и адреса регистрации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocSeries" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Серия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocIssuedate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegType" type="dcarareq:RegistrationRequestType">
        <xs:annotation>
          <xs:documentation>Тип регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AOGUID" type="dcarareq:AOGUIDType">
        <xs:annotation>
          <xs:documentation>GUID записи родительского объекта (улицы), ФИАС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseNum" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер дома</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BuildNum" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер корпуса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrucNum" type="clt_ru:CodeVariable14Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер строения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Est" type="dcarareq:EstType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип владения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Str" type="dcarareq:StrType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип строения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Housing" type="dcarareq:HousingType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип элемента (блок, квартира, комната и т.д.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HousingNum" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер элемента</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Пользователь запрашивающей организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="RegistrationRequestType">
    <xs:annotation>
      <xs:documentation>Словарь "Тип регистрации: Запрос"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Code2Type">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:documentation>Регистрация по месту жительства</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:documentation>Регистрация по месту пребывания</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation>Всё</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EstType">
    <xs:annotation>
      <xs:documentation>Словарь "Тип владения"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Numeric1Type">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Владение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Дом</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Домовладение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Участок</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StrType">
    <xs:annotation>
      <xs:documentation>Словарь "Тип строения"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Numeric1Type">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Строение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Сооружение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Литер</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HousingType">
    <xs:annotation>
      <xs:documentation>Словарь "Housing"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:CodeVariable2Type">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Блок квартирный</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Блок-секция</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Бокс</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Воинская часть</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Квартира</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Комната</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:documentation>Общежитие</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="8">
        <xs:annotation>
          <xs:documentation>Офис</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:documentation>Помещение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Секция</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:documentation>Этаж</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AOGUIDType">
    <xs:annotation>
      <xs:documentation>GUID записи родительского объекта (улицы), ФИАС. 36 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:length value="36" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>