XSD_Schs/V5.21.0/E_CommerceMPOCustomMarkIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Отметки таможенного органа декларации на товары для экспресс-грузов/ пассажирской таможенной декларации для экспресс-грузов-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:ecmi="urn:customs.ru:Information:CustomsDocuments:E_CommerceMPOCustomMarkIn:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:E_CommerceMPOCustomMarkIn:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Внутренние отметки таможенного органа декларации товаров трансграничной (внешней) электронной торговли</xs:documentation>
  </xs:annotation>
  <xs:element name="E_CommerceMPOCustomMarkIn" type="ecmi:E_CommerceMPOCustomMarkInType">
    <xs:annotation>
      <xs:documentation>Внутренние отметки таможенного органа декларации товаров трансграничной (внешней) электронной торговли</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="E_CommerceMPOCustomMarkInType">
    <xs:annotation>
      <xs:documentation>Внутренние отметки таможенного органа декларации товаров трансграничной (внешней) электронной торговли</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EComMPORegistration" type="ecmi:EComMPORegistrationType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер декларации товаров трансграничной (внешней) электронной торговли </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Resolution" type="ecmi:ResolutionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Текущее принятое решение по МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HistoryResolution" type="ecmi:ResolutionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>История принятых решений по МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsMark" type="ecmi:CustomsMarkType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006299E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EComMPORegistrationType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер декларации товаров трансграничной (внешней) электронной торговли </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер по сквозной нумерации </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GRNumber" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Обозначение графы (подраздела графы) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StageMarkIdentifier" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Идентификатор проставленной технологической отметки - 1 (номер этапа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NoteMarkIdentifier" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Идентификатор проставленной технологической отметки  -  2 (тип примечания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InformationTypeCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа информации </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StageDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Служебная запись </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeadlineReason" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код основания продления срока выпуска товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentTypeCode" type="clt_ru:CustomsPaymentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида платежа (пени, штрафы, в случае полной уплаты таможенных пошлин, налогов при помещении товаров под таможенный режим временного ввоза)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerminateObligations" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код случая, когда обязанность по уплате таможенных пошлин, налогов прекращается </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Deadline" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoControlRes" type="ecmi:AutoControlResType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результаты автоматического контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа, заверившее запись</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время проставления отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionType">
    <xs:annotation>
      <xs:documentation>Сведения о принятых решениях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Принятое решение: 10 – выпуск товаров (окончательное решение); 60 – приостановление срока выпуска; 61 – продление срока приостановления выпуска; 62 – отмена приостановления срока выпуска; 70 – продление срока выпуска; 90 – отказ в выпуске товаров (с указанием кода причины отказа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код причины отказа в выпуске</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание причины отказа в выпуске</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа, заверившее запись</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoControlResType">
    <xs:annotation>
      <xs:documentation>Результаты автоматического контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AutoDecision" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак автоматического принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoControlGoods" type="ecmi:AutoControlGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Результаты автоматического контроля начисления платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoControlGoodsType">
    <xs:annotation>
      <xs:documentation>Результаты автоматического контроля товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по документу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckGoodsResultCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код результата: 00 - успех;
02 - расчет невозможен -отсутствуют сведения о количестве в единицах измерения, являющихся основой начисления платежей; 
04 - расчет невозможен - не указана страна происхождения для товаров, подлежащих обложению специальными, антидемпинговыми, компенсационными пошлинами; 08 - параметры для расчета не подлежат автоматическму контролю; 09 - расчет невозможен - иные ошибки;  99 - сформирован отличающийся расчет (если производится проверка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoControlPay" type="ecmi:AutoControlPayType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Результаты автоматического контроля платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoControlPayType">
    <xs:annotation>
      <xs:documentation>Результаты автоматического контроля платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DifferentCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код отличий расчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>