XSD_Schs/V5.21.0/ExpertiseResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:exr="urn:customs.ru:Information:CustomsDocuments:ExpertiseResult:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ExpertiseResult:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения по результатам проведенной таможенной экспертизы</xs:documentation>
  </xs:annotation>
  <xs:element name="ExpertiseResult" type="exr:ExpertiseResultType">
    <xs:annotation>
      <xs:documentation>Сведения по результатам проведенной таможенной экспертизы</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExpertiseResultType">
    <xs:annotation>
      <xs:documentation>Сведения по результатам проведенной таможенной экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="InitiatorDecision" type="exr:InitiatorDecisionType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, назначивший таможенную экспертизу, судебную экспертизу, исследование, экспертизу по делу об АП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CEKTUDivision" type="exr:InitiatorDecisionType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, проводившей  экспертизу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SolutionInfo" type="exr:SolutionInfoType">
            <xs:annotation>
              <xs:documentation>Информация по принятому решению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorInfo" type="RUScat_ru:CustomsPersonDetails">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateDoc" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SoftKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Программное средство, сформировавшее документ: 1 - АИС АИСТ-М, 2 - АС КТТ-2, 3 - АС ПП, 4 - КПС "Правоохрана", 5 - КПС "Постконтроль", 9 - иное</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1051002E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdministrativeType">
    <xs:annotation>
      <xs:documentation>Административное правонарушение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdmCaseNumber" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Номер дела об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdmCaseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата дела об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Act" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Судебный акт, которым лицо привлечено к административной ответственности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CriminalType">
    <xs:annotation>
      <xs:documentation>Уголовное дело</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CriminalCaseNumber" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Номер уголовного дела</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CriminalCaseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата уголовного дела</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Act" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Судебный акт, которым лицо привлечено к уголовной ответственности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionType">
    <xs:annotation>
      <xs:documentation>Решение принятое по результатам таможенной экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RatedTNVED" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Присвоенный код товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefusalTariffPreferences" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отказ в предоставлении тарифных преференций.  Если значение "true" - да, "false" - нет.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompletionCustomsProcedure" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Завершить таможенную процедуру. Если значение "true" - да, "false" - нет.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefusalGoodsRelease" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отказ в выпуске товаров. Если значение "true" - да, "false" - нет.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CriminalCaseAP" type="exr:DeloType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возбуждено дело об АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CriminalCase" type="exr:DeloType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возбуждено УД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Solution" type="exr:DeloType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иное решение (указать)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeloType">
    <xs:annotation>
      <xs:documentation>Данные о возбужденном деле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeloNumber" type="clt_ru:FreeText250Type" maxOccurs="41">
        <xs:annotation>
          <xs:documentation>Номер дела или Иное решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DTRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TDRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRelNum" type="exr:DocNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegNum" type="exr:MPORegNumType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRIdDetails" type="catESAD_cu:TIRIdDetailsType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTMDocDetails" type="catESAD_cu:DTMDocDetailsType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер пассажирской декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportPP" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер уведомления о прибытии / убытии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FizPerson" type="exr:FizPersonType">
        <xs:annotation>
          <xs:documentation>Сведения о физическом лице</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpressNumber" type="exr:ExpressNumberType">
        <xs:annotation>
          <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherDoc" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Сведения об ином документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ExpertisePostControlType">
    <xs:annotation>
      <xs:documentation>Данные по правохранительной деятельности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExpertiseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата таможенной экспертизы </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertiseNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер таможенной экспертизы </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="Administrative" type="exr:AdministrativeType">
          <xs:annotation>
            <xs:documentation>Административное правонарушение</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Criminal" type="exr:CriminalType">
          <xs:annotation>
            <xs:documentation>Уголовное дело</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="ExpertiseTypeCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код вида экспертизы: 1- товароведческая, 2 - идентификационная, 3 - почерковедческая, 4 - трассологическая, 9 - иная</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertiseType" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Наименование вида экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Object" type="exr:ObjectType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Объекты экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceivedEconomicEffect" type="exr:PostControlReceivedEconomicEffectType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полученный экономический эффект</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpertiseSTOType">
    <xs:annotation>
      <xs:documentation>Данные по результатам таможенного контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExpertiseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата таможенной экспертизы </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertiseNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер таможенной экспертизы </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNum" type="exr:DocIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ-основание для
проведения таможенной экспертизы </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustDocNum" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иной таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultDocNum" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Решение о необходимости внесения изменений в ДТ на основании заключения таможенного эксперта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskOperCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенной операции при выявлении риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="exr:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара (объекта) в отношении которого принято решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Decision" type="exr:DecisionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Принятое решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpressNumberType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер индивидуальной накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HouseWaybill" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Индивидуальная накладная</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FizPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonIdCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты документа, удостоверяющего личность </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара в исходном документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ListNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfile" type="exr:RiskProfileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceivedEconomicEffect" type="exr:ReceivedEconomicEffectType" minOccurs="0" maxOccurs="6">
        <xs:annotation>
          <xs:documentation>Экономический эффект (доначисления)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InitiatorDecisionType">
    <xs:annotation>
      <xs:documentation>Сведения об инициаторе таможенной экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа инициатора предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObjectType">
    <xs:annotation>
      <xs:documentation>Объекты экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер объекта по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectDesc" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единица измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Result" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание результата экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostControlReceivedEconomicEffectType">
    <xs:annotation>
      <xs:documentation>Полученный экономический эффект</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Fines" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Штраф</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfiscatedGoods" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Конфискация товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherAmount" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные суммы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные результаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReceivedEconomicEffectType">
    <xs:annotation>
      <xs:documentation>Экономический эффект (доначисления)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Amount" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип доначисления: 2 – таможенные пошлины; 4 – акцизы;  5 – налог на добавленную стоимость; 6 – штрафы; 7 – пени; 9 – иные.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResearchType">
    <xs:annotation>
      <xs:documentation>Исследование</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExpertiseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertiseNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestResearch" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Запрос на проведение исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Объекты исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Delo" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Признак дела: 0 - дело не заводилось, 1 - возбуждено дело об АП, 2 - возбуждено УД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceivedEconomicEffect" type="exr:ReceivedEconomicEffectType" minOccurs="0" maxOccurs="6">
        <xs:annotation>
          <xs:documentation>Экономический эффект (доначисления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные результаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskActionType">
    <xs:annotation>
      <xs:documentation>Принятые меры по выявленным рискам</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionCode" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код мер по минимизации рисков </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActionResultCode" type="clt_ru:Code2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код результата применения меры по минимизации риска </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskProfileType">
    <xs:annotation>
      <xs:documentation>Профиль риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProfileType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Тип выявленного профиля риска: 0 - автоматически выявленный риск, проставляется программным средством в автоматическом режиме; 1 - самостоятельно выявленный риск, проставляется программным средством в автоматическом режиме при внесении должностным лицом таможенного поста новой записи (в том числе, при применении "рамочных" ПР  и ПР по информации правоохранительных подразделений); 2 – риск, выявленный в автоматизированном режиме, требует принятия окончательного решения должностным лицом таможенного поста (значение является промежуточным, наличие значения "2" в отчете блокирует переход к следующему этапу проверки на риски либо выпуск ДТ); 3 – риск, выявленный в автоматизированном режиме, по которому должностным лицом таможенного поста на основании проверки неформализованных индикаторов риска принято решение - "Риск выявлен"; 4 - риск, выявленный в автоматизированном режиме, по которому должностным лицом таможенного поста на основании проверки неформализованных индикаторов риска принято решение - "Риск не выявлен"; 5 - резерв; 6 - профиль риска не применяется по причине упрощенного контроля таможенной стоимости идентичных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerrActionCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска. Возможные значения: 11 - общероссийский профиль риска, 12 - региональный профиль риска, 13 - зональный профиль риска, 20 - целевой профиль риска, 21 - целевой правоохранительный профиль риска, 32 - профиль риска на основе моделей, 55 - профиль риска, обязательный к применению, 77 - профиль риска для идентификации категории уровня риска, 88 - зависимый профиль риска   Для ориентировки возможные значения: 
70 - информационная
71 - блокирующая</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DivisionCode" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, разработавшего ПР/ЦПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileRegDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskAction" type="exr:RiskActionType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Принятые меры по выявленным рискам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SolutionInfoType">
    <xs:annotation>
      <xs:documentation>Информация о принятом решении</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ExpertiseSTO" type="exr:ExpertiseSTOType">
        <xs:annotation>
          <xs:documentation>Данные по результатам таможенного контроля </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertisePostControl" type="exr:ExpertisePostControlType">
        <xs:annotation>
          <xs:documentation>Данные по результатам контроля правонарушений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Research" type="exr:ResearchType">
        <xs:annotation>
          <xs:documentation>Данные по результатам исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>