XSD_Schs/V5.21.0/FnsInnFromFioRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:ifbreq="urn:customs.ru:Information:SQDocuments:FnsInnFromFioRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FnsInnFromFioRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос ИНН физического лица на основании данных о ФИО и дате рождения</xs:documentation>
  </xs:annotation>
  <xs:element name="FnsInnFromFioRequest" type="ifbreq:FnsInnFromFioRequestType" />
  <xs:complexType name="FnsInnFromFioRequestType">
    <xs:annotation>
      <xs:documentation>Запрос ИНН физического лица на основании данных о ФИО и дате рождения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BirthDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата рождения физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonFio" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009083E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>