XSD_Schs/V5.21.0/FnsRRMSPResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:rrmsp="urn:customs.ru:Information:SQDocuments:FnsRRMSPResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FnsRRMSPResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление сведений из реестра малого и среднего предпринимательства (Ответ)</xs:documentation>
  </xs:annotation>
  <xs:element name="FnsRRMSPResponse" type="rrmsp:FnsRRMSPResponseType" />
  <xs:complexType name="FnsRRMSPResponseType">
    <xs:annotation>
      <xs:documentation>Предоставление сведений из реестра малого и среднего предпринимательства (Ответ)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ReestrDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>По состоянию реестра на дату</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReestrInclusionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата включения ЮЛ/ИП в реестр МСП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MSPSubjectType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид субъекта МСП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MSPSubjectCategory" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Категория субъекта МСП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NewCreated" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признак сведений о вновь созданном ЮЛ/вновь зарегистрированном ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Organization" type="rrmsp:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о юридическом лице/индивидуальном предпринимателе, включенном в реестр МСП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceInfo" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Сведения о месте нахождения ЮЛ/месте жительства ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKVEDMain" type="rrmsp:OKVEDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об основном виде деятельности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKVEDAdditional" type="rrmsp:OKVEDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о дополнительных видах деятельности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="License" type="rrmsp:LicenseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о лицензиях, выданных субъекту МСП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProductionInfo" type="rrmsp:ProductionInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о производимой субъектом МСП продукции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PartnershipProgram" type="rrmsp:PartnershipProgramType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о включении субъекта МСП в реестры программ партнерства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractInfo" type="rrmsp:ContractInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о наличии у субъекта МСП в предшествующем календарном году контрактов, </xs:documentation>
              <xs:documentation>заключенных в соответствии с Федеральным законом от 5 апреля 2013 года №44-ФЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AgreementInfo" type="rrmsp:AgreementInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о наличии у субъекта МСП в предшествующем календарном году договоров, </xs:documentation>
              <xs:documentation>заключенных в соответствии с Федеральным законом от 18 июля 2011 года №223-ФЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009179E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AgreementInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о наличии у субъекта МСП в предшествующем календарном году договоров, </xs:documentation>
      <xs:documentation>заключенных в соответствии с Федеральным законом от 18 июля 2011 года №223-ФЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomerName" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование заказчика по договору</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomerINN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН заказчика по договору</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementSubject" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Предмет договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReestrNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Реестровый номер договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата заключения договора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о наличии у субъекта МСП в предшествующем календарном году контрактов, </xs:documentation>
      <xs:documentation>заключенных в соответствии с Федеральным законом от 5 апреля 2013 года №44-ФЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomerName" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование заказчика по контракту</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomerINN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН заказчика по контракту</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractSubject" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Предмет договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReestrNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Реестровый номер контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата заключения контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseType">
    <xs:annotation>
      <xs:documentation>Сведения о лицензии, выданных субъекту МСП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Series" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseBeginDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseEndDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueOrg" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование лицензирующего органа, выдавшего или переоформившего лицензию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseSuspension" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата приостановления действия лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SuspensionOrg" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование лицензирующего органа, приостановившего действие лицензии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseName" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование лицензируемого вида деятельности, на который выдана лицензия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseAddress" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об адресе места осуществления лицензируемого вида деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OKVEDType">
    <xs:annotation>
      <xs:documentation>Сведения о виде деятельности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:CodeVariable8Type">
        <xs:annotation>
          <xs:documentation>Код вида деятельности по ОКВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование вида деятельности по ОКВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Version" type="clt_ru:DateYearCustType">
        <xs:annotation>
          <xs:documentation>Признак версии ОКВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartnershipProgramType">
    <xs:annotation>
      <xs:documentation>Сведения о включении субъекта МСП в реестры программ партнерства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartnerName" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование заказчика, реализующего программу партнерства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartnerINN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН заказчика, реализующего программу партнерства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер договора о присоединении к выбранной программе партнерства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата договора о присоединении к выбранной программе партнерства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductionInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о включении субъекта МСП в реестры программ партнерства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:CodeVariable18Type">
        <xs:annotation>
          <xs:documentation>Код вида продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование вида продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Innovative" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Признак отнесения продукции к инновационной, высокотехнологичной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Данные организации / физического лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectBaseDetailsType">
        <xs:sequence>
          <xs:element name="OrgKind" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Тип данных организации: 1 юридическое лицо, 2 - ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>