XSD_Schs/V5.21.0/FnsSubjectExtInfoAttach.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
VS01546v001-FNS001 (Расширенные сведения по субъектам - налогоплательщикам и участникам ВЭД), вложение VO_DATASUB_2_015_22_04_01_01.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:sei_att="urn:customs.ru:Information:SQDocuments:FnsSubjectExtInfoAttach:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FnsSubjectExtInfoAttach:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос расширенных сведений по субъектам - налогоплательщикам и участникам ВЭД (содержимое вложения)</xs:documentation>
  </xs:annotation>
  <xs:element name="FnsSubjectExtInfoAttach" type="sei_att:FnsSubjectExtInfoAttachType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос расширенных сведений по субъектам - налогоплательщикам и участникам ВЭД (содержимое вложения)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FnsSubjectExtInfoAttachType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос расширенных сведений по субъектам - налогоплательщикам и участникам ВЭД (содержимое вложения)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="File" type="sei_att:FileType">
            <xs:annotation>
              <xs:documentation>Файл обмена</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060024E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AddInfoTaxpayerType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения о налогоплательщике</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CodeKateg" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Код категории налогоплательщика (1 – резидент Калининградской области; 2 – налогоплательщик, который по состоянию на 01.04.2006 осуществлял свою деятельность на основании Федерального закона от 22.01.1996 № 13-ФЗ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateExclusion" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата исключения резидента из реестра резидентов ОЭЗ в Калининградской области (в случае отсутствия сведений принимает значение – 3000.01.01)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SPROCode" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код регистрирующего органа по СПРО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации юридического лица (индивидуального предпринимателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganCode" type="clt_ru:TaxOrganIDType">
        <xs:annotation>
          <xs:documentation>Код налогового органа, осуществляющего учет налогоплательщика по месту нахождения организации (месту жительства индивидуального предпринимателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganDateReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата постановки налогоплательщика на учет в налоговом органе по месту нахождения организации (месту жительства индивидуального предпринимателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganDateDeReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата снятия с учета налогоплательщика в налоговом органе по месту нахождения организации (месту жительства индивидуального предпринимателя) (в случае отсутствия сведений принимает значение – 3000.01.01)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateDeReg" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата снятия с учета в связи прекращением предпринимательской деятельности (реорганизацией, ликвидацией) (в случае отсутствия сведений принимает значение – 3000.01.01)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddTaxRiskCriterInfoType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения о критерии налогового риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LastDateTaxReport" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата представления последней налоговой отчетности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastDateFinReport" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата представления последней бухгалтерской отчетности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdmOffenceType">
    <xs:annotation>
      <xs:documentation>Административные правонарушения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CaseNumber" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Номер дела</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CaseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата возбуждения дела</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganCode" type="clt_ru:TaxOrganIDType">
        <xs:annotation>
          <xs:documentation>Код налогового органа, возбудившего дело</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Основание возбуждения дела</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArticleKOAP" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Статья КОАП, по которой возбуждено административное дело</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateSendCaseCourt" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата направления дела в суд</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Court" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Судебный орган, рассматривающий дело</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateDecisionCase" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вынесения решения по делу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumDecisionCase" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер решения по делу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PunishmentKind" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Вид назначенного наказания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountPenalty" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма наложенного штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEntryDecision" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вступления решения по делу об административном правонарушении в законную силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateExecutionDecision" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата исполнения решения по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo01Type">
    <xs:annotation>
      <xs:documentation>Общие показатели субъекта в качестве налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Jurisdiction" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Юрисдикция (1 – российской лицо; 2 – иностранное лицо)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вид лица (1 – юридическое лицо; 2 – физическое лицо или индивидуальный предприниматель)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPPLargestTaxpayer" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП крупнейшего налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParticipationKGN" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Участие в КГН (1 – налогоплательщик является участником КГН; 2 – налогоплательщик не является участником КГН)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo02Type">
    <xs:annotation>
      <xs:documentation>Сведения об использовании налогоплательщиком специальных налоговых режимов и возможности применения подпункта 1.1 статьи 151 НК РФ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddInfoTaxpayer" type="sei_att:AddInfoTaxpayerType">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения о налогоплательщике</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialTaxRegAndSimpl" type="sei_att:SpecialTaxRegAndSimplType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о применяемых специальных налоговых режимах и упрощениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo03Type">
    <xs:annotation>
      <xs:documentation>Сведения о высоком или низком уровне налогового риска в отношении налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskLevelInfo" type="sei_att:RiskLevelInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об уровне риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo04Type">
    <xs:annotation>
      <xs:documentation>Сведения о критериях и показателях налоговых рисков в отношении налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxRiskInfo" type="sei_att:TaxRiskInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о налоговом риске</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo05Type">
    <xs:annotation>
      <xs:documentation>Сведения о блокировке банковских счетов налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionBlockAccountInfo" type="sei_att:DecisionBlockAccountInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения из решения о блокировке счетов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo06Type">
    <xs:annotation>
      <xs:documentation>Сведения о расчетах налогоплательщика с бюджетом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CalcBudget" type="sei_att:CalcBudgetType">
        <xs:annotation>
          <xs:documentation>Сведения о расчетах с бюджетом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo07Type">
    <xs:annotation>
      <xs:documentation>Сведения о результатах налоговых проверок, проводимых в отношении налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxAuditResults" type="sei_att:TaxAuditResultsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Результаты налоговых проверок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo08Type">
    <xs:annotation>
      <xs:documentation>Сведения о налоговых проверках, проводимых в отношении налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxAuditInfo" type="sei_att:TaxAuditInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о налоговой проверке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo09Type">
    <xs:annotation>
      <xs:documentation>Сведения из дел об административных правонарушениях, возбужденных в отношении налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdmOffence" type="sei_att:AdmOffenceType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Административные правонарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo10Type">
    <xs:annotation>
      <xs:documentation>Сведения о взыскании задолженности налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GeneralInfoDebtCollection" type="sei_att:GeneralInfoDebtCollectionType">
        <xs:annotation>
          <xs:documentation>Общие сведения о взыскании задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo11Type">
    <xs:annotation>
      <xs:documentation>Сведения об основных контрагентах налогоплательщика во внутрироссийском обороте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListMainContractor" type="sei_att:ListMainContractorType">
        <xs:annotation>
          <xs:documentation>Перечень основных контрагентов во внутрироссийском обороте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo12Type">
    <xs:annotation>
      <xs:documentation>Сведения о дисквалифицированных лицах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DisqualifiedPersonsInfo" type="sei_att:DisqualifiedPersonsInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения из реестра дисквалифицированных лиц</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockInfo13Type">
    <xs:annotation>
      <xs:documentation>Сведения о нарушении налогоплательщиком валютного законодательства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CaseAdmOffenseInfo" type="sei_att:CaseAdmOffenseInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения из дела об административном правонарушении, возбужденным налоговым органом по факту нарушения валютного законодательства Российской Федерации и актов органов валютного регулирования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalcBudgetType">
    <xs:annotation>
      <xs:documentation>Сведения о расчетах с бюджетом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Debt" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Задолженность по налогам, сборам, пеням и штрафам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Instalment" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Суммы предоставленных рассрочек, отсрочек, реструктуризации, налоговых кредитов, инвестиционных налоговых кредитов за период</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Paid" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма уплаченных за период налогов, сборов, пеней и штрафов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OverPayment" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма переплат, взятых в зачёт или возвращённых за период</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAdmOffenseInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из дела об административном правонарушении, возбужденным налоговым органом по факту нарушения валютного законодательства Российской Федерации и актов органов валютного регулирования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumProtocol" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер протокола об административном нарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateProtocol" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата протокола об административном нарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArticleKOAP" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статья КОАП, по которой возбуждено административное дело</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumDefinition" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер определения о возбуждении дела об административном правонарушении и проведении административного расследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateDefinition" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата определения о возбуждении дела об административном правонарушении и проведении административного расследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumDefinitionRefusal" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер определения об отказе в возбуждении дела об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateDefinitionRefusal" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата определения об отказе в возбуждении дела об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganCode" type="clt_ru:TaxOrganIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код налогового органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonProtocol" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание составления протокола об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumRulingStop" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер постановления о прекращении производства по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateRulingStop" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата постановления о прекращении производства по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumRulingStart" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер постановления о назначении административного наказания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateRulingStart" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата постановления о назначении административного наказания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PunishmentImposed" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид назначенного наказания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEntryDecision" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вступления решения по делу об административном правонарушении в законную силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateExecutionDecision" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата исполнения решения по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonTermination" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание прекращения производства по делу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumSubtmission" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер представления об устранении причин и условий, способствовавших совершению административного правонарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateSubtmission" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата представления об устранении причин и условий, способствовавших совершению административного правонарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOrder" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер предписания об устранении выявленных нарушений актов валютного законодательства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateOrder" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата предписания об устранении выявленных нарушений актов валютного законодательства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionBlockAccountInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из решения о блокировке счетов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateDecision" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumDecision" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Номер решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganCode" type="clt_ru:TaxOrganIDType">
        <xs:annotation>
          <xs:documentation>Код налогового органа, вынесшего решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxOrganName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование налогового органа, вынесшего решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIC" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Account" type="clt_ru:AccountType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер счета, по которому вынесено решение о приостановлении операций</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisqualifiedPersonsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра дисквалифицированных лиц</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BirthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения дисквалифицированного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Место рождения дисквалифицированного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBeginDisqualified" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала срока дисквалификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEndDisqualified" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания срока дисквалификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisqualifiedPersonFIO" type="sei_att:PersonFIOType">
        <xs:annotation>
          <xs:documentation>Фамилия, имя и отчество дисквалифицированного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Judge" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Сведения о судье</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileType">
    <xs:annotation>
      <xs:documentation>Файл обмена</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileId" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProgVer" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FormatVer" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectExtInfo" type="sei_att:SubjectExtInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Расширенные сведения по субъектам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralInfoDebtCollectionType">
    <xs:annotation>
      <xs:documentation>Общие сведения о взыскании задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AmountCollectedArrears" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма взысканных недоимок за период</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndividualContractorType">
    <xs:annotation>
      <xs:documentation>Контрагент - индивидуальный предприниматель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INNIP" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonFIO" type="sei_att:PersonFIOType">
        <xs:annotation>
          <xs:documentation>Фамилия, имя и отчество контрагента - индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndividualPersonType">
    <xs:annotation>
      <xs:documentation>Налогоплательщик - индивидуальный предприниматель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INNIP" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JuridicalContractorType">
    <xs:annotation>
      <xs:documentation>Контрагент - юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContractorName" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractorFeatures" type="cat_ru:RFOrganizationFeaturesType">
        <xs:annotation>
          <xs:documentation>Сведения об организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JuridicalPersonType">
    <xs:annotation>
      <xs:documentation>Налогоплательщик - юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListMainContractorType">
    <xs:annotation>
      <xs:documentation>Перечень основных контрагентов во внутрироссийском обороте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="JuridicalContractor" type="sei_att:JuridicalContractorType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Контрагент - юридическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IndividualContractor" type="sei_att:IndividualContractorType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Контрагент - индивидуальный предприниматель</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonFIOType">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonInfoType">
    <xs:annotation>
      <xs:documentation>Идентификационные показатели субъекта в качестве налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="JuridicalPerson" type="sei_att:JuridicalPersonType">
          <xs:annotation>
            <xs:documentation>Налогоплательщик - юридическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IndividualPerson" type="sei_att:IndividualPersonType">
          <xs:annotation>
            <xs:documentation>Налогоплательщик - индивидуальный предприниматель или физическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskLevelInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об уровне риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxPeriod" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Налоговый период (код) представленной налоговой декларации по НДС к возмещению (01 – январь; 02 – февраль; 03 – март; 04 – апрель; 05 – май; 06 – июнь; 07 – июль; 08 – август; 09 – сентябрь; 10 – октябрь; 11 – ноябрь; 12 – декабрь; 21 – 1 квартал; 22 – 2 квартал; 23 – 3 квартал; 24 – 4 квартал; 51 – 1 квартал при реорганизации (ликвидации) организации; 54 – 2 квартал при реорганизации (ликвидации) организации; 55 – 3 квартал при реорганизации (ликвидации) организации; 56 – 4 квартал при реорганизации (ликвидации) организации; 71 – за январь при реорганизации (ликвидации) организации; 72 – за февраль при реорганизации (ликвидации) организации; 73 – за март при реорганизации (ликвидации) организации; 74 – за апрель при реорганизации (ликвидации) организации; 75 – за май при реорганизации (ликвидации) организации; 76 – за июнь при реорганизации (ликвидации) организации; 77 – за июль при реорганизации (ликвидации) организации; 78 – за август при реорганизации (ликвидации) ликвидации организации; 79 – за сентябрь при реорганизации (ликвидации) организации; 80 – за октябрь при реорганизации (ликвидации) организации; 81 – за ноябрь при реорганизации (ликвидации) организации; 82 – за декабрь при реорганизации (ликвидации) организации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Year" type="clt_ru:DateYearCustType">
        <xs:annotation>
          <xs:documentation>Год налогового периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxRiskSign" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак налогового риска (1 – высокий; 3 – низкий)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialTaxRegAndSimplType">
    <xs:annotation>
      <xs:documentation>Сведения о применяемых специальных налоговых режимах и упрощениях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonName" type="clt_ru:FreeText500Type" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Наименование юридического лица (ФИО индивидуального предпринимателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>ОГРН (ОГРНИП) налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SimplificationCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида применяемого упрощения (Принимает значение 11 | 12 | 13 | 14 | 15 | 16 | 21 | 22 | 23 | 25 | 26, где: 11, 21 – единый сельскохозяйственный налог; 12, 22 – упрощенная система налогообложения; 13, 23 – единый налог на вмененный доход; 14 – патентная система налогообложения; 15, 25 – применение статьи 145 Налогового кодекса Российской Федерации; 16, 26 – применение статьи 149 Налогового кодекса Российской Федерации; 99 – сведения о применении упрощений и специальных налоговых режимов отсутствуют)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBegin151" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, с которой налогоплательщик приобретает право на применение подпункта 1.1 статьи 151 НК РФ (в случае отсутствия сведений принимает значение – 3000.01.01)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEnd151" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, с которой налогоплательщик утрачивает право на применение подпункта 1.1 статьи 151 НК РФ (в случае отсутствия сведений принимает значение – 3000.01.01)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectExtInfoType">
    <xs:annotation>
      <xs:documentation>Расширенные сведения по субъектам</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonInfo" type="sei_att:PersonInfoType">
        <xs:annotation>
          <xs:documentation>Идентификационные показатели субъекта в качестве налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectInfo" type="sei_att:SubjectInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о субъекте в качестве налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о субъекте в качестве налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="BlockInfo01" type="sei_att:BlockInfo01Type">
          <xs:annotation>
            <xs:documentation>Общие показатели субъекта в качестве налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo02" type="sei_att:BlockInfo02Type">
          <xs:annotation>
            <xs:documentation>Сведения об использовании налогоплательщиком специальных налоговых режимов и возможности применения подпункта 1.1 статьи 151 НК РФ</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo03" type="sei_att:BlockInfo03Type">
          <xs:annotation>
            <xs:documentation>Сведения о высоком или низком уровне налогового риска в отношении налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo04" type="sei_att:BlockInfo04Type">
          <xs:annotation>
            <xs:documentation>Сведения о критериях и показателях налоговых рисков в отношении налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo05" type="sei_att:BlockInfo05Type">
          <xs:annotation>
            <xs:documentation>Сведения о блокировке банковских счетов налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo06" type="sei_att:BlockInfo06Type">
          <xs:annotation>
            <xs:documentation>Сведения о расчетах налогоплательщика с бюджетом</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo07" type="sei_att:BlockInfo07Type">
          <xs:annotation>
            <xs:documentation>Сведения о результатах налоговых проверок, проводимых в отношении налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo08" type="sei_att:BlockInfo08Type">
          <xs:annotation>
            <xs:documentation>Сведения о налоговых проверках, проводимых в отношении налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo09" type="sei_att:BlockInfo09Type">
          <xs:annotation>
            <xs:documentation>Сведения из дел об административных правонарушениях, возбужденных в отношении налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo10" type="sei_att:BlockInfo10Type">
          <xs:annotation>
            <xs:documentation>Сведения о взыскании задолженности налогоплательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo11" type="sei_att:BlockInfo11Type">
          <xs:annotation>
            <xs:documentation>Сведения об основных контрагентах налогоплательщика во внутрироссийском обороте</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo12" type="sei_att:BlockInfo12Type">
          <xs:annotation>
            <xs:documentation>Сведения о дисквалифицированных лицах</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BlockInfo13" type="sei_att:BlockInfo13Type">
          <xs:annotation>
            <xs:documentation>Сведения о нарушении налогоплательщиком валютного законодательства</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuditInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о налоговой проверке</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxAuditKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вид налоговой проверки (1 – камеральная налоговая проверка; 2 – выездная налоговая проверка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumDecisionTaxAudit" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер решения о проведении проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateDecisionTaxAudit" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата решения о проведении проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBeginTaxAudit" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала проведения проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultTaxAudit" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Результаты налоговой проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountAddCharges" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма доначислений (налог, пени, штраф) по результатам налоговой проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AuditedPeriodInfo" type="sei_att:AuditedPeriodInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о проверяемом периоде</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditedPeriodInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о проверяемом периоде</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="OnSiteTaxAuditPeriod" type="sei_att:OnSiteTaxAuditPeriodType">
          <xs:annotation>
            <xs:documentation>Проверяемый период для выездной налоговой проверки</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DeskTaxAuditPeriod" type="sei_att:DeskTaxAuditPeriodType">
          <xs:annotation>
            <xs:documentation>Проверяемый период для камеральной налоговой проверки</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnSiteTaxAuditPeriodType">
    <xs:annotation>
      <xs:documentation>Проверяемый период для выездной налоговой проверки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateBegin" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEnd" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeskTaxAuditPeriodType">
    <xs:annotation>
      <xs:documentation>Проверяемый период для камеральной налоговой проверки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CodePeriod" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код отчетного (налогового) периода (принимает значение в соответствии с порядком заполнения налоговой декларации в отношении которой проводится камеральная налоговая проверка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Year" type="clt_ru:DateYearCustType">
        <xs:annotation>
          <xs:documentation>Год</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuditResultsType">
    <xs:annotation>
      <xs:documentation>Результаты налоговых проверок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountDeskTaxAuditYear" type="clt_ru:Count6Type">
        <xs:annotation>
          <xs:documentation>Количество камеральных налоговых проверок за год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountOnSiteTaxAuditYear" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Количество выездных налоговых проверок за год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountArrears" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма выявленных недоимок за отчетный период</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountProtocolsAdministrative" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Количество протоколов об административных правонарушениях в области налогообложения за год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountPenaltyImposedAdmYear" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма наложенных штрафов по административным делам за год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountOutstandingPenalty" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма неисполненных штрафных санкций за нарушение налогового законодательства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRiskCriterInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о присвоенном критерии налогового риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateAssignCriter" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата присвоения критерия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBeginCriter" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала действия критерия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEndCriter" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания действия критерия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeCriter" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код критерия налогового риска (10001 – отказ от руководства (установлено налоговым органом); 10002 – отказ от учреждения (участия) (установлено налоговым органом).; 10003 – отказ от руководства (установлено судом); 10004 – отказ от учреждения (участия) (установлено судом); 10051 – отсутствие связи по адресу регистрации (установлено в ходе осмотра); 10052 – отсутствие связи по адресу регистрации (установлено в ходе обследования); 10053 – отсутствие связи по адресу регистрации (установлено в ходе допроса); 10101 – невозможность осуществления руководства (смерть руководителя); 10151 – неисполнение требования о представлении документов (информации); 10501 – массовый адрес регистрации; 10502 – имеется массовый учредитель (участник) – физическое лицо; 10503 – имеется массовый учредитель (участник) – юридическое лицо; 10504 – имеется массовый руководитель – физическое лицо; 10508 – является массовым учредителем (участником) - юридическим лицом; 10551 – недействительный паспорт руководителя; 10552 – недействительный паспорт учредителя (участника); 10601 – дисквалифицированный руководитель; 10651 – частая миграция; 10701 – наличие решения о признании недействительной государственной регистрации создания; 20001 – непредставление бухгалтерской отчетности; 20002 – представление «нулевой» бухгалтерской отчетности; 20051 – непредставление налоговой отчетности; 20052 – представление «нулевой» налоговой отчетности; 20101 – отсутствие основных средств; 20151 – непропорциональный рост дебиторской задолженности в сравнении с выручкой; 20201 – наличие только операций по купле-продаже товаров с низкой рентабельностью; 20501 – отсутствие работников и лиц, привлеченных по договорам гражданско-правового характера; 20551 – отсутствие расчетных счетов; 20552 – отсутствие расчетных счетов в банках по месту нахождения)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRiskInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о налоговом риске</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxRiskCriterInfo" type="sei_att:TaxRiskCriterInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о присвоенном критерии налогового риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddTaxRiskCriterInfo" type="sei_att:AddTaxRiskCriterInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения о критерии налогового риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>