XSD_Schs/V5.21.0/FSBShifrMeans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:sq_cat="urn:customs.ru:Information:SQDocuments:SQCommonAgregateTypesCust:5.21.0" xmlns:shfrmn="urn:customs.ru:Information:SQDocuments:FSBShifrMeans:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FSBShifrMeans:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonAgregateTypesCust:5.21.0" schemaLocation="SQCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос сведений из заключений (разрешительных документов) на ввоз, вывоз и транзит специальных технических средств, предназначенных для негласного получения информации</xs:documentation>
  </xs:annotation>
  <xs:element name="FSBShifrMeans" type="shfrmn:FSBShifrMeansType">
    <xs:annotation>
      <xs:documentation>
        <xs:annotation>
          <xs:documentation>Ответ на запрос сведений из заключений (разрешительных документов) на ввоз, вывоз и транзит специальных технических средств, предназначенных для негласного получения информации</xs:documentation>
        </xs:annotation>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FSBShifrMeansType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений из заключений (разрешительных документов) на ввоз, вывоз и транзит специальных технических средств, предназначенных для негласного получения информации, шифровальных (криптографических) средств</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прекращения действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признак документа: 0 - заключение на ввоз, вывоз и транзит специальных технических средств, предназначенных для негласного получения информации ; 1 - заключение на ввоз, вывоз и транзит шифровальных (криптографических) средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sign" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Признак (временный ввоз /вывоз, транзит, ввоз для проведения ремонта СТС НПИ и т.д.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryOrigin" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Страна отправления </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDestination" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна  назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Info" type="clt_ru:FreeText250Type" maxOccurs="40">
            <xs:annotation>
              <xs:documentation>Описание СТС НПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Уполномоченное должностное лицо (ФИО, должность), подписавшее заключение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConclusionDescription" type="sq_cat:DocumentType">
            <xs:annotation>
              <xs:documentation>Реквизиты заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Name" type="shfrmn:NameType">
            <xs:annotation>
              <xs:documentation>Наименование получателя заключения (разрешительного документа) (ИНН, ФИО, юридический адрес)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ManufacturerName" type="RUScat_ru:RUOrganizationType">
            <xs:annotation>
              <xs:documentation>Наименование фирмы производителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
              <xs:documentation>Количество товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractDescription" type="sq_cat:DocumentType">
            <xs:annotation>
              <xs:documentation>Реквизиты контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Lefttover" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Остаток по квоте</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009020E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:annotation>
      <xs:documentation>Наименование получателя заключения (разрешительного документа) (ИНН, ФИО, юридический адрес)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressText" type="RUSclt_ru:AddressTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Набор элементов адреса, представленных в свободной форме в виде текста.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationFullDatas" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полные данные по организации одной строкой (при отсутствии детализации)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>