XSD_Schs/V5.21.0/FsspExecutoryProcessDebtorsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:fssp_epd_req="urn:customs.ru:Information:SQDocuments:FsspExecutoryProcessDebtorsRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspExecutoryProcessDebtorsRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений из системы ЕАИС таможенных органов по запросу судебного пристава-исполнителя сведений о должниках по исполнительным производствам, стороной которого он является</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspExecutoryProcessDebtorsRequest" type="fssp_epd_req:FsspExecutoryProcessDebtorsRequestType" />
  <xs:complexType name="FsspExecutoryProcessDebtorsRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений из системы ЕАИС таможенных органов по запросу судебного пристава-исполнителя сведений о должниках по исполнительным производствам, стороной которого он является</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentKey" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Ключ документа ФССП России</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPICode" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Код СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPIFullName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>ФИО СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPIPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО и должность СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPIPhone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
              <xs:documentation>Телефон СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPIHeadFullName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО старшего СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SPIHeadPerson" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО и должность старшего СПИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок ответа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата создания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutoryProcess" type="fssp_epd_req:ExecutoryProcessType">
            <xs:annotation>
              <xs:documentation>Сведения об исполнительном производстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Information" type="fssp_epd_req:InformationType">
            <xs:annotation>
              <xs:documentation>Сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009103E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ExecutoryProcessType">
    <xs:annotation>
      <xs:documentation>Сведения об исполнительном производстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentKey" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Ключ ФССП России</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EaisId" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutoryProcessNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер ИП строковый</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutoryProcessDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата возбуждения ИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutoryProcesName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование ИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutoryDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutoryDocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата вступления в законную силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveObject" type="fssp_epd_req:ExecutiveObjectType">
        <xs:annotation>
          <xs:documentation>Предмет исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма долга по ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtSumRequest" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма долга по ИД на момент запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorInformation" type="fssp_epd_req:DebtorInformationType">
        <xs:annotation>
          <xs:documentation>Сведения о должнике</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SPIHeadCode" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Код СПИ, ведущего ИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SPIHeadName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>ФИО полностью СПИ, ведущего ИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelatedExecutoryDocumentNumber" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер прошлых ИП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ExecutiveObjectType">
    <xs:annotation>
      <xs:documentation>Предмет исполнения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Код предмета исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование предмета исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtorInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о должнике</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorNameFull" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>ФИО полностью/Наименование должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorNameParts" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО должника по частям</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес должника по ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SNILS" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OSP" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОСП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OSPName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование ОСП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения ФЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TruthBirthDate" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Точность даты рождения: 0 - полная точность; 1 - с точностью до месяца (число недостоверно); 2 - с точностью до года (число и месяц недостоверны)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения ФЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationType">
    <xs:annotation>
      <xs:documentation>Сведения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentityCard" type="fssp_epd_req:IdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Удостоверение личности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressInformation" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorPhone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="fssp_epd_req:GoodsType">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentityCardType">
    <xs:annotation>
      <xs:documentation>Удостоверение личности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstName" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodInfo" type="fssp_epd_req:GoodInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Статус товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StorageDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата помещения товара на хранение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoragePlace" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Место хранения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>