XSD_Schs/V5.21.0/FsspPropertyArrestRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:fssp_pa_req="urn:customs.ru:Information:SQDocuments:FsspPropertyArrestRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspPropertyArrestRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из системы (ЕАИС таможенных органов), необходимые для возбуждения и ведения исполнительного производства по постановлениям о наложении ареста на имущество плательщика таможенных пошлин, налогов,  вынесенные таможенными органами</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspPropertyArrestRequest" type="fssp_pa_req:FsspPropertyArrestRequestType" />
  <xs:complexType name="FsspPropertyArrestRequestType">
    <xs:annotation>
      <xs:documentation>Сведения из системы (ЕАИС таможенных органов), необходимые для возбуждения и ведения исполнительного производства по постановлениям о наложении ареста на имущество плательщика таможенных пошлин, налогов,  вынесенные таможенными органами</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата отправки документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Barcode" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Штрих-код</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestResolutionNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер постановления о наложении ареста на имущество должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestResolutionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата постановления о наложении ареста на имущество должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentCopy" type="clt_ru:FreeText250Type" maxOccurs="16">
            <xs:annotation>
              <xs:documentation>Экземпляр ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProsecutorAgencyName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование органа прокуратуры</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProsecutorName" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО прокурора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SanctionSignDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подписания санкции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltyResolutionNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер постановления о взыскании таможенных платежей, процентов, пеней за счет имущества плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltyResolutionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата постановления о взыскании таможенных платежей, процентов, пеней за счет имущества плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Creditor" type="fssp_pa_req:CreditorType">
            <xs:annotation>
              <xs:documentation>Взыскатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО и должность подписавшего лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalEntity" type="fssp_pa_req:LegalEntityType">
            <xs:annotation>
              <xs:documentation>Юридическое лицо/Индивидуальный предприниматель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtInfo" type="fssp_pa_req:DebtInfoType">
            <xs:annotation>
              <xs:documentation>Информация о задолженности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtorRepresentative" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО представителя плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttorneyNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер доверенности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttorneyDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата доверенности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecreeIssuenceDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи постановления должнику (представителю)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocument" type="fssp_pa_req:ExecutiveDocumentType">
            <xs:annotation>
              <xs:documentation>Постановление о наложении ареста на имущество плательщика таможенных пошлин, налогов (ИД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestProtocol" type="fssp_pa_req:ArrestProtocolType">
            <xs:annotation>
              <xs:documentation>Протокол об аресте имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestCancelDecree" type="fssp_pa_req:ArrestCancelDecreeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Постановление об отмене ареста на имущество</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009089E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CreditorType">
    <xs:annotation>
      <xs:documentation>Взыскатель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес взыскателя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:annotation>
      <xs:documentation>Юридическое лицо/Индивидуальный предприниматель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Фактический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalAddress" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Юридический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации должника ЮЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>Информация о задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование вида платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма по виду платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PercentsSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Проценты на сумму</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinesSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Пенни на сумму</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeSumAll" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Всего по виду платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestedProperty" type="clt_ru:FreeText250Type" maxOccurs="16">
        <xs:annotation>
          <xs:documentation>Наименование арестованного имущества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestedPropertyHolder" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование хранителя арестованного имущества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestedPropertyAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес места хранения арестованного имущества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsDublicate" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак дубликата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutiveDocumentType">
    <xs:annotation>
      <xs:documentation>Исполнительный документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecutiveDocument" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Исполнительный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentSign" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>ЭП исполнительного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrestProtocolType">
    <xs:annotation>
      <xs:documentation>Протокол об аресте имущества</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата отправки документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Barcode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Штрих-код</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProtocolNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер протокола ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProtocolDate" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Дата протокола ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentCopy" type="clt_ru:FreeText250Type" maxOccurs="16">
        <xs:annotation>
          <xs:documentation>Экземпляр ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestBase" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Основание наложения ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestBeginTime" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время начала проведения ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestEndTime" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время окончания проведения ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestOrgan" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование органа производящего арест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestPerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Должность и ФИО лица, производящего арест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Witness" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ФИО понятого</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentPerson" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ФИО присутствующего лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsExpert" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ФИО таможенного эксперта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsSpecialist" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ФИО таможенного специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorRepresentative" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Представитель плательщика таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LegalEntityArrest" type="fssp_pa_req:LegalEntityArrestType">
        <xs:annotation>
          <xs:documentation>Информация об арестованном имуществе юридического лица/индивидуального предпринимателя </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestedProperty" type="fssp_pa_req:ArrestedPropertyType">
        <xs:annotation>
          <xs:documentation>Сведения по арестованному имуществу</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalEntityArrestType">
    <xs:annotation>
      <xs:documentation>Информация об арестованном имуществе юридического лица/индивидуального предпринимателя </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fssp_pa_req:LegalEntityType">
        <xs:sequence>
          <xs:element name="ArrestedProperty" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование арестованного имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestedPropertyCost" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Стоимость арестованного имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProtocolReceiveDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата получения копии протокола должником/представителем</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrestedPropertyType">
    <xs:annotation>
      <xs:documentation>Сведения по арестованному имуществу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Вид (полный/частичный)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Объем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RestrictionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок ограничения права пользования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WithdrawPlace" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Место изъятия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoragePlace" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Место помещения на хранение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoragePlaceAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес места хранения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResponsiblePerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Материально ответственное лицо по хранению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocument" type="fssp_pa_req:ExecutiveDocumentType">
        <xs:annotation>
          <xs:documentation>Протокол об аресте имщества (ИД)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrestCancelDecreeType">
    <xs:annotation>
      <xs:documentation>Постановление об отмене ареста на имущество</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата отправки документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Barcode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Штрих-код</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер постановления об отмене ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления об отмене ареста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentCopy" type="clt_ru:FreeText250Type" maxOccurs="16">
        <xs:annotation>
          <xs:documentation>Экземпляр ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Creditor" type="fssp_pa_req:CreditorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Орган-взыскатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО и должность подписавшего лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LegalEntity" type="fssp_pa_req:LegalEntityType">
        <xs:annotation>
          <xs:documentation>Юридическое лицо/Индивидуальный предприниматель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestCancelBase" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Основание отмены ареста имущества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestedPropertyHolder" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование хранителя арестованного имущества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrestedPropertyAddress" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Адрес места хранения арестованного имущества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepresentativeReceiveDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата получения копии постановления представителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorReceiveDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата получения копии постановления должником</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HolderReceiveDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата получения копии постановления хранителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProsecutorReceiveDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата направления экземпляра прокурору</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CourtOfficerReceiveDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата направления экземпляра судебному приставу-исполнителю</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocument" type="fssp_pa_req:ExecutiveDocumentType">
        <xs:annotation>
          <xs:documentation>Постановления об отмене ареста на имущество плательщика таможенных пошлин, налогов (ИД)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>