XSD_Schs/V5.21.0/FsspApJudgementsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:fssp_apj_res="urn:customs.ru:Information:SQDocuments:FsspApJudgementsResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspApJudgementsResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на передачу сведений из системы ЕАИС таможенных органов, необходимых для возбуждения исполнительного производства и исполнения судебных актов по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов по делам об административных правонарушениях, включая конфискацию имущества</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspApJudgementsResponse" type="fssp_apj_res:FsspApJudgementsResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на передачу сведений из системы ЕАИС таможенных органов, необходимых для возбуждения исполнительного производства и исполнения судебных актов по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов по делам об административных правонарушениях, включая конфискацию имущества</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FsspApJudgementsResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на передачу сведений из системы ЕАИС таможенных органов, необходимых для возбуждения исполнительного производства и исполнения судебных актов по постановлениям/решениям, исполнительным листам судов общей юрисдикции, арбитражных судов по делам об административных правонарушениях, включая конфискацию имущества</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата отправки документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Barcode" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Штрих-код</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentCopy" type="clt_ru:FreeText250Type" maxOccurs="16">
            <xs:annotation>
              <xs:documentation>Экземпляр ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CaseNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер дела или материалов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CaseDecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата принятия решения по делу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentIssuerName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование органа, выдавшего ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentIssuerAddress" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Адрес органа, выдавшего ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО и должность подписавшего лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrivatePerson" type="fssp_apj_res:PrivatePersonType">
            <xs:annotation>
              <xs:documentation>Физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalEntity" type="fssp_apj_res:LegalEntityType">
            <xs:annotation>
              <xs:documentation>Юридическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveObject" type="fssp_apj_res:ExecutiveObjectType">
            <xs:annotation>
              <xs:documentation>Предмет исполнения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtInfo" type="fssp_apj_res:DebtInfoType">
            <xs:annotation>
              <xs:documentation>Информация о задолженности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocument" type="fssp_apj_res:ExecutiveDocumentType">
            <xs:annotation>
              <xs:documentation>Исполнительный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Information" type="fssp_apj_res:InformationType">
            <xs:annotation>
              <xs:documentation>Сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009092E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PrivatePersonType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtorName" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес (по месту регистрации/пребывания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TruthBirthDate" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Точность даты рождения: 0 - полная точность; 1 - с точностью до месяца (число недостоверно); 2 - с точностью до года (число и месяц недостоверны)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRNIP" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРНИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Passport" type="RUScat_ru:RUIdentityCardType">
        <xs:annotation>
          <xs:documentation>Паспортные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:annotation>
      <xs:documentation>Юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Фактический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalAddress" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Юридический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExecutiveObjectType">
    <xs:annotation>
      <xs:documentation>Предмет исполнения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип предмета исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование предмета исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>Информация о задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма долга или начисления долга</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepaymentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата срока добровольного погашения задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsDublicate" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак дубликата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutiveDocumentType">
    <xs:annotation>
      <xs:documentation>Исполнительный документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecutiveDocument" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Исполнительный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentSign" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>ЭП исполнительного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationType">
    <xs:annotation>
      <xs:documentation>Сведения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentityCard" type="fssp_apj_res:PrivatePersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Удостоверение личности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressInformation" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Transfer" type="fssp_apj_res:TransferType">
        <xs:annotation>
          <xs:documentation>Реквизиты для перечисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorPhone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон должника</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferType">
    <xs:annotation>
      <xs:documentation>Реквизиты для перечисления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReceiverName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Банк получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankBIC" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка получаетля (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceiverAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Расчетный счет получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Account" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Лицевой счет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentType" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Показатель типа платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, перечисляемая по данным реквизитам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>