XSD_Schs/V5.21.0/FtsDtGoodsEaesImportRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--SQ.00261, СМЭВ - ftsDtGoodsEaesImport-root.xsd (Предоставление уведомлений о передаче деклараций на импортные товары, подлежащие прослеживаемости, и выпущенные на территории другого государства ЕАЭС перед ввозом на территорию РФ, регламентный режим)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:dge_res="urn:customs.ru:Information:SQDocuments:FtsDtGoodsEaesImportRes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FtsDtGoodsEaesImportRes:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос на предоставление уведомлений о передаче деклараций на импортные товары, подлежащие прослеживаемости, и выпущенные на территории другого государства ЕАЭС перед ввозом на территорию РФ, регламентный режим</xs:documentation>
  </xs:annotation>
  <xs:element name="FtsDtGoodsEaesImportRes" type="dge_res:FtsDtGoodsEaesImportResType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на предоставление уведомлений о передаче деклараций на импортные товары, подлежащие прослеживаемости, и выпущенные на территории другого государства ЕАЭС перед ввозом на территорию РФ, регламентный режим</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FtsDtGoodsEaesImportResType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на предоставление уведомлений о передаче деклараций на импортные товары, подлежащие прослеживаемости, и выпущенные на территории другого государства ЕАЭС перед ввозом на территорию РФ, регламентный режим</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Row" type="dge_res:RowType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения из ДТ, о передаче деклараций на импортные товары, подлежащие прослеживаемости, и выпущенные на территории другого государства ЕАЭС перед ввозом на территорию РФ, регламентный режим</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060014E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RowType">
    <xs:annotation>
      <xs:documentation>Сведения из ДТ, о передаче деклараций на импортные товары, подлежащие прослеживаемости, и выпущенные на территории другого государства ЕАЭС перед ввозом на территорию РФ, регламентный режим</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SendCoCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SendIdentKod" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Идентификационный код (номер) отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SendName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SendLegalAdr" type="clt_ru:FreeText500Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Юридический адрес или адрес регистрации отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeCoDestin" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipiCode" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Идентификационный код (номер) получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipKpp" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipLegalAdr" type="clt_ru:FreeText500Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Юридический адрес или адрес регистрации получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegnumTranzitDeclar" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер транзитной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SernumGoodsTranzitDeclar" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в соответствии с транзитной декларацией</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LegalNameGTD" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара в соответствии с транзитной  декларацией</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantsGTD" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара в соответствии с транзитной декларацией</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeGoodsAddInfo" type="clt_ru:MeasureUnitQualifierCodeType">
        <xs:annotation>
          <xs:documentation>Код дополнительной единицы измерения товара в соответствии с  транзитной декларацией</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantGoodsAddInfo" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения (если в соответствии с Единым таможенным тарифом ЕАЭС в отношении декларируемого товара применяется дополнительная единица измерения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegnumDeclarGoods" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары, в соответствии с которой товары помещены под таможенную процедуру выпуска для внутреннего потребления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateInfo" type="dge_res:StateInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о пунктах назначения (доставки, разгрузки) товара находящихся на территории государств-членов в соответствии с сопроводительными документами (при наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Price" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeTnVedEaec" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnitCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения товара (в соответствии с  перечнем)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Numbering" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailsAktInvent" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и регистрационный номер акта инвентаризации (при наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumbericAktInvent" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в соответствии с актом интвентаризации (при наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeCurDog" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurPrice" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цена товара в валюте договора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StateInfoType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InfoNameCoTranzit" type="clt_ru:FreeText500Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Сведения о месте и стране перегрузки (при  наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoOrgDestin" type="clt_ru:FreeText500Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Сведения об органе назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailsDoc" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Реквизиты сопроводительного документа (дата и номер)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>