XSD_Schs/V5.21.0/FTSGoodsArrivalFactInfoRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:res="urn:customs.ru:Information:SQDocuments:FTSGoodsArrivalFactInfoRes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FTSGoodsArrivalFactInfoRes:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Передача ФТС России в Роспотребнадзор сведений (Ответ)</xs:documentation>
  </xs:annotation>
  <xs:element name="FTSGoodsArrivalFactInfoRes" type="res:FTSGoodsArrivalFactInfoResType">
    <xs:annotation>
      <xs:documentation>Передача ФТС России в Роспотребнадзор сведений (Ответ)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FTSGoodsArrivalFactInfoResType">
    <xs:annotation>
      <xs:documentation>Передача ФТС России в Роспотребнадзор сведений (Ответ)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ChainMessageID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор цепочки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreliminaryResult" type="res:PreliminaryResultType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предварительное решение Роспотребнадзора по товарной позиции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009368E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PreliminaryResultType">
    <xs:annotation>
      <xs:documentation>Предварительное решение Роспотребнадзора по товарной позиции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Value" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProdId" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Идентификатор товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>