XSD_Schs/V5.21.0/FTSProductSKKRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:pfsres="urn:customs.ru:Information:SQDocuments:FTSProductSKKRes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FTSProductSKKRes:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Информирование со стороны ФТС России Роспотребнадзора о факте направления товара на СКК в Роспотребнадзор (Ответ)
        </xs:documentation>
  </xs:annotation>
  <xs:element name="FTSProductSKKRes" type="pfsres:FTSProductSKKResType">
    <xs:annotation>
      <xs:documentation>Информирование со стороны ФТС России Роспотребнадзора о факте направления товара на СКК в Роспотребнадзор (Ответ)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FTSProductSKKResType">
    <xs:annotation>
      <xs:documentation>Информирование со стороны ФТС России Роспотребнадзора о факте направления товара на СКК в Роспотребнадзор (Ответ)
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ChainMessageID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор цепочки сообщений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SanitaryCheck" type="pfsres:SanitaryCheckType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Блок сведений по решению специалиста Роспотребнадзора по результатам проведения СКК по указанной товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009143E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="SanitaryCheckType">
    <xs:annotation>
      <xs:documentation>Блок сведений по решению специалиста Роспотребнадзора по результатам проведения СКК по указанной товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProdId" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SKKDecision" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Решение специалиста Роспотребнадзора по результатам проведения СКК. Возможные значения: ВВОЗ РАЗРЕШЕН; ВВОЗ ЗАПРЕЩЕН; НЕ ПОДЛЕЖИТ СКК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDateTime" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата/время принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIOEmployee" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>ФИО специалиста Роспотребнадзора</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>