XSD_Schs/V5.21.0/FtsVedMemberDocListReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--SQ.00360, СМЭВ - ftsVedMemberDocList-root.xsd (Предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:vmdl_req="urn:customs.ru:Information:SQDocuments:FtsVedMemberDocListReq:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FtsVedMemberDocListReq:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию</xs:documentation>
  </xs:annotation>
  <xs:element name="FtsVedMemberDocListReq" type="vmdl_req:FtsVedMemberDocListReqType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FtsVedMemberDocListReqType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SubjectIdentifier" type="clt_ru:Text150Type">
            <xs:annotation>
              <xs:documentation>Идентификатор субъекта, в отношении которого производится запрос перечня документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoTypeCode" type="clt_ru:Code2Type" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Код вида информации (24 - Перечень деклараций на товары; 25 - Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями; 26 - Документ, подтверждающий право использования тарифных преференций; 27 - Перечень сведений о документах, предоставляемых с декларацией на товары)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateFrom" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Период, за который был предоставлен документ, с</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTo" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Период, за который был предоставлен документ, по</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSelectionOptions" type="vmdl_req:DTSelectionOptionsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уточняющие параметры отбора документов для блока 24 (Перечень деклараций на товары)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTDocumentSelectionOptions" type="vmdl_req:DTDocumentSelectionOptionsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уточняющие параметры отбора документов для блока 27 (Перечень сведений о документах, предоставляемых с декларацией на товары)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060008E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DTDocumentSelectionOptionsType">
    <xs:annotation>
      <xs:documentation>Уточняющие параметры отбора документов для блока 27 (Перечень сведений о документах, предоставляемых с декларацией на товары)
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InfoType" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Тип информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DT" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocTypeCode" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSelectionOptionsType">
    <xs:annotation>
      <xs:documentation>Уточняющие параметры отбора документов для блока 24 (Перечень деклараций на товары)
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypeMove" type="clt_ru:TransitDirectionCodeType">
        <xs:annotation>
          <xs:documentation>Тип перемещения (01 – Экспорт, 02 – Импорт)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Member" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Участник ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contractor" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Контрагент участника ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomProc" type="clt_ru:CUCustomsProcedureType">
        <xs:annotation>
          <xs:documentation>Таможенная процедура (Первый подраздел гр.1 ДТ/ТД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SimplificationType" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид используемого упрощения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tnved" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CollateralType" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>