XSD_Schs/V5.21.0/FtsVedMemberDocListAttach.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--SQ.00361 вложение, СМЭВ - ftsVedMemberDocList-attach.xsd  - содержимое FileContent в FtsVedBinaryDocRes) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:vmdl_att="urn:customs.ru:Information:SQDocuments:FtsVedMemberDocListAttach:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FtsVedMemberDocListAttach:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию (содержимое вложения)</xs:documentation>
  </xs:annotation>
  <xs:element name="FtsVedMemberDocListAttach" type="vmdl_att:FtsVedMemberDocListAttachType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию (содержимое вложения)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FtsVedMemberDocListAttachType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию (содержимое вложения)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="FileContent" type="vmdl_att:FileContentType">
            <xs:annotation>
              <xs:documentation>Содержимое вложения ответа на запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060017E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocType" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocID" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа в электронном архиве документов декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocSelectionOptionsType">
    <xs:annotation>
      <xs:documentation>Параметры отбора документов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InfoType" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Тип информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DT" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocTypeCode" type="RUSclt_ru:Text64Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentInformationType">
    <xs:annotation>
      <xs:documentation>Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями (код 25)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 25 - Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Орган, выдавший документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRef" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTDocumentInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ND" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выпуска товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NdLink" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTDocumentInformationType">
    <xs:annotation>
      <xs:documentation>Перечень сведений о документах, предоставляемых с декларацией на товары (код 27)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 27 - Перечень сведений о документах, предоставляемых с декларацией на товары)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocSelectionOptions" type="vmdl_att:DocSelectionOptionsType">
        <xs:annotation>
          <xs:documentation>Параметры отбора документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocInfo" type="vmdl_att:DocInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTInformationType">
    <xs:annotation>
      <xs:documentation>Перечень деклараций на товары (код 24)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 24 - Перечень деклараций на товары)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocSelectionOptions" type="vmdl_att:DTSelectionOptionsType">
        <xs:annotation>
          <xs:documentation>Параметры отбора документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInformation" type="vmdl_att:DTDocumentInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSelectionOptionsType">
    <xs:annotation>
      <xs:documentation>Уточняющие параметры отбора документов для блока 24 (Перечень деклараций на товары)
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypeMove" type="clt_ru:TransitDirectionCodeType">
        <xs:annotation>
          <xs:documentation>Тип перемещения (01 – Экспорт, 02 – Импорт)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Member" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Участник ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contractor" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Контрагент участника ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomProc" type="clt_ru:CUCustomsProcedureType">
        <xs:annotation>
          <xs:documentation>Таможенная процедура (Первый подраздел гр.1 ДТ/ТД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SimplificationType" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид используемого упрощения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tnved" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CollateralType" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileContentType">
    <xs:annotation>
      <xs:documentation>Содержимое вложения ответа на запрос на предоставление сведений о доступном перечне электронных документов по субъекту - участнику ВЭД и параметрах их отбора или ссылках, режим по требованию</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTInformation" type="vmdl_att:DTInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 24: Перечень деклараций на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInformation" type="vmdl_att:DocumentInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 25: Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreferencesDocumentInformation" type="vmdl_att:PreferencesDocumentInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 26: Документ, подтверждающий право использования тарифных преференций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTDocumentInformation" type="vmdl_att:DTDocumentInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 27: Перечень сведений о документах, предоставляемых с декларацией на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreferencesDocumentInformationType">
    <xs:annotation>
      <xs:documentation>Документ, подтверждающий право использования тарифных преференций (код 26)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 26 - Документ, подтверждающий право использования тарифных преференций)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Орган, выдавший документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRef" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>