XSD_Schs/V5.21.0/GisGmpPackageStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Схемы ГИС ГМП -  аналог документа - Статус обработки пакета запрос (SQ05040).xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:ps_req="urn:customs.ru:Information:SQDocuments:GisGmpPackageStatusRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:GisGmpPackageStatusRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Статус обработки пакета (запрос)</xs:documentation>
  </xs:annotation>
  <xs:element name="GisGmpPackageStatusRequest" type="ps_req:GisGmpPackageStatusRequestType" />
  <xs:complexType name="GisGmpPackageStatusRequestType">
    <xs:annotation>
      <xs:documentation>Статус обработки пакета (запрос)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PackageStatusRequest" type="ps_req:PackageStatusRequestType">
            <xs:annotation>
              <xs:documentation>Статус обработки пакета</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009175E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PackageStatusRequestType">
    <xs:annotation>
      <xs:documentation>Фильтр для получения сущностей ГИС ГМП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PackageID" type="CategoryCust:IdentifierCategoriesCust">
        <xs:annotation>
          <xs:documentation>Идентификатор пакета</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>