XSD_Schs/V5.21.0/GisGmpPaymentExportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Схемы ГИС ГМП -  аналог документа - Экспорт платежей запрос (SQ.05030).xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:pe_req="urn:customs.ru:Information:SQDocuments:GisGmpPaymentExportRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:GisGmpPaymentExportRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Экспорт платежей (запрос)</xs:documentation>
  </xs:annotation>
  <xs:element name="GisGmpPaymentExportRequest" type="pe_req:GisGmpPaymentExportRequestType">
    <xs:annotation>
      <xs:documentation>Экспорт платежей (запрос)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GisGmpPaymentExportRequestType">
    <xs:annotation>
      <xs:documentation>Экспорт платежей (запрос)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GisGmpEPRequestKind" type="pe_req:GisGmpEPRequestKindType">
            <xs:annotation>
              <xs:documentation>Тип запроса (PAYMENT - все активные (неаннулированные) платежи; PAYMENTMODIFIED - все платежи, имеющие статус уточнения (ChangeStatus@meaning имеет значение «2») или статус аннулирования (ChangeStatus@meaning имеет значение «3»); PAYMENTUNMATCHED - все активные (неаннулированные) платежи, которым в системе не поставлена в соответствие (не создана) ни одна квитанция; PAYMENTCANCELLED - аннулированные платежи (ChangeStatus@meaning имеет значение «3»); PAYMENTMAINCHARGE - запрос платежей по связанным начислениям (используется только ФССП); PAYMENT-PART-SERVICE - запрос неаннулированных платежей, содержащих дополнительную информацию о частичном предоставлении услуги"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginatorID" type="clt_ru:Code6Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>УРН участника косвенного взаимодействия, сформировавшего запрос</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Conditions" type="pe_req:ConditionsType">
            <xs:annotation>
              <xs:documentation>Условие для получения сущностей из ГИС ГМП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqPaging" type="pe_req:ReqPagingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Параметры постраничной выдачи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009121E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BeneficiaryType">
    <xs:annotation>
      <xs:documentation>Элементы идентификации получателя средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="pe_req:KPPType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargesConditionsType">
    <xs:annotation>
      <xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по УИН с указанием дополнительных параметров (при необходимости)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SupplierBillID" type="pe_req:SupplierBillIDType" maxOccurs="100">
        <xs:annotation>
          <xs:documentation>УИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentMethod" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Способ оплаты. Допустимые значения:
						1 - Признак оплаты начисления через СБП.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeInterval" type="pe_req:TimeslotType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConditionsType">
    <xs:annotation>
      <xs:documentation>Условие для получения сущностей из ГИС ГМП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Charges" type="pe_req:ChargesConditionsType">
          <xs:annotation>
            <xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по УИН с указанием дополнительных параметров (при необходимости)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Payers" type="pe_req:PayersConditionsType">
          <xs:annotation>
            <xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по идентификатору плательщика с указанием дополнительных параметров (при необходимости)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Payments" type="pe_req:PaymentsConditionsType">
          <xs:annotation>
            <xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по УИП</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Time" type="pe_req:TimeConditionsType">
          <xs:annotation>
            <xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений за временной интервал с указанием дополнительных параметров (при необходимости)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayersConditionsType">
    <xs:annotation>
      <xs:documentation>Фильтр для получения сущностей ГИС ГМП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="PayerIdentifier" type="pe_req:PayerIdentifierType" maxOccurs="100">
          <xs:annotation>
            <xs:documentation>Идентификатор плательщика</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PayerINN" type="clt_ru:INNIDType" maxOccurs="100">
          <xs:annotation>
            <xs:documentation>ИНН юридического лица</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="TimeInterval" type="pe_req:TimeslotType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="pe_req:KBKType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Перечень КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Beneficiary" type="pe_req:BeneficiaryType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Идентификация получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentsConditionsType">
    <xs:annotation>
      <xs:documentation>Фильтр для получения сущностей ГИС ГМП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentId" type="pe_req:PaymentIdType" maxOccurs="100">
        <xs:annotation>
          <xs:documentation>УИП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReqPagingType">
    <xs:annotation>
      <xs:documentation>Параметры постраничной выдачи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PageNumber" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер страницы выдачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PageLength" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Количество элементов на странице выдачи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeConditionsType">
    <xs:annotation>
      <xs:documentation>Фильтр для получения сущностей ГИС ГМП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TimeInterval" type="pe_req:TimeslotType">
        <xs:annotation>
          <xs:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Beneficiary" type="pe_req:BeneficiaryType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Идентификация получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="pe_req:KBKType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeslotType">
    <xs:annotation>
      <xs:documentation>Временной интервал, за который запрашиваются сущности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StartDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Начальная дата временного интервала запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Конечная дата временного интервала запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExcludeType">
    <xs:annotation>
      <xs:documentation>Исключения (Признак, означающий ненулевые УИН (допустимое значение - ZERO-UIN). При запросе платежей возвращается информация о платежах, в которых указан УИН, отличный от нуля)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:enumeration value="ZERO-UIN">
        <xs:annotation>
          <xs:documentation>Признак, означающий ненулевые УИН (допустимое значение - ZERO-UIN). При запросе платежей возвращается информация о платежах, в которых указан УИН, отличный от нуля</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GisGmpEPRequestKindType">
    <xs:annotation>
      <xs:documentation>Тип запроса (PAYMENT - все активные (неаннулированные) платежи; PAYMENTMODIFIED - все платежи, имеющие статус уточнения (ChangeStatus@meaning имеет значение «2») или статус аннулирования (ChangeStatus@meaning имеет значение «3»); PAYMENTUNMATCHED - все активные (неаннулированные) платежи, которым в системе не поставлена в соответствие (не создана) ни одна квитанция; PAYMENTCANCELLED - аннулированные платежи (ChangeStatus@meaning имеет значение «3»); PAYMENTMAINCHARGE - запрос платежей по связанным начислениям (используется только ФССП); CHARGE - запрос неоплаченных начислений; CHARGENOTFULLMATCHED - все начисления в статусе, отличном от "сквитировано" и "сквитировано с отсутствующим платежом"; QUITTANCE - последний результата квитирования; ALLQUITTANCE - все результаты квитирования, включая аннулированные; CHARGESTATUS - начисления и статусы квитирования; CHARGE-PRIOR - неоплаченные предварительные начисления, загруженные участником; CHARGE-PRIOR-NOTFULLMATCHED - предварительные начисления, загруженные участником, в статусе, отличном от "сквитировано" и "сквитировано с отсутствующим платежом"; CHARGE-PRIOR-STATUS - предварительные начисления и их статусы; TEMP-CHARGING - неоплаченные предварительные начисления, сформированные ГИС ГМП; TEMP-CHARGING-STATUS - предварительные начисления, сформирвоанные ГИС ГМП, со статусами квитирования; TEMP-CHARGING-NOTFULLMATCHED - предварительные начисления, сформированнные ГИС ГМП, в статусе, отличном от "сквитировано" и "сквитировано с отсутствующим платежом; PAYMENT-PART-SERVICE - запрос неаннулированных платежей, содержащих дополнительную информацию о частичном предоставлении услуги"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:enumeration value="PAYMENT">
        <xs:annotation>
          <xs:documentation>все активные (неаннулированные) платежи</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAYMENTMODIFIED">
        <xs:annotation>
          <xs:documentation>все платежи, имеющие статус уточнения (ChangeStatus@meaning имеет значение «2») или статус аннулирования (ChangeStatus@meaning имеет значение «3»)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAYMENTUNMATCHED">
        <xs:annotation>
          <xs:documentation>все активные (неаннулированные) платежи, которым в системе не поставлена в соответствие (не создана) ни одна квитанция</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAYMENTCANCELLED">
        <xs:annotation>
          <xs:documentation>аннулированные платежи (ChangeStatus@meaning имеет значение «3»)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAYMENTMAINCHARGE">
        <xs:annotation>
          <xs:documentation>запрос платежей по связанным начислениям (используется только ФССП)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAYMENT-PART-SERVICE">
        <xs:annotation>
          <xs:documentation>запрос неаннулированных платежей, содержащих дополнительную информацию о частичном предоставлении услуги</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KBKType">
    <xs:annotation>
      <xs:documentation>КБК</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="[0-9a-zA-Zа-яА-Я]{20}" />
      <xs:pattern value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PayeeIDType">
    <xs:annotation>
      <xs:documentation>УРН получателя средств</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="6" />
      <xs:whiteSpace value="collapse" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PayerIdentifierType">
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="1((0[1-9])|(1[0-5])|(2[12456789])|(3[0]))[0-9a-zA-Zа-яА-Я]{19}">
        <xs:annotation>
          <xs:documentation>Идентификатор ФЛ</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="200\d{14}[A-Z0-9]{2}\d{3}">
        <xs:annotation>
          <xs:documentation>Идентификатор ЮЛ или ИП</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="300[0-9a-zA-Zа-яА-Я]{19}" />
      <xs:pattern value="4[0]{9}\d{12}" />
      <xs:pattern value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentIdType">
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="1\d{15}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{8}">
        <xs:annotation>
          <xs:documentation>Структура УИП для кредитных организаций</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="2\d{4}0{11}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{8}">
        <xs:annotation>
          <xs:documentation>Структура УИП для ТОФК</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="3[a-fA-F0-9]{6}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{17}">
        <xs:annotation>
          <xs:documentation>Структура УИП для остальных участников</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:pattern value="\w{32}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SupplierBillIDType">
    <xs:annotation>
      <xs:documentation>УИН</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="\w{20}" />
      <xs:pattern value="\d{25}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KPPType">
    <xs:annotation>
      <xs:documentation>КПП юр. лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="([^0^\D]\d|\d[^0^\D])\d{2}[A-Z0-9]{2}\d{3}">
        <xs:annotation>
          <xs:documentation>9 символов, пятый и шестой из которых могут быть прописными
						(заглавными) латинскими буквами или цифрами, а все остальные только цифрами,
						и при этом первый и второй знаки (цифры) не могут одновременно принимать
						значение ноль ("0").
					</xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>