XSD_Schs/V5.21.0/GisGmpQuittancesExportResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Схемы ГИС ГМП -  аналог SQ.05021 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:gcqe_res="urn:customs.ru:Information:SQDocuments:GisGmpQuittancesExportResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:GisGmpQuittancesExportResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление информации о результатах квитирования (ответ)</xs:documentation>
  </xs:annotation>
  <xs:element name="GisGmpQuittancesExportResponse" type="gcqe_res:GisGmpQuittancesExportResponseType">
    <xs:annotation>
      <xs:documentation>Предоставление информации о результатах квитирования (ответ)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GisGmpQuittancesExportResponseType">
    <xs:annotation>
      <xs:documentation>Предоставление информации о результатах квитирования (ответ)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Id" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Идентификатор ответа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rgid" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Идентификатор запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientIdentifier" type="clt_ru:CodeVariable6Type">
            <xs:annotation>
              <xs:documentation>УРН участника – получателя ответа на запрос</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Timestamp" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время формирования сообщения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HasMore" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак окончания выборки(Допустимые значения: false- достигнут конец выборки; true- после последнего предоставленного элемента в выборке имеются другие)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Result" type="gcqe_res:ResultType">
            <xs:annotation>
              <xs:documentation>Результат обработки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009257E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ClarificationType">
    <xs:annotation>
      <xs:documentation>Сведения об уточнениях вида и принадлежности платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ClarificationId" type="gcqe_res:ClarificationIdType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор уточнения вида и принадлежности платежа (УВПП)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComparisonResultType">
    <xs:annotation>
      <xs:documentation>Результат дополнителного сопоставления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentId" type="gcqe_res:PaymentIdType">
        <xs:annotation>
          <xs:documentation>УИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonWeight" type="gcqe_res:LongIntegerType">
        <xs:annotation>
          <xs:documentation>Вес совпадения реквизитов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата сопоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountPayment" type="gcqe_res:LongIntegerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма, указанная в платеже</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КБК, указанный в платеже</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ОКТМО, указанный в платеже</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountNumber" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер счета получателя средств, указанный в платеже</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIK" type="clt_ru:BICIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>БИК банка получателя средств, указанный в платеже</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountFixedType">
    <xs:annotation>
      <xs:documentation>Условия оплаты с фиксированной суммой скидки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DiscountValue" type="gcqe_res:DiscountValueType">
        <xs:annotation>
          <xs:documentation>Сумма скидки от полной суммы начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiscountDate" type="gcqe_res:DiscountDateType">
        <xs:annotation>
          <xs:documentation>Срок действия скидки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountSizeType">
    <xs:annotation>
      <xs:documentation>Условия оплаты со скидкой (процент)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DiscountValue" type="gcqe_res:ProcentDiscountValueType">
        <xs:annotation>
          <xs:documentation>Процент скидки от суммы начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiscountDate" type="gcqe_res:DiscountDateType">
        <xs:annotation>
          <xs:documentation>Срок действия скидки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountType">
    <xs:annotation>
      <xs:documentation>Дополнительные условия оплаты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="DiscountFixed" type="gcqe_res:DiscountFixedType">
          <xs:annotation>
            <xs:documentation>Условия оплаты с фиксированной суммой скидки</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DiscountSize" type="gcqe_res:DiscountSizeType">
          <xs:annotation>
            <xs:documentation>Условия оплаты со скидкой (процент)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MultiplierSize" type="gcqe_res:MultiplierSizeType">
          <xs:annotation>
            <xs:documentation>Условия оплаты с применением понижающего размер коэффициента</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IncomeType">
    <xs:annotation>
      <xs:documentation>Сведения о возврате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IncomeId" type="gcqe_res:IncomeIdType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор зачисления (УИЗ)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultiplierSizeType">
    <xs:annotation>
      <xs:documentation>Условия оплаты с применением понижающего размер коэффициента</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DiscountValue" type="clt_ru:CodeVariable4Type">
        <xs:annotation>
          <xs:documentation>Коэффициент, понижающий размер начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiscountDate" type="gcqe_res:DiscountDateType">
        <xs:annotation>
          <xs:documentation>Срок действия учета коэффициента, понижающего размер начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PossibleDataType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения об извещениях о приеме к исполнению распоряжений, которые несквитированы с извещением о начислении, но сопоставлены с ним по нескольким реквизитам квитирования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SupplierBillID" type="gcqe_res:SupplierBillIDType">
        <xs:annotation>
          <xs:documentation>УИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAmount" type="gcqe_res:LongIntegerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма, указанная в начислении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonResult" type="gcqe_res:ComparisonResultType" maxOccurs="100">
        <xs:annotation>
          <xs:documentation>Результат дополнителного сопоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuittanceType">
    <xs:annotation>
      <xs:documentation>Результаты квитирования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SupplierBillID" type="gcqe_res:SupplierBillIDType">
        <xs:annotation>
          <xs:documentation>УИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAmount" type="gcqe_res:LongIntegerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма, указанная в начислении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreationDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата квитирования (создания квитанции)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BillStatus" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Статус, присвоенный начислению при создании квитанции. Возможные значения:
                        1 – сквитировано (полностью совпали все параметры квитирования). Статус устанавливается в результате автоматического квитирования;
                        2 – предварительно сквитировано (не совпал хотя бы один из параметров квитирования, за исключением УИН). Статус устанавливается в результате автоматического квитирования;
                        3 – не сквитировано (не был получен ни один платеж, соответствующий начислению);
                        4 – сквитировано по инициативе АН/ГАН с отсутствующим платежом. Статус устанавливается в результате обработки запроса от АН/ГАН на квитирование начисления с отсутствующим в ГИС ГМП платежом.
                        5 – принудительно сквитировано по инициативе АН/ГАН с платежом. Статус устанавливается в результате обработки запроса на принудительное квитирование с платежом по инициативе АН/ГАН.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Balance" type="gcqe_res:LongType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разность между суммой, указанной в начислении, и суммой платежей с учетом возвратов.
                        Целое число, показывающее сумму в копейках.
                        Отрицательное значение информирует о переплате.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentId" type="gcqe_res:PaymentIdType">
        <xs:annotation>
          <xs:documentation>УИП, присвоенный участником, принявшим платеж</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountPayment" type="gcqe_res:LongIntegerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма, указанная в платеже</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeINN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeKPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerIdentifier" type="gcqe_res:PayerIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountNumber" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер счета получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIK" type="clt_ru:BICIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>БИК банка получателя средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsRevoked" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак аннулирования квитанции. true - квитанция аннулирована; false - квитанция действующая.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentPortal" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак уплаты с использованием ЕПГУ, РПГУ и иных порталов, интегрированных с ЕСИА</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Discount" type="gcqe_res:DiscountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные условия оплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Refund" type="gcqe_res:RefundType" minOccurs="0" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Сведения о возврате денежных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Income" type="gcqe_res:IncomeType" minOccurs="0" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Сведения о зачислениях денежных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Clarification" type="gcqe_res:ClarificationType" minOccurs="0" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Сведения об уточнениях вида и принадлежности платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefundType">
    <xs:annotation>
      <xs:documentation>Сведения о возврате денежных средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefundId" type="gcqe_res:RefundIdType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор возврата (УИВ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="gcqe_res:LongIntegerType">
        <xs:annotation>
          <xs:documentation>Сумма возврата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>Результат обработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quittance" type="gcqe_res:QuittanceType" minOccurs="0" maxOccurs="100">
        <xs:annotation>
          <xs:documentation>Результаты квитирования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PossibleData" type="gcqe_res:PossibleDataType" minOccurs="0" maxOccurs="100">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения об извещениях о приеме к исполнению распоряжений, которые несквитированы с извещением о начислении, но сопоставлены с ним по нескольким реквизитам квитирования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ClarificationIdType">
    <xs:annotation>
      <xs:documentation>Уникальный идентификатор уточнения вида и принадлежности платежа (УВПП)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="5\d{4}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{19}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DiscountDateType">
    <xs:annotation>
      <xs:documentation>Срок действия скидки.
                Возможные значения:
                - дата окончания скидки в формате «ГГГГ-ММ-ДД»;
                - при отсутствии срока действия	указывается значение «0».</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="(\d{4}-\d{2}-\d{2})|0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DiscountValueType">
    <xs:annotation>
      <xs:documentation>Сумма скидки от полной суммы начисления</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:NumericCategoriesCust">
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IncomeIdType">
    <xs:annotation>
      <xs:documentation>Уникальный идентификатор зачисления (УИЗ)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="4\d{4}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{19}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongIntegerType">
    <xs:annotation>
      <xs:documentation>Целое неотрицательное число от 0 до 18446744073709551615</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="18446744073709551615" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongType">
    <xs:annotation>
      <xs:documentation>Целое число от -9223372036854775808 до 9223372036854775807</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="-9223372036854775808" />
      <xs:maxInclusive value="9223372036854775807" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PayerIdentifierType">
    <xs:annotation>
      <xs:documentation>Идентификатор плательщика</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="22" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentIdType">
    <xs:annotation>
      <xs:documentation>Тип предназначен для указания УИП</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProcentDiscountValueType">
    <xs:annotation>
      <xs:documentation>Процент скидки от суммы начисления</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefundIdType">
    <xs:annotation>
      <xs:documentation>Уникальный идентификатор извещения о возврате денежных средств</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="\d{8}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{9}" />
      <xs:pattern value="^6\d{4}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{19}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SupplierBillIDType">
    <xs:annotation>
      <xs:documentation>УИН</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="\d{15}" />
      <xs:pattern value="\w{20}" />
      <xs:pattern value="\d{25}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>