XSD_Schs/V5.21.0/GTDObligationIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:gobin="urn:customs.ru:Information:CustomsDocuments:GTDObligationIN:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:GTDObligationIN:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.21.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Обязательство о подаче таможенной декларации и представлении необходимых документов и сведений (внутренний формат)</xs:documentation>
  </xs:annotation>
  <xs:element name="GTDObligationIN" type="gobin:GTDObligationINType" />
  <xs:complexType name="GTDObligationINType">
    <xs:annotation>
      <xs:documentation>Обязательство о подаче таможенной декларации и представлении необходимых документов и сведений (внутренний формат)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustMarkSign" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия отметок таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateSign" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подписания декларантом или таможенным представителем</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsUsagePurpose" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цель использования товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDirection" type="clt_ru:TransitDirectionCodeType">
            <xs:annotation>
              <xs:documentation>Направление перемещения товаров (ИМ, ЭК)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalGoodsQuantity" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Всего наименований товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
            <xs:annotation>
              <xs:documentation>Курс валюты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
              <xs:documentation>Код валюты цены договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак контейнерных перевозок: 1 - если перевозка товаров (хотя бы одного из них) через там. границу производится (производилась) в контейнере; 0 - в иных случаях (в том числе, если сведения о перевозке неизвестны)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FilledPerson" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные лица, подающего обязательство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Simplification" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Используемое упрощение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADCustomsProcedure" type="gobin:CustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Таможенная процедура</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationGoods" type="gobin:ObligationGoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, о выпуске которых просит осуществить декларант</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationDeclarant" type="gobin:OrganizationType">
            <xs:annotation>
              <xs:documentation>Заявитель обязательства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsMark" type="gobin:ConfPaytDocumentsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки таможенных органов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoCustomsPay" type="gobin:InfoCustomsPayType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об обеспечении таможенных платежей (заполняется, если произведена уплата таможенных   платежей  или требуется  обеспечение уплаты причитающихся таможенных платежей, в ином случае - не заполняется)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationRegNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер обязательства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TradeCountry" type="gobin:CountryType">
            <xs:annotation>
              <xs:documentation>Торгующая страна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureCountry" type="gobin:CountryType">
            <xs:annotation>
              <xs:documentation>Страна отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountry" type="gobin:CountryType">
            <xs:annotation>
              <xs:documentation>Страна происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountry" type="gobin:CountryType">
            <xs:annotation>
              <xs:documentation>Страна назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Transport" type="gobin:TransportInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="gobin:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="gobin:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustBroker" type="gobin:CustBrokerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный представитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceMarks" type="catESAD_ru:RUESADCommonOfficialMarkType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocuments" type="gobin:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представляемые документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006170E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConfPaytDocumentsType">
    <xs:annotation>
      <xs:documentation>Документы, подтверждающие уплату таможенных платежей.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PayDocument" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак принятия обеспечения уплаты таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotRequiredPayment" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак того, что обеспечение уплаты таможенных платежей не требуется</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObligDecision" type="gobin:ObligDecisionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Решение по выпуску товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>Сведения о стране</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое название страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustBrokerType">
    <xs:annotation>
      <xs:documentation>Таможенный представитель (брокер)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AbbreviationCustBrokerName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование таможенного представителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BrokerReestrNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер Свидетельства о включении в Реестр таможенных представителей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BrokerReestrDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи Свидетельства о включении в Реестр таможенных представителей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип документа:2 - свидетельство таможенного  представителя (брокера ); 3 - свидетельство таможенного представителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsProcedureType">
    <xs:annotation>
      <xs:documentation>Таможенная процедура</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MainCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
        <xs:annotation>
          <xs:documentation>Код заявляемой таможенной процедуры в соответствии с классификатором видов таможенных  процедур.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType">
        <xs:annotation>
          <xs:documentation>Код особенности декларирования товаров по Классификатору особенностей таможенного декларирования товаров.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoCustomsPayType">
    <xs:annotation>
      <xs:documentation>Сведения об обеспечении таможенных платежей (заполняется, если произведена уплата таможенных   платежей  или требуется  обеспечение уплаты причитающихся таможенных платежей, в ином случае - не заполняется)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecuteAssure" type="clt_ru:DigitalIndicatorType">
        <xs:annotation>
          <xs:documentation>Уплата причитающихся таможенных платежей произведена/обеспечена. Если значение 1  - произведена, 0 - обеспечена</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymenSecuring" type="clt_ru:DigitalIndicatorType">
        <xs:annotation>
          <xs:documentation>Подтверждающие уплату/ обеспечение уплаты   причитающихся таможенных платежей документы прилагаются. Если значение 1 -   уплату, 0 - обеспечение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentSum" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObligDecisionType">
    <xs:annotation>
      <xs:documentation>Решение по выпуску товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Decision" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Решения по обязательству</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код принятого решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Foundation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обоснование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecTime" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateLimit" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок подачи ДТ, документов, сведений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AuthorizedPerson" type="cat_ru:CustomsPersonType">
        <xs:annotation>
          <xs:documentation>Уполномоченное должностное лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObligationGoodsType">
    <xs:annotation>
      <xs:documentation>Товары, выпуск которых просит осуществить декларант</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADGoodsItemType">
        <xs:sequence>
          <xs:element name="MilitaryProductCategoryCode" type="clt_ru:Code4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Категория продукции военного назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountrySign" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак кода страны происхождения: 0 - буквенный код alpha-2 по классификатору OKSMT; 1 - буквенный код EU</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity12" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения (1,2)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о юр. лице/физ. лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubdivisionInfo" type="cat_ru:CUBranchDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обособленное подразделение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Представляемые документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признак: 1 - документы, позволяющие идентифицировать товары; 2 - документы, подтверждающий соблюдение ограничений, установленных законодательством РФ о регулировании внешнеторговой деятельности; 3 - документы, свидетельствующие об уплате/обеспечении уплаты таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ModeCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида документа (заполняется в соответствии с классификатором видов документов, используемых при таможенном декларировании)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountCustomaPay" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма уплаты/обеспечения уплаты таможенных платежей по документу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddPaymentCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код способа обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транспорте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак транспортного средства: 0 - при отправлении/прибытии (18); 1 - на границе (21)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Quantity" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Общее количество транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeans" type="gobin:TransportType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransportType">
    <xs:annotation>
      <xs:documentation>Транспортное средство</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:TransportMeansBaseType">
        <xs:sequence>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак контейнерных перевозок: 1 - если перевозка товаров (хотя бы одного из них) через там. границу производится (производилась) в контейнере; 0 - в иных случаях (в том числе, если сведения о перевозке неизвестны)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TraditionalName" type="clt_ru:TransportNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Традиционное наименование транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>