XSD_Schs/V5.21.0/GuaranteeLostGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 23.06.2014 № 1185 «Об утверждении Порядка взаимодействия подразделений таможенных органов при взыскании таможенных пошлин, налогов в случае недоставки иностранных товаров, перевозимых в соответствии с таможенной процедурой таможенного транзита». Письмо ФТС от 18.10.2016 №09-125/53029 таблица и печатная форма  -->
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:glg="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeLostGoods:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeLostGoods:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение по результатам таможенного контроля, выявлена задолженность </xs:documentation>
  </xs:annotation>
  <xs:element name="GuaranteeLostGoods" type="glg:GuaranteeLostGoodsType">
    <xs:annotation>
      <xs:documentation>Решение по результатам таможенного контроля, выявлена задолженность </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GuaranteeLostGoodsType">
    <xs:annotation>
      <xs:documentation>Решение по результатам таможенного контроля, выявлена задолженность </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DecisionNumber" type="glg:DecisReqsType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionType" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Источник решения: 0 – КПС «Постконтроль», 1 – АС «КТТ-2» , 2 - КПС «Карнет АТА», 3 - АИС "АИСТ-М", 4 - КПС "Тарифы-1"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TDInfo" type="glg:TDInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о транзитной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ATACarnetInfo" type="glg:ATACarnetInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о карнете АТА</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTNumber" type="glg:APPNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ/ Заявления о выпуске товаров до подачи декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtDepartmentCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код структурного подразделения таможенного контроля для отчетности по 11_Долг ТКПВТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonPerformingControl" type="glg:PersonType">
            <xs:annotation>
              <xs:documentation>Лицо, проводившее таможенный контроль</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HeadCustomsDepartment" type="glg:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальник (заместитель) таможенного органа, принявшего решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonTookDecision" type="glg:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, принявшее решение (должностное лицо отдела контроля за транзитом товара)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ViolationInfo" type="glg:ViolationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о нарушении </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Violator" type="glg:ViolatorType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о нарушителе таможенной процедуры </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocument" type="glg:AttachedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о прилагаемых документах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TDGuarantee" type="glg:TDGuaranteeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об обеспечении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="glg:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LiableTrader" type="glg:LiableTraderType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о лицах, несущих солидарную ответственность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус решения : 0 - создан, 1- подписан, 2 - направлен, 3 - отменен, 4 - восстановлен, 5 - приостановлен</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateStatus" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата  статуса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050013E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AEODeclarantType">
    <xs:annotation>
      <xs:documentation>Сведения об уполномоченном экономическом операторе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="AEORegistryIdDetails" type="RUScat_ru:AEORegistryIdDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер свидетельства о включении в реестр уполномоченных экономических операторов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="APPNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ДТ/ Заявления о выпуске товаров до подачи декларации на товары</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая 3ей части номера (ОБ/ЗВ)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ATACarnetInfoType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения для решения по Карнетам АТА</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CarnetNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер листа карнета АТА</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedBy" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование выдающей ассоциации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuingCountry" type="clt_ru:CountryN3CodeType">
        <xs:annotation>
          <xs:documentation>Код страны выдающей ассоциации (ОКСМ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValidUntil" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок действия карнета АТА</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EntryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата ввоза товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExportDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата вывоза товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachedDocumentType">
    <xs:annotation>
      <xs:documentation>Прилагаемый документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocLists" type="clt_ru:SheetNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов в документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocCopies" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество экземпляров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>Лицо, осуществляющее перевозку товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="CarrierAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место нахождения перевозчика в соответствии с транспортными (перевозочными) документами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierSertificate" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер свидетельства таможенного перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DecisReqsType">
    <xs:annotation>
      <xs:documentation>Реквизиты решения по ТК</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DecisFullNumb" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Полный номер решения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:EECDTGoodsBaseDetailsType">
        <xs:sequence>
          <xs:element name="InvoicedCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цена/стоимость товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Трехзначный буквенный код валюты цены договора/ платежа (оценки). По классификатору валют</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LiableTraderType">
    <xs:annotation>
      <xs:documentation>Сведения о лицах, несущих солидарную ответственность</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус лица: 1 - гарант; 2 - поручитель; 3 - АСМАП; 4 - иное лицо, предоставившее обеспечение за декларанта процедуры транзита</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Лицо, проводившее таможенный контроль./принявшее решение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element name="PersonPost" type="clt_ru:PostType">
            <xs:annotation>
              <xs:documentation>Должность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartmentCode" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Структурное подразделение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtDepartmentCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код структурного подразделения таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TDGuaranteeType">
    <xs:annotation>
      <xs:documentation>Сведения об обеспечении</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteePresence" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Информация о наличии обеспечения уплаты таможенных пошлин, налогов : 0 - отсутствие; 1 - наличие ; 2 - предварительное декларирование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeMethod" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Способ обеспечения : 1 - банковская гарантия; 2 - денежные средства; 3 - поручительство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureCode" type="cltESAD_cu:GuaranteeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код меры обеспечения соблюдения ТТ по классификатору мер обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа, подтверждающего принятие мер обеспечения соблюдения ТТ в виде обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа, подтверждающего принятие мер обеспечения соблюдения ТТ в виде обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транзитной декларации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип документа: 1 - ТД ; 2 - TIR</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TIRID" type="glg:TIRIDType">
          <xs:annotation>
            <xs:documentation>Номер книжки МДП</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TDNumber" type="cat_ru:GTDIDType">
          <xs:annotation>
            <xs:documentation>Номер транзитной декларации</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRIDType">
    <xs:annotation>
      <xs:documentation>Номер книжки МДП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TIRID" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRSeries" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Серия книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRPageNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер листа книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViolationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о нарушении </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DayExecuteObligationsPay" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>День исполнения обязанности по уплате таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomControlAct" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты акта таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FZArticlesNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номера статей Федерального закона от 27.11.2010 №311-ФЗ "О таможенном регулировании в РФ"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KodeksArticlesNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номера статей ТК ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateViolationConventionATA" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата нарушения положений Конвенции АТА</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxCalcReason" type="clt_ru:Code4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Случай исчисления таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViolatorType">
    <xs:annotation>
      <xs:documentation>Сведения о нарушителе таможенной процедуры ТТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Carrier" type="glg:CarrierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о перевозчике</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarantAEO" type="glg:AEODeclarantType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об УЭО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherViolator" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об ином нарушителе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>