XSD_Schs/V5.21.0/HumanitarianTechAid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:hta="urn:customs.ru:Information:SQDocuments:HumanitarianTechAid:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:HumanitarianTechAid:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Удостоверение о признании средств, товаров, работ и услуг гуманитарной помощью/технической помощью (содействием)</xs:documentation>
  </xs:annotation>
  <xs:element name="HumanitarianTechAid" type="hta:HumanitarianTechAidType" />
  <xs:complexType name="HumanitarianTechAidType">
    <xs:annotation>
      <xs:documentation>Удостоверение о признании средств, товаров, работ и услуг гуманитарной помощью/технической помощью (содействием)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Удостоверение о признании средств, товаров, работ и услуг : 0 - гуманитарной помощью; 1 - технической помощью (содействием)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прекращения действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AidProjectReestrNum" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер проекта/программы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AidProjectReestrInfo" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование проекта/программы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OutRegNum" type="clt_ru:CodeVariable10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходящий регистрационный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SessionFirst" type="hta:SessionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Протокол первого заседания комиссии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SessionLast" type="hta:SessionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Протокол последнего заседания комиссии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sum" type="hta:AmountType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сумма удостоверения о признании средств, товаров, работ и услуг технической помощью (содействием)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationInfo" type="hta:DocumentType">
            <xs:annotation>
              <xs:documentation>Сведения об удостоверении  о признании средств, товаров, работ и услуг технической помощью (содействием)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Help" type="hta:HelpType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о виде технической помощи (содействия)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="hta:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах/работах/услугах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="RUScat_ru:RUOrganizationNameAddrType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Получатели</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Supplier" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Поставщики</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProviderAsDonor" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак, что поставщиком является донор ( true ) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="hta:ContractType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Договора с поставщиком</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BusNum" type="clt_ru:Text10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер дела</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Donor" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Донор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DonorOrganization" type="clt_ru:ShortNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Международная организация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DonorContract" type="hta:ContractType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Соглашение/договор/контракт с донором</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009063E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах/работах/услугах (тип)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NameNumPP" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>№ п/п </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара/работы/услуги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость единицы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostTotal" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость общая </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Currency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyDigitalCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyName" type="clt_ru:CurrencyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес в основных единицах измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightSupQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес в дополнительных единицах измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SessionType">
    <xs:annotation>
      <xs:documentation>Протокол заседания комиссии по вопросам международной гуманитарной и технической помощи при Правительстве РФ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComNum" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер протокола</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SessionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата заседания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractType">
    <xs:annotation>
      <xs:documentation>Донор. Соглашение, договор, контракт (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ContractCash" type="hta:AmountType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сумма и валюта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HelpType">
    <xs:annotation>
      <xs:documentation>Вид технической помощи (тип)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HelpFunds" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HelpGoods" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HelpWorking" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Работы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HelpServices" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Услуги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HelpComment" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Краткое описание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Сведения об удостоверении (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DateTo" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Validity" type="clt_ru:DateYearCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия удостоверения о признании средств, товаров, работ и услуг технической помощью (содействием)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>Денежная сумма и код валюты (тип)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код валюты в соответствии с Классификатором валют</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyName" type="clt_ru:CurrencyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>