XSD_Schs/V5.21.0/IBLRequestInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:iri="urn:customs.ru:Information:CustomsDocuments:IBLRequestInfo:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:IBLRequestInfo:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений об  индикативных балансах</xs:documentation>
  </xs:annotation>
  <xs:element name="IBLRequestInfo" type="iri:IBLRequestInfoType">
    <xs:annotation>
      <xs:documentation>Запрос сведений об  индикативных балансах</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="IBLRequestInfoType">
    <xs:annotation>
      <xs:documentation>Запрос сведений об  индикативных балансах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ReqDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код особенности декларирования товаров по классификатору особенностей таможенного декларирования товаров. Гр.7 ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateYear" type="clt_ru:DateYearCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Год учета балансов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна назначения. Буквенный код страны в соответствии с классификатором стран мира </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="iri:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1051012E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС. Гр.33 первый раздел</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocument" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Предшествующие ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>