XSD_Schs/V5.21.0/IdentifierData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:id="urn:customs.ru:IdentifierData:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:IdentifierData:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Расходование денежных средств на лицевых счетах плательщиков таможенных и иных платежей. Информация с идентифицирующими запрос данными</xs:documentation>
  </xs:annotation>
  <xs:element name="IdentifierData" type="id:IdentifierDataType">
    <xs:annotation>
      <xs:documentation>Расходование денежных средств на лицевых счетах плательщиков таможенных и иных платежей. Информация с идентифицирующими запрос данными</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="IdentifierDataType">
    <xs:annotation>
      <xs:documentation>Расходование денежных средств на лицевых счетах плательщиков таможенных и иных платежей. Информация с идентифицирующими запрос данными</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Document" type="id:DocumentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Код документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040045E">
          <xs:annotation>
            <xs:documentation>Служебный идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Информация о документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GtdNumber" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Справочный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameAuthority" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа государственной власти</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestorName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО должностного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfficeName" type="clt_ru:CustomsOfficeNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TnvedCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherInfo" type="id:InfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoType">
    <xs:annotation>
      <xs:documentation>Дополнительная информация</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование параметра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Значение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>