XSD_Schs/V5.21.0/IDKPrevRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:acat_ru="urn:customs.ru:ArriveCommonAggregateTypes:5.21.0" xmlns:ATDcat="urn:customs.ru:Information:CustomsDocuments:ATDCommon:5.21.0" xmlns:idks="urn:customs.ru:Information:CustomsDocuments:IDKPrevRes:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:IDKPrevRes:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:ArriveCommonAggregateTypes:5.21.0" schemaLocation="ArriveCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsDocuments:ATDCommon:5.21.0" schemaLocation="ATDCommon.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Информация о ранее проведенном осмотре с ИДК и наличии технических возможностей</xs:documentation>
  </xs:annotation>
  <xs:element name="IDKPrevRes" type="idks:IDKPrevResType" />
  <xs:complexType name="IDKPrevResType">
    <xs:annotation>
      <xs:documentation>Информация о ранее проведенном осмотре с ИДК и наличии технических возможностей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsOfficer" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevIDK" type="idks:PrevIDKType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Ранее проведенные осмотры с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKCustoms" type="idks:IDKCustomsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Таможенные  органы, приближенные к объекту осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006245E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PrevIDKType">
    <xs:annotation>
      <xs:documentation>Ранее проведенные осмотры с ИДК</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ATDcat:CustDocNumberType">
        <xs:sequence>
          <xs:element name="IndPrevIDK" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия ранее проведенных осмотров с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер транспортного средства для поиска предшествующих осмотров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevDocuments" type="idks:InspDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера сопроводительных документов для поиска предшествующих осмотров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerIdentificaror" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера  контейнеров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INNParticipant" type="idks:INNParticipantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об участниках ВЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstrNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер направления на осмотр с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VOIActNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер акта осмотра с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InspDocumentsType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="INNParticipantType">
    <xs:annotation>
      <xs:documentation>ИНН участника ВЭД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INNConsignor" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNConsignee" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNCarrier" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН перевозчика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IDKCustomsType">
    <xs:annotation>
      <xs:documentation>Таможенные органы с ИДК</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="IDKAvailability" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия ИДК в ТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDK_id" type="clt_ru:CodeVariable8Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ИДК, которому назначается осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKKind" type="ATDcat:IDKKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид места дислокации ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKpossibility" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак возможности проведения осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WorkSchedule" type="acat_ru:ArrivePointLocationWorkDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Режим работы подразделения таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>