XSD_Schs/V5.21.0/ImportAutoInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_CA_CP_05_ImportCarInformation_v1.0.0.xsd альбома ЕЭК (R.CA.CP.05.001: Сведения в отношении автомобилей, ввезенных и выпущенных для внутреннего потребления (в свободное обращение)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:iai="urn:customs.ru:Information:SQDocuments:ImportAutoInformation:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ImportAutoInformation:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения в отношении автомобилей, ввезенных и выпущенных для внутреннего потребления (в свободное обращение)</xs:documentation>
  </xs:annotation>
  <xs:element name="ImportAutoInformation" type="iai:ImportAutoInformationType">
    <xs:annotation>
      <xs:documentation>Сведения в отношении автомобилей, ввезенных и выпущенных для внутреннего потребления (в свободное обращение)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ImportAutoInformationType">
    <xs:annotation>
      <xs:documentation>Сведения в отношении автомобилей, ввезенных и выпущенных для внутреннего потребления (в свободное обращение)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportCarInfoDetails" type="iai:ImportCarInfoDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о выпуске автомобильного транспортного средства в свободное обращение (для внутреннего потребления)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009221E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DTExchAutomobileInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об автомобиле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChassisID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер шасси (рамы) транспортного средства, присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BodyID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер кузова (кабины) транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование марки транспортного средства (шасси транспортного средства, самоходной машины)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование модели транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfftakeYear" type="clt_ru:DateYearCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Год выпуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EngineID" type="clt_ru:EngineIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер двигателя, присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EngineVolumeMeasure" type="iai:EngineVolumeMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем двигателя транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocId" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер удостоверения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EngineVolumeMeasureType">
    <xs:annotation>
      <xs:documentation>Объем двигателя транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EngineVolumeQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Объем двигателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Условное обозначение единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения в соответствии с единицами измерения, применяемыми в ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLAvtoDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об автомобильном транспортном средстве, выпущенном для внутреннего потребления (в свободное обращение)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTExchAutomobileInfo" type="iai:DTExchAutomobileInfoType">
        <xs:annotation>
          <xs:documentation>Сведения об автомобиле</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleDescriptionText" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCostAmount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsIssueDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выпуска товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxPaySignCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак уплаты таможенных пошлин по ставкам ЕТТ ЕАЭС: 1 – таможенная пошлина уплачена по ставкам ЕТТ ЕАЭС; 2 – таможенная пошлина уплачена по ставкам, отличным от ставок, установленных ЕТТ ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInfoText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о выпущенном автомобиле</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportCarInfoDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о выпуске автомобильного транспортного средства в свободное обращение (для внутреннего потребления)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код государства-члена, представившего сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDocIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TPOID" type="iai:TPOIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о справочном номере ТПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FLAvtoDetails" type="iai:FLAvtoDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об автомобильном транспортном средстве, выпущенном для внутреннего потребления (в свободное обращение)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPOIDType">
    <xs:annotation>
      <xs:documentation>Идентифицирующие параметры документа ТПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocCreationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи, подписания, утверждения или регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderNumber" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Серия и (или) типографский номер ТПО, либо порядковый номер по журналу регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>