XSD_Schs/V5.21.0/InformAndAanalyticalReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:iar="urn:customs.ru:Information:CustomsDocuments:InformAndAanalyticalReference:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:InformAndAanalyticalReference:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Информационно-аналитическая справка</xs:documentation>
  </xs:annotation>
  <xs:element name="InformAndAanalyticalReference" type="iar:InformAndAanalyticalReferenceType">
    <xs:annotation>
      <xs:documentation>Информационно-аналитическая справка</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InformAndAanalyticalReferenceType">
    <xs:annotation>
      <xs:documentation>Информационно-аналитическая справка</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GeneralInformation" type="iar:GeneralInformationType">
            <xs:annotation>
              <xs:documentation>Общие сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MonitoringAndAnalysisObject" type="iar:MonitoringAndAnalysisObjectType">
            <xs:annotation>
              <xs:documentation>Сведения об объекте мониторинга и анализа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MonitoringAndAnalysisGoods" type="iar:MonitoringAndAnalysisGoodsType">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, в отношении которых проводился мониторинг и анализ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="QuestionsToBeVerified" type="iar:QuestionsToBeVerifiedType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вопросы, подлежащие проверке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MonitoringAndAnalysisResults" type="iar:MonitoringAndAnalysisResultsType">
            <xs:annotation>
              <xs:documentation>Результаты мониторинга и анализа (описательная часть)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreliminaryDamage" type="iar:PreliminaryDamageType">
            <xs:annotation>
              <xs:documentation>Предварительный ущерб</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MonitoringAndAnalysisConclusions" type="iar:MonitoringAndAnalysisConclusionsType">
            <xs:annotation>
              <xs:documentation>Результаты мониторинга и анализа (выводы)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OfficialsMonitoringAndAnalysis" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Должностные лица, проводившие мониторинг и анализ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Agreed" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Согласовано</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvOtherCustomsAuthoritiesOrExperts" type="iar:InvOtherCustomsAuthoritiesOrExpertsType">
            <xs:annotation>
              <xs:documentation>Привлечение должностных лиц иных структурных подразделений 	таможенных органов, специалистов (экспертов)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsMark" type="iar:CustomsMarkType">
            <xs:annotation>
              <xs:documentation>Служебные отметки </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006332E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AnotherDocType">
    <xs:annotation>
      <xs:documentation>Иные документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Issued" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кем выдан документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AnalyticalWorkTerm" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок проведения аналитической работы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnalyticalWorkTermMinusRequests" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок проведения аналитической работы за вычетом сроков направления запросов и получения ответов на них</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShareOfQuantityDeclarations" type="clt_ru:Quantity4point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля количества ДТ проанализированных от задекларированных участником ВЭД в анализируемом периоде</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShareOfQuantityStatisticalValue" type="clt_ru:Quantity4point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля статистической стоимости проанализированных товаров от стоимости  задекларированных участником ВЭД в анализируемом периоде</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclarationType">
    <xs:annotation>
      <xs:documentation>Сведения о декларациях на товары, в отношении которых проводился мониторинг и анализ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GTDNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара в декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryCode" type="RUScat_ru:CountryDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны происхождения по классификатору стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес нетто товара, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Статистическая стоимость декларируемого товара. Гр. 46</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoReleaseMark" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Отметка об автовыпуске товаров: 0 - нет, 1 - автовыпуск</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumber" type="iar:RiskProfileType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер профиля риска, на основании которого проводилась аналитическая работа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DirectionOfAnalysis" type="clt_ru:Code6Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о направлении анализа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PossibleDamage" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма возможного ущерба</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnalyticalTechnology" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Технология, на основе которой проводилась аналитическая работа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileType">
    <xs:annotation>
      <xs:documentation>Файл, прилагаемый к документу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Название файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileMimeType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Расширение файла (image/jpeg или image/pjpeg).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileData" type="CategoryCust:BinaryDataCategoriesCust">
        <xs:annotation>
          <xs:documentation>Данные файлов-вложений в кодировке BASE64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralInformationType">
    <xs:annotation>
      <xs:documentation>Общие сведения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceRegNumber" type="iar:ReferenceRegNumberType">
        <xs:annotation>
          <xs:documentation>Номер электронного документа (ИАС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreparationDocDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата составления электронного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficeName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IARNumber" type="iar:IARNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер аналитической работы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodOfWork" type="iar:TermType">
        <xs:annotation>
          <xs:documentation>Период проведения аналитической работы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnalyzedPeriod" type="iar:TermType">
        <xs:annotation>
          <xs:documentation>Анализируемый период</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BasisForWorkCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Код основания для проведения работ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumber" type="iar:RiskProfileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaskPlanNumber" type="iar:TaskPlanNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер план-задания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SuperiorCustomsOrderNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты поручения вышестоящего таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnotherDocNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты иного документа, на основании которого проводилась аналитическая работа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnalyticalWorkDirection" type="clt_ru:Code6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Направление аналитической работы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IARNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер аналитической работы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationYear" type="clt_ru:DateYearCustType">
        <xs:annotation>
          <xs:documentation>Год регистрации аналитической работы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvOtherCustomsAuthoritiesOrExpertsType">
    <xs:annotation>
      <xs:documentation>Привлечение должностных лиц иных структурных подразделений таможенных органов, специалистов (экспертов)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="CustomsAuthorities" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Структурное подразделение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasuresInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о мерах, обеспечивающих проведение таможенного контроля, предлагаемых к проведению</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeasuresCode" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код меры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuresDescription" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Описание меры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonitoringAndAnalysisConclusionsType">
    <xs:annotation>
      <xs:documentation>Результаты мониторинга и анализа.Выводы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResumeResults" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Результаты рассмотрения информации (0 - нецелесообразно проведение ТКПВТ, 1 - целесообразно проведение ТКПВТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConclusionsAndSuggestions" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Выводы и предложения по результатам мониторинга и анализа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewRiskProfileNumber" type="iar:NewRiskProfileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о профилях риска, разработанных по результатам анализа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuresInformation" type="iar:MeasuresInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о мерах, обеспечивающих проведение таможенного контроля, предлагаемых к проведению</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonitoringAndAnalysisGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, в отношении которых проводился мониторинг и анализ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Declaration" type="iar:DeclarationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о декларациях на товары, в отношении которых проводился мониторинг и анализ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InformationAboutIndicators" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о показателях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnotherDoc" type="iar:AnotherDocType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об иных документах, которые анализировались в ходе мониторинга и анализа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonitoringAndAnalysisObjectType">
    <xs:annotation>
      <xs:documentation>Сведения об объекте мониторинга и анализа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="BeginRiskLevel" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Уровень риска участника ВЭД на дату начала аналитической работы (0 - отсутствует, 1 - низкий, 2 - средний, 3 - высокий)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndRiskLevel" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уровень риска участника ВЭД на дату завершения аналитической работы (0 - отсутствует, 1 - низкий, 2 - средний, 3 - высокий)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceOfStateRegistration" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Место государственной регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MonitoringAndAnalysisResultsType">
    <xs:annotation>
      <xs:documentation>Результаты мониторинга и анализа.Описательная часть</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Results" type="iar:ResultsType">
        <xs:annotation>
          <xs:documentation>Результаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestsSentAndResponsesReceived" type="iar:RequestsSentAndResponsesReceivedType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о направленных запросах и полученных ответах на них</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestsInvitedToSend" type="iar:RequestsInvitedToSendType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о запросах, которые предлагается  направить в ходе таможенного контроля после выпуска товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewRiskProfileType">
    <xs:annotation>
      <xs:documentation>Номер профиля риска</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="iar:RiskProfileType">
        <xs:sequence>
          <xs:element name="ProjectProposalNumber" type="clt_ru:Code3Type">
            <xs:annotation>
              <xs:documentation>Номер предложений по проекту профиля риска</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PreliminaryDamageType">
    <xs:annotation>
      <xs:documentation>Предварительный ущерб</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PossibleAdditionalCustomsDuties" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возможные к доначислению суммы  таможенной пошлины</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PossibleAdditionalNDS" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возможные к доначислению суммы НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PossibleAdditionalAnotherPayments" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возможные к доначислению суммы иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPreliminaryDamage" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итоговая сумма предварительного ущерба</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PossiblePenalties" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма возможных штрафных санкций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionsToBeVerifiedType">
    <xs:annotation>
      <xs:documentation>Вопросы, подлежащие проверке</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuestionsCode" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Код вопроса, подлежащего проверке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionsName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование вопроса, подлежащего проверке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InformationalResources" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Информационные ресурсы: 1 - ИСС «Малахит»; 2 - ИАС «Тарифы-1» по классификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceInformation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Нормативно-справочная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceRegNumberType">
    <xs:annotation>
      <xs:documentation>Номер ИАС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsSubdivisionCode" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код подразделения таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вносимых изменений (первый символ "А" или "И")</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestsInvitedToSendType">
    <xs:annotation>
      <xs:documentation>Сведения о запросах, которые предлагается  направить в ходе таможенного контроля после выпуска товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Destination" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Адресат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EssenceOfQuestions" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Суть вопросов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestsSentAndResponsesReceivedType">
    <xs:annotation>
      <xs:documentation>Сведения о направленных запросах и полученных ответах на них</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SendingMethod" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Способ направления запроса: 1 - СМЭВ, 2 - почта, 3 - электронная почта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Deadline" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Установленный срок представления информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContentOfQuestions" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Содержание запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceivingMethod" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Способ получения ответа (ответов) на запрос: 1 - СМЭВ, 2 - почта, 3 - электронная почта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnswersDetails" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты ответа (ответов) на запрос</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContentOfAnswers" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Содержание ответа (ответов) на запрос</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultsOfConsideration" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Сведения о результатах рассмотрения ответа (ответов) на запрос</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultsType">
    <xs:annotation>
      <xs:documentation>Результаты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TextResults" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Описание результатов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GraphsndAndTables" type="iar:FileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Результаты в виде графиков, таблиц</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskProfileType">
    <xs:annotation>
      <xs:documentation>Номер профиля риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProfileKind" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска в соответствии с Классификатором видов профилей рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, должностное лицо которого утвердило профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SequenceNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaskPlanNumberType">
    <xs:annotation>
      <xs:documentation>Номер план-задания</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuarterNumber" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Номер квартала выгрузки проектов планов-заданий в КПС «Постконтроль»</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Year" type="clt_ru:DateYearCustType">
        <xs:annotation>
          <xs:documentation>Год выгрузки проектов планов-заданий в КПС «Постконтроль» </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН лица, предлагаемого для включения в план проверочных мероприятий на следующий календарный год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП лица, предлагаемого для включения в план проверочных мероприятий на следующий календарный год</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>Период временного хранения товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BeginDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>