XSD_Schs/V5.21.0/InspectionActReqVeterin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:iareqv="urn:customs.ru:Information:SQDocuments:InspectionActReqVeterin:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:InspectionActReqVeterin:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос подтверждения получения Акта ветеринарно-санитарного досмотра</xs:documentation>
  </xs:annotation>
  <xs:element name="InspectionActReqVeterin" type="iareqv:InspectionActReqVeterinType">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения получения Акта ветеринарно-санитарного досмотра</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InspectionActReqVeterinType">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения получения Акта ветеринарно-санитарного досмотра</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GUID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор цепочки обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Act" type="iareqv:DocType">
            <xs:annotation>
              <xs:documentation>Акт ветеринарно-санитарного досмотра </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="iareqv:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CargoOwnerRepresentative" type="iareqv:CargoOwnerRepresentativeType">
            <xs:annotation>
              <xs:documentation>Сведения о представителе владельца груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectionDate" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время проведения досмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectionPlace" type="RUSclt_ru:Name120Type">
            <xs:annotation>
              <xs:documentation>Место проведения досмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UUID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор товара </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsName" type="RUSclt_ru:FreeText1000Type">
            <xs:annotation>
              <xs:documentation>Наименование товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VeterinaryDoc" type="iareqv:DocType">
            <xs:annotation>
              <xs:documentation>Сведения о ветеринарном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportDoc" type="iareqv:DocType">
            <xs:annotation>
              <xs:documentation>Сведени о  товарно-транспортном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество грузовых мест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportInfo" type="iareqv:TransportInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDispatchCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="iareqv:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConformityGoodsType" type="iareqv:ConformityGoods">
            <xs:annotation>
              <xs:documentation>Соответствие товара показателям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Other" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Иные сведения (N пломбы, отсутствие клинических признаков заболевания у животных, наличие трупов животных, посторонние вложения и т.д.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsRepresentative" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Представитель подразделения таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OfficialsPresent" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Присутствующие должностные лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GlobUID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Глобальный идентификатор для версионируемых сущностей</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009311E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AutoTransportType">
    <xs:annotation>
      <xs:documentation>Сведения об автомобильном транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrailerID" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентификатор прицепа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CargoOwnerRepresentativeType">
    <xs:annotation>
      <xs:documentation>Сведения о представителе владельца груза и доверенности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttorneyNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttorneyDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConformityGoods">
    <xs:annotation>
      <xs:documentation>Сведения о соответствии товара показателям</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConformityGoodsSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Соответствие товара
товаросопроводительным
документам:                                     1 - Соответствует;                           2 - Не соответствует;                       3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempInsideSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Температура внутри транспортного
 средства (контейнера)           1 - Соответствует;                2 - Не соответствует;            3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempGoodsSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Температура товара
 (термометрия животных)       1 - Соответствует;                 2 - Не соответствует;             3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganolepticSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Органолептические показатели 1 - Соответствуют;                 2 - Не соответствуют;             3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductDateSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Дата выработки                      1 - Соответствует;                 2 - Не соответствует;             3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BestBeforeSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Срок реализации (хранения)     1 - Соответствует;               2 - Не соответствует;           3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkingSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Маркировка                         1 - Соответствует;             2 - Не соответствует;         3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VetConditionTransportSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Ветеринарно-санитарное состояние транспортного средства (контейнера)          1 - Соответствует;                                   2 - Не соответствует;                               3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Упаковка:                            1 - Соответствует;              2 - Не соответствует;          3 - Не определено</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о должностном лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocType">
    <xs:annotation>
      <xs:documentation>Сведения о документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUSclt_ru:AddressTextType">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RWTransportType">
    <xs:annotation>
      <xs:documentation>Сведения о железнодорожном транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TrainNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CarriageNumber" type="clt_ru:TransportMeansIDType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер вагона</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
          <xs:annotation>
            <xs:documentation>Наименование судна / номер авиарейса</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RWTransport" type="iareqv:RWTransportType">
          <xs:annotation>
            <xs:documentation>Сведения о железнодорожном транспортном стредстве</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AutoTransport" type="iareqv:AutoTransportType">
          <xs:annotation>
            <xs:documentation>Сведения об автомобильном транспортном средстве</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>