XSD_Schs/V5.21.0/InvalidDocReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Данные по недействительному документу из 44 гр.ДТ для построения формы стат.отчетности №35-ТНР (Приложение к Приказу ФТС от 10.07.2021 № 623)   -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:idr="urn:customs.ru:Information:InvalidDocReport:5.21.0" targetNamespace="urn:customs.ru:Information:InvalidDocReport:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Данные по недействительному документу из 44 гр.ДТ для построения формы стат.отчетности №35-ТНР</xs:documentation>
  </xs:annotation>
  <xs:element name="InvalidDocReport" type="idr:InvalidDocReportType">
    <xs:annotation>
      <xs:documentation>Данные по недействительному документу из 44 гр.ДТ для построения формы стат.отчетности №35-ТНР</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InvalidDocReportType">
    <xs:annotation>
      <xs:documentation>Данные по недействительному документу из 44 гр.ДТ для построения формы стат.отчетности №35-ТНР (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvalidDocReportTime" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Обстоятельства формирования данных: 1 - до выпуска товаров, 2 - после выпуска товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры в соответствии с классификатором видов таможенных процедур (графа 1 ДТ, поле G 0121)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны отправления (графа 15а ДТ, поле G15A)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryName" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование страны отправления (графа 15 ДТ, поле G15)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование отправителя продукции (графа 2 ДТ, поле G022)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee_INN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН получателя (графа 8 ДТ, поле G081)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsigneeName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование получателя (графа 8 ДТ, поле G082)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant_INN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН декларанта (графа 14 ДТ, поле G141)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование декларанта (графа 14 ДТ, поле G142)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvalidDocument" type="idr:InvalidDocumentType">
            <xs:annotation>
              <xs:documentation>Сведения о недействительном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="idr:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvalidDocReportKind" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак формирования записи (графа 19 отчета)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KindExplanation" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Расшифровка признака формирования записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006039E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ (графа 32 ДТ, поле G32)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС (графа 33 ДТ, поле G33)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара по ДТ (графа 31 ДТ, поле G31_1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание группы товаров с учетом дополнительных характеристик (качественных, технических, коммерческих), Поле TEXT1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара (графа 38 ДТ, поле G38)  (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об изготовителе продукции (графа 31 ДТ, поле G31_11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны происхождения (графа 34 ДТ, поле G34) </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvalidDocumentType">
    <xs:annotation>
      <xs:documentation>Сведения о недействительном документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
        <xs:annotation>
          <xs:documentation>Код разрешительного документа (графа 44 ДТ, поле G441)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер разрешительного документа (графа 44 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата разрешительного документа </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>