XSD_Schs/V5.21.0/LoadPTSResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:upts="urn:customs.ru:Information:CustomsDocuments:LoadPTSResult:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:LoadPTSResult:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Пакет с протоколом обработки </xs:documentation>
  </xs:annotation>
  <xs:element name="LoadPTSResult" type="upts:LoadPTSResultType" />
  <xs:complexType name="LoadPTSResultType">
    <xs:annotation>
      <xs:documentation>Пакет с протоколом обработки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ProtocolProcessingPacket" type="upts:ProtocolProcessingPacketType">
            <xs:annotation>
              <xs:documentation>Результат загрузки / обработки исходного пакета </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProtocolProcessingForm" type="upts:ProtocolProcessingFormType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о результатах проведения форматного и структурного контроля бланка</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006099E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ProtocolProcessingFormType">
    <xs:annotation>
      <xs:documentation>Сведения о результатах проведения форматного и структурного контроля по каждому бланку. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MSG_Code" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GUID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор бланка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительная информация об ошибке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProtocolProcessingPacketType">
    <xs:annotation>
      <xs:documentation>Результат загрузки / обработки пакета </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MSG_Code" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительная информация об ошибке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>