XSD_Schs/V5.21.0/MinpromRawMaterialsAndAccessories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:mprma="urn:customs.ru:Information:SQDocuments:MinpromRawMaterialsAndAccessories:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MinpromRawMaterialsAndAccessories:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Подтверждение целевого назначения сырья и комплектующих</xs:documentation>
  </xs:annotation>
  <xs:element name="MinpromRawMaterialsAndAccessories" type="mprma:MinpromRawMaterialsAndAccessoriesType" />
  <xs:complexType name="MinpromRawMaterialsAndAccessoriesType">
    <xs:annotation>
      <xs:documentation>Подтверждение целевого назначения сырья и комплектующих</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Confirmation" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о подтверждении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:RUOrganizationNameAddrType">
            <xs:annotation>
              <xs:documentation>Заявитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Receiver" type="RUScat_ru:RUOrganizationNameAddrType">
            <xs:annotation>
              <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о внешнеторговом контракте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalAgreement" type="mprma:AdditionalAgreementType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дополнительное соглашение к внешнеторговому контракту</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="mprma:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о медицинских товарах, сырье или комплкектующих для производства медицинского товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateBegin" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата начала действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEnd" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherDurationInfo" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Иные сведения о сроке действия товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус: 1 - подтверждение действует; 2 - Подтверждение аннулировано</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AnnulmentDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата аннулирования подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо со стороны Минпромторга</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009193E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdditionalAgreementType">
    <xs:annotation>
      <xs:documentation>Дополнительное соглашение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="AdditionNum" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
              <xs:documentation>Номер приложения к контракту</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о медицинских товарах, сырье или комплектующих для производства медицинского товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="MedicalGoodInfo" type="mprma:MedicalGoodInfoType">
          <xs:annotation>
            <xs:documentation>Сведения о медицинском товаре</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RawMaterialOrAccessoriesInfo" type="mprma:RawMaterialOrAccessoriesInfo">
          <xs:annotation>
            <xs:documentation>Сведения о сырье и комплектующих для производства медицинского товара</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Manufacturer" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование производителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Наименование страны производства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryA3Code" type="clt_ru:CountryA3CodeType">
        <xs:annotation>
          <xs:documentation>Код страны производства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Сведения о количестве и коде единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedicalGoodInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о медицинском товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MedicalGoodName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование медицинского товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Марка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Модель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VendorCode" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Артикул</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RawMaterials" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Сырье</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Materials" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Материалы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherInfo" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иная характеристика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Certification" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Сведения о регистрационном удостоверении Росздравнадзора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TechnicalConditionsNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер технических условий</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RawMaterialOrAccessoriesInfo">
    <xs:annotation>
      <xs:documentation>Сведения о сырье и комплектующих для производства медицинского товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RawMaterialOrAccessoriesName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование сырья и комплектующих изделий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Designation" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Назначение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Standard" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Стандарт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Марка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Модель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VendorCode" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Артикул</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Тип</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Series" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Серия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherInfo" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иная характеристика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>