XSD_Schs/V5.21.0/MinpromLetterResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ml_res="urn:customs.ru:Information:SQDocuments:MinpromLetterResponse:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SQDocuments:MinpromLetterResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Cведения о подтверждении целевого назначения ввозимого товара (Минпромторг)</xs:documentation>
  </xs:annotation>
  <xs:element name="MinpromLetterResponse" type="ml_res:MinpromLetterResponseType" />
  <xs:complexType name="MinpromLetterResponseType">
    <xs:annotation>
      <xs:documentation>Cведения о подтверждении целевого назначения ввозимого товара (Минпромторг)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Letter" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Письмо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Receiver" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Кому выдано</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalPersonINN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН юридического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhysicalPersonINN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Active" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Статус письма</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Custom" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный пост</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:sequence>
              <xs:element name="Agreement" type="ml_res:AgreementType">
                <xs:annotation>
                  <xs:documentation>Соглашение с Минэкономразвития России</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Transports" type="ml_res:TransportType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Сведения о ТС</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="Contracts" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Контракты</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Products" type="ml_res:ProductType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Товары</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009110E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AgreementType">
    <xs:annotation>
      <xs:documentation>Соглашение с Минэкономразвития России</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Описание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementData" type="ml_res:AgreementDataType">
        <xs:annotation>
          <xs:documentation>Соглашение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementAttached" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительное соглашение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Report" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Протокол к Соглашению (при наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportType">
    <xs:annotation>
      <xs:documentation>Сведения о ТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Model" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Модель ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityBody" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество кузовов транспортных средств, шт. (при наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Brand" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductType">
    <xs:annotation>
      <xs:documentation>Товары</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Описание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Brend" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreementDataType">
    <xs:annotation>
      <xs:documentation>Соглашение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DateBegin" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата начала действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEnd" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>