XSD_Schs/V5.21.0/MvdConvictionsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:mcreq="urn:customs.ru:Information:SQDocuments:MvdConvictionsRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MvdConvictionsRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений о наличии (отсутствии) судимости и (или) факта уголовного преследования либо о прекращении уголовного преследования, сведения о нахождении в розыске</xs:documentation>
  </xs:annotation>
  <xs:element name="MvdConvictionsRequest" type="mcreq:MvdConvictionsRequestType" />
  <xs:complexType name="MvdConvictionsRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений о наличии (отсутствии) судимости и (или) факта уголовного преследования либо о прекращении уголовного преследования, сведения о нахождении в розыске</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestedPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО лица, по которому запрашиваются сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="mcreq:BirthDateType">
            <xs:annotation>
              <xs:documentation>Дата рождения лица (с возможностью выбрать неполную дату)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SNILS" type="clt_ru:CodeVariable11Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>СНИЛС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="mcreq:RegistrationType">
            <xs:annotation>
              <xs:documentation>Сведения о месте рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="LivingPlace" type="mcreq:RegistrationType">
              <xs:annotation>
                <xs:documentation>Сведения о месте жительства</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PlaceOfStay" type="mcreq:RegistrationType">
              <xs:annotation>
                <xs:documentation>Сведения о месте пребвания</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009196E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BirthDateType">
    <xs:annotation>
      <xs:documentation>Дата рождения лица (неполная дата)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Year" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Month" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Месяц</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Day" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>День</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegionCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код региона места регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес места регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>