XSD_Schs/V5.21.0/MvdLostDocumentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:ld_res="urn:customs.ru:Information:SQDocuments:MvdLostDocumentResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MvdLostDocumentResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос сведений об утраченном документе</xs:documentation>
  </xs:annotation>
  <xs:element name="MvdLostDocumentResponse" type="ld_res:MvdLostDocumentResponseType" />
  <xs:complexType name="MvdLostDocumentResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений об утраченном документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="FoundResponse" type="clt_ru:FreeText250Type" maxOccurs="16">
            <xs:annotation>
              <xs:documentation>Ответ от ОУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации обращения в КУСП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Handler" type="clt_ru:FreeText250Type" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Подразделение, принявшее заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009180E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>