XSD_Schs/V5.21.0/NoApplyRisk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:nar="urn:customs.ru:Information:CustomsDocuments:NoApplyRisk:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NoApplyRisk:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предложение о не применении мер по минимизации риско, предусмотренных профилями рисков, или применении мер по минимизации рисков не в соответствии с характеристиками и примечаниями, предусмотренными профилями рисков</xs:documentation>
  </xs:annotation>
  <xs:element name="NoApplyRisk" type="nar:NoApplyRiskType">
    <xs:annotation>
      <xs:documentation>Предложение о не применении мер по минимизации риско, предусмотренных профилями рисков, или применении мер по минимизации рисков не в соответствии с характеристиками и примечаниями, предусмотренными профилями рисков</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NoApplyRiskType">
    <xs:annotation>
      <xs:documentation>Предложение о не применении мер по минимизации риско, предусмотренных профилями рисков, или применении мер по минимизации рисков не в соответствии с характеристиками и примечаниями, предусмотренными профилями рисков</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GTDDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор таможенного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNum" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время присвоения статуса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус: 0- зарегистрировано, 1- на рассмотрении, 2- согласовано, 3- не согласовано, 4 - на доработке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consigment" type="clt_ru:Count8Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер партии товаров (для реестров)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsNumeric" type="clt_ru:Quantity5Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера товаров неприменения (0 - вся товарная  партия)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RevealledRisks" type="nar:RevealledRisksType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Профили рисков с данной мерой</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionCode" type="clt_ru:Code3Type">
            <xs:annotation>
              <xs:documentation>Код меры по минимизации рисков </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование меры по минимизации рисков </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NonActionType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признак: 0 - не применять, 1 - применять не в соответствии с характеристиками и примечаниями, предусмотренными профилями рисков</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NonActionCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код причины неприменения меры, либо применения не в соответствии с характеристиками, определенными в профиле риска, либо не в полном объеме </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида таможенного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDocument" type="nar:DocIDType">
            <xs:annotation>
              <xs:documentation>Таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида транспортного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Транспортный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер транспортного средства, наименование судна, номер авиарейса, номер поезда, номер железнодорожного вагона (платформ, цистерн и т.п.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Описание причины целесообразности подготовки предложения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Action" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о мерах, принятых в целях обеспечения применения меры по минимизации риска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OfferPerson" type="nar:OfferPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо, подготовившее предложение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CoordPerson" type="nar:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо, рассмотревшее предложение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TUV" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>True - признак подготовки предложения ТО, отличным от ТО, в регионе деятельности которого осуществляется декларирование товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDeclPerson" type="nar:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо органа декларирования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsMark" type="nar:CustomsMarkType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006301E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarkTime" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время проставления отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkType" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код типа отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkText" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionType">
    <xs:annotation>
      <xs:documentation>Решение должностного лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StatusDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Decision" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Принятое решение: 0 - не согласовано (требуется применение ММР), 1 - согласовано, 2 - требуется доработка, 3 - доработка возможна/доработано, 4 - доработка невозможна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionText" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание решения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DTRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TDRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRelNum" type="nar:DocNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegNum" type="nar:MPORegNumType">
        <xs:annotation>
          <xs:documentation>Номер МПО / Номер реестра МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRIdDetails" type="catESAD_cu:TIRIdDetailsType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTMDocDetails" type="catESAD_cu:DTMDocDetailsType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер пассажирской декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportPP" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер уведомления о прибытии / убытии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpressNumber" type="nar:ExpressNumberType">
        <xs:annotation>
          <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherDoc" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Сведения об ином таможенном документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpressNumberType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="ExpressWayBill" type="nar:ExpressWayBillType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
              <xs:documentation>Индивидуальные накладные</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpressWayBillType">
    <xs:annotation>
      <xs:documentation>Накладная реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseWaybill" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО / Номер реестра МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable14Type">
        <xs:annotation>
          <xs:documentation>Номер МПО / Номер реестра МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPONumber" type="clt_ru:Code13Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО из реестра МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfferPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо, подготовившее предложение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="StatusDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Decision" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Принятое решение:  1 - сформировано предложение, 2 - доработка возможна/доработано, 3 - доработка невозможна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionText" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsType" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак ТО: 1 - ТО декларирования, 2 - ТПФК (или отдел ФК) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица, подготовившего предложение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNPCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNPCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurDecision" type="nar:DecisionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Текущее решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HistoryDecision" type="nar:DecisionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>История решений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RevealledRisksType">
    <xs:annotation>
      <xs:documentation>Выявленные риски</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TerrActionCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска. Возможные значения: 
11 – общероссийский профиль риска;
12 – региональный профиль риска;
13 – зональный профиль риска;
20 – целевой профиль риска;
21 – целевой правоохранительный профиль риска;
32 – профиль риска на основе моделей;
55 – профиль риска, обязательный к применению;
77 – профиль риска для идентификации категории уровня риска;
88 – зависимый профиль риска.                      Для ориентировки возможные значения: 
70 - информационная
71 - блокирующая</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsActionCode" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Первые пять цифр кода таможенного органа,  утвердившего профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileRegDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>