XSD_Schs/V5.21.0/PassportValidationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:PVRes="urn:customs.ru:Information:SQDocuments:PassportValidationResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:PassportValidationResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Проверка действительности паспорта (ответ)</xs:documentation>
  </xs:annotation>
  <xs:element name="PassportValidationResponse" type="PVRes:PassportValidationResponseType" />
  <xs:complexType name="PassportValidationResponseType">
    <xs:annotation>
      <xs:documentation>Проверка действительности паспорта (ответ) (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PassportResponse" type="PVRes:PassportResponseType" maxOccurs="500">
            <xs:annotation>
              <xs:documentation>Результаты запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009207E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PassportResponseType">
    <xs:annotation>
      <xs:documentation>Результаты запроса</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReqID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Passport" type="PVRes:PassportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данные паспорта, валидность которого проверяется</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="PVRes:StatusType">
        <xs:annotation>
          <xs:documentation>Ответ по статусу паспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNInfo" type="PVRes:INNInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IPSign" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак индивидуального предпринимателя: 1 - ИП действует,  0 - нет сведений о действующем ИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKVED" type="PVRes:OKVEDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Виды деятельности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassportType">
    <xs:annotation>
      <xs:documentation>Данные паспорта</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DOC_SERIE" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Серия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DOC_NUMBER" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DOC_ISSUEDATE" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DOC_ISSUER" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код выдавшего подразделения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CITIZEN_LASTNAME" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CITIZEN_FIRSTNAME" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CITIZEN_GIVENNAME" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CITIZEN_BIRTHDAY" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation>Статус документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DOC_STATUS" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Статус паспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INVALIDITY_REASON" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Причина недействительности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INVALIDITY_SINCE" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Недействительно с даты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INNInfoType">
    <xs:annotation>
      <xs:documentation>Информация о ИНН</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNStatusCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Код статуса ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNStatus" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Статус ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OKVEDType">
    <xs:annotation>
      <xs:documentation>Информация об ОКВЭД </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OKVEDCode" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Код ОКВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKVEDName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание ОКВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>