XSD_Schs/V5.21.0/PfrCompensationPaymentCertificateResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:pfrcpc_res="urn:customs.ru:Information:SQDocuments:PfrCompensationPaymentCertificateResponse:5.21.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" targetNamespace="urn:customs.ru:Information:SQDocuments:PfrCompensationPaymentCertificateResponse:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос ПФР справки о неназначении компенсационной выплаты по линии ведомства ФТС России</xs:documentation>
  </xs:annotation>
  <xs:element name="PfrCompensationPaymentCertificateResponse" type="pfrcpc_res:PfrCompensationPaymentCertificateResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос ПФР справки о неназначении компенсационной выплаты по линии ведомства ФТС России</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PfrCompensationPaymentCertificateResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос ПФР справки  о неназначении компенсационной выплаты по линии ведомства ФТС России</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Citizen" type="pfrcpc_res:CitizenType">
            <xs:annotation>
              <xs:documentation>ФИО лица, дата рождения, адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Snils" type="pfrcpc_res:SNILS">
            <xs:annotation>
              <xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsPaymentAssign" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Компенсационная выплата назначалась/не назначалась</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignPeriod" type="pfrcpc_res:PeriodType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Период выплаты компенсационной выплаты (в случае её назначения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityInfoName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование органа, представившего сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата представления сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009322E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CitizenType">
    <xs:annotation>
      <xs:documentation>ФИО лица, дата рождения, адрес</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patronymic" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Birthday" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeriodType">
    <xs:annotation>
      <xs:documentation>Дата начала и дата окончания периода</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateStart" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEnd" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SNILS">
    <xs:annotation>
      <xs:documentation>СНИЛС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>