XSD_Schs/V5.21.0/PfrInsurancePaymentsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:ipres="urn:customs.ru:Information:SQDocuments:PfrInsurancePaymentsResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:PfrInsurancePaymentsResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление сведений о размере выплат застрахованного лица по линии Пенсионного фонда Российской Федерации (ответ)</xs:documentation>
  </xs:annotation>
  <xs:element name="PfrInsurancePaymentsResponse" type="ipres:PfrInsurancePaymentsResponseType" />
  <xs:complexType name="PfrInsurancePaymentsResponseType">
    <xs:annotation>
      <xs:documentation>Предоставление сведений о размере выплат застрахованного лица по линии Пенсионного фонда Российской Федерации (ответ)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="responseOnPeriod" type="ipres:ResponseOnPeriodType">
              <xs:annotation>
                <xs:documentation>Результат обработки запроса за период</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="responseOnDate" type="ipres:responseOnDateType">
              <xs:annotation>
                <xs:documentation>Результат обработки запроса на дату</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009188E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ResponseOnPeriodType">
    <xs:annotation>
      <xs:documentation>Результат обработки запроса за период</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fio" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="snils" type="ipres:SnilsType">
        <xs:annotation>
          <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="birthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gender" type="ipres:GenderType">
        <xs:annotation>
          <xs:documentation>Пол</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actualDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, по состоянию на которую сведения актуальны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="existData" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие данных</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beginPeriod" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfMonths" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Количество месяцев</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="monthlyPayments" type="ipres:monthlyPaymentsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Выплаты по месяцам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseOnDateType">
    <xs:annotation>
      <xs:documentation>Результат обработки запроса на дату</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fio" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="snils" type="ipres:SnilsType">
        <xs:annotation>
          <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="birthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gender" type="ipres:GenderType">
        <xs:annotation>
          <xs:documentation>Пол</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actualDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, по состоянию на которую сведения актуальны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="existData" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие данных</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="appDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, на которую запрашиваются сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPaymentsSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Общая сумма выплат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfPayments" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Количество выплат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="payments" type="ipres:PaymentsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="monthlyPaymentsType">
    <xs:annotation>
      <xs:documentation>Выплаты за месяц</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monthlyPayment" type="ipres:MonthlyPaymentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Выплаты за месяц</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonthlyPaymentType">
    <xs:annotation>
      <xs:documentation>Выплаты за месяц</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="yearMonth" type="clt_ru:MonthYearType">
        <xs:annotation>
          <xs:documentation>Год и месяц</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPaymentsSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Общая сумма выплат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfPayments" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Количество выплат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="payments" type="ipres:PaymentsType">
        <xs:annotation>
          <xs:documentation>Выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentsType">
    <xs:annotation>
      <xs:documentation>Выплаты за месяц</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Payment" type="ipres:PaymentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Выплата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentType">
    <xs:annotation>
      <xs:documentation>Выплата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="base" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentDetail" type="ipres:PaymentDetailType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Детализация выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDetailType">
    <xs:annotation>
      <xs:documentation>Данные по выплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="base" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма выплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SnilsType">
    <xs:annotation>
      <xs:documentation>СНИЛС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GenderType">
    <xs:annotation>
      <xs:documentation>Пол: M - мужской; F - женский</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Мужской</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Женский</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>