XSD_Schs/V5.21.0/RegistryInclusionApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:riapp="urn:customs.ru:Information:SQDocuments:RegistryInclusionApplication:5.21.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RegistryInclusionApplication:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление на включение в реестр банков, иных кредитных организаций и страховых организаций</xs:documentation>
  </xs:annotation>
  <xs:element name="RegistryInclusionApplication" type="riapp:RegistryInclusionApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление на включение в реестр банков, иных кредитных организаций и страховых организаций</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RegistryInclusionApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление на включение в реестр банков, иных кредитных организацией и страховых организаций</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="TypeSign" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Тип организации: true - банк или иная КО, false - страховая компания.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Kind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид заявления: 1 - включить в реестр первично, 2 - включить в реестр повторно, 3 - внести изменения, 4 - исключить из реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарий. Суть обращения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationSourceSystemID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявления на ЕПГУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления на ЕПГУ.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявки в АПС "Электронные Госуслуги"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicantID" type="clt_ru:CodeVariable14Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>СНИЛС заявителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationRegDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата регистрации заявления на АПС "Электронные Госуслуги".</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationInfo" type="riapp:OrganizationType">
            <xs:annotation>
              <xs:documentation>Реквизиты организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Director" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о руководителе организации.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChiefAccountant" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о главном бухгалтере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="License" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о лицензии на осуществление банковских операций/страхования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInfo" type="riapp:AdditionalInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BranchInfo" type="riapp:BranchType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
              <xs:documentation>Сведения о филиале КО/страховой организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009212E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdditionalInfoType">
    <xs:annotation>
      <xs:documentation>Дополнительная информация</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActivityDuration" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Срок осуществления деятельности (в годах).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Equity" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Зарегистрированный уставный капитал (руб.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsFinancialSanationRequired" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Требование БР об осуществлении мер по финансовому оздоровлению КО: true - предъявлено, false - не предъявлено (заполняется только для банков и иных КО).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchType">
    <xs:annotation>
      <xs:documentation>Сведения о филиале КО/страховой организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="riapp:OrganizationType">
        <xs:sequence>
          <xs:element name="SequenceNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Порядковый номер филиала в КГР КО</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Информация о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Code" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код документа. 2 символа, числовой</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentsBody" type="CategoryCust:BinaryDataCategoriesCust" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные файла в кодировке BASE64</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialRequisitesType">
    <xs:annotation>
      <xs:documentation>Финансовые реквизиты организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BankName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование банка.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperatingAccount" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расчетный счет.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrespondentAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Корреспондентский счет.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIC" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Реквизиты организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUOrganizationType">
        <xs:sequence>
          <xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Email" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Эл.почта организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата государственной регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Kind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид заявления: 1 - включить в реестр первично, 2 - включить в реестр повторно, 3 - внести изменения, 4 - исключить из реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактический адрес (заполняется в случае, если фактический адрес не совпадает с юридическим)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FinancialRequisites" type="riapp:FinancialRequisitesType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Финансовые реквизиты организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocument" type="riapp:DocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Направленные с заявкой документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>