XSD_Schs/V5.21.0/ReportPaymentImportDuty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_FP_DS_03_PaymentImportDutyInfoReport_v1.0.0.xsd альбома ЕЭК (R.FP.DS.03.001: Отчет о начисленных и уплаченных суммах ввозных таможенных пошлин за отчетный период (Отчет о начисленных и уплаченных суммах ввозных таможенных пошлин за отчетный период)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:rpimd="urn:customs.ru:Information:SQDocuments:ReportPaymentImportDuty:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ReportPaymentImportDuty:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Отчет о начисленных и уплаченных суммах ввозных таможенных пошлин за отчетный период</xs:documentation>
  </xs:annotation>
  <xs:element name="ReportPaymentImportDuty" type="rpimd:ReportPaymentImportDutyType">
    <xs:annotation>
      <xs:documentation>Отчет о начисленных и уплаченных суммах ввозных таможенных пошлин за отчетный период</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReportPaymentImportDutyType">
    <xs:annotation>
      <xs:documentation>Отчет о начисленных и уплаченных суммах ввозных таможенных пошлин за отчетный период</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны, предоставившей информацию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentImportDutyInfoReportDetails" type="rpimd:PaymentImportDutyInfoReportDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения из отчета о начисленных и уплаченных суммах ввозных таможенных пошлин</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009220E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdditionalDetailsType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения, связанные с уплатой ввозных таможенных пошлин</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeptRepaymentDutyAmount" type="rpimd:PaymentAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма ввозной таможенной пошлины, зачтенная в счет погашения задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeferralDutyAmount" type="rpimd:PaymentAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма предоставленных отсрочек и рассрочек уплаты ввозных таможенных пошлин</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NoteText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительный поясняющий текст</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentDutyDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о документально отраженной сумме ввозной таможенной пошлины</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Общая документально отраженная сумма ввозной таможенной пошлины в оформленных таможенных документах об уплате (взыскании) ввозной таможенной пошлины</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentDutyDetails" type="rpimd:PaymentDutyDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Общая документально отраженная сумма ввозной таможенной пошлины в оформленных таможенных документах об уплате (взыскании) ввозной таможенной пошлины</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentAmountType">
    <xs:annotation>
      <xs:documentation>Денежная сумма с кодом валюты и показателем масштаба</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:AmountType">
        <xs:sequence>
          <xs:element name="ScaleNumber" type="clt_ru:Quantity2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Масштаб денежной суммы в десятичной системе счисления, представленный в виде показателя степени числа 10</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentDutyDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения по коду вида платежа о ввозной таможенной пошлине из базы данных эленктронных копий деклараций на товары и таможенных приходных ордеров, и других документов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentKindCode" type="clt_ru:CustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида налога, сбора или иного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChargedDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Сумма ввозной таможенной пошлины, начисленной к уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalChargedDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Сумма ввозной таможенной пошлины, начисленной к уплате (нарастающим итогом)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentImportDutyInfoReportDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения из отчета о начисленных и уплаченных суммах ввозных таможенных пошлин</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrencyExchangeRateAmount" type="RUScat_ru:ExchangeRateWithCurrencyA3Type">
        <xs:annotation>
          <xs:documentation>Среднемесячный курс иностранной валюты к национальной валюте национального (центрального) банка государства-члена за отчетный месяц</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата составления отчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата последнего дня отчетного месяца, за который был представлен отчет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginCarryOverDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Сумма переходящих остатков по коду бюджетной классификации ввозной таможенной пошлины на начало отчетного месяца</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModificationDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время внесения изменений в документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndCarryOverDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Сумма переходящих остатков по коду бюджетной классификации ввозной таможенной пошлины на конец отчетного месяца</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDutyDetails" type="rpimd:DocumentDutyDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о документально отраженной сумме ввозной таможенной пошлины</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CollectedDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Сумма поступившей (уплаченной, взысканной) ввозной таможенной пошлины по коду бюджетной классификации ввозной таможенной пошлины (согласно выписке (информации) по единому счету уполномоченного органа), всего</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfirmedDutyAmount" type="rpimd:PaymentAmountType">
        <xs:annotation>
          <xs:documentation>Сумма поступившей (уплаченной, взысканной) ввозной таможенной пошлины по коду бюджетной классификации ввозной таможенной пошлины (согласно выписке (информации) по единому счету уполномоченного органа), в том числе сумма зачтенных ввозных пошлин по коду бюджетной классификации ввозной таможенной пошлины</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefundDutyAmount" type="rpimd:PaymentAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма возвращенной ввозной таможенной пошлины</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalDetails" type="rpimd:AdditionalDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения, связанные с уплатой ввозных таможенных пошлин</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>