XSD_Schs/V5.21.0/ReqExplanationCustomsExp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rece="urn:customs.ru:Information:CustomsDocuments:ReqExplanationCustomsExp:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReqExplanationCustomsExp:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос пояснений таможенного эксперта</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqExplanationCustomsExp" type="rece:ReqExplanationCustomsExpType">
    <xs:annotation>
      <xs:documentation>Запрос пояснений таможенного эксперта</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReqExplanationCustomsExpType">
    <xs:annotation>
      <xs:documentation>Запрос пояснений таможенного эксперта</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentRegNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер запроса о пояснениях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionNumber" type="rece:DecisionNumberType">
            <xs:annotation>
              <xs:documentation>Номер документа-основания проведения ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertiseNumber" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Номер экспертно-исследовательской работы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CEKTUDivision" type="rece:CEKTUDivisionInformationType">
            <xs:annotation>
              <xs:documentation>Код и наименование подразделения ЦЭКТУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqExplanationCustomsExpText" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Текст запроса пояснений эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="rece:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо, сформировавшее запрос пояснений эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1051023E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CEKTUDivisionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о подразделении ЦЭКТУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionNumberType">
    <xs:annotation>
      <xs:documentation>Номер документа-основания проведения ЭИР</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID6Type">
        <xs:sequence>
          <xs:element name="ExpertisePoint" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Момент назначения экспертизы (ДВ - до выпуска ДТ, ПВ - после выпуска ДТ) </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Информация о должностном лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
              <xs:documentation>Телефон должностного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>