XSD_Schs/V5.21.0/ReviseExportPassDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:rep="urn:customs.ru:Information:CustomsDocuments:ReviseExportPassDT:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReviseExportPassDT:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Документ отчетности ОЭЗ</xs:documentation>
  </xs:annotation>
  <xs:element name="ReviseExportPassDT" type="rep:ReviseExportPassDTType">
    <xs:annotation>
      <xs:documentation>Результат сверки сведений между "Решение на выезд средства транспорта с территории ОЭЗ" и ДТ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReviseExportPassDTType">
    <xs:annotation>
      <xs:documentation>Результат сверки сведений между "Решение на выезд средства транспорта с территории ОЭЗ" и ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="OEZ_ExportPassNum" type="rep:OEZ_ExportPassNumType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Ранее оформляемые документы на выезд</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTInfo" type="rep:DTInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006335E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="OEZ_ExportPassNumType">
    <xs:annotation>
      <xs:documentation>Ранее оформляемые документы на выезд</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BusinessProcessId" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ID бизнес процесса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNumber" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OBED" type="rep:OBEDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данные ОБЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBEDType">
    <xs:annotation>
      <xs:documentation>Данные ОБЭД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ErrorDescription" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestOBEDDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>DocumentID документа запроса в ОБЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AFVersion" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Версия альбома форматов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTGoodsType">
    <xs:annotation>
      <xs:documentation>Товар ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTGoodsInfo" type="rep:DTGoodsInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация по товару из ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotFoundDTGoods" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак отсутствия товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SummValues" type="rep:SummValuesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Суммарная информация по разрешениям на вывоз по указанной ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewValues" type="rep:NewValuesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текущие значения по вывозу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Balance" type="rep:SummValuesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Остаток</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotFoundExportNotifGoods" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак отсутствия товарной части у ДТ в исходном документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Номера ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GTDInfo" type="rep:GTDInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTGoods" type="rep:DTGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotFound" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак отсутствия ДТ в витрине</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDInfoType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="BusinessProcessId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ID бизнес процесса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OBED" type="rep:OBEDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные ОБЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SummValuesType">
    <xs:annotation>
      <xs:documentation>Суммарная информация о количестве товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Масса товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTGoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация по товару из ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара гр 32</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewValuesType">
    <xs:annotation>
      <xs:documentation>Текущие значения по вывозу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара гр 32</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantityNotMatch" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доп. единицы измерения не совпадают с ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DuplicationGoods" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обнаружен дубликат товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>