XSD_Schs/V5.21.0/RosImRIStatusAcceptOrTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Сведения из системы ФГИАС ЕСУГИ Росимущества Направление Росимуществом статуса о принятии Имущества/Товаров (DocKind = 1)
Сведения из системы ФГИАС ЕСУГИ Росимущества Направление Росимуществом статуса передачи Имущества/Товаров таможенному органу (в случае отзыва) (DocKind = 2)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_risat="urn:customs.ru:Information:SQDocuments:RosImRIStatusAcceptOrTransfer:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImRIStatusAcceptOrTransfer:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Направление Росимуществом статуса о принятии или статуса передачи Имущества/Товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImRIStatusAcceptOrTransfer" type="ri_risat:RosImRIStatusAcceptOrTransferType">
    <xs:annotation>
      <xs:documentation>Направление Росимуществом статуса о принятии или статуса передачи Имущества/Товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImRIStatusAcceptOrTransferType">
    <xs:annotation>
      <xs:documentation>Направление Росимуществом статуса о принятии или статуса передачи Имущества/Товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид документа: 1 - Направление Росимуществом статуса о принятии Имущества/Товаров; 2 - Направление Росимуществом статуса передачи Имущества/Товаров таможенному органу (в случае отзыва)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ПИБИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberCaseAcc" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер дела учета Имущества / Товара в таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата акта приема-передачи (акта отзыва)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер акта приема-передачи (акта отзыва)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="clt_ru:FreeText500Type" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Наименование Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsID" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Идентификационный номер позиции Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения (шт., кг, литры и т.п.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Статус принятия (статическое значение "Имущество / Товары приняты" или "Имущество / Товары не принимались") / Статус передачи (статическое значение "Имущество / Товары переданы в таможенный орган")</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009243E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>