XSD_Schs/V5.21.0/RosImRevocOrderReceiveGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ФГИАС ЕСУГИ Росимущества Уведомление об отзыве Поручения (заявки) на прием Имущества / Товаров-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_rorg="urn:customs.ru:Information:SQDocuments:RosImRevocOrderReceiveGoods:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImRevocOrderReceiveGoods:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление об отзыве Поручения (заявки) на прием Имущества/Товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImRevocOrderReceiveGoods" type="ri_rorg:RosImRevocOrderReceiveGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление об отзыве Поручения (заявки) на прием Имущества/Товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImRevocOrderReceiveGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление об отзыве Поручения (заявки) на прием Имущества/Товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsOfficeFullName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа, у которого отзывается поручение (заявка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifRevocOrderDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления об отзыве поручения (заявки)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifRevocOrderNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления об отзыве поручения (заявки)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerrOrgRosImName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование Территориального органа Росимущества, в адрес которого было направлено уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер уведомления о наличии и месте нахождения Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о наличии и месте нахождения Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о предстоящей передаче Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления о предстоящей передаче Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации уведомления в АС "ПИБИ"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ПИБИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonRevocNotif" type="clt_ru:Text150Type" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Причины отзыва поручения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignNotif" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, подписавшее документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutorPhone" type="clt_ru:Text40Type">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009240E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>