XSD_Schs/V5.21.0/RosImInfoRIReturnNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ФГИАС ЕСУГИ Росимущества Сведения Росимущества о возврате уведомления-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_rirn="urn:customs.ru:Information:SQDocuments:RosImInfoRIReturnNotif:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImInfoRIReturnNotif:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения Росимущества о возврате уведомления</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImInfoRIReturnNotif" type="ri_rirn:RosImInfoRIReturnNotifType">
    <xs:annotation>
      <xs:documentation>Сведения Росимущества о возврате уведомления</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImInfoRIReturnNotifType">
    <xs:annotation>
      <xs:documentation>Сведения Росимущества о возврате уведомления</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocReturnNotifNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер документа о возврате уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocReturnNotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа о возврате уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления о наличии Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о наличии Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о предстоящей передаче Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления о предстоящей передаче Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Полное наименование вида или группы однородных товаров с указанием их идентификационных и иных отличительных признаков</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации уведомления в АС "ПИБИ"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ПИБИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonReturnNotif" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Причина возврата уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignNotif" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, подписавшее документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutorPhone" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009237E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>