XSD_Schs/V5.21.0/RosImNotifFutureTransferUnclGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ЕАИС таможенных органов Уведомление Росимущества о предстоящей передаче невостребованных Товаров-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_nftug="urn:customs.ru:Information:SQDocuments:RosImNotifFutureTransferUnclGoods:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImNotifFutureTransferUnclGoods:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление Росимущества о предстоящей передаче невостребованных товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImNotifFutureTransferUnclGoods" type="ri_nftug:RosImNotifFutureTransferUnclGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление Росимущества о предстоящей передаче невостребованных товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImNotifFutureTransferUnclGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление Росимущества о предстоящей передаче невостребованных товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotifFutureTransfNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления о предстоящей передаче Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о предстоящей передаче Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategoriesInfo" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
              <xs:documentation>Сведения о категории имущества (невостребованное задержанное имущество)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficeFullName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа, направившего уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsAddress" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа, направившего уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerrOrgRosImName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование Территориального органа Росимущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisDocKind" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип документа-основания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SerReportDetentionGoods" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Серия протокола задержания товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumReportDetentionGoods" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>№ протокола задержания товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateReportDetentionGoods" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата протокола задержания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumActExpiryStorage" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>№ акта об истечении сроков хранения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateActExpiryStorage" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата акта об истечении сроков хранения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SizeCalcAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Размер рассчитанной суммы таможенных пошлин, налогов, исчисленных на день задержания товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgStorageGoods" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование организации, осуществляющей хранение имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddressStorageGoods" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Фактический адрес хранения имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignNotif" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, подписавшее уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutorPhone" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberCaseAcc" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер дела учета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Полное наименование вида или группы однородных товаров с указанием их идентификационных и иных отличительных признаков (полное соответствие документу-основанию по описанию и количеству позиций. Запрещено объединение или разъединение позиций товара)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsID" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Идентификационный номер позиции Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения (шт., кг, литры и т.п.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountUnitGoods" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Стоимость единицы товара (руб.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountKindGoods" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Общая стоимость вида товара (руб.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountPartGoods" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Общая стоимость товарной партии (руб.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddGoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Дополнительные сведения об Имуществе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DetailsTransferFunds" type="ri_nftug:DetailsTransferFundsType">
            <xs:annotation>
              <xs:documentation>Реквизиты для перечисления денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachmentInfo" type="ri_nftug:AttachmentInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Электронный образ (копии) сканированных  документов, прикрепленных к делам учета имущества: документ-основание (решения суда, ГТД и иные), экспертные заключения и иные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009235E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachmentInfoType">
    <xs:annotation>
      <xs:documentation>Электронный образ (копии) сканированных  документов, прикрепленных к делам учета имущества: документ-основание (решения суда, ГТД и иные), экспертные заключения и иные документы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AttachmentLink" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Ссылка на приложенные материалы (например, к запросу могут быть приложены фотографии физического лица)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttachmentDescr" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Описание приложенных материалов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetailsTransferFundsType">
    <xs:annotation>
      <xs:documentation>Реквизиты для перечисления денежных средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NameRecipient" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankRecipient" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Банк получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BICBankRecipient" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>БИК банка получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountRecipient" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Расчетный счет получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNRecipient" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPPRecipient" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonalAccount" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Лицевой счет</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>