XSD_Schs/V5.21.0/RosImStatusNoticeTakenWork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ФГИАС ЕСУГИ Росимущества Направление статуса уведомления –«Уведомление  принято в работу»-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_sntw="urn:customs.ru:Information:SQDocuments:RosImStatusNoticeTakenWork:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImStatusNoticeTakenWork:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Направление статуса уведомления –«Уведомление  принято в работу»</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImStatusNoticeTakenWork" type="ri_sntw:RosImStatusNoticeTakenWorkType">
    <xs:annotation>
      <xs:documentation>Направление статуса уведомления –«Уведомление  принято в работу»</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImStatusNoticeTakenWorkType">
    <xs:annotation>
      <xs:documentation>Направление статуса уведомления –«Уведомление  принято в работу»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsOfficeFullName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа, направившего уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер уведомления о наличии и месте нахождения Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о наличии и месте нахождения Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления о предстоящей передаче невостребованных Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о предстоящей передаче невостребованных Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategoriesInfo" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
              <xs:documentation>Сведения о категории Имущества / Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Полное наименование вида или группы однородных товаров с указанием их идентификационных и иных отличительных признаков (полное соответствие документу-основанию по описанию и количеству позиций. Запрещено объединение или разъединение позиций)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество Имущества / Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения (шт., кг, литры и т.п.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации уведомления в АС "ПИБИ"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIStatus" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
              <xs:documentation>Статус уведомления о наличии Имущества (Статичное значение "Принято в работу") </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ПИБИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerrOrgRosImName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование Территориального органа Росимущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarrantInfo" type="ri_sntw:WarrantInfoType">
            <xs:annotation>
              <xs:documentation>Реквизиты доверенности Росимущества на прием Имущества / Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignNotif" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, подписавшее уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutorPhone" type="clt_ru:Text40Type">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009238E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="WarrantInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты доверенности Росимущества на прием Имущества / Товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WarrantDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WarrantNumber" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Номер доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WarrantPerson" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Ф.И.О. доверенного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>