XSD_Schs/V5.21.0/RosImFCSStatusTransferGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ЕАИС таможенных органов Направление ФТС России статуса о передаче Имущества/Товаров-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_fscstg="urn:customs.ru:Information:SQDocuments:RosImFCSStatusTransferGoods:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImFCSStatusTransferGoods:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Направление ФТС России статуса о передаче Имущества/Товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImFCSStatusTransferGoods" type="ri_fscstg:RosImFCSStatusTransferGoodsType">
    <xs:annotation>
      <xs:documentation>Направление ФТС России статуса о передаче Имущества/Товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImFCSStatusTransferGoodsType">
    <xs:annotation>
      <xs:documentation>Направление ФТС России статуса о передаче Имущества/Товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotifPIBIRegNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ПИБИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberCaseAcc" type="clt_ru:Text150Type">
            <xs:annotation>
              <xs:documentation>Номер дела учета Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата акта приема-передачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер акта приема передачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="clt_ru:FreeText500Type" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Наименование Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsID" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Идентификационный номер позиции Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения (шт., кг, литры и т.п.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerrOrgRosImName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование Территориального органа Росимущества, принявшего Имущество / Товар</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Статус принятия (статическое значение "Имущество / Товары приняты")</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009242E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>