XSD_Schs/V5.21.0/RosImNotifLocationGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ЕАИС таможенных органов Уведомление Росимущества о наличии и месте нахождения Имущества-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_nlg="urn:customs.ru:Information:SQDocuments:RosImNotifLocationGoods:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImNotifLocationGoods:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление Росимущества о наличии и месте нахождения Имущества</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImNotifLocationGoods" type="ri_nlg:RosImNotifLocationGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление Росимущества о наличии и месте нахождения Имущества</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImNotifLocationGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление Росимущества о наличии и месте нахождения Имущества</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер уведомления о наличии Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о наличии Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategoriesInfo" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
              <xs:documentation>Сведения о категории Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficeFullName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа, направившего уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsAddress" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа, направившего уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerrOrgRosImName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование Территориального органа Росимущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisDocKind" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип документа-основания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppealFedPropNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>№  документа об обращении в федеральную собственность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppealFedPropDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа об обращении в федеральную собственность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgDecisionAppFedPropName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование органа, принявшего решение об обращении товара в федеральную собственность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalStatusGoods" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
              <xs:documentation>Правовой статус Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonGoods" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Лицо, у которого изъято Имущество</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArticleGoodsToFedProp" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Статья, по которой Имущество обращено в федеральную собственность </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgStorageGoods" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование организации, осуществляющей хранение имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddressStorageGoods" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Фактический адрес хранения имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignNotif" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, подписавшее уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutorPhone" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberCaseAcc" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер дела учета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Полное наименование вида или группы однородных товаров с указанием их идентификационных и иных отличительных признаков (полное соответствие документу-основанию по описанию и количеству позиций. Запрещено объединение или разъединение позиций товара)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsID" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Идентификационный номер позиции имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Количество Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения (шт., кг, литры и т.п.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategGoods" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
              <xs:documentation>Категория Имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VolumeGoods" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Объем Имущества (в куб. м., для жидкостей литры)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TNVED" type="RUSclt_ru:Text100Type" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Код ТН ВЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKPD2" type="RUSclt_ru:Text100Type" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Код ОКПД 2 </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountUnitGoods" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Стоимость единицы Имущества товара (руб.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountKindGoods" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая стоимость вида Имущества по забалансовому учету (руб.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountPartGoods" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Общая стоимость товарной партии Имущества по забалансовому учету (руб.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddGoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Дополнительные сведения об Имуществе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachmentInfo" type="ri_nlg:AttachmentInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Электронный образ (копии) сканированных  документов, прикрепленных к делам учета имущества: документ-основание (решения суда, ГТД и иные), экспертные заключения и иные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009234E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachmentInfoType">
    <xs:annotation>
      <xs:documentation>Электронный образ (копии) сканированных  документов, прикрепленных к делам учета имущества: документ-основание (решения суда, ГТД и иные), экспертные заключения и иные документы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AttachmentLink" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Ссылка на приложенные материалы (например, к запросу могут быть приложены фотографии физического лица)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttachmentDescr" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Описание приложенных материалов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>