XSD_Schs/V5.21.0/RosImOrderTransferGoodsTObyRevoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Сведения из системы ФГИАС ЕСУГИ Росимущества  Поручение (заявка) на передачу Имущества/Товаров таможенному органу  (в случае отзыва )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:ri_otgr="urn:customs.ru:Information:SQDocuments:RosImOrderTransferGoodsTObyRevoc:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosImOrderTransferGoodsTObyRevoc:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Поручение (заявка) на передачу Имущества/Товаров таможенному органу  (в случае отзыва)</xs:documentation>
  </xs:annotation>
  <xs:element name="RosImOrderTransferGoodsTObyRevoc" type="ri_otgr:RosImOrderTransferGoodsTObyRevocType">
    <xs:annotation>
      <xs:documentation>Поручение (заявка) на передачу Имущества/Товаров таможенному органу  (в случае отзыва)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosImOrderTransferGoodsTObyRevocType">
    <xs:annotation>
      <xs:documentation>Поручение (заявка) на передачу Имущества/Товаров таможенному органу  (в случае отзыва)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsOfficeFullName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа, передавшего Имущество / Товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер уведомления о наличии и месте нахождения Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о наличии и месте нахождения Имущества </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления о предстоящей передаче невостребованных Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifFutureTransfNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер уведомления о предстоящей передаче невостребованных Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="clt_ru:FreeText500Type" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Полное наименование вида или группы однородных товаров с указанием их идентификационных и иных отличительных признаков</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsID" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Идентификационный номер позиции Имущества / Товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasureUnitCountName" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации уведомления в АС "ПИБИ"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPIBIRegNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ПИБИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrderTransfNumber" type="RUSclt_ru:Text100Type">
            <xs:annotation>
              <xs:documentation>Номер поручения (заявки) на передачу Имущества / Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrderTransfDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата поручения (заявки) на передачу Имущества / Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerrOrgRosImName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование  территориального органа Росимущества, оформившего поручение (заявку) на передачу Имущества / Товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractInfo" type="ri_otgr:ContractInfoType">
            <xs:annotation>
              <xs:documentation>Реквизиты государственного контракта на оказание услуг по приему и хранению конфискованного, движимого бесхозяйного и иного имущества, обращенного в собственность государства либо изъятого имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarrantInfo" type="ri_otgr:WarrantInfoType">
            <xs:annotation>
              <xs:documentation>Реквизиты доверенности Росимущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachmentInfo" type="ri_otgr:AttachmentInfoType">
            <xs:annotation>
              <xs:documentation>Электронный образ (сканированная копия) поручения (заявки) Росимущества на передачу имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignNotif" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, подписавшее документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutorPhone" type="clt_ru:Text40Type">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009244E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachmentInfoType">
    <xs:annotation>
      <xs:documentation>Электронный образ (копии) сканированных  документов, прикрепленных к делам учета имущества: документ-основание (решения суда, ГТД и иные), экспертные заключения и иные документы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AttachmentLink" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Ссылка на приложенный электронный образ (сканированную копию) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttachmentDescr" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Содержание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты государственного контракта на оказание услуг по приему и хранению конфискованного, движимого бесхозяйного и иного имущества, обращенного в собственность государства либо изъятого имущества</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContractDesc" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Сведения о контракте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractNumber" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Номер контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WarrantExecutorType">
    <xs:annotation>
      <xs:documentation>Уполномоченное лицо (исполнитель)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NameAgentOrg" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование поверенной организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIOAgent" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Ф.И.О. доверенного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WarrantInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты доверенности Росимущества</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WarrantDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WarrantNumber" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Номер доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WarrantExecutor" type="ri_otgr:WarrantExecutorType">
        <xs:annotation>
          <xs:documentation>Уполномоченное лицо (исполнитель)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>