XSD_Schs/V5.21.0/RoskosmosQuotaExhaustInfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:rk_qe_req="urn:customs.ru:Information:SQDocuments:RoskosmosQuotaExhaustInfoRequest:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RoskosmosQuotaExhaustInfoRequest:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос подтверждения о целевом назначении товаров, ввозимых в рамках международного сотрудничества Российской Федерации в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов, по которому квота исчерпана</xs:documentation>
  </xs:annotation>
  <xs:element name="RoskosmosQuotaExhaustInfoRequest" type="rk_qe_req:RoskosmosQuotaExhaustInfoRequestType">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения о целевом назначении товаров, ввозимых в рамках международного сотрудничества Российской Федерации в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов, по которому квота исчерпана</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RoskosmosQuotaExhaustInfoRequestType">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения о целевом назначении товаров, ввозимых в рамках международного сотрудничества Российской Федерации в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов, по которому квота исчерпана</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата предоставления данных</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009117E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>