XSD_Schs/V5.21.0/RosPatentAppellationOfOriginInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:rpaoi="urn:customs.ru:Information:SQDocuments:RosPatentAppellationOfOriginInfo:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosPatentAppellationOfOriginInfo:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из Государственного реестра наименований мест происхождения товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="RosPatentAppellationOfOriginInfo" type="rpaoi:RosPatentAppellationOfOriginInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из Государственного реестра наименований мест происхождения товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosPatentAppellationOfOriginInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из Государственного реестра наименований мест происхождения товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Record" type="rpaoi:RecordType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Запись Государственного реестра наименований мест происхождения товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009215E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppellationOfOriginCertificateTerminationRecordType">
    <xs:annotation>
      <xs:documentation>Прекращение действия свидетельства об исключительном праве на наименование места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="ExpiryDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата прекращения правовой охраны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Выписка из решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginExclusiveRightRecordType">
    <xs:annotation>
      <xs:documentation>Предоставление исключительного права на наименование места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="AppellationOfGoodsDisclaimer" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Неохраняемые элементы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDetails" type="rpaoi:RegistrationActualStateType">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginExclusiveRightTransferWithoutAgreementRecordType">
    <xs:annotation>
      <xs:documentation>Государственная регистрация перехода исключительного права на наименование места происхождения товара без договора</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="Owner" type="rpaoi:OrganizationWithOPFType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о правообладателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CorrespondenceAddress" type="rpaoi:CorrespondenceAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес для переписки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginOtherChangesRecordType">
    <xs:annotation>
      <xs:documentation>Другие изменения, относящиеся к государственной регистрации/к предоставлению исключительного права на наименования места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Указание об изменении или выписка из решения суда</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginProlongationRecordType">
    <xs:annotation>
      <xs:documentation>Продление срока действия свидетельства об исключительном праве на наименование места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="ProlongationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата, до которой продлен срок действия свидетельства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginRightProtectionInvalidationRecordType">
    <xs:annotation>
      <xs:documentation>Признание недействительным предоставления правовой охраны наименованию места происхождения товара/предоставления исключительного права на наименование места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="DecisionText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Выписка из решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginRightProtectionTerminationRecordType">
    <xs:annotation>
      <xs:documentation>Прекращение правовой охраны наименования места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="ExpiryDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата прекращения правовой охраны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Выписка из решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellationOfOriginStateRegistrationRecordType">
    <xs:annotation>
      <xs:documentation>Государственная регистрация наименования места происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="StateRegistrationDetails" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Номер и дата государственной регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppellationOfGoodsDisclaimer" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Неохраняемые элементы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDetails" type="rpaoi:RegistrationActualStateType">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectionRecordType">
    <xs:annotation>
      <xs:documentation>Исправление очевидных и технических ошибок в записях Государственного реестра наименований мест происхождения товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="RecordErrIdentifier" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Идентификатор записи, содержащей очевидную или техническую ошибку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CorrectionInfo" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об исправлении записи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrespondenceAddressChangeRecordType">
    <xs:annotation>
      <xs:documentation>Изменение адреса для переписки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="CorrespondenceAddress" type="rpaoi:CorrespondenceAddressType">
            <xs:annotation>
              <xs:documentation>Адрес для переписки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrespondenceAddressType">
    <xs:annotation>
      <xs:documentation>Адрес для переписки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUAddressType">
        <xs:sequence>
          <xs:element name="ReceiverName" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование или ФИО</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationWithOPFType">
    <xs:annotation>
      <xs:documentation>Сведения об организации или физическом лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUOrganizationType">
        <xs:sequence>
          <xs:element name="OPF" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Организационно-правовая форма</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OwnerDetailsChangeRecordType">
    <xs:annotation>
      <xs:documentation>Изменение наименования, фамилии, имени, отчества правообладателя и/или места нахождения или места жительства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="OwnerDetails" type="rpaoi:OrganizationWithOPFType">
            <xs:annotation>
              <xs:documentation>Сведения о правообладателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReceivingDuplicateRecordType">
    <xs:annotation>
      <xs:documentation>Выдача дубликата свидетельства об исключительном праве на наименование места происхождения товара (свидетельства на право пользования наименованием происхождения товара)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rpaoi:RecordBasicInfoType">
        <xs:sequence>
          <xs:element name="RegistrationActualState" type="rpaoi:RegistrationActualStateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Актуальное состояние после внесения записи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RecordBasicInfoType">
    <xs:annotation>
      <xs:documentation>Базовые сведения о записи в Реестре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecordIdentifier" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordFillingDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата внесения записи в Реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата публикации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicationIdentifier" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер бюллетеня</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordType">
    <xs:annotation>
      <xs:documentation>Запись Государственного реестра наименований мест происхождения товаров</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="AppellationOfOriginStateRegistrationRecord" type="rpaoi:AppellationOfOriginStateRegistrationRecordType">
        <xs:annotation>
          <xs:documentation>Государственная регистрация наименования места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginExclusiveRightRecord" type="rpaoi:AppellationOfOriginExclusiveRightRecordType">
        <xs:annotation>
          <xs:documentation>Предоставление исключительного права на наименование места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginProlongationRecord" type="rpaoi:AppellationOfOriginProlongationRecordType">
        <xs:annotation>
          <xs:documentation>Продление срока действия свидетельства об исключительном праве на наименование места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerDetailsChangeRecord" type="rpaoi:OwnerDetailsChangeRecordType">
        <xs:annotation>
          <xs:documentation>Изменение наименования, фамилии, имени, отчества правообладателя и/или места нахождения или места жительства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrespondenceAddressChangeRecord" type="rpaoi:CorrespondenceAddressChangeRecordType">
        <xs:annotation>
          <xs:documentation>Изменение адреса для переписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginRightProtectionTerminationRecord" type="rpaoi:AppellationOfOriginRightProtectionTerminationRecordType">
        <xs:annotation>
          <xs:documentation>Прекращение правовой охраны наименования места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginCertificateTerminationRecord" type="rpaoi:AppellationOfOriginCertificateTerminationRecordType">
        <xs:annotation>
          <xs:documentation>Прекращение действия свидетельства об исключительном праве на наименование места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginRightProtectionInvalidationRecord" type="rpaoi:AppellationOfOriginRightProtectionInvalidationRecordType">
        <xs:annotation>
          <xs:documentation>Признание недействительным предоставления правовой охраны наименованию места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginOtherChangesRecord" type="rpaoi:AppellationOfOriginOtherChangesRecordType">
        <xs:annotation>
          <xs:documentation>Другие изменения, относящиеся к государственной регистрации наименования места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectionRecord" type="rpaoi:CorrectionRecordType">
        <xs:annotation>
          <xs:documentation>Исправление очевидных и технических ошибок в записях Государственного реестра наименований мест происхождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOriginExclusiveRightTransferWithoutAgreementRecord" type="rpaoi:AppellationOfOriginExclusiveRightTransferWithoutAgreementRecordType">
        <xs:annotation>
          <xs:documentation>Государственная регистрация перехода исключительного права на наименование места происхождения товара без договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceivingDuplicateRecord" type="rpaoi:ReceivingDuplicateRecordType">
        <xs:annotation>
          <xs:documentation>Выдача дубликата свидетельства об исключительном праве на наименование места происхождения товара (свидетельства на право пользования наименованием происхождения товара)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RegistrationActualStateType">
    <xs:annotation>
      <xs:documentation>Актуальное состояние гос.регистрации/свидтельства об исключительном праве после внесения записи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecordIdentifier" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор записи (для свидетельства)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер свидетельства/Номер государственной регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationOfOrigin" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование места происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpiryDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата истечения срока действия свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер заявки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата подачи заявки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Owner" type="rpaoi:OrganizationWithOPFType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об обладателе свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrespondenceAddress" type="rpaoi:CorrespondenceAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес для переписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationGoods" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Указание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationGoodsDescription" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание особых свойств товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppellationPlace" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Указание места происхождения (производства) товара (границы географического объекта)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkProtect" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус правовой охраны товарного знака</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>