XSD_Schs/V5.21.0/RosPatentRegisterResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:rprr="urn:customs.ru:Information:SQDocuments:RosPatentRegisterResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosPatentRegisterResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>О предоставлении сведений из Государственного реестра товарных знаков и знаков обслуживания</xs:documentation>
  </xs:annotation>
  <xs:element name="RosPatentRegisterResponse" type="rprr:RosPatentRegisterResponseType" />
  <xs:complexType name="RosPatentRegisterResponseType">
    <xs:annotation>
      <xs:documentation>О предоставлении сведений из Государственного реестра товарных знаков и знаков обслуживания</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Number" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер письма</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrademarkReproduction" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Воспроизведение товарного знака</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата государственной регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PriorityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата приоритета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RightExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата истечения срока действия исключительного права на товарный знак</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OwnerInfo" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Сведения о правообладателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CollectiveTrademark" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Указание на то, что товарный знак является коллективным</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UsersOfCollectiveMark" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Сведения о лицах, имеющих право использования коллективного знака</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListOfGoods" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Перечень товаров и услуг, в отношении которых зарегистрирован товарный знак</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationOfUsageRights" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации предоставления права использования товарного знака по лицензионному договору, договору коммерческой концессии, сублицензионному договору, договору коммерческой субконцессии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PledgeRegistrationInfo" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации залога (последующего залога) товарного знака по договору</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrantingRightChangesReg" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации изменений, касающихся предоставления права использования товарного знака по лицензионному договору, сублицензионному договору</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerminationOfGrantingRight" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации досрочного прекращения предоставления права использования товарного знака по лицензионному договору, сублицензионному договору</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerminationOfLegalProtection" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о досрочном прекращении правовой охраны товарного знака полностью, в том числе на основании судебных актов или постановлений судебных приставов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecognitionOfLegalProtectionInvalid" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о признании предоставления правовой охраны товарному знаку не действительной полностью, в том числе на основании судебных актов или постановлений судебных приставов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecognitionOfLegalProtectionInvalidPartly" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о признании предоставления правовой охраны товарному знаку не действительной частично, в том числе на основании судебных актов или постановлений судебных приставов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrademarkRecordCancellation" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об аннулировании записи в Государственном реестре товарных знаков и знаков обслуживания Российской Федерации, в том числе на основании судебных актов или постановлений судебных приставов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerminationOfLegalProtectionCollectiveMark" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о досрочном прекращении правовой охраны коллективного знака</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TerminationOfCommercialConcessionContract" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации прекращения договора коммерческой концессии, договора коммерческой субконцессии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangesOfCommercialConcessionContract" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации изменения договора коммерческой концессии, договора коммерческой субконцессии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009111E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>