XSD_Schs/V5.21.0/RosstatOrgAccountingInfoReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:roai_req="urn:customs.ru:Information:SQDocuments:RosstatOrgAccountingInfoReq:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosstatOrgAccountingInfoReq:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на предоставление данных бухгалтерской (финансовой) отчетности ЮЛ, осуществляющих свою деятельность на территории РФ</xs:documentation>
  </xs:annotation>
  <xs:element name="RosstatOrgAccountingInfoReq" type="roai_req:RosstatOrgAccountingInfoReqType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление данных бухгалтерской (финансовой) отчетности ЮЛ, осуществляющих свою деятельность на территории РФ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosstatOrgAccountingInfoReqType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление данных бухгалтерской (финансовой) отчетности ЮЛ, осуществляющих свою деятельность на территории РФ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ReportYear" type="clt_ru:DateYearCustType">
            <xs:annotation>
              <xs:documentation>Год, за который запрашиваются отчетные данные</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" type="clt_ru:INNIDType">
            <xs:annotation>
              <xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код юридического лица в общероссийском классификаторе предприятий и организаций (ОКПО)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009138E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>