XSD_Schs/V5.21.0/RosZdravStateControlMedicineResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:scm_res="urn:customs.ru:Information:SQDocuments:RosZdravStateControlMedicineResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosZdravStateControlMedicineResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос о предоставлении сведений о товарах, подлежащих государственному контролю в сфере обращения лекарственных средств, выпущенных в связи с установлением ограничений по пользованию и (или) распоряжению ими ввиду обязанности предоставления после выпуска указанных товаров документов (лицензий, сертификатов, разрешений и т.п.) для Росздравнадзора»</xs:documentation>
  </xs:annotation>
  <xs:element name="RosZdravStateControlMedicineResponse" type="scm_res:RosZdravStateControlMedicineResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о предоставлении сведений о товарах, подлежащих государственному контролю в сфере обращения лекарственных средств, выпущенных в связи с установлением ограничений по пользованию и (или) распоряжению ими ввиду обязанности предоставления после выпуска указанных товаров документов (лицензий, сертификатов, разрешений и т.п.) для Росздравнадзора»</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RosZdravStateControlMedicineResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о предоставлении сведений о товарах, подлежащих государственному контролю в сфере обращения лекарственных средств, выпущенных в связи с установлением ограничений по пользованию и (или) распоряжению ими ввиду обязанности предоставления после выпуска указанных товаров документов (лицензий, сертификатов, разрешений и т.п.) для Росздравнадзора»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ResponseID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ответа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор исходного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время формирования ответа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumberInfo" type="scm_res:GTDNumberInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UsedInStatistics" type="scm_res:Int0-1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак использования в статистике. 0 – все товары ДТ не учитываются в статистике, 1 – хотя бы один товар ДТ учитывается в статистике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderINN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРН/ОГРНИП отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderOKATO" type="scm_res:OKATOType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код ОКАТО отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderKPP" type="clt_ru:KPPCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>КПП отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderMailingAddress" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Местонахождение (почтовый адрес) отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРН/ОГРНИП получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientOKATO" type="scm_res:OKATOType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код ОКАТО получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientINN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientMailingAddress" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Местонахождение (почтовый адрес) получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransferDirection" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление перемещения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponsibleOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРН/ОГРНИП лица, ответственного за финансовое урегулирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponsibleINN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН лица, ответственного за финансовое урегулирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponsibleName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование лица, ответственного за финансовое урегулирование (Фамилия, Имя, Отчество)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponsibleAddress" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Местонахождение (адрес) лица, ответственного за финансовое урегулирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalGoodsName" type="CategoryCust:IntegerCategoriesCust" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Всего наименований товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TradingCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код альфа-2 торгующей страны -&gt; OKSMT</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsList" type="scm_res:GoodsListType">
            <xs:annotation>
              <xs:documentation>Товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentList" type="scm_res:DocumentListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Представляемые документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackagingInfoList" type="scm_res:PackagingInfoListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация об упаковках</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfoList" type="scm_res:GoodsInfoListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание и характеристика товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInfoList" type="scm_res:AdditionalInfoListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009365E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdditionalInfoListType">
    <xs:annotation>
      <xs:documentation>Дополнительная информация</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdditionalInfo" type="scm_res:AdditionalInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Блок информации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalInfoType">
    <xs:annotation>
      <xs:documentation>Блок информации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ColumnNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер графы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ColumnInformationType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип информации в графе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroupNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер записи по типу информации в графе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Text1" type="CategoryCust:TextCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TextIdentifier" type="CategoryCust:TextCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор текста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Text2" type="CategoryCust:TextCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementType" type="scm_res:Int1-5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип измерения (1-объем;  2-вес;  3-длина;  4-денежный эквивалент;  5-мощность)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentListType">
    <xs:annotation>
      <xs:documentation>Представляемые документы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="scm_res:DocumentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumber" type="CategoryCust:IntegerCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentTypeCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида платежа в соответствии с Классификатором видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentTypeCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида / категории документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentIssueDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи документа / дата начала перевозки по МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование организации, выдавшей документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentStartDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата начала действия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок действия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoListType">
    <xs:annotation>
      <xs:documentation>Описание и характеристика товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsInfo" type="scm_res:GoodsInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание и характеристика товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Описание и характеристика товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecordNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroupNumber" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MilitaryProductCategory" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория продукции военного назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование фирмы изготовителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Brand" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Article" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Артикул товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Standard" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стандарт  (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="scm_res:Decimal-2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер записи по ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsListType">
    <xs:annotation>
      <xs:documentation>Товары</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Goods" type="scm_res:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SignedInTSVT" type="scm_res:Int0-1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак учёта в ТСВТ. 0 – данные по товару не учитываются в ТСВТ, 1 – данные по товару учитываются</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код альфа-2 страны отправления -&gt; OKSMT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код альфа-2 страны назначения -&gt; OKSMT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование (торговое, коммерческое или иное традиционное наименование) товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование фирмы изготовителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кол-во товара (в дополнительной единице измерения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumber" type="CategoryCust:IntegerCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ / списку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="scm_res:TNVEDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код альфа-2 страны происхождения -&gt; OKSMT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyName" type="CategoryCust:TextCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование валюты / единицы измерения квоты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementCode" type="CategoryCust:TextCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код дополнительной единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="scm_res:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цена товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="scm_res:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalCost" type="scm_res:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статистическая стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код решения по товару в соответствии с классификатором решений, принимаемых должностными лицами</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата принятия решения по товару</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDateInTSVT" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата учета товара в ТСВТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryForStatistics" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расчетное значение страны происхождения/назначения (Код альфа-2). Формируется в соответствии с установленным алгоритмом для целей статистики</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDNumberInfoType">
    <xs:annotation>
      <xs:documentation>Номер ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="scm_res:Code5-8Type">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDNumber" type="clt_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackagingInfoListType">
    <xs:annotation>
      <xs:documentation>Информация об упаковках</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PackagingInfo" type="scm_res:PackagingInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация об упаковке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackagingInfoType">
    <xs:annotation>
      <xs:documentation>Информация об упаковке</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CodeTag" type="scm_res:Int0-3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак кода (0 - код вида упаковки, 1 - код вида тары, 2 - код вида груза, 3 - код поддона)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageTypeCode" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида груза / упаковки / тары / поддона (Классификатор видов груза, упаковки и упаковочных материалов)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageDescription" type="CategoryCust:TextCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание упаковки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountOfPackages" type="scm_res:Decimal-2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество упаковок / поддонов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Code5-8Type">
    <xs:annotation>
      <xs:documentation>5-ти или 8-ми значный код</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="[0-9]{5}|[0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Decimal-2Type">
    <xs:restriction base="CategoryCust:NumericCategoriesCust">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int0-1Type">
    <xs:annotation>
      <xs:documentation>Целое число. 0 или 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int0-3Type">
    <xs:annotation>
      <xs:documentation>Целое число. Значения от 0 до 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int1-5Type">
    <xs:annotation>
      <xs:documentation>Целое число. Значения от 1 до 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OKATOType">
    <xs:annotation>
      <xs:documentation>Код ОКАТО</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:maxLength value="9" />
      <xs:pattern value="\d{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TNVEDType">
    <xs:annotation>
      <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="10" />
      <xs:maxLength value="14" />
      <xs:pattern value="\d{10}|\d{14}|" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CostType">
    <xs:annotation>
      <xs:documentation>Число от 0 до 24 знаков, 2 знака после запятой</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:NumericCategoriesCust">
      <xs:minInclusive value="0" />
      <xs:totalDigits value="24" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>