XSD_Schs/V5.21.0/RSPConfirmationTarget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:rspctg="urn:customs.ru:Information:SQDocuments:RSPConfirmationTarget:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RSPConfirmationTarget:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Подтверждение о целевом назначении товаров ввозимых в рамках международного сотрудничества РФ в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов</xs:documentation>
  </xs:annotation>
  <xs:element name="RSPConfirmationTarget" type="rspctg:RSPConfirmationTargetType" />
  <xs:complexType name="RSPConfirmationTargetType">
    <xs:annotation>
      <xs:documentation>Подтверждение о целевом назначении товаров ввозимых в рамках международного сотрудничества РФ в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="20">
            <xs:annotation>
              <xs:documentation>Дополнительная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsValue" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Стоимость товара в валюте контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Валюта контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatisticalGoodsValue" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статистическая стоимость товара (USD)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Confirmation" type="rspctg:ConfirmationType">
            <xs:annotation>
              <xs:documentation>Подтверждение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Agreement" type="rspctg:AgreementType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о международном соглашении (договоре), в рамках которого ввозятся товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="rspctg:ContractType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контракт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipinet" type="rspctg:ParticipantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о получателе товаров (декларанте)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Seller" type="rspctg:ParticipantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о продавце</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="rspctg:AuthorizedPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="rspctg:GoodsDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009048E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AgreementType">
    <xs:annotation>
      <xs:documentation>Сведения о международном соглашении (договоре), в рамках которого ввозятся товары</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:DocumentNameType" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizedPersonType">
    <xs:annotation>
      <xs:documentation>Уполномоченное лицо, подписавшее документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>ФИО уполномоченного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmationType">
    <xs:annotation>
      <xs:documentation>Подтверждение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:DocumentNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текущий статус подтверждения: 1 - Действующее, 2 - Приостановленное, 3 - Аннулированное, 4 - Находится на оформлении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastChangeDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Информация о дате и времени последнего изменения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractType">
    <xs:annotation>
      <xs:documentation>Контракт</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:DocumentNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара (в валюте контракта)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статистическая стоимость товара (USD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodMark" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Марка товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParticipantType">
    <xs:annotation>
      <xs:documentation>Участник таможенной процедуры</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUOrganizationBaseType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус: 1 - юридическое лицо, 2 - индивидуальный предприниматель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="sq_clt:FreeText4000Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>