XSD_Schs/V5.21.0/RUResourceStatusDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_ResourceStatusDetails_v*.*.*.xsd альбома ЕЭК (R.007 Сведения для актуализации общего ресурса))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:rsd_ru="urn:customs.ru:Information:SQDocuments:RUResourceStatusDetails:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RUResourceStatusDetails:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения для актуализации общего ресурса</xs:documentation>
  </xs:annotation>
  <xs:element name="RUResourceStatusDetails" type="rsd_ru:RUResourceStatusDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения для актуализации общего ресурса</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RUResourceStatusDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения для актуализации общего ресурса</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:annotation>
            <xs:documentation>Компоненты, представляющие детализированную информацию о результате обработки</xs:documentation>
          </xs:annotation>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UpdateDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время обновления общего ресурса (реестра, перечня, базы данных)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение страны, предоставившей сведения в общий ресурс (реестр, перечень, базу данных)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009133E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>