XSD_Schs/V5.21.0/SertifAnyForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sef="urn:customs.ru:Information:SertifDocuments:SertifAnyForm:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.21.0" targetNamespace="urn:customs.ru:Information:SertifDocuments:SertifAnyForm:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.21.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из сертификатов о происхождении товара"</xs:documentation>
  </xs:annotation>
  <xs:element name="SertifAnyForm" type="sef:SertifAnyFormType">
    <xs:annotation>
      <xs:documentation>Сведения из сертификатов о происхождении товара"</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SertifAnyFormType">
    <xs:annotation>
      <xs:documentation>Сведения из сертификатов о происхождении товара"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ReferenceNo" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер сертификата, как он получен из запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Issued" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи сертификата, как она получена из запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SertifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер сертификата, указанный в графе 4 сертификата форм СТ-1, СТ-1 для Республики Узбекистан, СТ-2, СТ-3, EAV или регистрационный номер сертификата общей формы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sender" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о грузоотправителе/ экспортере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о грузополучателе/ импортере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Transport" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Средства транспорта и маршрут следования (насколько это известно)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormName" type="clt_ru:Text40Type">
            <xs:annotation>
              <xs:documentation>Наименование формы сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueCountry" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование страны, выдавшей сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForCountry" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование страны, для которой предназначен сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupportInfo" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки, указываемые в графе 5 сертификата формы СТ-1, СТ-1 для Республики Узбекистан, СТ-2, СТ-3, EAV; Дополнительные сведения, указываемые в графе 6 сертификата общей формы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OfficialNote" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки, указываемые в графе 4 сертификата общей формы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueOrganization" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Сведения об органе удостоверившем сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата удостоверения сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountry" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна происхождения товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ItemList" type="sef:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009394E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ItemOrder" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара текстовое (коммерческое наименование товара, его модель, марка, модификация, артикул, другие данные, позволяющие провести однозначную идентификацию товара с заявленным для целей таможенного оформления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара, указываемое в графе 10 сертификата формы СТ-1, СТ-2, СТ-3, EAV; Вес брутто/нетто, указываемое в графе 9 сертификата формы СТ-1 для Республики Узбекистан; Общий вес или другое количество, указываемые в графе 10 сертификата общей формы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsPlacesQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество упаковок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageInfo" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид упаковок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCriteria" type="clt_ru:Text5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Критерий происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Единица измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительных единицах измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryMeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительная единица измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Invoice" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер и дата счета-фактуры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>