XSD_Schs/V5.21.0/ShipOwnerResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:res_so="urn:customs.ru:Information:SQDocuments:ShipOwnerResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ShipOwnerResponse:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Росморречфлот. Ответ на запрос сведений о регистрации судов и прав на них</xs:documentation>
  </xs:annotation>
  <xs:element name="ShipOwnerResponse" type="res_so:ShipOwnerResponseType">
    <xs:annotation>
      <xs:documentation>Росморречфлот. Ответ на запрос сведений о регистрации судов и прав на них</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ShipOwnerResponseType">
    <xs:annotation>
      <xs:documentation>Росморречфлот. Ответ на запрос сведений о регистрации судов и прав на них
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Res" type="CategoryCust:IntegerCategoriesCust" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество найденных юридических лиц</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Owners" type="res_so:OwnersType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об юридических лицах</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009314E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="OwnersType">
    <xs:annotation>
      <xs:documentation>Перечень предоставляемых сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Owner" type="res_so:OwnerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об юридическом лице</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerType">
    <xs:annotation>
      <xs:documentation>Сведения об юридическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OId" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IMO" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyNameFull" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полное название юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyNameShort" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное название юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна нахождения юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryReg" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна регистрации юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Fax" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Факс</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Электронный ящик</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerShips" type="res_so:OwnerShipsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о судах, принадлежащих юридическому лицу</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerShipsType">
    <xs:annotation>
      <xs:documentation>Перечень предоставляемых сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OwnerShip" type="res_so:OwnerShipType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о судах, принадлежащих юридическому лицу</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerShipType">
    <xs:annotation>
      <xs:documentation>Перечень сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OId" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Идентификатор записи о юридическом лице в системе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OSShipID" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Идентификатор записи о судне в системе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerRegistrations" type="res_so:OwnerRegistrationsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о регистрациях, принадлежащих судну</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerRegistrationsType">
    <xs:annotation>
      <xs:documentation>Перечень предоставляемых сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OwnerRegistration" type="res_so:OwnerRegistrationType">
        <xs:annotation>
          <xs:documentation>Экземпляр данных о регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerRegistrationType">
    <xs:annotation>
      <xs:documentation>Перечень сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OSShipID" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Идентификатор записи о судне в системе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORNumberReg" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Номер регистрации в системе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORNumRegInternal" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер регистрации, присвоенный в порту</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORDateReg" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации в порту</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORArchive" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Архивная регистрация или нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORDateEndReg" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата исключения регистрации (заполняется когда регистрация архивная)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORReestrSection" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Раздел реестра (торговые суда/рыболовные суда)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORReestrName" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название реестра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORPortReg" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порт регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORPortRegOld" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предыдущий порт регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORDateEndRegOld" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания предыдущей регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORConsuleCountry" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна, в которой находится консульство РФ, регистрирующее судно
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORConsuleName" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название консульства РФ, регистрирующего судно</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORDateEndFlag" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания срока, на который судну предоставлено право плавания под флагом РФ
                        (указывается в бербоут-чартерных реестрах)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORShipNameRus" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название судна на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORShipNameEng" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название судна клером</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORShipNameRusOld" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Все предыдущие названия судна на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORShipNameEngOld" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Все предыдущие названия судна клером</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORShipImoNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО номер судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORNumberRRR" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистровый номер судна (речные)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORNumberIdentity" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер судна (речные)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORYearOfBuild" type="CategoryCust:IntegerCategoriesCust" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Год постройки судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORShipTypeNameRus" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ORFlag" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Флаг предыдущей регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipOwners" type="res_so:ShipOwnersType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сведения о собственниках и владельцах в регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerEncumbrances" type="res_so:OwnerEncumbrancesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о вещных правах и обременениях, указанных в регистрации
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipOwnersType">
    <xs:annotation>
      <xs:documentation>Перечень предоставляемых сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ShipOwner" type="res_so:ShipOwnerType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о собственнике или владельце в регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipOwnerType">
    <xs:annotation>
      <xs:documentation>Перечень сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ORNumberReg" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Номер регистрации в системе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOTypeRight" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип права владения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOIMO" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО номер юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOCompanyNameFull" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Полное название юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOCompanyNameShort" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное название юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOAddress" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес нахождения юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOCountry" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна нахождения юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOCountryReg" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна регистрации юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOPhone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOFax" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Факс юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOEmail" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Электронный ящик юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOINN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SOOGRN" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerEncumbrancesType">
    <xs:annotation>
      <xs:documentation>Перечень предоставляемых сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OwnerEncumbrance" type="res_so:OwnerEncumbranceType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о вещных правах и обременениях, указанных в регистрации
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerEncumbranceType">
    <xs:annotation>
      <xs:documentation>Перечень сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SONumberReg" type="CategoryCust:IntegerCategoriesCust">
        <xs:annotation>
          <xs:documentation>Номер регистрации в системе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OENumRight" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер обременения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OERightTxt" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст обременения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OEDateEndRight" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания обременения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OERightTxtExc" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст исключения обременения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OEDateEntry" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата внесения записи об обременении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OEDateExpire" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата аннулирования записи об обременении</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>