XSD_Schs/V5.21.0/TransControlRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:tcr="urn:customs.ru:Information:SQDocuments:TransControlRequest:5.21.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:TransControlRequest:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из транспортного контроля</xs:documentation>
  </xs:annotation>
  <xs:element name="TransControlRequest" type="tcr:TransControlRequestType">
    <xs:annotation>
      <xs:documentation>Сведения из транспортного контроля</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TransControlRequestType">
    <xs:annotation>
      <xs:documentation>Сведения из транспортного контроля</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="InspectionList" type="tcr:InspectionCommonType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Список транспортных контролей/инспекций</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009296E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AccountCodeType">
    <xs:annotation>
      <xs:documentation>Учетный талон</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccountCodeNumber" type="tcr:DRtnTrAccountCodeNumType">
        <xs:annotation>
          <xs:documentation>Номер учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCodeCreateDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата/время выдачи учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Driver" type="tcr:Text200Type">
        <xs:annotation>
          <xs:documentation>ФИО водителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCodeEmployeeName" type="tcr:EmployeeType">
        <xs:annotation>
          <xs:documentation>ФИО инспектора, выдавшего учетный талон</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Information" type="sq_clt:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArmeniaControlType">
    <xs:annotation>
      <xs:documentation>Сведения из листа транспортного контроля Республики Армения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ArmeniaTransportationTypeName" type="tcr:String1-50">
        <xs:annotation>
          <xs:documentation>Вид перевозки (поездки) через Республику Армения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак тяжеловесного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsKG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак опасного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRANSITPERMIT_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermit" type="tcr:UsingTransitPermitArmeniaType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование разрешения на поездку по территории Республики Армения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCode" type="tcr:DRtnTrAccountCodeNumType">
        <xs:annotation>
          <xs:documentation>Номер учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLROADPMT_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате дорожных сборов (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLPENALTYPMT_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате штрафа (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма штрафа, сом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassTG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PINTSTG_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие нагрузок на оси указанным в разрешении (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MASSTSTG_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие общей полной массы разрешению (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassKG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIZETSKG_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие габаритов ТС указанным в разрешении (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassOG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MAPPERMTS_AM" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие допуска ТС к МАП (Армения)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BelarusControlType">
    <xs:annotation>
      <xs:documentation>Сведения из листа транспортного контроля Республики Беларусь</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BelarusTransportationTypeName" type="tcr:String1-50">
        <xs:annotation>
          <xs:documentation>Вид перевозки (поездки) через Республику Беларусь</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак тяжеловесного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsKG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак опасного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRANSITPERMIT_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermit" type="tcr:UsingTransitPermitBelarusType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCode" type="tcr:DRtnTrAccountCodeNumType">
        <xs:annotation>
          <xs:documentation>Номер учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLROADPMT_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате дорожных сборов (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Currency" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Валюта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLPENALTYPMT_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате штрафа (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма штрафа, белорусский рубль (BYR)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassTG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PINTSTG_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие нагрузок на оси указанным в разрешении (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MASSTSTG_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие общей полной массы разрешению (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassKG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIZETSKG_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие габаритов ТС указанным в разрешении (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassOG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryRegionType">
    <xs:annotation>
      <xs:documentation>Код страны, код региона, наименование пункта</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Country" type="clt_ru:CountryA3CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Region" type="tcr:DRtnTrRegionType">
        <xs:annotation>
          <xs:documentation>Код региона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PunktName" type="tcr:Text200Type">
        <xs:annotation>
          <xs:documentation>Наименование пункта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentalControlType">
    <xs:annotation>
      <xs:documentation>Сведения документального контроля, сведения об использовании разрешений, специальных разрешений и карточек допуска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentalEmployeeName" type="tcr:EmployeeType">
        <xs:annotation>
          <xs:documentation>ФИО инспектора, проводившего документальный контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DOCDRV" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие водительского удостоверения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstDriver" type="tcr:Text200Type">
        <xs:annotation>
          <xs:documentation>ФИО водителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DOCTECH" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие свидетельства о регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_PERMMAXMASS12T" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Разрешенная максимальная масса ТС свыше 12 тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMMAXMASS12T" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие платы за возмещение вреда автомобильным дорогам ТС массой более 12 тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_PERMMAXMASS12T_REPEATED" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Повторное нарушение движения ТС более 12 тонн без платы за возмещение вреда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassCard" type="tcr:TCPassCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Карточка допуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLCARGO" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Предъявление заполненной товарно-транспортной накладной (CMR)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchLocation" type="tcr:CountryRegionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место посадки/погрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationLocation" type="tcr:CountryRegionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место высадки/разгрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoLocation" type="clt_ru:CountryA3CodeType">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportationTypeName" type="tcr:String1-50">
        <xs:annotation>
          <xs:documentation>Вид перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermit" type="tcr:UsingTransitPermitType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMREGPASS" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие (соответствие) разрешения на регулярную перевозку пассажиров (ОМР)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMEXIST" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие (соответствие) разрешения на многосторонние перевозки (ЕКМТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassTG" type="tcr:UsingPassTypeTG" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование cпециального разрешения на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassKG" type="tcr:UsingPassTypeKG" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование cпециального разрешения на перевозку КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassOG" type="tcr:UsingPassTypeOG" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на перевозку ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PASSNGLIST" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие списка пассажиров при нерегулярных перевозках</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerCount" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Количество пассажиров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCode" type="tcr:DRtnTrAccountCodeNumType">
        <xs:annotation>
          <xs:documentation>Номер учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DangerCargo" type="clt_ru:Quantity4Type">
        <xs:annotation>
          <xs:documentation>Номер опасного груза по ООН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MassTSFull" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Полная масса ТС / состава ТС, тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTransit" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак транзитной поездки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsRoadPayment" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Грузоподъемность больше 3.5 тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipmentType" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Вид поездки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TripType" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Вид перевозки пассажиров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак тяжеловесного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsKG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак опасного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeeType">
    <xs:annotation>
      <xs:documentation>Инспектор, проводивший инструментальный контроль</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FIO" type="tcr:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО инспектора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InspectionCommonType">
    <xs:annotation>
      <xs:documentation>Данные транспортного контроля/инспекции и выявленные в ходе контроля нарушения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Inspection" type="tcr:InspectionType">
        <xs:annotation>
          <xs:documentation>Сведения о транспортном контроле</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolationList" type="tcr:DRtnTrViolationNameType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Список выявленных в контроле нарушений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InspectionType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном контроле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectionID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор инспекции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата/время инспекции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstrumentalControlID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор инструментального контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentalControlID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор документального контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolationControlID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор листа контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BelarusControlID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор белорусского контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KazakhControlID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор казахстанского контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KyrgyzControlID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор кыргызского контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArmeniaControlID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор армянского контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionTypeName" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Решение, принятое по результатам контроля (код)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Таможенный орган, в котором осуществлялся транспортный контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Перевозчик</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CarrierName" type="tcr:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование компании-перевозчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportEndDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время окончания транспортного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Information" type="sq_clt:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Примечание инспектора транспортного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstrumentalControl" type="tcr:InstrumentalControlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения инструментального контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentalControl" type="tcr:DocumentalControlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения документального контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BelarusControl" type="tcr:BelarusControlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения из листа транспортного контроля Республики Беларусь</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KazakhControl" type="tcr:KazakhControlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения из листа транспортного контроля Республики Казахстан</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KyrgyzControl" type="tcr:KyrgyzControlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения из листа транспортного контроля Республики Кыргызстан</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArmeniaControl" type="tcr:ArmeniaControlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения из листа транспортного контроля Республики Армения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadPayment" type="tcr:RoadPaymentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об оплате дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCode" type="tcr:AccountCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Учетный талон</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstrumentalControlType">
    <xs:annotation>
      <xs:documentation>Сведения инструментального контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InstrumentalEmployeeName" type="tcr:EmployeeType">
        <xs:annotation>
          <xs:documentation>Инспектор, проводивший инструментальный контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер листа учета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер талона контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время начала инструментального контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weight" type="tcr:WeightType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовые параметры ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Size" type="tcr:SizeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Габаритные параметры ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Pneumo" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие пневмоподвески</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Course" type="tcr:DRtnTrFtsCourseType">
        <xs:annotation>
          <xs:documentation>Шифр поездки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Auto" type="tcr:TransportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационные данные ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstTrailer" type="tcr:TrailerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Рег. данные 1 прицепа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecondTrailer" type="tcr:TrailerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Рег. данные 2 прицепа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLNUMB" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие отличительного знака страны регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIDELNUMB" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие отличительного знака страны регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLNUMBTRAIL1" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие отличительного знака страны регистрации прицепа/полуприцепа 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIDELNUMBTRAIL1" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие отл. знака страны регистрации прицепа/полуприцепа 1 установленным требованиям</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLNUMBTRAIL2" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие отличительного знака страны регистрации прицепа/полуприцепа 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIDELNUMBTRAIL2" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие отл. знака страны регистрации прицепа/полуприцепа 2 установленным требованиям</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassWeight" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>МСВТС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KazakhControlType">
    <xs:annotation>
      <xs:documentation>Сведения из листа транспортного контроля Республики Казахстан</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KazakhTransportationTypeName" type="tcr:String1-50">
        <xs:annotation>
          <xs:documentation>Вид перевозки (поездки) через Республику Казахстан</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак тяжеловесного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsKG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRANSITPERMIT_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermit" type="tcr:UsingTransitPermitKazakhType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCode" type="tcr:DRtnTrAccountCodeNumType">
        <xs:annotation>
          <xs:documentation>Номер учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLROADPMT_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате дорожных сборов (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLPENALTYPMT_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате штрафа (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма штрафа, тенге</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassTG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на перевозку ТГ (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PINTSTG_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие нагрузок на оси указанным в разрешении (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MASSTSTG_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие общей полной массы разрешению (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassKG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на перевозку КГ (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIZETSKG_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие габаритов ТС указанным в разрешении (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MAPPERMTS_KZ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие допуска ТС к МАП (Казахстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KyrgyzControlType">
    <xs:annotation>
      <xs:documentation>Сведения из листа транспортного контроля Республики Кыргызстан</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KyrgyzTransportationTypeName" type="tcr:String1-50">
        <xs:annotation>
          <xs:documentation>Вид перевозки (поездки) через Республику Кыргызстан</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак тяжеловесного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsKG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOG" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак опасного груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRANSITPERMIT_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermit" type="tcr:UsingTransitPermitKyrgyzType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование разрешения на поездку по территории Республики Кыргызстан</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountCode" type="tcr:DRtnTrAccountCodeNumType">
        <xs:annotation>
          <xs:documentation>Номер учетного талона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLROADPMT_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате дорожных сборов (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма дорожных сборов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLPENALTYPMT_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа об оплате штрафа (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ квитанции об оплате штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата оплаты штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyCheckSum" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сумма штрафа, сом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>№ постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassTG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PINTSTG_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие нагрузок на оси указанным в разрешении (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MASSTSTG_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие общей полной массы разрешению (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassKG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIZETSKG_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие габаритов ТС указанным в разрешении (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassOG" type="tcr:UsingPassType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение на перевозку ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MAPPERMTS_KG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие допуска ТС к МАП (Кыргызстан)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoadPaymentType">
    <xs:annotation>
      <xs:documentation>Сведения об оплате дорожных сборов (при выезде ТС с территории РФ)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectionID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор записи в реестре транспортного контроля ФТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoNumber" type="tcr:DRtnTrAutoNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionName" type="tcr:DRtnTrRegionType">
        <xs:annotation>
          <xs:documentation>Страна регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoTypeName" type="tcr:DRtnTrAutoType">
        <xs:annotation>
          <xs:documentation>Марка ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Payer" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Плательщик</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Duration" type="clt_ru:Quantity5Type">
        <xs:annotation>
          <xs:documentation>Продолжительность пребывания на территории РФ, дней</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EntryDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата въезда на территорию РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Summa" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Размер уплаченного сбора, рублей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата платежа из платежного поручения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceiptNumber" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Номер платежного поручения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginPayDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата начала оплаченного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndPayDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания оплаченного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreateDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата внесения сведений об оплате в программный комплекс ФТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код поста ФТС, на котором осуществлялся транспортный контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmployeeName" type="tcr:EmployeeType">
        <xs:annotation>
          <xs:documentation>ФИО инспектора, внесшего данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SizeType">
    <xs:annotation>
      <xs:documentation>Габаритные параметры ТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Height" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Высота ТС, метров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Width" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ширина ТС, метров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Length" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Длина ТС, метров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCPassCardType">
    <xs:annotation>
      <xs:documentation>Данные карточки допуска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие карточки допуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер бланка карточки допуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Duration" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания срока действия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер удостоверения допуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenceStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Статус карточки допуска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrailerType">
    <xs:annotation>
      <xs:documentation>Регистрационные данные прицепа/полуприцепа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="tcr:DRtnTrAutoNumberType">
        <xs:annotation>
          <xs:documentation>Рег. номер прицепа/полуприцепа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="clt_ru:CountryA3CodeType">
        <xs:annotation>
          <xs:documentation>Страна регистрации прицепа/полуприцепа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportType">
    <xs:annotation>
      <xs:documentation>Регистрационные данные ТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AutoTypeName" type="tcr:DRtnTrAutoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="tcr:DRtnTrAutoNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="clt_ru:CountryA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BodyTypeName" type="tcr:DRtnTrBodyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingPassType">
    <xs:annotation>
      <xs:documentation>Использование документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingPassTypeKG">
    <xs:annotation>
      <xs:documentation>Использование cпециального разрешения на перевозку КГ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие резрешения на перевозку КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Наличие резрешения на перевозку КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KGWAY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соблюдение маршрута движения при перевозке КГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_EXCDIMKG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Габариты ТС соответствуют допустимым</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EXCDIMKG" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Превышение допустимых габаритов ТС, см</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_PERMEXCDIMKG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Габариты ТС соответствуют разрешению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMEXCDIMKG" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Превышение разрешенных габаритов ТС, см</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingPassTypeOG">
    <xs:annotation>
      <xs:documentation>Наличие разрешения на перевозку ОГ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие резрешения на перевозку ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер резрешения на перевозку ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGWAY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соблюдение маршрута движения при перевозке ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DRVDOPOG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие у водителя свидетельства – ДОПОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TSPASSOG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие свидетельства о допуске ТС к перевозке ОГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DANGERCARD" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие аварийной карточки системы информации об опасности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingPassTypeTG">
    <xs:annotation>
      <xs:documentation>Использование cпециального разрешения на перевозку ТГ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие резрешения на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер резрешения на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMWAY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие резрешения на перевозку ТГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_EXCMASSTG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Масса ТС соответствует допустимой</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EXCMASSTG" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Превышение допустимой массы ТС, %</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_EXCPINTG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Нагрузки на оси соответствуют допустимым</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EXCPINTG" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Превышение допустимой нагрузки на оси (сумму осей), %</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_PERMEXCMASSTG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Масса ТС соответствует разрешению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMEXCMASSTG" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Превышение разрешенной массы ТС, %</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IS_PERMEXCPINTG" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Нагрузки на оси соответствуют разрешению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMEXCPINTG" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Превышение разрешенной нагрузки на оси (сумму осей), %</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingTransitPermitArmeniaType">
    <xs:annotation>
      <xs:documentation>Использование разрешения на поездку по территории Республики Армения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermitTypeName" type="tcr:DRtnTrPermitDocNameType">
        <xs:annotation>
          <xs:documentation>Вид разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingTransitPermitBelarusType">
    <xs:annotation>
      <xs:documentation>Использование разрешения на поездку по территории Республики Беларусь</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermitTypeName" type="tcr:DRtnTrPermitDocNameType">
        <xs:annotation>
          <xs:documentation>Вид разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PermitSeries" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Серия разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIOLTRPERM_BY" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие характеристик ТС требованиям разрешения (Беларусь)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingTransitPermitKazakhType">
    <xs:annotation>
      <xs:documentation>Использование разрешения на поездку по территории Республики Казахстан</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermitTypeName" type="tcr:DRtnTrPermitDocNameType">
        <xs:annotation>
          <xs:documentation>Вид разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingTransitPermitKyrgyzType">
    <xs:annotation>
      <xs:documentation>Использование разрешения на поездку по территории Республики Кыргызстан</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermitTypeName" type="tcr:DRtnTrPermitDocNameType">
        <xs:annotation>
          <xs:documentation>Вид разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsingTransitPermitType">
    <xs:annotation>
      <xs:documentation>Использование разрешения на поездку</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlStatusName" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие разрешения на поездку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitPermitTypeName" type="tcr:DRtnTrPermitDocNameType">
        <xs:annotation>
          <xs:documentation>Вид разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMBLANK" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Осуществление международных автомобильных перевозок с заполненным разрешением</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMESTREQ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Порядок заполнения разрешения соответствует установленным правилам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERM3RDCNTBLANK" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Осуществление международной авт. перевозки с/на территорию третьего гос-ва с заполненным разрешением</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERM3RDCNTRESTREQ" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Порядок заполнения разрешения с/на территорию третьего гос-ва соответствует установленным правилам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMTRANSPTYPE" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Осуществление международных авт. перевозок с разрешением, соответствующим виду перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMMARK" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие отметки в разрешении/специальном разрешении о въезде/выезде</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JUREKMT" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие бортового журнала к лицензии ЕКМТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LOGCOMPANYEKMT" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Бортовой журнал оформлен на имя перевозчика, указанного в разрешении ЕКМТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NUMLOGEKMT" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Номер бортового журнала соответствует номеру разрешения ЕКМТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="REQLOGEKMT" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Бортовой журнал оформлен в соответствии с требованиями ЕКМТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CERTGASNOISE" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие сертификата соответствия тех. нормам по выхлопным газам и шуму</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CERTSECTRAILER" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие сертификата соответствия требованиям безопасности тягача и прицепа/полуприцепа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CERTUSETRAILER" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Наличие сертификата пригодности к эксплуатации для тягача и прицепа/полуприцепа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERMLOWCATEKMT" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Соответствие ТС экологическому стандарту ЕКМТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CARGOTRIP3_EKMT" type="tcr:Text050">
        <xs:annotation>
          <xs:documentation>Транспортное средство выполнило не более 3 груженных рейсов без заезда в страну регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WeightType">
    <xs:annotation>
      <xs:documentation>Весовые параметры ТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Pin" type="clt_ru:Quantity14point2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Список нагрузок на каждую ось, тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Total" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Суммарная нагрузка на оси ТС, тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PinCount" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество осей ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Distance" type="clt_ru:Quantity14point2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Список расстояний между осями</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cargo" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес груза брутто, тонн</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="DRtnTrAccountCodeNumType">
    <xs:annotation>
      <xs:documentation>Номер учетного талона</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
      <xs:pattern value="[0-9]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrAutoNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ТС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
      <xs:pattern value="[0-9a-zA-Zа-яА-Я \-]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrAutoType">
    <xs:annotation>
      <xs:documentation>Марка ТС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
      <xs:pattern value="[A-Z \-]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrBodyType">
    <xs:annotation>
      <xs:documentation>Тип ТС в Ространснадзоре</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
      <xs:pattern value="[A-Za-zА-Яа-я0-9_]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrFtsCourseType">
    <xs:annotation>
      <xs:documentation>Шифр поездки</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="[A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrPermitDocNameType">
    <xs:annotation>
      <xs:documentation>Вид разрешительного документа РФ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9_]{0,50}|[A-Z_]{0,46}_(BY|KZ|KG|AM)$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrRegionType">
    <xs:annotation>
      <xs:documentation>Код региона</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}[0-9]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrViolationNameType">
    <xs:annotation>
      <xs:documentation>Наименование контролируемого параметра/ текст нарушения</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9_]{0,50}|[A-Z_]{0,46}_(BY|KZ|KG|AM)$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String1-50">
    <xs:annotation>
      <xs:documentation>Вид перевозки.Текст. Допустимые значения A-Z,_. От 1 до 50 символов.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
      <xs:pattern value="[A-Z_]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text050">
    <xs:annotation>
      <xs:documentation>Текст. Допустимые значения A-Z,_. От 0 до 50 символов.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
      <xs:pattern value="[A-Z_]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text200Type">
    <xs:annotation>
      <xs:documentation>Текстовая строка длиной до 200 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text255Type">
    <xs:annotation>
      <xs:documentation>Текстовая строка длиной до 255 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>