XSD_Schs/V5.21.0/TransportMeanCardIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:TMCin="urn:customs.ru:Information:CustomsDocuments:TransportMeanCardIn:5.21.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransportMeanCardIn:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.21.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Карточка транспортного средства. Внутренний формат.</xs:documentation>
  </xs:annotation>
  <xs:element name="TransportMeanCardIn" type="TMCin:TransportMeanCardInType">
    <xs:annotation>
      <xs:documentation>Карточка транспортного средства. Внутренний формат</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TransportMeanCardInType">
    <xs:annotation>
      <xs:documentation>Карточка транспортного средства. Внутренний формат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GTDDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ДТ.  Используется для привязки к ДТ при представлении отдельно от ДТ.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportOwner" type="catESAD_ru:TransportOwnerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Владелец ТС. Для  физических лиц заполняются Фамилия, Имя, Отчество, для юридических - Наименование.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportManufacturer" type="catESAD_ru:TransportManufacturerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Изготовитель транспортного средства.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportCardOfficialMark" type="TMCin:TransportCardOfficialMarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Карточка ТС. Внутренний формат. Отметки таможенного органа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportCardTechMark" type="TMCin:TransportCardTechMarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Карточка ТС. Внутренний формат. Технологические отметки.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADTransportMeanCard" type="catESAD_ru:ESADTransportMeanCardType">
            <xs:annotation>
              <xs:documentation>Карточка транспортного средства. Сведения о транспортном средстве.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Document" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование,номер и дата документа (ТД, ТПО, иной документ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CardNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Учетный номер карточки (формат аналогичен формату номера ДТ).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VehicleEPassportId" type="TMCin:VehicleEPassportIdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер электронного паспорта транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006083E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="TransportCardOfficialMarkType">
    <xs:annotation>
      <xs:documentation>Карточка ТС. Внутренний формат. Отметки таможенного органа.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ImportCertificate" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Удостоверение ввоза ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportCertificateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи удостоверения ввоза ТС.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNPImportCertificate" type="cat_ru:CustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Инспектор, выдавший удостоверение ввоза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsConditionsCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенных ограничений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsConditions" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенные ограничения.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsConditionsDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата таможенных ограничений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PTSNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер паспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PTSDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи паспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportManufacturer" type="TMCin:TransportManufacturerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Организация, выдавшая ПТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNP" type="cat_ru:CustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Инспектор, выдавший паспорт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Особые отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsMarkDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата особых отметок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Annulled" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак аннулирования бумажного ПТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PTSNumberOld" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер бумажного ПТС, вместо которого выдан текущий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YC_STATUS" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак уплаты утилизационных сборов: 1 – УС не уплачивается, 2 – УС уплачивается, ТПО не оформлен, 3 – УС уплачивается, ТПО  оформлен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YC_MATTER" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код основания для неуплаты УС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TPO" type="TMCin:TPORegNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Оформленный ТПО на ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YC_TPO" type="TMCin:TPORegNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Оформленный ТПО на утилизационный сбор</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportCardTechMarkType">
    <xs:annotation>
      <xs:documentation>Карточка ТС. Внутренний формат. Технологические отметки.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateOut" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выгрузки записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeOut" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время выгрузки записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModificationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата последнего внесения изменений в документ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModificationTime" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время последнего внесения изменений в ДТС.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModificationIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак модификации записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PacketControlIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индикатор пакетного контроля.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PTSUseDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата /время использования бланка ПТС/ПШТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PTSOutDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата /время выгрузки для передачи в подсистему учета бланков ПТС/ПШТС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportManufacturerType">
    <xs:annotation>
      <xs:documentation>Организация, выдавшая ПТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportManufacturerName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование организации / Наименование ТО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код альфа-2 страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес организации.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPORegNumberType">
    <xs:annotation>
      <xs:documentation>Справочный номер ТПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Номер документа по журналу регистрации/типографский номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumPP" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер вносимых изменений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VehicleEPassportIdType">
    <xs:annotation>
      <xs:documentation>Строка символов, идентифицирующая электронный паспорт транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{15}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>