XSD_Schs/V5.21.0/Voi_InstrInspection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:ATDcat="urn:customs.ru:Information:CustomsDocuments:ATDCommon:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:voii="urn:customs.ru:Information:CustomsDocuments:Voi_InstrInspection:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:Voi_InstrInspection:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsDocuments:ATDCommon:5.21.0" schemaLocation="ATDCommon.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Направление на осмотр с ИДК</xs:documentation>
  </xs:annotation>
  <xs:element name="Voi_InstrInspection" type="voii:Voi_InstrInspectionType" />
  <xs:complexType name="Voi_InstrInspectionType">
    <xs:annotation>
      <xs:documentation>Направление на осмотр с ИДК</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="AssInspectionDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предположительные дата и время осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisExamination" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание для проведения осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ранее проведенного осмотра с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousInspection" type="cat_ru:GTDID6Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер акта ранее проведенного осмотра с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RepeatComments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Причины проведения повторного  осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKCustoms" type="cat_ru:CUCustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, которому назначается осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDK_id" type="clt_ru:CodeVariable8Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ИДК, которому назначается осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKType" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип ИДК (М - мобильный, С - стационарный)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypePP" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код типа пункта пропуска: 1 - Автомобильный пункт пропуска; 2 - Морской пункт пропуска; 3 - Железнодорожный пункт пропуска; 4 - Воздушный пункт пропуска; 5 - Вне пункта пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberCustomsZone" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер зоны таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsZoneName" type="clt_ru:DocumentNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование зоны таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstrInfo" type="ATDcat:InstrInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о Направлении на осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstrNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Направления на осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SoftType" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИПС, создавшее направление: A - АИС АИСТ-М,  T - КПС Транзитные операции, P - АС ПП, V- КПС «Учет и контроль товаров на ВХ», F - создано в ручном режиме (физические лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedureType" type="clt_ru:CUCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Направление перемещения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RiskOperCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код технологической операции при выявлении ПР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectionObject" type="voii:InspectionObjectType">
            <xs:annotation>
              <xs:documentation>Сведения об объекте осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustDocNumber" type="ATDcat:CustDocNumberType">
            <xs:annotation>
              <xs:documentation>Номер таможенного документа, по которому необходимо произвести осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006239E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Count5Type">
    <xs:annotation>
      <xs:documentation>Число. Порядковый номер. От 1 до 5 цифр </xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:totalDigits value="5" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InspDocumentsType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocId" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы документа </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InspGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspDocuments" type="voii:InspDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документы, по которым перевозятся товары (транспортные, коммерческие)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны происхождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InspTransportMeansType">
    <xs:annotation>
      <xs:documentation>Транспортные средства/контейнеры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumObject" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeObject" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип ТС: 01 - Грузовой; 02 - Контейнерный; 03 - Легковой; 04 - Пассажирский; 05 - Порожний; 06 -  Насыпь; 07 - Биг-бэги; 08 - Паллеты; 99 - Иной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TransportMeans" type="voii:TransportMeansType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Сведения о транспортном средстве</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="InspContainer" type="catESAD_cu:ContainerNumberType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Сведения о контейнере</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BigBag" type="clt_ru:DocumentNumberType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Идентификатор иного типа объекта</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InspectionObjectType">
    <xs:annotation>
      <xs:documentation>Сведения об объекте досмотра</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectType" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип объекта: 1-товар; 2-транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryPlace" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место доставки груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения/комментарий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DelivCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Carrier" type="cat_ru:OrganizationBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о перевозчике</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspTransportMeans" type="voii:InspTransportMeansType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Транспортные средства/контейнеры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspGoods" type="voii:InspGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPakageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общий вес товаров брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalNetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общий вес товаров нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MainWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес основного товара в товарной партии (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfile" type="voii:RiskProfileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Person" type="voii:PersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о физ лице, управляющем ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardCode" type="RUSclt_ru:RUIdentityCardCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа, удостоверяющего личность. Для РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardName" type="clt_ru:IdentityCardNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardSeries" type="clt_ru:IdentityCardSeriesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCardDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskProfileType">
    <xs:annotation>
      <xs:documentation>Номер профиля риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProfileKind" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска в соответствии с Классификатором видов профилей рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, должностное лицо которого утвердило профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SequenceNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNum" type="voii:Count5Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера товаров в таможенном документе, по которым сработал ПР (0 - по всем товарам)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckRiskTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время выявления профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrailerIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>