XSD_Schs/V5.21.0/ZAGSRecSearchResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:zags="urn:customs.ru:Information:SQDocuments:ZAGSRecSearchResponse:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:ZAGSRecSearchResponse:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос на поиск актовой записи о перемене имени для получения сведений в объеме свидетельства о перемене имени</xs:documentation>
  </xs:annotation>
  <xs:element name="ZAGSRecSearchResponse" type="zags:ZAGSRecSearchResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на поиск актовой записи о перемене имени для получения сведений в объеме свидетельства о перемене имени</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ZAGSRecSearchResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на поиск актовой записи о перемене имени для получения сведений в объеме свидетельства о перемене имени</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IdZapros" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор сведений, сформированный поставщиком</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecordDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата, на которую сформированы сведения по поступившему запросу
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KolDok" type="clt_ru:Quantity2Type">
            <xs:annotation>
              <xs:documentation>Количество документов в представленном файле</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AGSType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SvedOtvetAGS" type="zags:SvedOtvetAGSType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о государственной регистрации АГС о перемене имени, в отношении которого сформирован запрос</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009376E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>Адрес</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddressText" type="zags:FreeText512Type">
        <xs:annotation>
          <xs:documentation>Набор элементов адреса, представленных в свободной форме в виде текста.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdressID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны в соответствии с классификатором стран мира
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="zags:FreeText255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное название страны в соответствии с классификатором стран мира
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код субъекта Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Region" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регион (Наименование единицы административно-территориального деления первого
            уровня)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="District" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Район (Наименование единицы административно-территориального деления второго
            уровня)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Town" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Город</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Населенный пункт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostalCode" type="zags:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Почтовый индекс</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetHouse" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Улица (Наименование элемента улично-дорожной сети городской
            инфраструктуры)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="House" type="RUSclt_ru:RoomType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обозначение дома</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Building" type="RUSclt_ru:RoomType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обозначение корпуса, строения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Room" type="RUSclt_ru:RoomType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обозначение офиса или квартиры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BirthPlaceType">
    <xs:annotation>
      <xs:documentation>Место рождения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PriznMesto" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Признак принадлежности адреса к территории РФ или к территории за пределами РФ. Принимает следующие значения:
            1 –  на территории РФ;
            2 –  за пределами РФ;
            3 – не классифицируемое значение.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressText" type="zags:FreeText512Type">
        <xs:annotation>
          <xs:documentation>Набор элементов адреса, представленных в свободной форме в виде текста.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdressID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны в соответствии с классификатором стран мира
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="zags:FreeText255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное название страны в соответствии с классификатором стран мира
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код субъекта Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Region" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регион (Наименование единицы административно-территориального деления первого
            уровня)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="District" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Район (Наименование единицы административно-территориального деления второго
            уровня)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Town" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Город</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="zags:FreeText50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Населенный пункт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>Дата</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MonthYear" type="clt_ru:MonthYearType">
        <xs:annotation>
          <xs:documentation>Месяц и год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Year" type="clt_ru:DateYearCustType">
        <xs:annotation>
          <xs:documentation>Год</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DokOsnType">
    <xs:annotation>
      <xs:documentation>Сведения о реквизитах иного документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element name="DocumentCode" type="clt_ru:CodeVariable5Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Код вида документа</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PrDocumentName" type="clt_ru:FreeText500Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Наименование документа</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IdentityCardSeriesNumber" type="clt_ru:Text40Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Серия и номер документа</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Дата документа</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OrganizationName" type="zags:FreeText1000Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Наименование организации, выдавшей документ</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIOInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о ФИО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="zags:FreeText60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="zags:FreeText60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patronymic" type="zags:FreeText60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalizaciyaType">
    <xs:annotation>
      <xs:documentation>Сведения о легализации документа /о проставлении апостиля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganLegal" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Орган, которым осуществлена легализация документа/проставлен апостиль</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataLegal" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата легализации документа /проставления апостиля. Дата в формате ДД.ММ.ГГГГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomerLegal" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер записи о легализации документа/номер апостиля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameChangeCertType">
    <xs:annotation>
      <xs:documentation>Сведения о выданном Свидетельстве о перемене имени</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TipSvidet" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип выданного свидетельства. Принимает значение:
            1 – первичное свидетельство   |
            2 – повторно выданное свидетельство
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocSeries" type="zags:SeriesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="zags:DocNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Дата выдачи свидетельства</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DocIncompleteDate" type="zags:DateType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Дата выдачи свидетельства по представленным документам (неполная дата)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OuterAddressType">
    <xs:annotation>
      <xs:documentation>Адрес места жительства за пределами Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressText" type="zags:FreeText512Type">
        <xs:annotation>
          <xs:documentation>Адрес места жительства за пределами Российской Федерации (текст)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordInfoType">
    <xs:annotation>
      <xs:documentation>Передаваемые сведения о государственной регистрации перемены имени</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SNILS" type="clt_ru:CodeVariable14Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKSM" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны гражданства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitizenshipCountry" type="zags:FreeText255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное название страны гражданства в соответствии с классификатором стран мира
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonNameBeforeChange" type="zags:FIOInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о лице до перемены имени</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonNameAfterChange" type="zags:FIOInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о лице после перемены имени</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="zags:DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="zags:BirthPlaceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="RusAddressKLADR" type="zags:AddressType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Адрес места жительства в Российской Федерации по КЛАДР
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RusAddressFIAS" type="zags:AddressType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Адрес места жительства в Российской Федерации по ФИАС (по схеме сервиса не отличается от кладр)
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OuterAddress" type="zags:OuterAddressType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Адрес места жительства за пределами Российской Федерации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AdrMZHKonv" type="zags:FreeText512Type">
          <xs:annotation>
            <xs:documentation>Не классифицируемый адрес места жительства</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RekvizInDokType">
    <xs:annotation>
      <xs:documentation>Реквизиты документа, выданного компетентным органом иностранного государства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TipDok" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Тип документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimDokTekst" type="zags:FreeText255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа иностранного государства (текстом)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nomer" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа иностранного государства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="DataKalend" type="clt_ru:DateCustType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Номер документа иностранного государства</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DataDok" type="zags:DateType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Номер документа иностранного государства</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="NaimOrgan" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование компетентного органа иностранного государства, которым составлен документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvDokInType">
    <xs:annotation>
      <xs:documentation>Сведения об уведомлении о регистрации компетентным органом иностранного государства акта гражданского состояния</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodOKSM" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны иностранного государства, компетентным органом которого выдан документ о факте регистрации акта гражданского состояния в отношении гражданина Российской Федерации, по справочнику ОКСМ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimStrany" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование иностранного государства, компетентным органом которого выдан документ о факте регистрации акта гражданского состояния в отношении гражданина Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RekvizInDok" type="zags:RekvizInDokType">
        <xs:annotation>
          <xs:documentation>Реквизиты документа, выданного компетентным органом иностранного государства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YUrZnachDok" type="zags:YUrZnachDokType">
        <xs:annotation>
          <xs:documentation>Сведения о юридической значимости документа, выданного компетентным органом иностранного государства, и его легализации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SVedEGRRazd2Type">
    <xs:annotation>
      <xs:documentation>Сведения о внесении в ЕГР ЗАГС сведений о документе компетентного органа иностранного государства (Раздел 2)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvUvedoml" type="zags:SvUvedomlType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об уведомлении о регистрации компетентным органом иностранного государства акта гражданского состояния</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvDokIn" type="zags:SvDokInType">
        <xs:annotation>
          <xs:documentation>Сведения о документе компетентного органа иностранного государства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvedOtvetAGSType">
    <xs:annotation>
      <xs:documentation>Сведения о государственной регистрации АГС о перемене имени, в отношении которого сформирован запрос</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdDok" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Result" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Результат обработки поступившего запроса. Принимает значения: 1 – по
            поступившему запросу сведения в ЕГР ЗАГС найдены; 2 – по поступившему запросу сведения в
            ЕГР ЗАГС отсутствуют или не переданы из региональной системы; 3 – по поступившему
            запросу нельзя однозначно определить сведения в ЕГР ЗАГС.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvedRegPerImya" type="zags:SvedRegPerImyaType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о государственной регистрации перемены имени</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvedRegPerImyaType">
    <xs:annotation>
      <xs:documentation>Сведения о государственной регистрации перемены имени</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RazdelEGR" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Раздел ЕГР ЗАГС, в котором содержатся сведения о регистрации акта гражданского состояния. Принимает значение:
            1 - Первый раздел;
            2 - Второй раздел.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomerZapisEGR" type="zags:FreeText21Type">
        <xs:annotation>
          <xs:documentation>Номер актовой записи о перемене имени, содержащийся в ЕГР ЗАГС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomAGSSvid" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер актовой записи, указанный в свидетельстве о перемене имени</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomerVers" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер версии записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataVers" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата версии записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="RecordDate" type="clt_ru:DateCustType">
          <xs:annotation>
            <xs:documentation>Дата составления записи акта о перемене имени</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RecordIncompleteDate" type="zags:DateType">
          <xs:annotation>
            <xs:documentation>Неполная дата составления записи акта о перемене имени</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="KodSostStat" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код состояния и статуса записи акта о перемене имени по справочнику СОСТАГС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZAGS" type="zags:ZAGSType">
        <xs:annotation>
          <xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameChangeCert" type="zags:NameChangeCertType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о выданном Свидетельстве о перемене имени</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordInfo" type="zags:RecordInfoType">
        <xs:annotation>
          <xs:documentation>Передаваемые сведения о государственной регистрации перемены имени
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvedRegRozhd" type="zags:SvedRegRozhdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о государственной регистрации рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SVedEGRRazd2" type="zags:SVedEGRRazd2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о внесении в ЕГР ЗАГС сведений о документе компетентного органа иностранного государства (Раздел 2)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvedRegRozhdType">
    <xs:annotation>
      <xs:documentation>Сведения о государственной регистрации рождения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="ZapAktOsn" type="zags:ZapAktOsnType">
          <xs:annotation>
            <xs:documentation>Сведения о реквизитах актовой записи гражданского состояния</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DokOsn" type="zags:DokOsnType">
          <xs:annotation>
            <xs:documentation>Сведения о реквизитах иного документа</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvedZAGSUvedType">
    <xs:annotation>
      <xs:documentation>Сведения об органе ЗАГС Российской Федерации или консульском учреждении Российской Федерации, куда направлено уведомление о факте регистрации компетентным органом иностранного государства АГС в отношении гражданина РФ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodZAGS" type="clt_ru:CodeVariable8Type">
        <xs:annotation>
          <xs:documentation>Код органа ЗАГС по справочнику СОЗАГС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NaimZAGS" type="zags:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Полное наименование органа ЗАГС, которым внесены сведения о документе иностранного государства, по справочнику СОЗАГС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataPrinyat" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия органом ЗАГС уведомления о факте регистрации компетентным органом иностранного государства АГС в отношении гражданина РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DolzhnOtv" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность ответственного лица, которым принято уведомления о факте регистрации компетентным органом иностранного государства АГС в отношении гражданина РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIOOtv" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество ответственного лица, которым принято уведомления о факте регистрации компетентным органом иностранного государства АГС в отношении гражданина РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SvUvedomlType">
    <xs:annotation>
      <xs:documentation>Сведения об уведомлении о регистрации компетентным органом иностранного государства акта гражданского состояния</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodVidUved" type="clt_ru:CodeVariable5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид уведомления по справочнику СДРАГС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataUved" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата подачи уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SposPod" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Дата подачи уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KolListDok" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов в уведомлении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvedZAGSUved" type="zags:SvedZAGSUvedType">
        <xs:annotation>
          <xs:documentation>Сведения об органе ЗАГС Российской Федерации или консульском учреждении Российской Федерации, куда направлено уведомление о факте регистрации компетентным органом иностранного государства АГС в отношении гражданина РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="YUrZnachDokType">
    <xs:annotation>
      <xs:documentation>Сведения о юридической значимости документа, выданного компетентным органом иностранного государства, и его легализации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KolListDok" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов в копии документа, выданного компетентным органом иностранного государства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvOttiskPech" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Сведения о наличии или отсутствии оттиска печати на документе иностранного государства. Принимает значения:
            1 – есть оттиск печати на документе;
            2 – отсутствует оттиск печати на документе
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvPodpTekst" type="zags:FreeText255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о лице, подписавшем документ иностранного государства, текст</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZasvidDok" type="zags:ZasvidDokType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о нотариальном засвидетельствовании документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZasvidPerevod" type="zags:ZasvidDokType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о нотариальном засвидетельствовании перевода документа или подлинности подписи переводчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SvLegal" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Сведения о необходимости легализации документа, выданного компетентным органом иностранного государства. Принимает значения:
            1 – документ легализован;
            2 – получен отказ в легализации документа;
            3 – проставлен апостиль;
            4 – легализация документа не требуется
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="SvOtkazLegaliz" type="clt_ru:FreeText500Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Причина отказа в легализации документа</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Legalizaciya" type="zags:LegalizaciyaType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Сведения о легализации документа /о проставлении апостиля</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZAGSType">
    <xs:annotation>
      <xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ZAGSName" type="zags:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Полное наименование органа ЗАГС, которым произведена государственная регистрация
            акта гражданского состояния
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZAGSCode" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Код органа ЗАГС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZapAktOsnType">
    <xs:annotation>
      <xs:documentation>Сведения о реквизитах актовой записи гражданского состояния</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AGSType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип записи акта гражданского состояния</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordNumber" type="zags:FreeText22Type">
        <xs:annotation>
          <xs:documentation>Номер записи акта гражданского состояния</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="AktDate" type="clt_ru:DateCustType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Дата составления актовой записи</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AktIncompleteDate" type="zags:DateType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Дата составления актовой записи по представленным документам (неполная дата)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="ZAGS" type="zags:ZAGSType">
        <xs:annotation>
          <xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация гражданского состояния</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZasvidDokType">
    <xs:annotation>
      <xs:documentation>Сведения о нотариальном засвидетельствовании документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNomReestrNotar" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер в реестре нотариальных действий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataNotarDeistv" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата совершения нотариальных действий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIONotar" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>ФИО нотариуса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIOPerevod" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО переводчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KolListDok" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов копии документа (перевода документа)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>От 6 до 8 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:maxLength value="8" />
      <xs:minLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText1000Type">
    <xs:annotation>
      <xs:documentation>От 1 до 1000 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText21Type">
    <xs:annotation>
      <xs:documentation>От 1 до 21 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="21" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText22Type">
    <xs:annotation>
      <xs:documentation>От 1 до 22 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="22" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText255Type">
    <xs:annotation>
      <xs:documentation>От 1 до 255 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText50Type">
    <xs:annotation>
      <xs:documentation>От 1 до 50 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText512Type">
    <xs:annotation>
      <xs:documentation>От 1 до 512 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FreeText60Type">
    <xs:annotation>
      <xs:documentation>От 1 до 60 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PostalCodeType">
    <xs:annotation>
      <xs:documentation>Почтовый индекс. От 1 до 6 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SeriesType">
    <xs:annotation>
      <xs:documentation>От 2 до 8 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:maxLength value="8" />
      <xs:minLength value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>