XSD_Schs/V5.24.0/AutoRWReqVeterin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:arwreqv="urn:customs.ru:Information:SQDocuments:AutoRWReqVeterin:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:SQDocuments:AutoRWReqVeterin:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос решения Россельхознадзора при фактическом прибытии товара (при отсутствии ПИ или ее корректировки) при перемещении товаров автомобильным и железнодорожным транспортом</xs:documentation>
  </xs:annotation>
  <xs:element name="AutoRWReqVeterin" type="arwreqv:AutoRWReqVeterinType">
    <xs:annotation>
      <xs:documentation>Запрос решения Россельхознадзора при фактическом прибытии товара (при отсутствии ПИ или ее корректировки) при перемещении товаров автомобильным и железнодорожным транспортом</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AutoRWReqVeterinType">
    <xs:annotation>
      <xs:documentation>Запрос решения Россельхознадзора при фактическом прибытии товара (при отсутствии ПИ или ее корректировки) при перемещении товаров автомобильным и железнодорожным транспортом</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IDNumber" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер идентификатора, полученного заинтересованным лицом в Россельхознадзоре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GUID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор цепочки обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VeracitySign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак достоверности сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportPermit" type="arwreqv:PermitDocType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о разрешении на ввоз</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VeterinaryPermit" type="arwreqv:PermitDocType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о ветеринарном сопроводительном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ManufacturerDetails" type="arwreqv:ManufacturerDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о предприятии - производителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="arwreqv:GoodsDescriptionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDispatchCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDestinationCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportInfo" type="arwreqv:TransportInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivaPlace" type="RUSclt_ru:Name120Type">
            <xs:annotation>
              <xs:documentation>Место прибытия товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalDate" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время фактического прибытия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009306E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UUID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsName" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVED" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossQuantity" type="RUScat_ru:UnifiedPhysicalMeasureType">
        <xs:annotation>
          <xs:documentation>Вес (брутто)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Volume" type="RUScat_ru:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем (в куб. метрах)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GlobUID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Глобальный идентификатор для версионируемых сущностей</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManufacturerDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о предприятии - производителе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UUID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerRegNumber" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип предприятия:                          1 - Роль не определена;                  2 - Бойня (мясокомбинат);               3 - Разделочное предприятие;          4 - Холодильник</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GlobUID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Глобальный идентификатор для версионируемых сущностей</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PermitDocType">
    <xs:annotation>
      <xs:documentation>Сведения о разрешительном документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер транспортного средства </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrailerID" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер прицепа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerID" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>