XSD_Schs/V5.24.0/CompareDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cmp="urn:customs.ru:Information:CustomsDocuments:CompareDoc:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:CompareDoc:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Правила сравнения электронных документов</xs:documentation>
  </xs:annotation>
  <xs:element name="CompareDoc" type="cmp:CompareDocType">
    <xs:annotation>
      <xs:documentation>Правила сравнения электронных документов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CompareDocType">
    <xs:annotation>
      <xs:documentation>Правила сравнения электронных документов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Group" type="cmp:GroupType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Группы сравнения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" default="1061001E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GroupType">
    <xs:annotation>
      <xs:documentation>Группа элементов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование группы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Matching" type="cmp:MatchingType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сравниваемые элементы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatchingType">
    <xs:annotation>
      <xs:documentation>Сравниваемый элемент</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="If" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Условный блок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование элемента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrLevels" type="cmp:ErrorLevelsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уровени ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrCode" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ошибки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrorName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование ошибки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CriterionGroup" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Группа критериев</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CriterionNum" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код критерия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryPI" type="clt_ru:CountryA2CodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень стран, для которых проводится сверка ПИ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Path" type="cmp:PathType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>XPath к сравниваемому элементу в документах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorLevelsType">
    <xs:annotation>
      <xs:documentation>Уровни критичности ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StageNum" type="clt_ru:CodeVariable2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер этапа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrLevel" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уровень критичности на этапе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PathType">
    <xs:annotation>
      <xs:documentation>Сравниваемый элемент</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Method" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя метода обработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код документа в альбоме форматов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocCode" type="clt_ru:Code5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="XPath" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>XPath к сравниваемому элементу в документах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>