XSD_Schs/V5.24.0/DebtCustomAdministrativeOffencesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:els_leaf="urn:customs.ru:Information:ELSDocuments:ELSLeafTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:dca="urn:customs.ru:DebtCustomAdministrativeOffencesResponse:5.24.0" targetNamespace="urn:customs.ru:DebtCustomAdministrativeOffencesResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ELSDocuments:ELSLeafTypes:5.21.0" schemaLocation="ELSLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос о задолженностях перед таможенными органами по административным штрафам в области дорожного движения</xs:documentation>
  </xs:annotation>
  <xs:element name="DebtCustomAdministrativeOffencesResponse" type="dca:DebtCustomAdministrativeOffencesResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о задолженностях перед таможенными органами по административным штрафам в области дорожного движения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DebtCustomAdministrativeOffencesResponseType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о задолженностях перед таможенными органами по административным штрафам в области дорожного движения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="AdministrativeOffence" type="dca:AdministrativeOffenceType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Административное правонарушение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009402E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdministrativeOffenceType">
    <xs:annotation>
      <xs:documentation>Административное правонарушение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CaseRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер дела об АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OffenceDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата совершения АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OffencePlace" type="RUSclt_ru:AddressTextType">
        <xs:annotation>
          <xs:documentation>Место совершения АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KoAPArticle" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Состав АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата вынесения постановления по делу об АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер постановления по делу об АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionForceDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вступления постановления по делу об АП в законную силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionOrgan" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Наименование таможенного или судебного органа, вынесшего постановление по делу об АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Offender" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Субъект АП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationPlate" type="clt_ru:TransportStateSignIDType">
        <xs:annotation>
          <xs:documentation>Государственный регистрационный знак ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplierBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Purpose" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Назначение платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAmount" type="clt_ru:Quantity11Type">
        <xs:annotation>
          <xs:documentation>Сумма штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="els_leaf:BCCType">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Код по Общероссийскому классификатору территорий муниципальных образований получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Payee" type="dca:PayeeType">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BudgetIndex" type="dca:BudgetIndexType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiscountSize" type="dca:DiscountSizeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Условия оплаты со скидкой</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BudgetIndexType">
    <xs:annotation>
      <xs:documentation>Реквизиты платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Статус плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaytReason" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxPeriod" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxDocNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxDocDate" type="dca:TaxDocDateType">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountSizeType">
    <xs:annotation>
      <xs:documentation>Условия оплаты со скидкой</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Value" type="clt_ru:ProcentNumericType">
        <xs:annotation>
          <xs:documentation>Процент скидки от суммы начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Expiry" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок действия скидки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayeeBankType">
    <xs:annotation>
      <xs:documentation>Сведения о банке получателя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование банка получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIK" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>Банковский идентификационный код банка получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrespondentBankAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Корреспондентский счет банка получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayeeType">
    <xs:annotation>
      <xs:documentation>Сведения о получателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PayeeName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeINN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>Идентификационный номер налогоплательщика получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeKPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>Код причины постановки на учет получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeAccountNumber" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Счет получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonalAccount" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Лицевой счет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayeeBank" type="dca:PayeeBankType">
        <xs:annotation>
          <xs:documentation>Сведения о банке получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TaxDocDateType">
    <xs:annotation>
      <xs:documentation>Значение «0», «00» или строка с датой в ISO 8601</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])" />
      <xs:pattern value="00" />
      <xs:pattern value="0" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>