XSD_Schs/V5.24.0/ELSPaymentIdentificationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:pir="urn:customs.ru:Information:ELSDocuments:ELSPaymentIdentificationRequest:5.24.0" targetNamespace="urn:customs.ru:Information:ELSDocuments:ELSPaymentIdentificationRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Обращение об идентификации платежного документа</xs:documentation>
  </xs:annotation>
  <xs:element name="ELSPaymentIdentificationRequest" type="pir:ELSPaymentIdentificationRequestType">
    <xs:annotation>
      <xs:documentation>Обращение об идентификации платежного документа</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ELSPaymentIdentificationRequestType">
    <xs:annotation>
      <xs:documentation>Обращение об идентификации платежного документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestDoc" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Реквизиты обращения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в который направляется обращение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Участник ВЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocument" type="pir:PresentedPaymentDocumentType">
            <xs:annotation>
              <xs:documentation>Платежный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankExtract" type="pir:AttachedDocumentType">
            <xs:annotation>
              <xs:documentation>Банковская выписка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="pir:AttachedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040050E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор архива</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Архивный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocStatus" type="clt_ru:ArchStatusCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус документа в архиве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentCode" type="clt_ru:DocumentModeIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор вида документа по альбому форматов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveBodyID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор исполнительного органа, выдавшего разрешительный документ (для РФ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocBeginDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocEndDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата/время помещения документа в архив (последнего изменения документа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentIndicator" type="clt_ru:DigitalIndicatorType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Признак предоставления документа (0 - новый документ, 1 - документ предоставлялся ранее)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PresentedPaymentDocumentType">
    <xs:annotation>
      <xs:documentation>Представленный платежный документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="pir:AttachedDocumentType">
        <xs:sequence>
          <xs:element name="Amount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Сумма платежного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AttachedDocumentsType">
    <xs:annotation>
      <xs:documentation>Перечень прилагаемых документов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="EDocCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>