XSD_Schs/V5.24.0/ExemptionTaxInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:eti="urn:customs.ru:Information:CustomsDocuments:ExemptionTaxInfo:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ExemptionTaxInfo:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о документах, установливающих количественные или стоимостные ограничения на свободное перемещение товаров через таможенную границу и их исполнении</xs:documentation>
  </xs:annotation>
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:element name="ExemptionTaxInfo" type="eti:ExemptionTaxInfoType" />
  <xs:complexType name="ExemptionTaxInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о документах, установливающих количественные или стоимостные ограничения на свободное перемещение товаров через таможенную границу и их исполнении</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocNumber" type="RUScat_ru:DocBaseV4Type">
            <xs:annotation>
              <xs:documentation>Номер и дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionBegin" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата начала действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionEnd" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Direction" type="clt_ru:CUCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Направление перемещения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentType" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocRegistration" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер и дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Agreement" type="eti:AgreementType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о соглашении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Ограничения по кодам ТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sender" type="eti:SenderRecipientType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отправитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="eti:SenderRecipientType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccreditCust" type="eti:AccreditFaceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо в ФТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccreditDep" type="eti:AccreditFaceType">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо в ведомстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="QuotaInfo" type="eti:QuotaGoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Квотируемое количество/сумма</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1061007E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AgreementType">
    <xs:annotation>
      <xs:documentation>Реквизиты соглашения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AgreementNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер и дата соглашения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementCountryAlpha2" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны alpha-2 (две буквы латинского алфавита) страны соглашения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementCode" type="clt_ru:Count10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код соглашения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование соглашения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Custom" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ТО соглашения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SenderRecipientType">
    <xs:annotation>
      <xs:documentation>Сведения об отправителе/получателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование отправителя/получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUSclt_ru:AddressTextType">
        <xs:annotation>
          <xs:documentation>Адрес отправителя/получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInfo" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительная информация об отправителе/получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccreditFaceType">
    <xs:annotation>
      <xs:documentation>Уполномоченное лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccreditFIO" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>ФИО уполномоченного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccreditPost" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность уполномоченного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuotaGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о квоте по товару</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер позиции товара в перечне (списке)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BenefitCategory" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория льготы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BenefitCode" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код льготы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuotaGoodsCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuotaGoodsTNVEDName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuotaGoodsName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuotaRemaining" type="eti:QuotaSizeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Остаток квоты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuotaSize" type="eti:QuotaSizeType">
        <xs:annotation>
          <xs:documentation>Размер квоты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuotaSizeType">
    <xs:annotation>
      <xs:documentation>Размер квоты.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element name="QuotaQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Квотируемое количество в основных единицах измерения.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="QuotaQuantityDEI" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Квотируемое количество в дополнительных единицах измерения.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="QuotaSumma" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Квотируемая сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>