XSD_Schs/V5.24.0/FnsPaymentDebtsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:fpd_res="urn:customs.ru:Information:SQDocuments:FnsPaymentDebtsResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FnsPaymentDebtsResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление сведений о наличии (отсутствии) задолженности по уплате налогов, сборов, пеней, штрафов, процентов (Ответ)</xs:documentation>
  </xs:annotation>
  <xs:element name="FnsPaymentDebtsResponse" type="fpd_res:FnsPaymentDebtsResponseType" />
  <xs:complexType name="FnsPaymentDebtsResponseType">
    <xs:annotation>
      <xs:documentation>Предоставление сведений о наличии (отсутствии) задолженности по уплате налогов, сборов, пеней, штрафов, процентов (Ответ)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="DebtInfo" type="fpd_res:DebtInfoType">
              <xs:annotation>
                <xs:documentation>Сведения о задолженности</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Result" type="clt_ru:Text50Type">
              <xs:annotation>
                <xs:documentation>Результат обработки</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009178E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, по состоянию на которую сформированы сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HavingDebts" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия задолженности (1 - присутствует, 0 - остутствует)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН организации/физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxAuthorities" type="fpd_res:TaxAuthoritiesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень территориальных налоговых органов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuthoritiesType">
    <xs:annotation>
      <xs:documentation>Перечень территориальных налоговых органов, в которых имеется неисполненная обязанность по уплате налогов, сборов, пеней, процентов
                за пользование бюджетными средствами, штрафов, подлежащих уплате в соответствии с законодательством о налогах и сборах Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FNSInspectionCode" type="clt_ru:Code4Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код инспекции ФНС России</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>