XSD_Schs/V5.24.0/FNSSubjectStatusResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ss_res="urn:customs.ru:Information:SQDocuments:FNSSubjectStatusResponse:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FNSSubjectStatusResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Данные из Постконтроля</xs:documentation>
  </xs:annotation>
  <xs:element name="FNSSubjectStatusResponse" type="ss_res:FNSSubjectStatusResponseType">
    <xs:annotation>
      <xs:documentation>Данные из Постконтроля</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FNSSubjectStatusResponseType">
    <xs:annotation>
      <xs:documentation>Данные из Постконтроля</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Organizations" type="ss_res:OrganizationType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009249E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicvidationMark" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отсутствуют ограничения (резерв)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LimitsExists" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Присутствуют ограничения для ликвидации (1 - есть ограничения, 0 - нет ограничений)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Таможенный орган</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>