XSD_Schs/V5.24.0/FsspPaymentNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:pn="urn:customs.ru:Information:SQDocuments:FsspPaymentNotification:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspPaymentNotification:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из системы ЕАИС таможенных органов о погашении (изменении) суммы задолженности по исполнительному документу</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspPaymentNotification" type="pn:FsspPaymentNotificationType" />
  <xs:complexType name="FsspPaymentNotificationType">
    <xs:annotation>
      <xs:documentation>Сведения из системы ЕАИС таможенных органов о погашении (изменении) суммы задолженности по исполнительному документу</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор АИС Ведомства (ФТС России)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentNotification" type="pn:PaymentNotificationType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уведомление о погашении (изменении) суммы задолженности по исполнительному документу</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009097E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PaymentNotificationType">
    <xs:annotation>
      <xs:documentation>Уведомление о погашении (изменении) суммы задолженности по исполнительному документу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecutiveDocumentId" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор исполнительного документа (ИД) АИС Ведомства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата ИД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreditorName" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Взыскатель (наименование)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Debtor" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Должник</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OverallSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма платежа в счет погашения задолженности (общая)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBKSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма платежа в счет погашения задолженности (по КБК)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер платежного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentDocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата платежного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Payer" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Плательщик</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>