XSD_Schs/V5.24.0/FsspCustomsPaymentsDecreesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:fssp_cpd_req="urn:customs.ru:Information:SQDocuments:FsspCustomsPaymentsDecreesRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspCustomsPaymentsDecreesRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из системы ЕАИС таможенных органов, необходимые для возбуждения и ведения исполнительного производства по постановлениям о взыскании таможенных платежей, процентов и пеней за счет имущества плательщика</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspCustomsPaymentsDecreesRequest" type="fssp_cpd_req:FsspCustomsPaymentsDecreesRequestType" />
  <xs:complexType name="FsspCustomsPaymentsDecreesRequestType">
    <xs:annotation>
      <xs:documentation>Сведения из системы ЕАИС таможенных органов, необходимые для возбуждения и ведения исполнительного производства по постановлениям о взыскании таможенных платежей, процентов и пеней за счет имущества плательщика</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата отправки документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Barcode" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Штрих-код</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип исполнительного документа (ИД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер постановления о взыскании таможенных платежей, процентов, пеней за счет имущества плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResolutionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата постановления о взыскании таможенных платежей, процентов, пеней за счет имущества плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocumentCopy" type="clt_ru:FreeText250Type" maxOccurs="16">
            <xs:annotation>
              <xs:documentation>Экземпляр ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер решения о взыскании таможенных платежей, процентов, пеней за счет имущества плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата решения о взыскании таможенных платежей, процентов, пеней за счет имущества плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequirementNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер требования об уплате таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequirementDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата требования об уплате таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PartExecutionDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата частичного исполнения инкассового поручения (при наличии)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CollectionComissionDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата постановки инкассового поручения в картотеку (при наличии)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccountClosingDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата закрытия счета плательщика (при наличии)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Creditor" type="fssp_cpd_req:CreditorType">
            <xs:annotation>
              <xs:documentation>Взыскатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО и должность подписавшего лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtorType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalEntity" type="fssp_cpd_req:LegalEntityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Юридическое лицо/Индивидуальный предприниматель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtInfo" type="fssp_cpd_req:DebtInfoType">
            <xs:annotation>
              <xs:documentation>Информация о задолженности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveDocument" type="fssp_cpd_req:ExecutiveDocumentType">
            <xs:annotation>
              <xs:documentation>Исполнительный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Information" type="fssp_cpd_req:InformationType">
            <xs:annotation>
              <xs:documentation>Сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009087E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CreditorType">
    <xs:annotation>
      <xs:documentation>Взыскатель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код взыскателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:CustomsOfficeNameType">
        <xs:annotation>
          <xs:documentation>Наименование взыскателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес взыскателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:annotation>
      <xs:documentation>Юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Фактический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalAddress" type="RUScat_ru:RUAddressType">
            <xs:annotation>
              <xs:documentation>Юридический адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата регистрации должника ЮЛ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>Информация о задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtRecInfo" type="fssp_cpd_req:DebtRecInfoType">
        <xs:annotation>
          <xs:documentation>Сумма по видам платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsDublicate" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак дубликата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RulingStartDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата вступления постановления в законную силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RulingDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtRecInfoType">
    <xs:annotation>
      <xs:documentation>Информация о задолженности по виду платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KBK" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида платежа в соответствии с Классификатором  видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование вида платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypesSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма по виду платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutiveDocumentType">
    <xs:annotation>
      <xs:documentation>Исполнительный документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecutiveDocument" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Исполнительный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveDocumentSign" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>ЭП исполнительного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationType">
    <xs:annotation>
      <xs:documentation>Сведения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OPF" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес в расшифровке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Transfer" type="fssp_cpd_req:TransferType">
        <xs:annotation>
          <xs:documentation>Реквизиты для перечисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorPhone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон должника</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferType">
    <xs:annotation>
      <xs:documentation>Реквизиты для перечисления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReceiverName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Банк получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankBIC" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка получаетля (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceiverAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Расчетный счет получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП получателя (взыскателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Account" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Лицевой счет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentType" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Показатель типа платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, перечисляемая по данным реквизитам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>