XSD_Schs/V5.24.0/FsspExecutoryProcessDebtorsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:fssp_epd_res="urn:customs.ru:Information:SQDocuments:FsspExecutoryProcessDebtorsResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsspExecutoryProcessDebtorsResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из системы ЕАИС таможенных органов по запросу судебного пристава-исполнителя сведений о должниках по исполнительным производствам, стороной которого он является</xs:documentation>
  </xs:annotation>
  <xs:element name="FsspExecutoryProcessDebtorsResponse" type="fssp_epd_res:FsspExecutoryProcessDebtorsResponseType" />
  <xs:complexType name="FsspExecutoryProcessDebtorsResponseType">
    <xs:annotation>
      <xs:documentation>Сведения из системы ЕАИС таможенных органов по запросу судебного пристава-исполнителя сведений о должниках по исполнительным производствам, стороной которого он является</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ConversationId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Сведения о цепочке обмена сообщениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EaisId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ИД АИС ведомства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestKey" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Ключ запроса ФССП России</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutoryProcessKey" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Ключ ИП ФССП России</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseType" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Тип ответа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата ответа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executive" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО и должность лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveEmail" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Электронная почта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutivePhone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
              <xs:documentation>Контактный телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Information" type="fssp_epd_res:InformationType">
            <xs:annotation>
              <xs:documentation>Сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009104E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="InformationType">
    <xs:annotation>
      <xs:documentation>Сведения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtorPrivatePerson" type="fssp_epd_res:PrivatePersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должнике-ФЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorLegalEntity" type="cat_ru:OrganizationBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должнике-ЮЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес в расшифровке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtorPhone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="fssp_epd_res:GoodsType">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrivatePersonType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtorName" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО должника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРНИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Gender" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Пол (0 — Данные отсутствуют, 1 — Мужской, 2 — Женский)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SNILS" type="clt_ru:CodeVariable11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Удостоверение личности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodInfo" type="fssp_epd_res:GoodInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Статус товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StorageDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата помещения товара на хранение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoragePlace" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Место хранения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>