XSD_Schs/V5.24.0/FtsInformationFEASubjectsReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
SQ.00270, СМЭВ - ftsVedMembersIdentifiers-root.xsd (Предоставление сведений об идентификаторах субъектов в качестве участников ВЭД (режим по требованию))
SQ.00310, СМЭВ - ftsVedFullMembersInfoByPeriod-root.xsd (Предоставление полных сведений о субъектах в качестве участников ВЭД за период, режим по требованию)
SQ.00320, СМЭВ - ftsAllFEASubjectsReglament-root.xsd (Предоставление сведений по всем субъектам - участникам ВЭД за отчётный период, регламентный режим)
SQ.00330, СМЭВ - ftsListFEASubjectsReglament-root.xsd (Предоставление сведений по списку субъектов - участников ВЭД за отчётный период, регламентный режим)
SQ.00340, СМЭВ - ftsAllFEASubjectsOnDemand-root.xsd (Предоставление сведений по всем субъектам - участникам ВЭД, режим по требованию)
SQ.00350, СМЭВ - ftsListFEASubjectsOnDemand-root.xsd (Предоставление сведений по списку субъектов - участников ВЭД за период, режим по требованию)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:is_req="urn:customs.ru:Information:SQDocuments:FtsInformationFEASubjectsReq:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FtsInformationFEASubjectsReq:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на предоставление сведений по субъектам - участникам ВЭД</xs:documentation>
  </xs:annotation>
  <xs:element name="FtsInformationFEASubjectsReq" type="is_req:FtsInformationFEASubjectsReqType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление сведений по субъектам - участникам ВЭД</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FtsInformationFEASubjectsReqType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление сведений по субъектам - участникам ВЭД</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="InfoKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид запрашиваемой информации: (1 - Запрос на предоставление сведений об идентификаторах субъектов в качестве участников ВЭД (режим по требованию); 2 - Запрос на предоставление полных сведений о субъектах в качестве участников ВЭД за период, режим по требованию; 3 - Запрос на предоставление сведений по всем субъектам - участникам ВЭД за отчётный период, регламентный режим, 4 - Запрос на предоставление сведений по списку субъектов - участников ВЭД за отчётный период, регламентный режим; 5 - Запрос на предоставление сведений по всем субъектам - участникам ВЭД, режим по требованию; 6 - Запрос на предоставление по списку субъектов - участников ВЭД за период, режим по требованию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InformationCodeEnum" type="is_req:InformationCodeEnumType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Перечисление кодов видов информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentifierList" type="is_req:IdentifierListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Перечень идентификаторов субъектов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateFrom" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала периода</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTo" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания периода</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060001E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="IdentifierListType">
    <xs:annotation>
      <xs:documentation>Перечень идентификаторов субъектов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubjectINN" type="clt_ru:INNIDType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентификатор субъекта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationCodeEnumType">
    <xs:annotation>
      <xs:documentation>Перечисление кодов видов информации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InformationCode" type="clt_ru:Code2Type" maxOccurs="23">
        <xs:annotation>
          <xs:documentation>Код вида информации (01 - Краткие сведения о субъекте; 02 - Наиболее важные сведения о субъекте; 03 - Сведения об импорте товаров участником ВЭД; 04 - Сведения об экспорте товаров участником ВЭД; 05 - Сведения об осуществлении субъектом международных перевозок; 06 - Показатели административной деятельности таможенных органов в отношении субъекта; 07 - Сведения о регистрации субъекта в официальных реестрах ФТС; 08 - Сведения об индикаторах риска, выявленных в отношении импортера; 09 - Сведения об индикаторах риска, установленных для экспортера; 11 - Сведения о товарах, ввозимых участником ВЭД; 12 - Сведения о контрагентах импортера; 13 - Сведения об использовании обеспечении уплаты таможенных платежей; 14 - Сведения о товарах, вывозимых участником ВЭД; 15 - Сведения об использовании упрощений таможенных процедур при ввозе товара; 16 - Сведения об автотранспортных средствах международной перевозки; 17 - Сведения об уплате таможенных платежей по ДТ, по которым субъект выступал таможенным представителем; 18 - Сведения об уплате таможенных платежей; 19 - Сведения об использовании тарифных преференций; 20 - Сведения о примененных в отношении субъекта мерах таможенного контроля; 21 - Сведения об административных правонарушениях субъекта; 22 - Сведения об объектах интеллектуальной собственности; 23 - Сведения о примененных мерах по минимизации рисков и их результатах; 24 - Перечень деклараций на товары; 25 - Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями; 26 - Документ, подтверждающий право использования тарифных преференций.)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>