XSD_Schs/V5.24.0/FtsVedFullMembersInfoByPeriodAttach.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--SQ.00311, СМЭВ - ftsVedFullMembersInfoByPeriod-attach.xsd   - содержимое FileContent в FtsVedBinaryDocRes) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:vfmp_att="urn:customs.ru:Information:SQDocuments:FtsVedFullMembersInfoByPeriodAttach:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FtsVedFullMembersInfoByPeriodAttach:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос на предоставление электронного документа по субъекту - участнику ВЭД, режим по требованию (содержимое вложения)</xs:documentation>
  </xs:annotation>
  <xs:element name="FtsVedFullMembersInfoByPeriodAttach" type="vfmp_att:FtsVedFullMembersInfoByPeriodAttachType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на предоставление электронного документа по субъекту - участнику ВЭД, режим по требованию (содержимое вложения)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FtsVedFullMembersInfoByPeriodAttachType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на предоставление электронного документа по субъекту - участнику ВЭД, режим по требованию (содержимое вложения)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="FileContent" type="vfmp_att:FileContentType">
            <xs:annotation>
              <xs:documentation>Содержимое вложения ответа на запрос на предоставление электронного документа по субъекту - участнику ВЭД, режим по требованию</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060015E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdministrativeActivitiesOfCustomsAuthoritiesType">
    <xs:annotation>
      <xs:documentation>Показатели административной деятельности таможенных органов в отношении субъекта (код 06)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 06 - Показатели административной деятельности таможенных органов в отношении субъекта)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecurityKinds" type="vfmp_att:SecurityKindsType">
        <xs:annotation>
          <xs:documentation>Виды обеспечения. Отбираются все виды обеспечения, использованные лицом за отчетный период</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsControl" type="vfmp_att:CustomsControlType">
        <xs:annotation>
          <xs:documentation>Таможенный контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdministrativeOffensesFileType">
    <xs:annotation>
      <xs:documentation>Дело об административных правонарушениях, возбуждённых таможенными органами по фактам нарушений валютного законодательства РФ и актов органов валютного регулирования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeOffensesKind" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид административного правонарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProtocolNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер протокола об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProtocolDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата протокола об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DefinitionNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер определения о возбуждении дела об административном правонарушении и проведении административного расследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DefinitionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата определения о возбуждении дела об административном правонарушении и проведении административного расследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Основание составления протокола об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер постановления о прекращении производства по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления о прекращении производства по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PunishmentNumber" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер постановления о назначении административного наказания по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PunishmentDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления о назначении административного наказания по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PunishmentKind" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид назначенного наказания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EntryDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата вступления решения по делу об административном правонарушении в законную силу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PerformanceDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата исполнения решения по делу об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerminationReason" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание прекращения производства по делу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispositionNumber" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер представления об устранении причин и условий, способствовавших совершению административного правонарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispositionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата представления об устранении причин и условий, способствовавших совершению административного правонарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdministrativeOffensesInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об административных правонарушениях субъекта (код 21)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 21 - Сведения об административных правонарушениях субъекта)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="File" type="vfmp_att:AdministrativeOffensesFileType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дело об административных правонарушениях, возбуждённых таможенными органами по фактам нарушений валютного законодательства РФ и актов органов валютного регулирования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseImportInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об импорте товаров участником ВЭД (код 03)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 03 - Сведения об импорте товаров участником ВЭД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MainImportCountry" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название государства. Перечень не более 5 государств с максимальным значением показателя «Сумма платежей за период в разрезе государств»</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContragentsDTDetailType">
    <xs:annotation>
      <xs:documentation>Сведения о контрагентах импортера в базе данных ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContragentName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование контрагента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="vfmp_att:DTInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Список ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContragentsInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о контрагентах импортера (код 12)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 12 - Сведения о контрагентах импортера)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContragentsDTDetail" type="vfmp_att:ContragentsDTDetailType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о контрагентах импортера в базе данных ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContragentsPSDetail" type="vfmp_att:ContragentsPSDetailType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о контрагентах импортера в базе данных ПС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContragentsPSDetailType">
    <xs:annotation>
      <xs:documentation>Сведения о контрагентах импортера в базе данных ПС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContragentIdentifier" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор контрагента (субъекта)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContragentName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование контрагента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOffshoreRegistered" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Зарегистрирован в офшоре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна, в которую перечислены денежные средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма денежных средств, перечисленная по паспортам сделок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomDutiesDetailType">
    <xs:annotation>
      <xs:documentation>Перечень сведений об обеспечении уплаты таможенных платежей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WAY" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Способ обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AMOUNT" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="REQUISITES" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomDutiesInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об использовании обеспечении уплаты таможенных платежей (код 13)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 13 - Сведения об использовании упрощений таможенных процедур при ввозе товара)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomDutiesDetail" type="vfmp_att:CustomDutiesDetailType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень сведений об обеспечении уплаты таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportGoodsDetail" type="vfmp_att:ImportGoodsDetailType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об импортированных товарах, выпущенных до подачи декларации на товары за период</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomPaymentsInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об уплате таможенных платежей (код 18)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 18 - Сведения об использовании тарифных преференций)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Payments" type="vfmp_att:PaymentsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Платежи (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Decisions" type="vfmp_att:DecisionsType">
        <xs:annotation>
          <xs:documentation>Решения о возврате/зачете излишней уплаты (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsCarrierType">
    <xs:annotation>
      <xs:documentation>Сведения о включении субъекта в реестр таможенных перевозчиков</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateInclude" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения в реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsControlType">
    <xs:annotation>
      <xs:documentation>Таможенный контроль</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsControlKind" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид таможенного контроля. Таможенный контроль после выпуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsControlInfo" type="vfmp_att:SubjectControlInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о примененных в отношении субъекта мерах таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsDutiesPaymentsInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об уплате таможенных платежей по ДТ, по которым субъект выступал таможенным представителем (код 17)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 17 - Сведения об уплате таможенных платежей по ДТ, по которым субъект выступал таможенным представителем)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentsCalculation" type="vfmp_att:PaymentsCalculationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Исчисление платежей (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDutiesPayments" type="vfmp_att:CustomsDutiesPaymentsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уплата таможенных платежей (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsDutiesPaymentsType">
    <xs:annotation>
      <xs:documentation>Уплата таможенных платежей (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PAYKIND" type="RUSclt_ru:Text32Type">
        <xs:annotation>
          <xs:documentation>Дата включения в реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PAYAMOUNT" type="clt_ru:Count10Type">
        <xs:annotation>
          <xs:documentation>Уплачено декларантом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsRepresentativeType">
    <xs:annotation>
      <xs:documentation>Сведения о включении субъекта в реестр таможенных представителей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateInclude" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения в реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonAmount" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество специалистов по таможенным операциям</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionsType">
    <xs:annotation>
      <xs:documentation>Решения о возврате/зачете излишней уплаты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Причина возврата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionsNumber" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Количество решений о возврате (зачёте) таможенных платежей по ДТ (в разрезе причин возврата)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Person" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Субъект, в отношении которого принято решение о возврате (зачёте)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма возврата излишне уплаченных или излишне взысканных таможенных платежей по ДТ (в разрезе видов платежей и причин возврата)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Credited" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Зачтено излишне уплаченных или излишне взысканных платежей (в разрезе видов платежей и причин возврата)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentInformationType">
    <xs:annotation>
      <xs:documentation>Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями (код 25)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 25 - Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Орган, выдавший документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRef" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTDocumentInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ND" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выпуска товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NdLink" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTInformationType">
    <xs:annotation>
      <xs:documentation>Перечень деклараций на товары (код 24)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 24 - Перечень деклараций на товары)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocSelectionOptions" type="vfmp_att:DTSelectionOptionsType">
        <xs:annotation>
          <xs:documentation>Параметры отбора документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInformation" type="vfmp_att:DTDocumentInformationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSelectionOptionsType">
    <xs:annotation>
      <xs:documentation>Уточняющие параметры отбора документов для блока 24 (Перечень деклараций на товары)
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypeMove" type="clt_ru:TransitDirectionCodeType">
        <xs:annotation>
          <xs:documentation>Тип перемещения (01 – Экспорт, 02 – Импорт)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Member" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Участник ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contractor" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Контрагент участника ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomProc" type="clt_ru:CUCustomsProcedureType">
        <xs:annotation>
          <xs:documentation>Таможенная процедура (Первый подраздел гр.1 ДТ/ТД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SimplificationType" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид используемого упрощения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tnved" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CollateralType" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExporterRiskInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об индикаторах риска, установленных для экспортера (код 09)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 09 - Сведения об индикаторах риска, установленных для экспортера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsFakeExport" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Нет подтверждения фактического вывоза товара за пределы ЕАЭС (ложный экспорт)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FakeExport" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подтверждение фактического вывоза товара за пределы ЕАЭС (ложный экспорт)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileContentType">
    <xs:annotation>
      <xs:documentation>Содержимое вложения ответа на запрос на предоставление электронного документа по субъекту - участнику ВЭД, режим по требованию</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Subject" type="vfmp_att:SubjectType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о субъекте - участнике ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, импортируемых субъектом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Tnved" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна, откуда был ввезён товар</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsProhibited" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Товар, запрещенный к ввозу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTempImportViolation" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Товар ввезен временно, но не вывезен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCodeIssue" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный орган, который произвел выпуск товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressUnloading" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места разгрузки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImporterRiskInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об индикаторах риска, выявленных в отношении импортера (код 08)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 08 - Сведения об индикаторах риска, выявленных в отношении импортера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsViolationTransit" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Нарушение срока таможенного транзита (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolationTransit" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Нарушение срока таможенного транзита (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsCashPayments" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование наличных расчётов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CashPayments" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Использование наличных расчётов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOverstatingPrice" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Завышение цены товаров, не облагаемых таможенными пошлинами (вывод капитала) (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOverstatingLeasingPrice" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Занижение стоимости товаров, ввозимых по договорам лизинга, компенсируемое через вывод средств из РФ (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OverstatingLeasingPrice" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Занижение стоимости товаров, ввозимых по договорам лизинга, компенсируемое через вывод средств из РФ (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsInvestorViolation" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ввоз товаров в РФ в качестве вклада в УК без уплаты таможенных платежей с последующим выходом инвестора из УК (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvestorViolation" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ввоз товаров в РФ в качестве вклада в УК без уплаты таможенных платежей с последующим выходом инвестора из УК (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsTempImportViolation" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок временного ввоза превышает 2 года и обратного вывоза нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempImportViolation" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок временного ввоза превышает 2 года и обратного вывоза нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsUnderstatingCost" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля товаров, относящихся к группе риска занижения стоимости, ввезённых в течении 1 года, составляет более 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnderstatingCost" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля товаров, относящихся к группе риска занижения стоимости, ввезённых в течении 1 года, составляет более 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnderstatingCostGoods" type="vfmp_att:ImportGoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля товаров, относящихся к группе риска занижения стоимости, ввезённых в течении 1 года, составляет более 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsProhibitedGoodsImport" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Зафиксированы попытки ввоза в РФ товаров, запрещённых к ввозу (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProhibitedGoodsImport" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Зафиксированы попытки ввоза в РФ товаров, запрещённых к ввозу (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProhibitedGoodsImportGoods" type="vfmp_att:ImportGoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Зафиксированы попытки ввоза в РФ товаров, запрещённых к ввозу (за последние 5 лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOffshoreSurplus" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля товаров, ввезённых в течение 1го года, по сделкам с контрагентами, зарегистрированными в офшоре, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OffshoreSurplus" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля товаров, ввезённых в течение 1го года, по сделкам с контрагентами, зарегистрированными в офшоре, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OffshoreSurplusContragents" type="vfmp_att:ContragentsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля товаров, ввезённых в течение 1го года, по сделкам с контрагентами, зарегистрированными в офшоре, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsUnreliableOriginCountry" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В течение года были зафиксированы случаи недостоверного декларирования страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnreliableOriginCountry" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В течение года были зафиксированы случаи недостоверного декларирования страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnreliableOriginCountryGoods" type="vfmp_att:ImportGoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В течение года были зафиксированы случаи недостоверного декларирования страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryNotDepartCntrPreferences" type="vfmp_att:PreferencesInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В течение года были зафиксированы случаи, когда страна происхождения (с преференциальным режимом) не совпадает со страной отправления и отсутствует сертификат происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryNotDepartCntr" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В течение года были зафиксированы случаи, когда страна происхождения (с преференциальным режимом) не совпадает со страной отправления и отсутствует сертификат происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOriginCountryNotDepartCntr" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В течение года были зафиксированы случаи, когда страна происхождения (с преференциальным режимом) не совпадает со страной отправления и отсутствует сертификат происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsResidCountryNotTradeCntr" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых страна нахождения нерезидента по ПС ≠ торгующей стране по ДТ, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResidCountryNotTradeCntr" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых страна нахождения нерезидента по ПС ≠ торгующей стране по ДТ, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResidCountryNotTradeCntrGoods" type="vfmp_att:ImportGoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых страна нахождения нерезидента по ПС ≠ торгующей стране по ДТ, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPayReceiverCntrNotTradeCntr" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых страна получателя платежа по ПС ≠ торгующей стране по ДТ, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayReceiverCntrNotTradeCntr" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых страна получателя платежа по ПС ≠ торгующей стране по ДТ, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayReceiverCntrNotTradeCntrGoods" type="vfmp_att:ImportGoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых страна получателя платежа по ПС ≠ торгующей стране по ДТ, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsImportGoodsCostViolation" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых, суммарная таможенная стоимость товара в ДТ больше суммы денежных средств в ПС, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportGoodsCostViolation" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых, суммарная таможенная стоимость товара в ДТ больше суммы денежных средств в ПС, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportGoodsCostViolationGoods" type="vfmp_att:ImportGoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля ввезённых товаров, для которых, суммарная таможенная стоимость товара в ДТ больше суммы денежных средств в ПС, превышает 20% по суммарной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportGoodsDetailType">
    <xs:annotation>
      <xs:documentation>Сведения об импортированных товарах, выпущенных до подачи декларации на товары за период</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Tnved" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="vfmp_att:DTInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Список ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportGoodsInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, ввозимых участником ВЭД (код 11)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 11 - Сведения о товарах, ввозимых участником ВЭД)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReplacedGoods" type="vfmp_att:ReplacedGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень замененных товарных позиций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportedGoods" type="vfmp_att:ImportedGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах, импортируемых субъектом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="vfmp_att:DTInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Список ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationOnVehiclesOfInternationalTransportationType">
    <xs:annotation>
      <xs:documentation>Сведения об автотранспортных средствах международной перевозки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TsKind" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TsType" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа транспортного средства международной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TsCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна принадлежности транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntellectualPropertyInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности (код 22)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 22 - Сведения об объектах интеллектуальной собственности)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Filter" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Фильтр отбора объектов интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegNum" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер по реестру</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OISName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование (описание, изображение) ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OISDetails" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование, номер, дата документа об охраноспособности ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductClass" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Класс товаров по МКТУ/ код товаров по ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsRightholder" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Является правообладателем/доверенным лицом правообладателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RightholderInfo" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о правообладателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RightholderTrustedPersons" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доверенные лица правообладателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Term" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок внесения ОИС в Реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Letter" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Номер и дата письма ФТС России в таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfInformationAboutAviationMeansOfInternationalTransportationType">
    <xs:annotation>
      <xs:documentation>Перечень сведений об авиационных средствах международной перевозки (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Identifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор транспортного средства (Номер авиарейса)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfInformationAboutAviationShipMeansOfInternationalTransportationType">
    <xs:annotation>
      <xs:documentation>Перечень сведений об авиационных средствах международной перевозки (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Identifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор транспортного средства (Наименование судна)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfInformationAboutRailwayMeansOfInternationalTransportationType">
    <xs:annotation>
      <xs:documentation>Перечень сведений о ж/д средствах международной перевозки (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Identifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfInformationAboutVehiclesOfInternationalTransportType">
    <xs:annotation>
      <xs:documentation>Перечень сведений об автотранспортных средствах международной перевозки (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Category" type="clt_ru:TransportCategoryCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:MarkCarNameType">
        <xs:annotation>
          <xs:documentation>Наименование марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:TransportNameType">
        <xs:annotation>
          <xs:documentation>Модель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Year" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Год выпуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:TransportStateSignIDType">
        <xs:annotation>
          <xs:documentation>Год выпуска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentsCalculationType">
    <xs:annotation>
      <xs:documentation>Исчисление платежей (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentKindList" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Вид платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChargedPayments" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма начисленных таможенных платежей по ДТ в разрезе декларантов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="vfmp_att:DTInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень ДТ по товарам, ввезённым с упрощением по каждому сочетанию вида используемого упрощения и таможенной процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentsType">
    <xs:annotation>
      <xs:documentation>Платежи (несколько записей)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentKindList" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Вид платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PAYAMOUNT" type="clt_ru:Count10Type">
        <xs:annotation>
          <xs:documentation>Уплачено декларантом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreferencesDocumentInformationType">
    <xs:annotation>
      <xs:documentation>Документ, подтверждающий право использования тарифных преференций (код 26)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 26 - Документ, подтверждающий право использования тарифных преференций)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Орган, выдавший документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRef" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreferencesInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об использовании тарифных преференций (код 19)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 19 - Сведения об использовании тарифных преференций)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreferenceKinds" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Виды используемых тарифных преференций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreferenceAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма неуплаченных таможенных платежей в результате использования тарифных преференций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocInformation" type="vfmp_att:PreferencesDocumentInformationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Список документов, подтверждающих право использования тарифных преференций</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации субъекта в официальных реестрах ФТС (код 07)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 07 - Сведения о регистрации субъекта в официальных реестрах ФТС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UEO" type="vfmp_att:UEOType">
        <xs:annotation>
          <xs:documentation>Подтверждение фактического вывоза товара за пределы ЕАЭС (ложный экспорт)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsRepresentative" type="vfmp_att:CustomsRepresentativeType">
        <xs:annotation>
          <xs:documentation>Сведения о включении субъекта в реестр таможенных представителей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCarrier" type="vfmp_att:CustomsCarrierType">
        <xs:annotation>
          <xs:documentation>Сведения о включении субъекта в реестр таможенных перевозчиков</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReplacedGoodsType">
    <xs:annotation>
      <xs:documentation>Перечень замененных товарных позиций</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReplacedKind" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возможные значения: "новая"; "замененная"; "отсутствующая в текущем периоде товарная позиция"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tnved" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseBlocksType">
    <xs:annotation>
      <xs:documentation>Блок ответа на запрос на предоставление электронного документа по субъекту - участнику ВЭД, режим по требованию</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubjectInformation" type="vfmp_att:SubjectInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 01: Краткие сведения о субъекте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaseImportInformation" type="vfmp_att:BaseImportInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 03: Сведения об импорте товаров участником ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrativeActivitiesOfCustomsAuthorities" type="vfmp_att:AdministrativeActivitiesOfCustomsAuthoritiesType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 06: Показатели административной деятельности таможенных органов в отношении субъекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationInformation" type="vfmp_att:RegistrationInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 07: Сведения о регистрации субъекта в официальных реестрах ФТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImporterRiskInformation" type="vfmp_att:ImporterRiskInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 08: Сведения об индикаторах риска, выявленных в отношении импортера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExporterRiskInformation" type="vfmp_att:ExporterRiskInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 09: Сведения об индикаторах риска, установленных для экспортера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportGoodsInformation" type="vfmp_att:ImportGoodsInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 11: Сведения о товарах, ввозимых участником ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContragentsInformation" type="vfmp_att:ContragentsInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 12: Сведения о контрагентах импортера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomDutiesInformation" type="vfmp_att:CustomDutiesInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 13: Сведения об использовании обеспечении уплаты таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SimplifyingCustomsProcedureInformation" type="vfmp_att:SimplifyingCustomsProcedureInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 15: Сведения об использовании упрощений таможенных процедур при ввозе товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehiclesOfInternationalTransportationInformation" type="vfmp_att:VehiclesOfInternationalTransportationInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 16: Сведения об автотранспортных средствах международной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDutiesPaymentsInformation" type="vfmp_att:CustomsDutiesPaymentsInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 17: Сведения об уплате таможенных платежей по ДТ, по которым субъект выступал таможенным представителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomPaymentsInformation" type="vfmp_att:CustomPaymentsInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 18: Сведения об уплате таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreferencesInformation" type="vfmp_att:PreferencesInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 19: Сведения об использовании тарифных преференций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectControlInformation" type="vfmp_att:SubjectControlInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 20: Сведения о примененных в отношении субъекта мерах таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrativeOffensesInformation" type="vfmp_att:AdministrativeOffensesInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 21: Сведения об административных правонарушениях субъекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntellectualPropertyInformation" type="vfmp_att:IntellectualPropertyInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 22: Сведения об объектах интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RisksMinimizeInformation" type="vfmp_att:RisksMinimizeInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 23: Сведения о примененных мерах по минимизации рисков и их результатах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTInformation" type="vfmp_att:DTInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 24: Перечень деклараций на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInformation" type="vfmp_att:DocumentInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 25: Разрешительный документ о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreferencesDocumentInformation" type="vfmp_att:PreferencesDocumentInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код 26: Документ, подтверждающий право использования тарифных преференций</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RisksMinimizeInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о примененных мерах по минимизации рисков и их результатах (код 23)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 23 - Сведения о примененных мерах по минимизации рисков и их результатах)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskMinMeasures" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примененные меры по минимизации выявленных рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskMinMeasuresResults" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Результаты примененных мер по минимизации рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityKindsType">
    <xs:annotation>
      <xs:documentation>Виды обеспечения. Отбираются все виды обеспечения, использованные лицом за отчетный период</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SecurityKind" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Вид используемого обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimplifyingCustomsProcedureInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об использовании упрощений таможенных процедур при ввозе товара (код 15)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 15 - Сведения об использовании упрощений таможенных процедур при ввозе товара)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SimplifyingKind" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид используемого упрощения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsProcedure" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная процедура, в соответствии с которой был ввезён товар с применением упрощения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="vfmp_att:DTInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень ДТ по товарам, ввезённым с упрощением по каждому сочетанию вида используемого упрощения и таможенной процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectControlInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о примененных в отношении субъекта мерах таможенного контроля (код 20)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 20 - Сведения о примененных в отношении субъекта мерах таможенного контроля)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNum" type="RUSclt_ru:Text64Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер решения о проведении таможенной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата решения о проведении таможенной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата составления акта таможенной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ControlBDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата начала контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ControlEDate" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ControlForm" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Форма таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckResults" type="RUSclt_ru:Text32Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результаты таможенной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Идентификатор расхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtNumber" type="RUSclt_ru:Text64Type">
        <xs:annotation>
          <xs:documentation>Номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtPosNumber" type="RUSclt_ru:Text32Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectInformationType">
    <xs:annotation>
      <xs:documentation>Краткие сведения о субъекте (код 01)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 01 - Краткие сведения о субъекте)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Идентификатор субъекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsRussianJurisdiction" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак нахождения под юрисдикцией РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsJuridicalPerson" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП - Код причины постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImporterRiskInformation" type="vfmp_att:ImporterRiskInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория уровня риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExporterRiskInformation" type="vfmp_att:ExporterRiskInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория уровня риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UEO" type="vfmp_att:RegistrationInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уполномоченный экономический оператор</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsRepresentative" type="vfmp_att:RegistrationInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный представитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCarrier" type="vfmp_att:RegistrationInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный перевозчик</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>Сведения о субъекте - участнике ВЭД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubjectINN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН субъекта - участника ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Blocks" type="vfmp_att:ResponseBlocksType">
        <xs:annotation>
          <xs:documentation>Блок сведений о субъекте - участнике ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UEOType">
    <xs:annotation>
      <xs:documentation>Сведения о включении субъекта в реестр УЭО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateInclude" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата включения в реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCodeVED" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный орган, в регионе которого осуществляется ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialSimplifyingList" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Специальные упрощения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsList" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень товарных позиций, в отношении которых используются специальные упрощения. Перечень 10-значных кодов ТНВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehiclesOfInternationalTransportationInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об автотранспортных средствах международной перевозки (код 16)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BlockID" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Номер блока (возможное значение: 16 - Сведения об автотранспортных средствах международной перевозки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InformationOnVehiclesOfInternationalTransportation" type="vfmp_att:InformationOnVehiclesOfInternationalTransportationType">
        <xs:annotation>
          <xs:documentation>Сведения об автотранспортных средствах международной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ListOfInformationAboutVehiclesOfInternationalTransport" type="vfmp_att:ListOfInformationAboutVehiclesOfInternationalTransportType">
        <xs:annotation>
          <xs:documentation>Перечень сведений об автотранспортных средствах международной перевозки (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ListOfInformationAboutRailwayMeansOfInternationalTransportation" type="vfmp_att:ListOfInformationAboutRailwayMeansOfInternationalTransportationType">
        <xs:annotation>
          <xs:documentation>Перечень сведений о ж/д средствах международной перевозки (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ListOfInformationAboutAviationMeansOfInternationalTransportation" type="vfmp_att:ListOfInformationAboutAviationMeansOfInternationalTransportationType">
        <xs:annotation>
          <xs:documentation>Перечень сведений об авиационных средствах международной перевозки (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ListOfInformationAboutAviationShipMeansOfInternationalTransportation" type="vfmp_att:ListOfInformationAboutAviationShipMeansOfInternationalTransportationType">
        <xs:annotation>
          <xs:documentation>Перечень сведений об авиационных средствах международной перевозки (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocInformation" type="vfmp_att:DocumentInformationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Свидетельства о допущении транспортных средств международной перевозки к перевозке товаров под таможенными пломбами и печатями, если они имеются (несколько записей)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>