XSD_Schs/V5.24.0/GuaranteeCalculationResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:grn_cat="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCommonAggregateTypesCust:5.24.0" xmlns:gclc_rslt="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCalculationResult:5.24.0" targetNamespace="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCalculationResult:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCommonAggregateTypesCust:5.24.0" schemaLocation="GuaranteeCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Результат расчета сумм обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
  </xs:annotation>
  <xs:element name="GuaranteeCalculationResult" type="gclc_rslt:GuaranteeCalculationResultType" />
  <xs:complexType name="GuaranteeCalculationResultType">
    <xs:annotation>
      <xs:documentation>Результат расчета сумм обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время формирования электронного документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SoftInfo" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИПС, сформировавшее запрос: 0 - АИС АИСТ-М, 1 - АС КТТ-2, 2 - АПС Личный кабинет, 3 - Постконтроль</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDOU" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа расчета </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumOU" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Номер расчета по порядку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Billion7" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак: 0 - Уведомление о возможности непредоставления декларантом обеспечения в связи с наличием декларанта в справочнике «7 млрдр»</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exemption" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак возможности непредоставления обеспечения таможенным представителем</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="GuaranteeCalculation" type="gclc_rslt:GuaranteeCalculationType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Общие суммы таможенных платежей, рассчитанные по запросу</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ReasonsImpossibility" type="gclc_rslt:ReasonsImpossibilityType">
              <xs:annotation>
                <xs:documentation>Причины невозможности расчета</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050002E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CostType">
    <xs:annotation>
      <xs:documentation>Цена товара за единицу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnitPrice" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Цена товара за единицу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
        <xs:annotation>
          <xs:documentation>Код валюты котировки цены</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Условное обозначение единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
        <xs:annotation>
          <xs:documentation>Код единицы измерения в соответствии с единицами измерения, применяемыми в ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsCheckCodeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о коде проверки таможенных, иных документов и (или) сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WeightCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о количестве (весе) товара и (или) о количестве товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о происхождении товара и (или) тарифных преференциях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommodityCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении классификационного кода товара в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsValueCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о таможенной стоимости товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DutyTaxFeeCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений об исчислении таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactPaymentCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о применении льгот по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialDutiesAndOthersCheckIndicator" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений по иным основаниям ("0" - проверка не проводится)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsAmountType">
    <xs:annotation>
      <xs:documentation>Расчет сумм обеспечения по товару</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Numeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumericDT" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ/ТД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС (указывается от 6 до 10 знаков)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeAmount" type="gclc_rslt:GoodsAmountKindType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Суммы рассчитанных таможенных платежей по виду</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckedAmount" type="gclc_rslt:GoodsAmountKindType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Суммы исходно начисленных в ДТ(ТД) таможенных платежей по виду</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectedItem" type="gclc_rslt:GuaranteeGoodsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данные по товару и платежам по нему из документа расчета должностного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousOU" type="gclc_rslt:PreviousOUType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ранее зарезервированные суммы обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeltaAmount" type="grn_cat:AmountPaidType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сумма обеспечения по виду за вычетом ранее уплаченных сумм</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReservedSum" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма обеспечения по товару, предполагаемая к резевированию по текущему расчету</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsAmountKindType">
    <xs:annotation>
      <xs:documentation>Сумма платежей по типу</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="grn_cat:AmountPaidType">
        <xs:sequence>
          <xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основа начисления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TaxBaseCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TaxBaseTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код единицы измерения основы начисления (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rate" type="cltESAD_cu:RateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ставка </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид ставки (адвалорная -«%», признак сборов для РК - «S» , специфическая - «*»)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightingFactor" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightType" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип веса, как основы начисления (специфическая ставка): 1 - вес НЕТТО; 2- чистый вес НЕТТО; 3 - вес БРУТТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComparisonOperationsSign" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Знак операции сравнения (1 - меньше, 2 - больше)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rate2" type="cltESAD_cu:RateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ставка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateTypeCode2" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид ставки (адвалорная -«%», признак сборов для РК - «S», специфическая - «*»)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateCurrencyCode2" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateTNVEDQualifierCode2" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightingFactor2" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightType2" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип веса, как основы начисления (специфическая ставка): 1 - вес НЕТТО; 2- чистый вес НЕТТО; 3 - вес БРУТТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OperationsSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Знак операции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rate3" type="cltESAD_cu:RateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ставка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateTypeCode3" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateCurrencyCode3" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateTNVEDQualifierCode3" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightingFactor3" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightType3" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип веса, как основы начисления (специфическая ставка): 1 - вес НЕТТО; 2- чистый вес НЕТТО; 3 - вес БРУТТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComparisonResult" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Результат выполнения операции сравнения: 1 - истина; 0 - ложь</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateUseDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата применения ставки таможенного платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны применения ставки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Absent" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак отсутствия этой ставки в НСИ при перерасчете</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GuaranteeCalculationType">
    <xs:annotation>
      <xs:documentation>Расчет сумм обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotalAmount" type="grn_cat:AmountPaidType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Общие суммы таможенных платежей, рассчитанные по запросу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalDeltaAmount" type="grn_cat:AmountPaidType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Общие суммы обеспечения, рассчитанные по запросу (за вычетом уже уплаченных сумм)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsAmount" type="gclc_rslt:GoodsAmountType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Расчет сумм обеспечения по товару</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарии к расчету</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Obligation" type="grn_cat:ObligationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код и наименование вида обязательства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, на которую рассчитана сумма обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReservedSumAll" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма обеспечения по всем товарам, предполагаемая к резевированию по текущему расчету</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Is500" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак того, что общая сумма обеспечения менее 500 евро</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeGoodsType">
    <xs:annotation>
      <xs:documentation>Информация о товаре для расчета сумм обеспечения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Numeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumericDT" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ/ТД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС (указывается от 6 до 10 знаков)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountrySign" type="clt_ru:Quantity4point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак страны происхождения - коэффициент, применяющийся к базовой ставке ввозной таможенной пошлины (0; 1; 0.75; 2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity2" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто без учета всех видов упаковки (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObligationCode" type="clt_ru:CodeVariable6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код обязательства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalCheckSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак дополнительной проверки для кода обязательства 040440: 1-стоимость+код ТН ВЭД ЕАЭС; 2-стоимость+страна происхождения; 3-страна происхождения+код ТН ВЭД ЕАЭС; 4-стоимость+страна происхождения+код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCheckCodeDetails" type="gclc_rslt:CustomsCheckCodeDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Цифровое кодовое обозначение проверки таможенных, иных документов и (или) сведений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddSupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Preferencii" type="catESAD_cu:CUPreferenciiType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Преференции (виды льгот)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullPartialPayFree" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка о полном/частичном условном освобождении от уплаты таможенных пошлин, налогов при временном ввозе (допуске): 0 - полное освобождение;  1 - частичное освобождение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TemporaryStorageImportMounth" type="clt_ru:Count2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество полных и неполных месяцев временного ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="gclc_rslt:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цена товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты стоимости товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TobaccoCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Максимальная розничная цена всей партии табачных изделий (для зависящих от неё ставок платежей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TobaccoMax" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Максимальная розничная цена упаковки табачных изделий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityTobaccoPack" type="clt_ru:PackagesQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество упаковок табачных изделий (в штуках)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityPack" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество сигарет в упаковке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Concentration" type="clt_ru:ProcentNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Процент содержания этилового спирта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectedAmount" type="gclc_rslt:GoodsAmountKindType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Суммы начисленных таможенных платежей по виду (из документа расчета)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteInfo" type="grn_cat:RouteInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Маршрут перевозки при транзите</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreviousOUType">
    <xs:annotation>
      <xs:documentation>История предшествующих ОУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IDOU" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор документа расчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOU" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер расчета по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Numeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку в предшествующем расчете</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumericDT" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ/ТД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeltaAmount" type="grn_cat:AmountPaidType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Суммы обеспечения по видам платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReservedSum" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма обеспечения по товару, зарезервированная по предшествующему расчету</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReasonsImpossibilityType">
    <xs:annotation>
      <xs:documentation>Причины невозможности расчета</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReasonsImpossibility" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Причины невозможности расчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonsImpossibilityCode" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код причины невозможности расчета</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>