XSD_Schs/V5.24.0/InfoTempImpExpVehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог R.CA.CP.03.005: EEC_R_CA_CP_03_TempImportInformation_v1.0.0.xsd Сведения о временном ввозе транспортного средства (Сведения о временном ввозе транспортного средства) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:tv="urn:customs.ru:Information:SQDocuments:InfoTempImpExpVehicle:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:InfoTempImpExpVehicle:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о временном ввозе транспортного средства</xs:documentation>
  </xs:annotation>
  <xs:element name="InfoTempImpExpVehicle" type="tv:InfoTempImpExpVehicleType">
    <xs:annotation>
      <xs:documentation>Сведения о временном ввозе транспортного средства</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InfoTempImpExpVehicleType">
    <xs:annotation>
      <xs:documentation>Сведения о временном ввозе транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryA2Code" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны, представившей сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIEProcedureDetails" type="tv:TIEProcedureDetailsType">
            <xs:annotation>
              <xs:documentation>Детальная информация об оформлении временного ввоза (вывоза) транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009128E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsOperationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номер таможенной операции временного ввоза для Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="OperationCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение таможенной операции временного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTMDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере таможенной декларации на транспортное средство</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverDetailsType">
    <xs:annotation>
      <xs:documentation>Детализированная информация о водителе транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="UnifiedIdentityDocDetails" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CASubjectAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об адресе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Гражданство</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PassengerDeclarationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере пассажирской декларации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="CountryA2Code" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код государства-члена, зарегистрировавшего пассажирскую декларацию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RBSignCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак журнала регистрации для Республики Беларусь. Варианты кода: Ф, Д, 7</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIECloseDetailsType">
    <xs:annotation>
      <xs:documentation>Детализированная информация о завершении временного ввоза (вывоза) ТСЛП (ТСМП)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ClOpEventDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата и время совершения таможенной операции по завершению временного ввоза (вывоза) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClOpDTMDocDetails" type="tv:DTMDocDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрационном номере таможенной декларации на транспортное средство при завершении временного ввоза (вывоза) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClOpPassengerDeclarationDetails" type="tv:PassengerDeclarationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрационном номере пассажирской декларации (для Республики Казахстан), номере разрешения на убытие (для Республики Беларусь) при завершении временного ввоза (вывоза) транспорного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CloseOperationDetails" type="tv:CustomsOperationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о таможенной операции завершения временного ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClOpUnifiedCustomsOfficeDetails" type="RUScat_ru:EECCustomsType">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе завершения временного ввоза (вывоза) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClOpCustomsPersonDetails" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должностном лице, оформившем завершение временного ввоза (вывоза) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIEOperationsDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о таможенных операциях при временном ввозе (вывозе) транспортного средства
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="TIEExtensionDetails" type="tv:TIEExtensionDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об операции продления срока временного ввоза ТСЛП (ТСМП) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIECloseDetails" type="tv:TIECloseDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о завершении временного ввоза (вывоза) ТСЛП (ТСМП)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIERemovalInfoDetails" type="tv:TIERemovalInfoDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о наступлении обстоятельств, допускающих признание ТСЛП (ТСМП) не находящимися под таможенным контролем</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TIEProcedureDetailsType">
    <xs:annotation>
      <xs:documentation>Детальная информация об оформлении временного ввоза (вывоза) транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TITransportDetails" type="tv:TITransportDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о временно ввозимых (вывозимых) транспортных средствах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIERegistrationDetals" type="tv:TIERegistrationDetalsType">
        <xs:annotation>
          <xs:documentation>Детальная информация о регистрации временного ввоза (вывоза) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIECarrierDetails" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о перевозчике, осуществляющем временный ввоз (вывоз) транспорного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DriverDetails" type="tv:DriverDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализированная информация о водителе транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIEOperationsDetails" type="tv:TIEOperationsDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о таможенных операциях при временном ввозе (вывозе) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIEStatusCode" type="clt_ru:CodeVariable14Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение прикладного статусного состояния (IM_OPEN, IM_CLOSE, IN_EXTENTION, IM_REMOVAL)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempImportLimitDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок временного ввоза транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIERegistrationDetalsType">
    <xs:annotation>
      <xs:documentation>Детальная информация о регистрации временного ввоза (вывоза) транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTMDocDetails" type="tv:DTMDocDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрационном номере таможенной декларации на транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerDeclarationDetails" type="tv:PassengerDeclarationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрационном номере пассажирской декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOperationDetails" type="tv:CustomsOperationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о регистрационном номере заявления о временном ввозе ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnifiedCustomsOfficeDetails" type="RUScat_ru:EECCustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе регистрации (оформления) временного ввоза (вывоза) ТСЛП (ТСМП)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPersonDetails" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должностном лице таможенного органа, оформившем временный ввоз (вывоз) транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIERemovalDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о документе, подтверждающем наступление обстоятельств, допускающих признание транспортного средства не находящимся под таможенным контролем</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Строка символов, идентифицирующая государственный или межгосударственный орган (организацию), выдавший или утвердивший документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIERemovalInfoDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о наступлении обстоятельств, допускающих признание ТСЛП (ТСМП) не находящимися под таможенным контролем</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RemEventDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата и время совершения операции по признанию транспортного средства не находящимся под таможенным контролем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RemUnifiedCustomsOfficeDetails" type="RUScat_ru:EECCustomsType">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе, совершившем операцию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RemCustomsPersonDetails" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должностном лице таможенного органа, совершившего операцию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIERemovalDocDetails" type="tv:TIERemovalDocDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, подтверждающем наступление обстоятельств, допускающих признание транспортного средства не находящимся под таможенным контролем</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIEExtensionDetailsType">
    <xs:annotation>
      <xs:documentation>Детализированная информация о продлении срока временного ввоза ТСЛП (ТСМП)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExtOpEventDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата и время совершения операции по продлению срока временного ввоза транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtensionOperationDetails" type="tv:CustomsOperationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный (учетный) номер таможенной операции продления временного ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtOpUnifiedCustomsOfficeDetails" type="RUScat_ru:EECCustomsType">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе, продлившем срок временного ввоза транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtOpCustomsPersonDetails" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должностном лице таможенного органа, продлившем срок временного ввоза транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempImportLimitDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания срока временного ввоза транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TITransportDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о временно ввозимых (вывозимых) транспортных средствах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportMeansIdDetails" type="tv:TransportMeansIdDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об идентификационных номерах транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DependTransportMeansIdDetails" type="tv:TransportMeansIdDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об идентификационных и регистрационных номерах прицепного транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansIdDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об идентификационных номерах транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:TransportMeansBaseType">
        <xs:sequence>
          <xs:element name="ChassisID" type="clt_ru:VINIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер шасси (рамы) транспортного средства, присвоенный изготовителем</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BodyID" type="clt_ru:VINIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер кузова (кабины) транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>