XSD_Schs/V5.24.0/InspectionReqResFITO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:isptrrf="urn:customs.ru:Information:SQDocuments:InspectionReqResFITO:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:InspectionReqResFITO:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о фитосанитарном контроле</xs:documentation>
  </xs:annotation>
  <xs:element name="InspectionReqResFITO" type="isptrrf:InspectionReqResFITOType">
    <xs:annotation>
      <xs:documentation>Сведения о фитосанитарном контроле</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InspectionReqResFITOType">
    <xs:annotation>
      <xs:documentation>Сведения о фитосанитарном контроле</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GUID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор операции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransferKind" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип операции: 1 - Ввоз (импорт в ТС); 2 - Вывоз (экспорт из ТС); 3 - Транзит через территорию ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectionDecision" type="isptrrf:InspectionDecisionType">
            <xs:annotation>
              <xs:documentation>Принятое решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Violation" type="isptrrf:ViolationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причина запрета ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ViolationAct" type="isptrrf:ViolationActType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Данные об акте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostIndentif" type="cat_ru:CUCustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о пункте пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="isptrrf:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Данные об инспекторе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009074E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="InspectionDecisionType">
    <xs:annotation>
      <xs:documentation>Принятое решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Тип решения: 1 - Ввоз разрешен; 2 - Вывоз разрешен; 3 - Ввоз запрещен; 4 - Вывоз запрещен; 5 -Досмотр; 6 - Осмотр; 7 - Экспертиза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Текст решения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViolationType">
    <xs:annotation>
      <xs:documentation>Причина запрета ввоза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:Count2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>1 - Неизвестный тип; 2 - Предприятие не аттестовано для поставок в ТС; 3 - Отсутствие гарантий фитосанитарных служб стран экспортеров о полном соответствии продукции фитосанитарным требованиям ТС; 4 - Отсутствие предварительной электронной информации о подтверждении факта отгрузки в адрес российского получателя; 5 - Отсутствие фитосанитарных сопроводительных документов; 6 - Отсутствие разрешения Россельхознадзора на ввоз; 7 - Фитосанитарные сертификаты оформлены с нарушениями действующих правил и ошибками, а так же с опечатками и техническими ошибками; 8 - Поступление продукции с предприятий, в отношении которых введены временные ограничения; 9 - Истечение срока реализации продукции; 10 - Несоответствие информации о продукции, указанной в фитосанитарных сертификатах, и фактически выявленной на маркировочных этикетках; 11 - Отсутствие фитосанитарных транзитных уведомлений; 12 - Отказ от права собственности фирмой-импортером на продукцию в пользу другой организации; 13 - Запрет на ввоз, транзит в РФ с территорий, неблагополучных по заразным болезням животных; 14 - Иные нарушения, не требующие принципиального решения Службы, не выходящие за пределы компетенции территориальных управлений Россельхознадзора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст нарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViolationActType">
    <xs:annotation>
      <xs:documentation>Данные об акте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер выданного акта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentData" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выданного акта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BlankNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер бланка, выданного акта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Данные об инспекторе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия инспектора таможенного подразделения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя инспектора таможенного подразделения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество инспектора таможенного подразделения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>