XSD_Schs/V5.24.0/MinpromReglamentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:mprr="urn:customs.ru:Information:SQDocuments:MinpromReglamentRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MinpromReglamentRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Регламентный запрос</xs:documentation>
  </xs:annotation>
  <xs:element name="MinpromReglamentRequest" type="mprr:MinpromReglamentRequestType" />
  <xs:complexType name="MinpromReglamentRequestType">
    <xs:annotation>
      <xs:documentation>Регламентный запрос</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DateFrom" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата начала поиска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTo" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата конца поиска</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009194E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>