XSD_Schs/V5.24.0/MZClinicResearchReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:mz_cr_req="urn:customs.ru:Information:SQDocuments:MZClinicResearchReq:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MZClinicResearchReq:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений, содержащихся в разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных (зарегистрированных) лекарственных средств, предназначенных для проведения клинических исследований </xs:documentation>
  </xs:annotation>
  <xs:element name="MZClinicResearchReq" type="mz_cr_req:MZClinicResearchReqType">
    <xs:annotation>
      <xs:documentation>Запрос сведений, содержащихся в разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных (зарегистрированных) лекарственных средств, предназначенных для проведения клинических исследований </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MZClinicResearchReqType">
    <xs:annotation>
      <xs:documentation>Запрос сведений, содержащихся в разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных (зарегистрированных) лекарственных средств, предназначенных для проведения клинических исследований </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PermissionNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер заключения (разрешительного документа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009224E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>