XSD_Schs/V5.24.0/MZImpForPatientRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:mz_ifp_res="urn:customs.ru:Information:SQDocuments:MZImpForPatientRes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MZImpForPatientRes:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос сведений о разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных лекарственных средств для оказания медицинской помощи по жизненным показаниям конкретного пациента </xs:documentation>
  </xs:annotation>
  <xs:element name="MZImpForPatientRes" type="mz_ifp_res:MZImpForPatientResType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений о разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных лекарственных средств для оказания медицинской помощи по жизненным показаниям конкретного пациента </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MZImpForPatientResType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений о разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных лекарственных средств для оказания медицинской помощи по жизненным показаниям конкретного пациента </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ImportForPersonalNeedInfo" type="mz_ifp_res:ImportForPersonalNeedInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных лекарственных средств для оказания медицинской помощи по жизненным показаниям конкретного пациента</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009230E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ImportForPersonalNeedInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о разрешениях на ввоз на территорию Российской Федерации конкретной партии незарегистрированных лекарственных средств для оказания медицинской помощи по жизненным показаниям конкретного пациента</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Conclusion" type="mz_ifp_res:ConclusionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о заключении (разрешительном документе)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Organization" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об организации-получателе заключения (разрешительного документа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProducerInfo" type="mz_ifp_res:ProducerInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отправитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportPurpose" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цель ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BasementOfImport" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInfo" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PatientName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО пациента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Drugs" type="mz_ifp_res:DrugsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лекарственные средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DrugsType">
    <xs:annotation>
      <xs:documentation>Сведения о лекарстванных средствах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsName" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Международное непатентованное наименование лекарственного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Form" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Лекарственная форма с указанием количества лекарственного препарата в потребительской упаковке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActiveAgent" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Действующее вещество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConclusionType">
    <xs:annotation>
      <xs:documentation>Сведения о заключении (разрешительном документе)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус документа: 0 - Действует; 1 - Аннулирован; 2 - Приостановлен</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermissionValidTill" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StopDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата аннулирования заключения (разрешительного документа), либо срок приостановления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProducerInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об организации-отправителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUOrganizationNameAddrType">
        <xs:sequence>
          <xs:element name="ProducerCountry" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна организации-отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>