XSD_Schs/V5.24.0/NotifDebt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Обмен сведениями между ЛК и АПС «Задолженность» -->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ndbt="urn:customs.ru:Information:SQDocuments:NotifDebt:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SQDocuments:NotifDebt:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о задолженности по уплате таможенных и иных платежей</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifDebt" type="ndbt:NotifDebtType">
    <xs:annotation>
      <xs:documentation>Сведения о задолженности по уплате таможенных и иных платежей</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifDebtType">
    <xs:annotation>
      <xs:documentation>Сведения о задолженности по уплате таможенных и иных платежей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="InfoDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата формирования сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время формирования сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtInfoType" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип сведений о задолженности (0 - изменение состояния задолженностей за период, 1 - полные сведения о дебиторской задолженности участника ВЭД, 2 - изменение состояния задолженностей за период для участника ВЭД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtInfo" type="ndbt:DebtInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о задолженностях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtPeriodBegin" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальная дата отчета по задолженностям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtPeriodEnd" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Конечная дата отчета по задолженностям</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040022E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DebtPassport" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Номер паспорта задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtDocument" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Документ-основание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Organization" type="cat_ru:OrganizationType">
        <xs:annotation>
          <xs:documentation>Сведения об участнике ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtReason" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Причина возникновения задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtBase" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание для проведения таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtState" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текущее состояние задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtTotalAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая текущая сумма задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtDutyType" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип обязательства по уплате задолженности (0 - основной должник, 1 – солидарная ответственность)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtSumDetailes" type="ndbt:PaymentDetailesType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о суммах задолженности в разрезе видов таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentTerm" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок уплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DebtMeasureInfo" type="ndbt:DebtMeasureType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Меры по взысканию задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinTransactionsDetailes" type="ndbt:FinanceTransactionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Финансовые операции по задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtMeasureType">
    <xs:annotation>
      <xs:documentation>Сведения о мере по взысканию задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeasureType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование меры по взысканию задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Payer" type="cat_ru:OrganizationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о плательщике</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureDocument" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Документ меры по взысканию задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureSumDetailes" type="ndbt:PaymentDetailesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о сумме принудительного взыскания задолженности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureTerm" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предельный срок исполнения (для требования об уплате таможенных пошлин)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModificationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата модификации записи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinanceTransactionType">
    <xs:annotation>
      <xs:documentation>Финансово-расчетная операция по задолженности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransactionType" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Вид финансово-расчетной операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransactionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата финансово-расчетной операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransactionSum" type="ndbt:PaymentDetailesType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о сумме финансово-расчетной операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransactionDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ по финансово-расчетной операции (платежное поручение, требование и пр.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModificationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата модификации записи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDetailesType">
    <xs:annotation>
      <xs:documentation>Информация о платеже/начислении</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида таможенного платежа по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentType" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип платежа/начисления (1 - основная сумма, 0 - пени)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentKBK" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации (КБК)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>