XSD_Schs/V5.24.0/NoticeRuByKz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:ntcrbk="urn:customs.ru:Information:SQDocuments:NoticeRuByKz:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:NoticeRuByKz:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из документа "Уведомление Российской Федерации" ("Республики Беларусь", "Республики Казахстан", "Республики Кыргызстан", "Республики Армения")</xs:documentation>
  </xs:annotation>
  <xs:element name="NoticeRuByKz" type="ntcrbk:NoticeRuByKzType" />
  <xs:complexType name="NoticeRuByKzType">
    <xs:annotation>
      <xs:documentation>Сведения из документа "Уведомление Российской Федерации" ("Республики Беларусь", "Республики Казахстан", "Республики Кыргызстан", "Республики Армения")</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Notification" type="ntcrbk:NotificationType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009036E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>Перевозчик</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ControlPlaceType">
    <xs:annotation>
      <xs:documentation>Контрольный пункт</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrgName" type="clt_ru:Count8Type">
        <xs:annotation>
          <xs:documentation>Код контрольного пункта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryN3CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование контрольного пункта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionCode" type="clt_ru:RegionCodeType">
        <xs:annotation>
          <xs:documentation>Код региона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DriverType">
    <xs:annotation>
      <xs:documentation>Водитель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="ID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NotificationInfoType">
    <xs:annotation>
      <xs:documentation>Уведомление</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="CreateTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время создания уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ModificationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата обновления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDreestr" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор уведомления в реестре уведомлений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор уведомления, как документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NotificationType">
    <xs:annotation>
      <xs:documentation>Уведомление</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectionID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор инспекции (контроля ФТС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время  проведения контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>Идентификатор листа контроля</xs:documentation>
        </xs:annotation>
        <xs:element name="BelarusControlID" type="clt_ru:DocumentIDType">
          <xs:annotation>
            <xs:documentation>Идентификатор листа контроля Республики Беларусь</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="KazakhControlID" type="clt_ru:DocumentIDType">
          <xs:annotation>
            <xs:documentation>Идентификатор листа контроля Республики Казахстан</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DocumentalControlID" type="clt_ru:DocumentIDType">
          <xs:annotation>
            <xs:documentation>Идентификатор документального контроля Российской Федерации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="KirghizControlID" type="clt_ru:DocumentIDType">
          <xs:annotation>
            <xs:documentation>Идентификатор листа контроля Республики Кыргызстан</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ArmeniaControlID" type="clt_ru:DocumentIDType">
          <xs:annotation>
            <xs:documentation>Идентификатор листа контроля Республики Армения</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="NotificationInfo" type="ntcrbk:NotificationInfoType">
        <xs:annotation>
          <xs:documentation>Уведомление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Driver" type="ntcrbk:DriverType">
        <xs:annotation>
          <xs:documentation>Водитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotificationEmployee" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Инспектор, выдавший уведомление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotificationOrg" type="ntcrbk:ControlPlaceType">
        <xs:annotation>
          <xs:documentation>Организация, проводившая контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestOrg" type="ntcrbk:ControlPlaceType">
        <xs:annotation>
          <xs:documentation>Контрольный пункт для представления недостающих документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TSInfo" type="cat_ru:TransportMeansBaseType">
        <xs:annotation>
          <xs:documentation>Сведения о транспортном средстве</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Carrier" type="ntcrbk:CarrierType">
        <xs:annotation>
          <xs:documentation>Перевозчик</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Violation" type="ntcrbk:ViolationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Выявленное нарушение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViolationType">
    <xs:annotation>
      <xs:documentation>Выявленное нарушение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NodeNumber" type="clt_ru:Count19Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер нарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolationName" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Текст нарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Отметка об устранении нарушения: 1 - Да; 2 - Нет; 3 - Не требуется</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>