XSD_Schs/V5.24.0/PfrInsuredRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:pfrIns_rq="urn:customs.ru:Information:SQDocuments:PfrInsuredRequest:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:PfrInsuredRequest:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Предоставление сведений о размере выплат застрахованного лица по линии ФТС России (Запрос)</xs:documentation>
  </xs:annotation>
  <xs:element name="PfrInsuredRequest" type="pfrIns_rq:PfrInsuredRequestType">
    <xs:annotation>
      <xs:documentation>Предоставление сведений о размере выплат застрахованного лица по линии ФТС России (Запрос)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PfrInsuredRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений о размере выплат застрахованного лица по линии ФТС России</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Citizen" type="pfrIns_rq:CitizenType">
            <xs:annotation>
              <xs:documentation>ФИО лица, дата рождения, адрес рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentialAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес проживания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegisterAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityDocument" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Документ удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Representative" type="pfrIns_rq:RepresentativeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о представителе гражданина</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009350E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CitizenType">
    <xs:annotation>
      <xs:documentation>ФИО лица, дата рождения, адрес рождения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="pfrIns_rq:PersonType">
        <xs:sequence>
          <xs:element name="BirthPlace" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Gender" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Пол: M - мужской, F - женский</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SNILS" type="clt_ru:CodeVariable11Type">
            <xs:annotation>
              <xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Данные гражданина</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patronymic" type="clt_ru:NameType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Birthday" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepresentativeType">
    <xs:annotation>
      <xs:documentation>ФИО представителя лица, дата рождения, адрес</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="pfrIns_rq:PersonType">
        <xs:sequence>
          <xs:element name="ResidentialAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес проживания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegisterAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>