XSD_Schs/V5.24.0/RegisterViolatorsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:rvr="urn:customs.ru:Information:SQDocuments:RegisterViolatorsResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RegisterViolatorsResponse:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из реестра нарушителей</xs:documentation>
  </xs:annotation>
  <xs:element name="RegisterViolatorsResponse" type="rvr:RegisterViolatorsResponseType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра нарушителей</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RegisterViolatorsResponseType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра нарушителей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор пакета данных</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ViolatorsList" type="rvr:ViolatorsListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения из реестра нарушителей</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009293E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ViolatorsListType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра нарушителей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Violator" type="rvr:ViolatorType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Данные по нарушителю (штрафу)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViolatorType">
    <xs:annotation>
      <xs:documentation>Данные по нарушителю (штрафу)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ViolatorID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор записи в реестре нарушителей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoNumber" type="rvr:DRtnTrAutoNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoTypeName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование марки ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование страны регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionOrgName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Наименование КП, на котором составлено постановление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Перевозчик (наименование)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата контроля (проверки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResolutionEmployeeName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>ФИО инспектора, составившего (утвердившего) постановление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltySum" type="rvr:DMoneyType">
        <xs:annotation>
          <xs:documentation>Сумма штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPaid" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Отметка об оплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolatorForm" type="rvr:DRtnTrViolatorFrmTypeType">
        <xs:annotation>
          <xs:documentation>Вид нарушителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolatorName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Нарушитель (ФИО или наименование)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolatorBirthDate" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата рождения нарушителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolatorBirthPlace" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Место рождения нарушителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ViolatorAddress" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Адрес нарушителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutoLawName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Статья нарушения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipientName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Наименование получателя платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:IINType">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Код ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountNumber" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер счета получателя платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIK" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankName" type="rvr:Text255Type">
        <xs:annotation>
          <xs:documentation>Наименование банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KBK" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UIN" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>УИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsVerbalWarning" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак замены штрафа на устное замечание или предупреждение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyStatus" type="rvr:DRtnTrPenalStatType">
        <xs:annotation>
          <xs:documentation>Статус штрафа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsMap" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Штраф наложен при перевозке МАП или при перевозке на территории РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyOrganization" type="rvr:DRtnTrPenalOrgType">
        <xs:annotation>
          <xs:documentation>Организация, которой наложен штраф</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="DMoneyType">
    <xs:annotation>
      <xs:documentation>Число. Всего 15 цифр из них до 2 знаков после запятой</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="15" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrAutoNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ТС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
      <xs:pattern value="[0-9a-zA-Zа-яА-Я \-]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrPenalOrgType">
    <xs:annotation>
      <xs:documentation>Организация, на которую наложен штраф</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="20" />
      <xs:pattern value="[A-Z_]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrPenalStatType">
    <xs:annotation>
      <xs:documentation>Статус штрафа</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="10" />
      <xs:pattern value="[A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRtnTrViolatorFrmTypeType">
    <xs:annotation>
      <xs:documentation>Вид нарушителя</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="20" />
      <xs:pattern value="[A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text255Type">
    <xs:annotation>
      <xs:documentation>Текстовая строка длиной до 255 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>