XSD_Schs/V5.24.0/ResolutionDefinitionExpertise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rdexp="urn:customs.ru:Information:CustomsDocuments:ResolutionDefinitionExpertise:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ResolutionDefinitionExpertise:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Постановление/Определение о назначении экспертизы</xs:documentation>
  </xs:annotation>
  <xs:element name="ResolutionDefinitionExpertise" type="rdexp:ResolutionDefinitionExpertiseType">
    <xs:annotation>
      <xs:documentation>Постановление/Определение о назначении экспертизы</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResolutionDefinitionExpertiseType">
    <xs:annotation>
      <xs:documentation>Постановление/Определение о назначении экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DefinitionOrResolution" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип документа:  1 - Определение, 2 - Постановление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RDEDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата Определения/Постановления о назначении экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RDEPlace" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Место Определения/Постановления о назначении экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CEKTUDivision" type="rdexp:CEKTUDivisionInformationType">
            <xs:annotation>
              <xs:documentation>Код и наименование подразделения ЦЭКТУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Initiator" type="rdexp:InitiatorType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в котором вынесено Определение/Постановление о назначении экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorInfo" type="rdexp:PersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, вынесшее Определение/Постановление о назначении экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomExpertiseKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид таможенной экспертизы: 1 - Первичная экспертиза, 2 - Дополнительная экспертиза, 3 - Повторная экспертиза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertiseKind" type="rdexp:ExpertiseKindType">
            <xs:annotation>
              <xs:documentation>Тип ЭИР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Offence" type="rdexp:OffenceType">
            <xs:annotation>
              <xs:documentation>Данные о правонарушении/преступлении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisOfExpertise" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Основание назначения экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Question" type="rdexp:QuestionType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocuments" type="rdexp:PresentedDocumentsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документы, предоставленные для проведения экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudyObject" type="rdexp:StudyObjectType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Заявленные объекты исследования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDirection" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид перемещения: 0 - ввоз; 1 - вывоз; 2 - транзит; 3 - не установлено</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonWhoInstructedExpert" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Кому поручено разъяснять экспертам права и обязанности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestructionResolution" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Разрешение на видоизменение, частичное или полное уничтожение, разрушение материалов, документов, проб и (или) образцов товаров исследования (true - разрешить; false - НЕ разрешить)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreRequest" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrimaryDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор первичного Решения/ Определения/ Постановления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1051008E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CEKTUDivisionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о подразделении ЦЭКТУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Документ, предоставленный для проведения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ContainerDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор предоставленного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpertiseKindType">
    <xs:annotation>
      <xs:documentation>Тип ЭИР</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypeCustomExpertiseCode" type="clt_ru:Numeric1Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код типа ЭИР: 1 - товароведческая, 2 - материаловедческая, 3 - технологическая, 4 - криминалистическая, 5 - химическая, 6 - комплексная, 7 - подчерковедческая, 9 - иные виды экспертиз.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeCustomExpertiseText" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иной тип экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InitiatorType">
    <xs:annotation>
      <xs:documentation>Сведения об инициаторе экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа инициатора предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenceType">
    <xs:annotation>
      <xs:documentation>Данные о правонарушении/преступлении</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActNumber" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер дела об АП </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgOffenceNumber" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер сообщения о преступлении, уголовного дела, по которому назначена ЭИР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartNumber" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер части КоАП РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArticleNumber" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Номер статьи КоАП РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectofAct" type="rdexp:SubjectofActType">
        <xs:annotation>
          <xs:documentation>Сведения о субъекте уголовной или административной ответственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectofAct" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объект, в отношении которого заведено дело об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContentOffence" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Состав АП/преступления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Инспектор, принявший решение о проведении  экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
              <xs:documentation>Номер служебного телефона</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Документ, предоставленный для проведения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="rdexp:DocumentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionType">
    <xs:annotation>
      <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuestionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionText" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Текст вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectofActType">
    <xs:annotation>
      <xs:documentation>Сведения о субъекте уголовной или административной ответственности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnidentifiedPersonSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак возбуждения уголовного или административного дела в отношении неустановленного лица </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectofActName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование субъекта уголовной или административной ответственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectofActINN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН субъекта уголовной или административной ответственности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StudyObjectType">
    <xs:annotation>
      <xs:documentation>Заявленные объекты исследования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Template" type="clt_ru:FreeText500Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Объект исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество в указанных единицах измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TemplateType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип образца: 0 - товарные образцы, 1 - СВХ, 2 - Документы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDGroup" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Группа ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>