XSD_Schs/V5.24.0/RosbankInsuranceLicenseRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:ril="urn:customs.ru:Information:SQDocuments:RosbankInsuranceLicenseRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosbankInsuranceLicenseRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос сведений (из ЕГРССД), подтверждающих выдачу лицензии страховой организации на осуществление страхования (с приложением перечня правил страхования), заключившей договор страхования риска гражданской ответственности с заявителем-юридическим лицом, подавшим заявление на включение в реестр таможенных представителей (запрос)</xs:documentation>
  </xs:annotation>
  <xs:element name="RosbankInsuranceLicenseRequest" type="ril:RosbankInsuranceLicenseRequestType" />
  <xs:complexType name="RosbankInsuranceLicenseRequestType">
    <xs:annotation>
      <xs:documentation>Запрос сведений (из ЕГРССД), подтверждающих выдачу лицензии страховой организации на осуществление страхования (с приложением перечня правил страхования), заключившей договор страхования риска гражданской ответственности с заявителем-юридическим лицом, подавшим заявление на включение в реестр таможенных представителей (запрос)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="INN" type="clt_ru:INNIDType">
            <xs:annotation>
              <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009189E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>