XSD_Schs/V5.24.0/RosPrirodCollectionMaterial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:sq_cat="urn:customs.ru:Information:SQDocuments:SQCommonAgregateTypesCust:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:colmat="urn:customs.ru:Information:SQDocuments:RosPrirodCollectionMaterial:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosPrirodCollectionMaterial:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonAgregateTypesCust:5.24.0" schemaLocation="SQCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Ответ на запрос сведений из заключения (разрешительного документа) о возможности осуществления вывоза коллекционных материалов по минералогии, палеонтологии, костей ископаемых животных</xs:documentation>
  </xs:annotation>
  <xs:element name="RosPrirodCollectionMaterial" type="colmat:RosPrirodCollectionMaterialType" />
  <xs:complexType name="RosPrirodCollectionMaterialType">
    <xs:annotation>
      <xs:documentation>Ответ на запрос сведений из заключения (разрешительного документа) о возможности осуществления вывоза коллекционных материалов по минералогии, палеонтологии, костей ископаемых животных</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IsCanceled" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прекращения действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentId" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Id документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDestionation" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PurposeExport" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цель вывоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RemovalTime" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок вывоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Уполномоченное должностное лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Conclusion" type="sq_cat:ConclusionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Заключение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Receiver" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты получателя заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Items" type="colmat:ItemType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Список предметов и их количество</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentBase" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Importer" type="RUScat_ru:RUOrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Импортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exporter" type="RUScat_ru:RUOrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Экспортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryOrigin" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009025E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>Список предметов и их количество</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ItemDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVED" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryOrigin" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostMeasure" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Мера стоимости (валюта)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>