XSD_Schs/V5.24.0/STZ_Migrant_NotifLongAppClose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России от 30.11.2023 № 190н "Об утверждении порядка подачи физическими лицами, ранее постоянно проживавшими на территории Магаданской области или территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области и переселившимися с территории Магаданской области или территорий Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство - член Евразийского экономического союза, а также военнослужащими и должностными лицами федеральных органов исполнительной власти Российской Федерации, убывающими с территории Магаданской области или территорий Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области на новое место службы, заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в пункте 1 статьи 65'1 Федерального закона от 31 мая 1999 г. №104-ФЗ «Об Особой экономической зоне в Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области», формы такого заявления, а также формы решения таможенного органа о приобретении такими товарами статуса товаров Евразийского экономического союза и порядка их заполнения" -->
<!--Приказ Минфина России от 30.11.2023 № 191н «Об утверждении порядка подачи физическими лицами, ранее постоянно проживавшими на территории Калининградской области и переселившимися с территории Калининградской области на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство - член Евразийского экономического союза, а также военнослужащими и должностными лицами федеральных органов исполнительной власти Российской Федерации, убывающими с территории Калининградской области на новое место службы, заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в части 1 статьи 16.4 Федерального закона от 10 января 2006 г. № 16-ФЗ "Об Особой экономической зоне в Калининградской области и о внесении изменений в некоторые законодательные акты Российской Федерации", формы такого заявления, а также формы решения таможенного органа о приобретении такими товарами статуса товаров Евразийского экономического союза и порядка их заполнения» -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:stzm_nlac="urn:customs.ru:Information:CustomsDocuments:STZ_Migrant_NotifLongAppClose:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_Migrant_NotifLongAppClose:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомлении о продлении срока рассмотрения Заявления о приобретении товарами статуса товаров Евразийского экономического союза</xs:documentation>
  </xs:annotation>
  <xs:element name="STZ_Migrant_NotifLongAppClose" type="stzm_nlac:STZ_Migrant_NotifLongAppCloseType">
    <xs:annotation>
      <xs:documentation>Уведомлении о продлении срока рассмотрения Заявления о приобретении товарами статуса товаров Евразийского экономического союза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="STZ_Migrant_NotifLongAppCloseType">
    <xs:annotation>
      <xs:documentation>Уведомлении о продлении срока рассмотрения Заявления о приобретении товарами статуса товаров Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="stzm_nlac:ApplicantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Заявитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppRegNumber" type="stzm_nlac:RegistrationNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления/ Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtensionReason" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Причина продления срока рассмотрения Заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtensionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок, на который продлевается рассмотрение Заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedDoc" type="stzm_nlac:RequestedDocType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Заправшиваемые документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа и дата подписания документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006376E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Заявитель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="PersonName" type="stzm_nlac:PersonType">
          <xs:annotation>
            <xs:documentation>ФИО лица, подающего заявление</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OrganizationName" type="clt_ru:NameType">
          <xs:annotation>
            <xs:documentation>Наименование организации (юридического лица)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП - Код причины постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес организации / физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице. ФИО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="clt_ru:CodeVariable5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Четвертая часть регистрационного номера документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestedDocType">
    <xs:annotation>
      <xs:documentation>Запрашиваемые документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Примечания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>