XSD_Schs/V5.24.0/TransportMeansPassportResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:tmp_res="urn:customs.ru:Information:SQDocuments:TransportMeansPassportResponse:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:TransportMeansPassportResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Универсальные сведения о транспортном средстве</xs:documentation>
	</xs:annotation>
	<xs:element name="TransportMeansPassportResponse" type="tmp_res:TransportMeansPassportResponseType">
		<xs:annotation>
			<xs:documentation>Универсальные сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TransportMeansPassportResponseType">
		<xs:annotation>
			<xs:documentation>Универсальные сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="VehicleBox" type="tmp_res:VehicleBoxType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о транспортном средстве</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009409E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="VehicleBoxType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleInfo" type="tmp_res:VehicleInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отличительные признаки транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleEngine" type="tmp_res:VehicleEngine" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Двигатель танспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDoc" type="tmp_res:RegDoc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный документ транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTS" type="tmp_res:PTS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Паспорт транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="tmp_res:Owner" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Собственник ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Holder" type="tmp_res:Holder" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о собственнике (ФЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoldRestriction" type="tmp_res:HoldRestriction" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Владелец ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Approval" type="tmp_res:Approval" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Одобрение типа ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UtilizationFee" type="tmp_res:UtilizationFee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о утилизационном сборе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="tmp_res:CustomsDoc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о прохождении таможенного поста</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegOperation" type="tmp_res:RegOperation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о регистрационном действии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReestrRecord" type="tmp_res:ReestrRecord" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о записи в ГРТС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleInfo">
		<xs:annotation>
			<xs:documentation>Отличительные признаки транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleID" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquippedForDisabled" type="clt_ru:IndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Признак установленного специального оборудования для инвалидов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegNoTypeCode" type="clt_ru:TransportModeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код типа государственного регистрационного знака</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegNoName" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование типа государственного регистрационного знака</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegNo" type="clt_ru:TransportStateSignIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Государственный регистрационный знак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VIN" type="clt_ru:VINIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VIN2" type="clt_ru:VINIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер 2 (VIN2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChassisNumber" type="clt_ru:VINIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Номер шасси (рамы)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReleaseYear" type="clt_ru:DateYearCustType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ICCID" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер устройства ГЛОНАСС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Glonass" type="clt_ru:IndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Признак наличия устройства ГЛОНАСС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BodyColor" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Полное наименование цвета кузова (кабины)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BodyColorGroup" type="clt_ru:TransportMeansColorCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код цветовой группы цвета кузова (кабины)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkID" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModelID" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код модели</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkName" type="clt_ru:MarkCarNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModelName" type="clt_ru:TransportNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkModelModification" type="clt_ru:TransportNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Марка, модель (модификация)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BodyNumber" type="clt_ru:VINIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Номер кузова (кабина, прицеп)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Стоимость</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GasEquip" type="clt_ru:IndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Признак оснащенности газобаллонным оборудованием</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerID" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код изготовителя ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerName" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Изготовитель ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MassaMax" type="clt_ru:WeighQuantityType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Разрешенная максимальная масса, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Massa" type="clt_ru:WeighQuantityType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Масса без нагрузки, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SteeringWheelTypeID" type="clt_ru:DigitalIndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Положение руля (1-левый, 2-правый)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPPType" type="clt_ru:DigitalIndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип коробки передач (1-МКПП, 2-АКПП)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransmissionType" type="clt_ru:DigitalIndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип привода (1-передний, 2-задний, 3-полный, 4-прочее)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код типа ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeName" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование типа ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryID" type="clt_ru:DigitalIndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код категории ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="clt_ru:TransportCategoryCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Категория ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryUnitCode" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код категории ТС (Там. союз)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryUnit" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Категория ТС (Там. союз)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcoClass" type="clt_ru:DigitalIndicatorType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Экологический класс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecfuncName" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование спец. назначения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleEngine">
		<xs:annotation>
			<xs:documentation>Двигатель танспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EngineVolume" type="clt_ru:EngineVolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объем двигателя (куб.см)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineModel" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineNumber" type="clt_ru:EngineIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePower" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя, л. с.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePowerKW" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя кВт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineTypeID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа двигателя (топливо)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineType" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип двигателя (топливо)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegDoc">
		<xs:annotation>
			<xs:documentation>Регистрационный документ транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegDocTypeID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа регистрационного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDocTypeName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа регистрационного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDocNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия, номер регистрационного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDocIssueDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи регистрационного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDocIssuer" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан регистрационный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDocComments" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Особые отметки в регистрационном документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PTS">
		<xs:annotation>
			<xs:documentation>Паспорт транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PTSType" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа паспорта ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTSTypeName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа паспорта ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTSNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия, номер паспорта ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTSIssueDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи паспорта ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTSIssuer" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан паспорт ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTSComments" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Особые отметки в паспорте ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Owner">
		<xs:annotation>
			<xs:documentation>Собственник ТС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OwnerType" type="clt_ru:DigitalIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код собственника (1 - юридическое лицо, 2- физическое лицо)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerPerson" type="tmp_res:OwnerPerson" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о собственнике (ФЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerAddress" type="tmp_res:OwnerAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес собственника</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerOrg" type="tmp_res:OwnerOrg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о собственнике (ЮЛ). Обособленные подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerMain" type="tmp_res:OwnerMain" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о собственнике (ЮЛ). Головная организация</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerPerson">
		<xs:annotation>
			<xs:documentation>Информация о собственнике (ФЛ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocCode" type="clt_ru:DocumentModeIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия, номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения, выдавшего ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocIssuer" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан документ, удостоверяющий личность владельца</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthRegionID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта РФ или наименование (код) иностранного государства - места рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sex" type="clt_ru:DigitalIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол (1 – мужской, 2 – женский)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalityID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны гражданства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalityName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны гражданства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNILS" type="tmp_res:SNILS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IP" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак того, что ФЛ является ИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRNIP" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRNIPDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerAddress">
		<xs:annotation>
			<xs:documentation>Адрес собственника</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GUID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>GUID Адреса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>House ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта РФ или код иностранного государства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование субъекта РФ или код иностранного государства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование района</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MunDistrict" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальный район/городской округ, поселение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Settlement" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование населенного пункта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование улицы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StructureId" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код адресного объекта для описания структуры объекта (строение, литер и сооружение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StructureName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование адресного объекта для описания структуры объекта (строение, литер и сооружение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Structure" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение адресного объекта для описания структуры объекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstateID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код адресного объекта для строений (дом, домовладение, гараж, здание и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstateName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование адресного объекта для строений (дом, домовладение, гараж, здание и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Estate" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение адресного объекта для строений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlatID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код адресного объекта для помещений (комната, квартира, офис и др...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlatName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование адресного объекта для помещений (комната, квартира, офис и др...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flat" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение адресного объекта для помещений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobilePhone" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мобильный телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Домашний телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной почты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerOrg">
		<xs:annotation>
			<xs:documentation>Информация о собственнике (ЮЛ). Обособленные подразделения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OPFID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPFName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameENG" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Латинское наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateCreate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации ЮЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Branch" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак того, что организация является Филиалом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Doc" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата внесения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerMain">
		<xs:annotation>
			<xs:documentation>Информация о собственнике (ЮЛ). Головная организация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OPFID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPFName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameENG" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Латинское наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateCreate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации ЮЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Branch" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак того, что организация является Филиалом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Doc" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата внесения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="tmp_res:OwnerAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Holder">
		<xs:annotation>
			<xs:documentation>Владелец ТС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HolderType" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код владельца (1 - юридическое лицо, 2-  физическое лицо)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderPerson" type="tmp_res:HolderPerson" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о владельце (ФЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderAddress" type="tmp_res:HolderAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес владельца</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderOrg" type="tmp_res:HolderOrg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о владельце (ЮЛ). Обособленные подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderMain" type="tmp_res:HolderMain" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о владельце (ЮЛ). Головная организация</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HolderPerson">
		<xs:annotation>
			<xs:documentation>Информация о владельце (ФЛ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocCode" type="clt_ru:DocumentModeIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия, номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения, выдавшего ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocIssuer" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан документ, удостоверяющий личность владельца</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthRegionID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта РФ или наименование (код) иностранного государства - места рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sex" type="clt_ru:DigitalIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол (1 – мужской, 2 – женский)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalityID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Гражданство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNILS" type="tmp_res:SNILS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRNIP" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRNIPDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HolderAddress">
		<xs:annotation>
			<xs:documentation>Адрес владельца</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GUID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>GUID Адреса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>House ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта РФ или код иностранного государства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование субъекта РФ или наименование иностранного государства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование района</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MunDistrict" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальный район/городской округ, поселение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Settlement" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование населенного пункта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование улицы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StructureId" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код адресного объекта для описания структуры объекта (строение, литер и сооружение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StructureName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование адресного объекта для описания структуры объекта (строение, литер и сооружение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Structure" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение адресного объекта для описания структуры объекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstateID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код адресного объекта для строений (дом, домовладение, гараж, здание и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstateName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование адресного объекта для строений (дом, домовладение, гараж, здание и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Estate" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение адресного объекта для строений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlatID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код адресного объекта для помещений (комната, квартира, офис и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlatName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование адресного объекта для помещений (комната, квартира, офис и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flat" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение адресного объекта для помещений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobilePhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мобильный телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Домашний телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной почты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HolderOrg">
		<xs:annotation>
			<xs:documentation>Информация о владельце (ЮЛ). Обособленные подразделения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OPFID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPFName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameENG" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Латинское наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateCreate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации ЮЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Branch" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак того, что организация является Филиалом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Doc" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата внесения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выдан ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HolderMain">
		<xs:annotation>
			<xs:documentation>Информация о владельце (ЮЛ). Головная организация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MainType" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип  лица (головная организация владельца)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPFID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPFName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ОПФ организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выдан ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderAddress" type="tmp_res:HolderAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HoldRestriction">
		<xs:annotation>
			<xs:documentation>Информация о регистрации ТС на ограниченный срок</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EndDateRegistration" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок окончания регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ для регистрации на ограниченный срок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа для рег. на ограниченный срок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа для рег. на ограниченный срок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан документ для рег. на ограниченный срок</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Approval">
		<xs:annotation>
			<xs:documentation>Одобрение типа ТС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApprovalNumber" type="clt_ru:IdentityCardNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер одобрения типа ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи одобрения типа ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalType" type="clt_ru:Text150Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Кем выдано одобрение типа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UtilizationFee">
		<xs:annotation>
			<xs:documentation>Информация о утилизационном сборе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UtilizationFeeID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код статуса утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UtilizationFeeName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование статуса утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UtilizationFeeSum" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsDoc">
		<xs:annotation>
			<xs:documentation>Информация о прохождении таможенного поста</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТД, ТПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDepartment" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocRestriction" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенные ограничения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryRemovalID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страна вывоза</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryRemovalName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны вывоза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegOperation">
		<xs:annotation>
			<xs:documentation>Информация о регистрационном действии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperationCode" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код регистрационного действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование регистрационного действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрационного действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationDepartmentCode" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationDepartmentName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationOrdernum" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationRegionID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationStatus" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationAttorney" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак того, что регистрационное действие осуществлялось доверенным лицом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationLising" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак лизинга</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationKid" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак регистрации за лицом, не достигшим 16-летнего возраста</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReestrRecord">
		<xs:annotation>
			<xs:documentation>Информация о записи в ГРТС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReestrStatus" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReestrBeginDate" type="clt_ru:DateTimeCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReestrEndDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания действия записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReestrID" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID записи в ГРТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReestrIsCurrent" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак последей записи ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReestrPrevRecord" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID предыдущей записи в ГРТС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="VehicleEPassportIdType">
		<xs:annotation>
			<xs:documentation>Строка символов, идентифицирующая электронный паспорт транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILS">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:pattern value="^([0-9]{3}-[0-9]{3}-[0-9]{3} [0-9]{2})|([0-9]{11})$"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>