XSD_Schs/V5.24.0/VerificationOfRegistrationIGRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:vrigreq="urn:customs.ru:Information:SQDocuments:VerificationOfRegistrationIGRequest:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:VerificationOfRegistrationIGRequest:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на проверку регистрации ИГ по месту жительства / пребывания </xs:documentation>
  </xs:annotation>
  <xs:element name="VerificationOfRegistrationIGRequest" type="vrigreq:VerificationOfRegistrationIGRequestType">
    <xs:annotation>
      <xs:documentation>Запрос на проверку регистрации ИГ по месту жительства / пребывания</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="VerificationOfRegistrationIGRequestType">
    <xs:annotation>
      <xs:documentation>Запрос на проверку регистрации ИГ по месту жительства / пребывания</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestPerson" type="vrigreq:PersonType">
            <xs:annotation>
              <xs:documentation>Лицо, запрашивающее сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForPerson" type="vrigreq:ForPersonType">
            <xs:annotation>
              <xs:documentation>Данные по проверяемому лицу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForDocument" type="vrigreq:ForDocumentType">
            <xs:annotation>
              <xs:documentation>Данные по документу, удостоверяющему личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ForPersonLatin" type="vrigreq:ForPersonLatinType">
            <xs:annotation>
              <xs:documentation>Данные по проверяемому лицу в латинице</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionCode" type="clt_ru:OKATOCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регион запроса.
								В случае запроса - в качестве кода указывать
								пять первых цифр кода субъекта федерации по ОКАТО
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1009346E">
          <xs:annotation>
            <xs:documentation>Идентификатор электронного документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocumentIDType">
    <xs:annotation>
      <xs:documentation>Идентификатор документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Series" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Серия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForDocumentType">
    <xs:annotation>
      <xs:documentation>Данные по документу, удостоверяющему личность</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Вид документа ИГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentID" type="vrigreq:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentIssuedate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentCountry" type="vrigreq:DocumentCountryType">
        <xs:annotation>
          <xs:documentation>Страна, выдавшая документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForPersonType">
    <xs:annotation>
      <xs:documentation>Данные по проверяемому лицу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="vrigreq:Text60Type">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="vrigreq:Text60Type">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="vrigreq:Text60Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForPersonLatinType">
    <xs:annotation>
      <xs:documentation>Данные по проверяемому лицу в латинице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurnameLatin" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonNameLatin" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleNameLatin" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Пользователь запрашивающей организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentCountryType">
    <xs:annotation>
      <xs:documentation>Страна, выдавшая документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="clt_ru:CountryA3CodeType">
        <xs:annotation>
          <xs:documentation> Государство, выдавшее документ.
						Использовать Общероссийский классификатор стран мира OK (MK (ИСО 3166) 004-97) 025—2001 (ОКСМ)
						(принят и введен в действие постановлением Госстандарта РФ от 14 декабря 2001 г. N 529-ст)
						(с изменениями № 1/2003, 2/2003, 3/2004, 4/2004, 5/2005, 6/2006, 7/2006, 8/2008, 9/2009).
						Использовать, колонки «3-х буквенный КОД» (альфа 3).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shortName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Государство, выдавшее документ.
						Использовать Общероссийский классификатор стран мира OK (MK (ИСО 3166) 004-97) 025—2001 (ОКСМ)
						(принят и введен в действие постановлением Госстандарта РФ от 14 декабря 2001 г. N 529-ст)
						(с изменениями № 1/2003, 2/2003, 3/2004, 4/2004, 5/2005, 6/2006, 7/2006, 8/2008, 9/2009).
						Использовать «Наименование краткое».</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Text60Type">
    <xs:annotation>
      <xs:documentation>Текстовое описание. До 60 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>