XSD_Schs/V5.24.0/Voi_ActInspection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:ATDcat="urn:customs.ru:Information:CustomsDocuments:ATDCommon:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:voia="urn:customs.ru:Information:CustomsDocuments:Voi_ActInspection:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:Voi_ActInspection:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsDocuments:ATDCommon:5.24.0" schemaLocation="ATDCommon.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Результат проведения осмотра с ИДК</xs:documentation>
  </xs:annotation>
  <xs:element name="Voi_ActInspection" type="voia:Voi_ActInspectionType">
    <xs:annotation>
      <xs:documentation>Результат проведения осмотра с ИДК</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Voi_ActInspectionType">
    <xs:annotation>
      <xs:documentation>Результат проведения осмотра с ИДК</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="InstrID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор Направления на осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstrNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Направления на осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActNumber" type="cat_ru:GTDID6Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер акта осмотра с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DelayComments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Причины нарушения сроков проведения осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDK_id" type="clt_ru:CodeVariable8Type">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKType" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип ИДК (М - мобильный, С - стационарный)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberCustomsZone" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер зоны таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsZoneName" type="clt_ru:DocumentNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование зоны таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreateDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время создания акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginInspectionDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время начала осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReplaceDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время выставления объекта для проведения осмотра с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndInspectionDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время окончания осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommentsStartDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время начала анализа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommentsDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время внесения заключения </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficerIDK" type="ATDcat:CustomsPersonDetails">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, проводившее анализ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficer" type="ATDcat:CustomsPersonDetails">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа,  сформировавшее Акт осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IDKCustoms" type="cat_ru:CUCustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RiskOperCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код технологической операции при выявлении ПР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousInspection" type="cat_ru:GTDID6Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер акта ранее проведенного осмотра с ИДК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RepeatComments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Причины проведения повторного  осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustDocNumber" type="ATDcat:CustDocNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер таможенного документа, по которому произведен осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedureType" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление перемещения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsigCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный код страны отправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DelivCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный код страны получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="cat_ru:OrganizationBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="cat_ru:OrganizationBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о перевозчике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryPlace" type="clt_ru:PlaceNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место доставки груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspTransportMeans" type="voia:InspTransportMeansType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Объект контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="voia:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Физическое лицо, управляющее ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspGoods" type="voia:InspGoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPakageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество грузовых мест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalGrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общий вес товаров брутто (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalNetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общий вес товаров нетто (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OperComments" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарии оператора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RiskProfile" type="voia:RiskProfileType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер профиля риска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="Distrust" type="voia:DistrustType">
              <xs:annotation>
                <xs:documentation>Объект под подозрением</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Comments" type="clt_ru:FreeText250Type" maxOccurs="4">
              <xs:annotation>
                <xs:documentation>Общие результаты осмотра без подозрений</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006242E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Count5Type">
    <xs:annotation>
      <xs:documentation>Число. Порядковый номер. От 1 до 5 цифр </xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:totalDigits value="5" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DistrustType">
    <xs:annotation>
      <xs:documentation>Объект под подозрением</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DistrustDesc" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Общие результаты анализа снимков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DistrustRes" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Рекомендации по проведению досмотра</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContainerNumberType">
    <xs:annotation>
      <xs:documentation>Номер контейнера</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerIdentificaror" type="clt_ru:ContainerIdentityType">
        <xs:annotation>
          <xs:documentation>Номер (идентификатор) контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак заполнения контейнера. 1 - товар занимает весь контейнер, 2- товар занимает часть контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ATOPhotoListType">
    <xs:annotation>
      <xs:documentation>Снимки ИДК</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PhotoID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор RAW-снимка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Путь / Имя файла со снимком в хранилище</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результаты анализа снимка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Zone" type="voia:ZonePhotoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Зоны на снимке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhotoJPG" type="voia:ATOPhotoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Снимки формата JPG</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ATOPhotoType">
    <xs:annotation>
      <xs:documentation>Снимок ИДК</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PhotoID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор снимка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Путь / Имя файла со снимком в хранилище</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результаты анализа снимка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Preview" type="ATDcat:Text50kB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Миниатюрное изображение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Zone" type="voia:ZonePhotoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Зоны на снимке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZonePhotoType">
    <xs:annotation>
      <xs:documentation>Зона снимка</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:Quantity2Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер зоны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="XAxis" type="clt_ru:Quantity4Type">
        <xs:annotation>
          <xs:documentation>X - координата зоны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YAxis" type="clt_ru:Quantity4Type">
        <xs:annotation>
          <xs:documentation>Y - координата зоны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результаты анализа зоны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonFIO" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Фамилия Имя Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InspDocumentsType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocId" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы документа </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InspTransportMeansType">
    <xs:annotation>
      <xs:documentation>Транспортные средства/контейнеры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ScanID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор сканирования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumObject" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер объекта в Направлении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeObject" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип ТС: 01 - Грузовой; 02 - Контейнерный; 03 - Легковой; 04 - Пассажирский; 05 - Порожний; 06 -  Насыпь; 07 - Биг-бэги; 08 - Паллеты; 99 - Иной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TransportMeans" type="voia:TransportMeansType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Сведения о транспортном средстве</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="InspContainer" type="voia:ContainerNumberType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Сведения о контейнере</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BigBag" type="clt_ru:DocumentNumberType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Идентификатор иного типа объекта</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="ATOPhotoMeans" type="voia:ATOPhotoListType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ИДК снимки </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InspGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspDocuments" type="voia:InspDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документы, по которым перевозятся товары (транспортные, коммерческие)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskProfileType">
    <xs:annotation>
      <xs:documentation>Номер профиля риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProfileKind" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска в соответствии с Классификатором видов профилей рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, должностное лицо которого утвердило профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SequenceNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNum" type="voia:Count5Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера товаров в таможенном документе, по которым сработал ПР (0 - по всем товарам)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckRiskTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время выявления профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrailerIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>