XSD_Schs/V5.24.0/VTDStatResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:VTD="urn:customs.ru:Information:CustomsDocuments:VTDStatResponse:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:VTDStatResponse:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Перечень ДТ ВТД</xs:documentation>
	</xs:annotation>
	<xs:element name="VTDStatResponse" type="VTD:VTDStatResponseType">
		<xs:annotation>
			<xs:documentation>Перечень ДТ ВТД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VTDStatResponseType">
		<xs:annotation>
			<xs:documentation>Перечень ДТ ВТД</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DTID" type="clt_ru:INNIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ИНН участника ВЭД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FirstDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации самой ранней ДТ из выборки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YearSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак того, что дата регистрации самой ранней ДТ более года назад</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DT" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень регистрационных номеров ДТ за период</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountDT" type="clt_ru:Quantity5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество ДТ в перечне</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1051044E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
