XSD_Schs/V5.24.0/WarehouseGuarantee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wg="urn:customs.ru:Information:GuaranteeDocuments:WarehouseGuarantee:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" targetNamespace="urn:customs.ru:Information:GuaranteeDocuments:WarehouseGuarantee:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление по ведению реестра «Владельцы складов временного хранения»</xs:documentation>
  </xs:annotation>
  <xs:element name="WarehouseGuarantee" type="wg:WarehouseGuaranteeType">
    <xs:annotation>
      <xs:documentation>Заявление по ведению реестра «Владельцы складов временного хранения»</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="WarehouseGuaranteeType">
    <xs:annotation>
      <xs:documentation>Заявление по ведению реестра «Владельцы складов временного хранения»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="WarehouseInf" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак: 1 - склад временного хранения, 2 - таможенный склад</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarehouseKindIndicator" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип склада (0 - закрытый, 1 - открытый)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndoorUsefulVolume" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полезный объем помещения, куб. м</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OutdoorUsefulArea" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полезная площадь открытой площадки, кв. м</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050040E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
</xs:schema>