XSD_Schs/V5.24.0/WoodElectronicAccDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:weadoc="urn:customs.ru:Information:SQDocuments:WoodElectronicAccDoc:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:WoodElectronicAccDoc:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Электронный сопроводительный документ для учета древесины и сделок с ней</xs:documentation>
  </xs:annotation>
  <xs:element name="WoodElectronicAccDoc" type="weadoc:WoodElectronicAccDocType">
    <xs:annotation>
      <xs:documentation>Электронный сопроводительный документ для учета древесины и сделок с ней</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="WoodElectronicAccDocType">
    <xs:annotation>
      <xs:documentation>Электронный сопроводительный документ для учета древесины и сделок с ней</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IdentificationNumberEAD" type="RUSclt_ru:Text100Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер электронного сопроводительного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RetailPurchaseMark" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметка о приобретении на розничном рынке или в организации розничной торговли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExportMark" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметка о вывозе древесины и продукции ее переработки из Российской Федерации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTimeRegistration" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTimeTermination" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время прекращения действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Owner" type="weadoc:OwnerShipperType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о собственнике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Shipper" type="weadoc:OwnerShipperType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о грузоотправителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="weadoc:CarrierConsigneeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о перевозчике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="weadoc:CarrierConsigneeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о грузополучателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declaration" type="weadoc:DeclarationEADType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация из декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Vehicle" type="weadoc:VehicleType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о транспортном средстве, транспортирующем древесину и продукцию её переработки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StoragePlace" type="weadoc:StoragePlaceType">
            <xs:annotation>
              <xs:documentation>Информации о местах складирования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompositionInformation" type="weadoc:CompositionInformationType">
            <xs:annotation>
              <xs:documentation>Сведения о видовом (породном), сортиментном составе и объеме (количестве) транспортируемой древесины и продукции ее переработки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WoodOwner" type="weadoc:WoodOwnerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Собственник древесины или уполномоченное собственником лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReleaseInformation" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о возможности осуществления выпуска ЭСД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009398E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CarrierConsigneeType">
    <xs:annotation>
      <xs:documentation>Информация о перевозчике, грузополучателе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="weadoc:OwnerShipperType">
        <xs:sequence>
          <xs:element name="RetailPurchaseMark" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметка о приобретении на розничном рынке или в организации розничной торговли при необходимости</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompositionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о видовом (породном), сортиментном составе и объеме (количестве) транспортируемой древесины и продукции ее переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EachTypeCompositionInformation" type="weadoc:EachTypeCompositionInformationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о видовом (породном), сортиментном составе и объеме (количестве) транспортируемой древесины и продукции ее переработки каждого вида</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalVolumeShipment" type="clt_ru:QuantityBasis0Type">
        <xs:annotation>
          <xs:documentation>Всего объема при отгрузке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalVolumeAcceptance" type="clt_ru:QuantityBasis0Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Всего объема при приемке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalQuantity" type="clt_ru:Quantity8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Всего количества</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclarationEADType">
    <xs:annotation>
      <xs:documentation>Информация из декларации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeclarationNumber" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Идентификационный номер декларации о сделках с древесиной и продукцией её переработки
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDeclarationRegistrationNumber" type="clt_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EachTypeCompositionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о видовом (породном), сортиментном составе и объеме (количестве) транспортируемой древесины и продукции ее переработки каждого вида</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WoodTypeShipment" type="weadoc:WoodTypesType">
        <xs:annotation>
          <xs:documentation>Виды древесины и продукции ее переработки по отгрузке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodTypeAcceptance" type="weadoc:WoodTypesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Виды древесины и продукции ее переработки по приемке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VolumeShipment" type="clt_ru:QuantityBasis0Type">
        <xs:annotation>
          <xs:documentation>Объем (куб. метров) по отгрузке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VolumeAcceptance" type="clt_ru:QuantityBasis0Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем (куб. метров) по приемке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HumidityMark" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка о влажности более 22% для кодов группировки 4407 ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:Quantity8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество (штук, только в случае вывоза древесины ценных лесных пород из РФ)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndividualEntrepreneurType">
    <xs:annotation>
      <xs:documentation>Информация об индивидуальном предпринимателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Family" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patronymic" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:annotation>
      <xs:documentation>Информация о юридическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationalLegalForm" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OKPD2ClassificationType">
    <xs:annotation>
      <xs:documentation>Сортимент по классификатору ОКПД2</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ОКПД2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название ОКПД2</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerShipperType">
    <xs:annotation>
      <xs:documentation>Информация о собственнике, грузоотправителе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonInformation" type="weadoc:WoodPersonEADType">
        <xs:annotation>
          <xs:documentation>Информация о собственнике, грузоотправителе, перевозчике, грузополучателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDeclarationRegistrationNumber" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ForeignCitizenIdentificationNumber" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер иностранного гражданина</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationEADStoragePlaceType">
    <xs:annotation>
      <xs:documentation>Место складирования при оформлении ЭСД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegistrationEADStoragePlaceAddress" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места складирования при оформлении ЭСД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationEADStoragePlaceCoordinates" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Координаты места складирования при оформлении ЭСД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoragePlaceType">
    <xs:annotation>
      <xs:documentation>Информация о плановом и фактическом местах складирования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegistrationEADStoragePlace" type="weadoc:RegistrationEADStoragePlaceType">
        <xs:annotation>
          <xs:documentation>Место складирования при оформлении ЭСД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerminationEADStoragePlace" type="weadoc:TerminationEADStoragePlaceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место прекращения действия электронного сопроводительного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminationEADStoragePlaceType">
    <xs:annotation>
      <xs:documentation>Место прекращения действия ЭСД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TerminationEADStoragePlaceAddress" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места складирования при прекращении действия ЭСД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerminationEADStoragePlaceCoordinates" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Координаты места складирования при прекращении действия ЭСД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RetailPurchaseMark" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка о приобретении на розничном рынке или в организации розничной торговли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TNClassificationType">
    <xs:annotation>
      <xs:documentation>Сортимент по классификатору ТН ВЭД ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleType">
    <xs:annotation>
      <xs:documentation>Информация о транспортном средстве, транспортирующем древесину и продукцию её переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VehicleNumber" type="RUSclt_ru:Text100Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Государственный регистрационный номер транспортного средства, транспортирующего древесину и продукцию её переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VehicleType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вид транспортного средства: 1 - Автомобильный; 2 - Железнодорожный; 3 - Водный; 4 - Иной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RetailPurchaseMark" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка о приобретении на розничном рынке или в организации розничной торговли при необходимости</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WoodOwnerType">
    <xs:annotation>
      <xs:documentation>Информация о собственнике древесины или уполномоченном собственником лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OwnerOrAuthorizedPersonChoice" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Сведения о собственнике древесины или уполномоченном собственником лице</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationNumber" type="RUSclt_ru:Text100Type">
        <xs:annotation>
          <xs:documentation>Идентификационный номер собственника древесины или уполномоченного собственником лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WoodPersonEADType">
    <xs:annotation>
      <xs:documentation>Информация о собственнике, грузоотправителе, перевозчике и грузополучателе древесины</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="LegalEntity" type="weadoc:LegalEntityType">
          <xs:annotation>
            <xs:documentation>Информация о юридическом лице</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IndividualEntrepreneur" type="weadoc:IndividualEntrepreneurType">
          <xs:annotation>
            <xs:documentation>Информация об индивидуальном предпринимателе</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Name" type="clt_ru:FreeText500Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Наименование</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationReasonCode" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" type="RUSclt_ru:AddressTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место нахождения собственника, грузоотправителя, перевозчика и грузополучателя древесины</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WoodTypesType">
    <xs:annotation>
      <xs:documentation>Виды древесины и продукции ее переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SpeciesComposition" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Видовой (породный) состав древесины и продукции ее переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKPD2Classification" type="weadoc:OKPD2ClassificationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сортимент по классификатору ОКПД2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNClassification" type="weadoc:TNClassificationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сортимент по классификатору ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>