XSD_Schs/V5.24.0/WoodReleaseSKVV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:wrs="urn:customs.ru:Information:SQDocuments:WoodReleaseSKVV:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SQDocuments:WoodReleaseSKVV:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о фактически вывезенных с территории РФ круглых материалах и пиломатериалах</xs:documentation>
  </xs:annotation>
  <xs:element name="WoodReleaseSKVV" type="wrs:WoodReleaseSKVVType">
    <xs:annotation>
      <xs:documentation>Сведения о фактически вывезенных с территории РФ круглых материалах и пиломатериалах</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="WoodReleaseSKVVType">
    <xs:annotation>
      <xs:documentation>Сведения о фактически вывезенных с территории РФ круглых материалах и пиломатериалах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DTID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время принятия решения о вывозе из РФ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="wrs:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" default="1009251E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsGroupInformationType">
    <xs:annotation>
      <xs:documentation>Характеристика товаров в группе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GroupNum" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер группы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LineNum" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер записи в группе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodSortiment" type="cltESAD_cu:WoodAssortiment" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование сортимента (для лесоматериалов товарной позиции 4403)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractVolumeMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем товара в соответствии с контрактом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactVolumeMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фактический объем товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товары ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер декларируемого товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование (коммерческое, фирменное или иное традиционное наименование) товаров/ «Товары согласно прилагаемому Списку». Гр.31 первый подраздел</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС. Гр.33 первый раздел</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsAddTNVEDCode" type="clt_ru:GoodsNomenclatuerAddCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара в соответствии с классификатором дополнительной таможенной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="wrs:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товаров в группе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodDecl" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер ДСД из гр 44 ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccompanyingDoc" type="RUScat_ru:DocBaseV4Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер ЭСД из гр 44 ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения. Гр.41</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodTag" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера бирок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>